/**
 * @package     JB Smart Portfolio
 *
 * @copyright   Copyright (C) 2016 Joomlabuff. All rights reserved.
 * @license     GNU General Public License version 2 or later.
 */

.jb-smartportfolio {
  padding: 0;
}
.jb-smartportfolio:before,
.jb-smartportfolio:after {
  content: " ";
  display: table;
}
.jb-smartportfolio:after {
  clear: both;
}
.jb-smartportfolio .jb-smartportfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.jb-smartportfolio .jb-smartportfolio-filter {
  text-align: center;
  margin-bottom: 30px;
}
.jb-smartportfolio .jb-smartportfolio-filter > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.jb-smartportfolio .jb-smartportfolio-filter > ul > li {
  float: left;
  display: block;
  margin: 0 5px;
}
.jb-smartportfolio .jb-smartportfolio-filter > ul > li > a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}
.jb-smartportfolio .jb-smartportfolio-filter > ul > li.active > a {
  background: #333;
  color: #fff;
}
.jb-smartportfolio .jb-smartportfolio-items {
  margin: -15px;
}
.jb-smartportfolio.layout-gallery-nospace .jb-smartportfolio-items {
  margin: 0;
}
.jb-smartportfolio.layout-gallery-nospace .jb-smartportfolio-item {
  padding: 0;
}
.jb-smartportfolio .jb-smartportfolio-columns-2 .jb-smartportfolio-item {
  width: 50%;
}
.jb-smartportfolio .jb-smartportfolio-columns-3 .jb-smartportfolio-item {
  width: 33.3333%;
}
.jb-smartportfolio .jb-smartportfolio-columns-4 .jb-smartportfolio-item {
  width: 25%;
}
.jb-smartportfolio .jb-smartportfolio-item {
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-overlay-wrapper .jb-smartportfolio-icon-video {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: url(../img/icon-play.png) no-repeat 50% 50%;
  background-size: contain;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 1;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-overlay-wrapper .jb-smartportfolio-img {
  float: left;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-overlay-wrapper .jb-smartportfolio-overlay {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-overlay-wrapper .jb-smartportfolio-overlay h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
.jb-smartportfolio .jb-smartportfolio-item:hover .jb-smartportfolio-overlay {
  opacity: 1;
}

.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-info:hover {
  background: #333;
  color: #fff;
}

.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-info:hover h3 > a {
  color: #fff;
}

.jb-smartportfolio .jb-smartportfolio-item:hover .sp-vertical-middle .jb-smartportfolio-title,
.jb-smartportfolio .jb-smartportfolio-item:hover .sp-vertical-middle .jb-smartportfolio-tags {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.jb-smartportfolio .jb-smartportfolio-item:hover .jb-smartportfolio-btns a {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.jb-smartportfolio .jb-smartportfolio-item:hover .jb-smartportfolio-img {
  -webkit-transform: scale3d(1.15, 1.15, 1);
  transform: scale3d(1.15, 1.15, 1);
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-info {
  background: #f5f5f5;
  padding: 20px;
  font-size: 13px;
  line-height: 13px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-info h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-info h3 > a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle > div {
  display: table-cell;
  vertical-align: middle;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle > div .jb-smartportfolio-title {
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle > div .jb-smartportfolio-title a {
  text-decoration: none;
  color: #fff;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle .jb-smartportfolio-title {
  opacity: 0;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.jb-smartportfolio .jb-smartportfolio-item .sp-vertical-middle .jb-smartportfolio-tags {
  opacity: 0;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-btns a {
  display: inline-block;
  padding: 7px 12px;
  margin: 3px;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.jb-smartportfolio .jb-smartportfolio-item .jb-smartportfolio-btns a:hover {
  background: #333;
  border-color: #333;
}
.jb-smartportfolio .jb-smartportfolio-image {
  margin-bottom: 20px;
}
.jb-smartportfolio .jb-smartportfolio-description {
  width: 65%;
  float: left;
}
.jb-smartportfolio .jb-smartportfolio-description > h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 10px;
}
.jb-smartportfolio .jb-smartportfolio-meta {
  width: 35%;
  float: left;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.jb-smartportfolio .jb-smartportfolio-meta > div {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.jb-smartportfolio .jb-smartportfolio-meta > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.jb-smartportfolio .jb-smartportfolio-meta h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
.jb-smartportfolio .jb-smartportfolio-embed {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.jb-smartportfolio .jb-smartportfolio-embed iframe,
.jb-smartportfolio .jb-smartportfolio-embed embed,
.jb-smartportfolio .jb-smartportfolio-embed object,
.jb-smartportfolio .jb-smartportfolio-embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.jb-smartportfolio-lightbox {
  display: none;
}

@media only screen and (max-width : 992px) {
  .jb-smartportfolio .jb-smartportfolio-items .jb-smartportfolio-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .jb-smartportfolio .jb-smartportfolio-description {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }
  .jb-smartportfolio .jb-smartportfolio-meta {
    width: auto;
    float: none;
    padding-left: 0;
  }
}

@media only screen and (max-width : 480px) {
  .jb-smartportfolio .jb-smartportfolio-items .jb-smartportfolio-item {
    width: 100%;
  }
}


.jbsmartportfolio-list-items .col-md-1-5 {
    float: left;
    width: 20%;
}
.jbsmartportfolio-list-items .col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5, .col-xs-2-5, .col-sm-2-5, .col-md-2-5, .col-lg-2-5, .col-xs-3-5, .col-sm-3-5, .col-md-3-5, .col-lg-3-5, .col-xs-4-5, .col-sm-4-5, .col-md-4-5, .col-lg-4-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}