/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


//
// HOME
// ---------------------------------------------------------
.home {

  // Home Spotlights
  // ---------------
  .t3-sl-1,
  .t3-sl-5 {
    // jumbotron
    .jumbotron {
      //jumbotron btn
      .btn {
        border-color: #fff;
      }
    }
  }

}


//
// NAVIGATIONS
// ---------------------------------------------------------
.t3-mainnav {
  border-bottom: none;
}

.btn-default{
	border-color: #2e353e;
    color: #2e353e;
    background:transparent;
    
    &:hover{
		color:@white;
		background:#2e353e;
		border-color: #2e353e;
		
    }
}	
