

/*===============================
/porto/templates/porto/css/custom.css
================================================================================*/
.product-i .text-block .product-stock,.product-i .text-block .product-addtoreview,.product-i .text-block .separator{clear:both;display:none}.listing-view.vm_list_view .product-i .product-stock,.listing-view.vm_list_view .product-i .product-addtoreview,.listing-view.vm_list_view .product-i .text-block .separator{display:block}[6:46:08 PM] priya bose:<code>.product-i .text-block .product-stock,.product-i .text-block .product-addtoreview,.product-i .text-block .separator{clear:both;display:none}.listing-view.vm_list_view .product-i .product-stock,.listing-view.vm_list_view .product-i .product-addtoreview,.listing-view.vm_list_view .product-i .text-block .separator{display:block}


/*===============================
/porto/media/com_acymailing/css/module_default.css?v=1488961069
================================================================================*/
div.acymailing_module,.acymailing_module div{padding:0 !important;margin:0 !important;border-style:none !important}table.acymailing_form{margin:auto;border:0px !important}a.acymailing_togglemodule{display :block;font-size:16px}.acymailing_mootoolsbutton p{text-align:center}.acysubbuttons{text-align:center}img.captchaimagemodule{border:1px solid #dddddd;float:left}.captchakeymodule .captchafield{margin-top:3px;margin-left:2px}.acymailing_fulldiv tr,.acymailing_fulldiv td{border:0px}.acymailing_module_form select{display:block;margin-left:auto;margin-right:auto}.acymailing_module_form td{padding-bottom:5px;vertical-align:top}div.acymailing_module_error{color:#400;background-color:#fdd;padding:1em !important;margin-bottom:10px}div.acymailing_module_success{color:#130;background-color:#dfc;padding:1em !important;z-index:10;margin-bottom:10px}.acymailing_module_form .acymailing_introtext{padding-bottom:10px;display:block}.refreshCaptchaModule{background-image:url(/porto/media/com_acymailing/images/refresh.png);width:16px;height:16px;display:block;float:left;cursor:pointer}.acymailing_module fieldset{border:solid 1px #ccc;padding:5px}.category_warning{color:red}.acymailing_fulldiv a.modal{position:static !important;margin:0 !important;width:auto !important;display:inline !important}.hide{display:none}


/*===============================
http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/css/settings.css
================================================================================*/
@font-face{font-family:'revicons';src:url('http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/font/revicons.eot?5510888');src:url('http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/font/revicons.eot?5510888#iefix') format('embedded-opentype'),url('http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/font/revicons.woff?5510888') format('woff'),url('http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/font/revicons.ttf?5510888') format('truetype'),url('http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/font/revicons.svg?5510888#revicons') format('svg');font-weight:normal;font-style:normal}   [class^="revicon-"]:before,[class*=" revicon-"]:before{font-family:"revicons";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;  font-variant:normal;text-transform:none; line-height:1em;  margin-left:.2em;    }.revicon-search-1:before{content:'\e802'} .revicon-pencil-1:before{content:'\e831'} .revicon-picture-1:before{content:'\e803'} .revicon-cancel:before{content:'\e80a'} .revicon-info-circled:before{content:'\e80f'} .revicon-trash:before{content:'\e801'} .revicon-left-dir:before{content:'\e817'} .revicon-right-dir:before{content:'\e818'} .revicon-down-open:before{content:'\e83b'} .revicon-left-open:before{content:'\e819'} .revicon-right-open:before{content:'\e81a'} .revicon-angle-left:before{content:'\e820'} .revicon-angle-right:before{content:'\e81d'} .revicon-left-big:before{content:'\e81f'} .revicon-right-big:before{content:'\e81e'} .revicon-magic:before{content:'\e807'} .revicon-picture:before{content:'\e800'} .revicon-export:before{content:'\e80b'} .revicon-cog:before{content:'\e832'} .revicon-login:before{content:'\e833'} .revicon-logout:before{content:'\e834'} .revicon-video:before{content:'\e805'} .revicon-arrow-combo:before{content:'\e827'} .revicon-left-open-1:before{content:'\e82a'} .revicon-right-open-1:before{content:'\e82b'} .revicon-left-open-mini:before{content:'\e822'} .revicon-right-open-mini:before{content:'\e823'} .revicon-left-open-big:before{content:'\e824'} .revicon-right-open-big:before{content:'\e825'} .revicon-left:before{content:'\e836'} .revicon-right:before{content:'\e826'} .revicon-ccw:before{content:'\e808'} .revicon-arrows-ccw:before{content:'\e806'} .revicon-palette:before{content:'\e829'} .revicon-list-add:before{content:'\e80c'} .revicon-doc:before{content:'\e809'} .revicon-left-open-outline:before{content:'\e82e'} .revicon-left-open-2:before{content:'\e82c'} .revicon-right-open-outline:before{content:'\e82f'} .revicon-right-open-2:before{content:'\e82d'} .revicon-equalizer:before{content:'\e83a'} .revicon-layers-alt:before{content:'\e804'} .revicon-popup:before{content:'\e828'}  .tp-static-layers{position:absolute;z-index:505;top:0px;left:0px}.tp-caption .frontcorner{width:0;height:0;border-left:40px solid transparent;border-right:0px solid transparent;border-top:40px solid #00A8FF;position:absolute;left:-40px;top:0px}.tp-caption .backcorner{width:0;height:0;border-left:0px solid transparent;border-right:40px solid transparent;border-bottom:40px solid #00A8FF;position:absolute;right:0px;top:0px}.tp-caption .frontcornertop{width:0;height:0;border-left:40px solid transparent;border-right:0px solid transparent;border-bottom:40px solid #00A8FF;position:absolute;left:-40px;top:0px}.tp-caption .backcornertop{width:0;height:0;border-left:0px solid transparent;border-right:40px solid transparent;border-top:40px solid #00A8FF;position:absolute;right:0px;top:0px}.tp-layer-inner-rotation{position:relative !important} img.tp-slider-alternative-image{width:100%;height:auto} .rev_slider_wrapper{position:relative}.rev_slider_wrapper >ul{visibility:hidden}.rev_slider{position:relative;overflow:visible}.rev_slider img{max-width:none !important;-moz-transition:none 0;-webkit-transition:none 0;-o-transition:none 0;transition:none 0;margin:0px;padding:0px;border-width:0px;border:none}.rev_slider .no-slides-text{font-weight:bold;text-align:center;padding-top:80px}.rev_slider >ul{margin:0px;padding:0px;list-style:none !important;list-style-type:none;background-position:0px 0px}.rev_slider >ul >li,.rev_slider >ul >li:before{list-style:none !important;position:absolute;visibility:hidden;margin:0px !important;padding:0px !important;overflow-x:visible;overflow-y:visible;list-style-type:none !important;background-image:none;background-position:0px 0px;text-indent:0em}.tp-revslider-slidesli,.tp-revslider-mainul{padding:0 !important;margin:0 !important;list-style:none !important}.tp-simpleresponsive >ul,.tp-simpleresponsive >ul >li,.tp-simpleresponsive >ul >li:before{list-style:none;padding:0 !important;margin:0 !important;list-style:none !important;overflow-x:visible;overflow-y:visible;background-image:none }.tp-simpleresponsive >ul li{list-style:none;position:absolute;visibility:hidden}.rev_slider .tp-caption,.rev_slider .caption{position:absolute;visibility:hidden;white-space:nowrap}.tp-simpleresponsive img{max-width:none} .tp-caption{z-index:1}.tp_inner_padding{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;max-height:none !important}.tp-hide-revslider,.tp-caption.tp-hidden-caption{visibility:hidden !important;display:none !important}.rev_slider embed,.rev_slider iframe,.rev_slider object,.rev_slider video{max-width:none !important}  .noFilterClass{filter:none !important}  .tp-caption.coverscreenvideo{width:100%;height:100%;top:0px;left:0px;position:absolute}.caption.fullscreenvideo{left:0px;top:0px;position:absolute;width:100%;height:100%}.caption.fullscreenvideo iframe,.caption.fullscreenvideo video{width:100% !important;height:100% !important;display:none}.tp-caption.fullscreenvideo{left:0px;top:0px;position:absolute;width:100%;height:100%}.tp-caption.fullscreenvideo iframe,.tp-caption.fullscreenvideo iframe video{width:100% !important;height:100% !important;display:none}.fullcoveredvideo video,.fullscreenvideo video{background:#000}.fullcoveredvideo .tp-poster{background-position:center center;background-size:cover;width:100%;height:100%;top:0px;left:0px}.html5vid.videoisplaying .tp-poster{display:none}.tp-video-play-button{background:#000;background:rgba(0,0,0,0.3);padding:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;position:absolute;top:50%;left:50%;font-size:40px;color:#FFF;z-index:3;margin-top:-27px;margin-left:-28px;text-align:center;cursor:pointer}.tp-caption:hover .tp-video-play-button{opacity:1}.html5vid .tp-revstop{width:15px;height:20px;border-left:5px solid #fff;border-right:5px solid #fff;position:relative;margin:10px 20px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.html5vid .tp-revstop{display:none}.html5vid.videoisplaying .revicon-right-dir{display:none}.html5vid.videoisplaying .tp-revstop{display:block}.html5vid.videoisplaying .tp-video-play-button{display:none}.html5vid:hover .tp-video-play-button{display:block}.fullcoveredvideo .tp-video-play-button{display:none !important}.tp-video-controls{position:absolute;bottom:0;left:0;right:0;padding:5px;opacity:0;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;-o-transition:opacity .3s;-ms-transition:opacity .3s;transition:opacity .3s;background-image:linear-gradient(bottom,rgb(0,0,0) 13%,rgb(50,50,50) 100%);background-image:-o-linear-gradient(bottom,rgb(0,0,0) 13%,rgb(50,50,50) 100%);background-image:-moz-linear-gradient(bottom,rgb(0,0,0) 13%,rgb(50,50,50) 100%);background-image:-webkit-linear-gradient(bottom,rgb(0,0,0) 13%,rgb(50,50,50) 100%);background-image:-ms-linear-gradient(bottom,rgb(0,0,0) 13%,rgb(50,50,50) 100%);background-image:-webkit-gradient( linear,left bottom,left top,color-stop(0.13,rgb(0,0,0)),color-stop(1,rgb(50,50,50)) );display:table;max-width:100%;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.tp-caption:hover .tp-video-controls{opacity:.9}.tp-video-button{background:rgba(0,0,0,.5);border:0;color:#EEE;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;cursor:pointer;line-height:12px;font-size:12px;color:#fff;padding:0px;margin:0px;outline:none}.tp-video-button:hover{cursor:pointer}.tp-video-button-wrap,.tp-video-seek-bar-wrap,.tp-video-vol-bar-wrap{padding:0px 5px;display:table-cell}.tp-video-seek-bar-wrap{width:80%}.tp-video-vol-bar-wrap{width:20%}.tp-volume-bar,.tp-seek-bar{width:100%;cursor:pointer;outline:none;line-height:12px;margin:0;padding:0}  .tp-dottedoverlay{background-repeat:repeat;width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:3}.tp-dottedoverlay.twoxtwo{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/gridtile.png)}.tp-dottedoverlay.twoxtwowhite{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/gridtile_white.png)}.tp-dottedoverlay.threexthree{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/gridtile_3x3.png)}.tp-dottedoverlay.threexthreewhite{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/gridtile_3x3_white.png)}  .fullscreen-container{width:100%;position:relative;padding:0}.fullwidthbanner-container{width:100%;position:relative;padding:0;overflow:hidden}.fullwidthbanner-container .fullwidthabanner{width:100%;position:relative} .tp-simpleresponsive .slotholder *,.tp-simpleresponsive img{ } .tp-simpleresponsive .caption,.tp-simpleresponsive .tp-caption{ position:absolute;-webkit-font-smoothing:antialiased !important} .tp-bannershadow{position:absolute;margin-left:auto;margin-right:auto;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none}.tp-bannershadow.tp-shadow1{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/shadow1.png) no-repeat;background-size:100% 100%;width:890px;height:30px;bottom:-30px}.tp-bannershadow.tp-shadow2{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/shadow2.png) no-repeat;background-size:100% 100%;width:890px;height:60px;bottom:-60px}.tp-bannershadow.tp-shadow3{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/shadow3.png) no-repeat;background-size:100% 100%;width:890px;height:60px;bottom:-60px} .tp-button{padding:6px 13px 5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;height:30px;cursor:pointer;color:#fff !important;text-shadow:0px 1px 1px rgba(0,0,0,0.6) !important;font-size:15px;line-height:45px !important;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/images/gradient/g30.png) repeat-x top;font-family:arial,sans-serif;font-weight:bold;letter-spacing:-1px;text-decoration:none}.tp-button.big{color:#fff;text-shadow:0px 1px 1px rgba(0,0,0,0.6);font-weight:bold;padding:9px 20px;font-size:19px;line-height:57px !important;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/images/gradient/g40.png) repeat-x top}.purchase:hover,.tp-button:hover,.tp-button.big:hover{background-position:bottom,15px 11px}  .tp-button.green,.tp-button:hover.green,.purchase.green,.purchase:hover.green{background-color:#21a117;-webkit-box-shadow:0px 3px 0px 0px #104d0b;-moz-box-shadow:0px 3px 0px 0px #104d0b;box-shadow:0px 3px 0px 0px #104d0b}.tp-button.blue,.tp-button:hover.blue,.purchase.blue,.purchase:hover.blue{background-color:#1d78cb;-webkit-box-shadow:0px 3px 0px 0px #0f3e68;-moz-box-shadow:0px 3px 0px 0px #0f3e68;box-shadow:0px 3px 0px 0px #0f3e68}.tp-button.red,.tp-button:hover.red,.purchase.red,.purchase:hover.red{background-color:#cb1d1d;-webkit-box-shadow:0px 3px 0px 0px #7c1212;-moz-box-shadow:0px 3px 0px 0px #7c1212;box-shadow:0px 3px 0px 0px #7c1212}.tp-button.orange,.tp-button:hover.orange,.purchase.orange,.purchase:hover.orange{background-color:#ff7700;-webkit-box-shadow:0px 3px 0px 0px #a34c00;-moz-box-shadow:0px 3px 0px 0px #a34c00;box-shadow:0px 3px 0px 0px #a34c00}.tp-button.darkgrey,.tp-button.grey,.tp-button:hover.darkgrey,.tp-button:hover.grey,.purchase.darkgrey,.purchase:hover.darkgrey{background-color:#555;-webkit-box-shadow:0px 3px 0px 0px #222;-moz-box-shadow:0px 3px 0px 0px #222;box-shadow:0px 3px 0px 0px #222}.tp-button.lightgrey,.tp-button:hover.lightgrey,.purchase.lightgrey,.purchase:hover.lightgrey{background-color:#888;-webkit-box-shadow:0px 3px 0px 0px #555;-moz-box-shadow:0px 3px 0px 0px #555;box-shadow:0px 3px 0px 0px #555}  .tpclear{clear:both}.tp-bullets{z-index:1000;position:absolute;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;-ms-transition:opacity 0.2s ease-out;-webkit-transform:translateZ(5px)}.tp-bullets.hidebullets{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-moz-opacity:0;-khtml-opacity:0;opacity:0}.tp-bullets.simplebullets.navbar{border:1px solid #666;border-bottom:1px solid #444;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/boxed_bgtile.png);height:40px;padding:0px 10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px }.tp-bullets.simplebullets.navbar-old{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/navigdots_bgtile.png);height:35px;padding:0px 10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px }.tp-bullets.simplebullets.round .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/bullet.png) no-repeat top left;width:20px;height:20px;margin-right:0px;float:left;margin-top:0px;margin-left:3px}.tp-bullets.simplebullets.round .bullet.last{margin-right:3px}.tp-bullets.simplebullets.round-old .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/bullets.png) no-repeat bottom left;width:23px;height:23px;margin-right:0px;float:left;margin-top:0px}.tp-bullets.simplebullets.round-old .bullet.last{margin-right:0px} .tp-bullets.simplebullets.square .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/bullets2.png) no-repeat bottom left;width:19px;height:19px;margin-right:0px;float:left;margin-top:0px}.tp-bullets.simplebullets.square .bullet.last{margin-right:0px} .tp-bullets.simplebullets.square-old .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/bullets2.png) no-repeat bottom left;width:19px;height:19px;margin-right:0px;float:left;margin-top:0px}.tp-bullets.simplebullets.square-old .bullet.last{margin-right:0px} .tp-bullets.simplebullets.navbar .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/bullet_boxed.png) no-repeat top left;width:18px;height:19px;margin-right:5px;float:left;margin-top:10px}.tp-bullets.simplebullets.navbar .bullet.first{margin-left:0px !important}.tp-bullets.simplebullets.navbar .bullet.last{margin-right:0px !important} .tp-bullets.simplebullets.navbar-old .bullet{cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/navigdots.png) no-repeat bottom left;width:15px;height:15px;margin-left:5px !important;margin-right:5px !important;float:left;margin-top:10px}.tp-bullets.simplebullets.navbar-old .bullet.first{margin-left:0px !important}.tp-bullets.simplebullets.navbar-old .bullet.last{margin-right:0px !important}.tp-bullets.simplebullets .bullet:hover,.tp-bullets.simplebullets .bullet.selected{background-position:top left}.tp-bullets.simplebullets.round .bullet:hover,.tp-bullets.simplebullets.round .bullet.selected,.tp-bullets.simplebullets.navbar .bullet:hover,.tp-bullets.simplebullets.navbar .bullet.selected{background-position:bottom left} .tparrows{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;-ms-transition:opacity 0.2s ease-out;-webkit-transform:translateZ(1000px);-webkit-transform-style:preserve-3d}.tparrows .tp-arr-imgholder{display:none}.tparrows .tp-arr-titleholder{display:none}.tparrows.hidearrows{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-moz-opacity:0;-khtml-opacity:0;opacity:0}.tp-leftarrow{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/large_left.png) no-repeat top left;width:40px;height:40px}.tp-rightarrow{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/large_right.png) no-repeat top left;width:40px;height:40px}.tp-leftarrow.round{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/small_left.png) no-repeat top left;width:19px;height:14px;margin-right:0px;float:left;margin-top:0px}.tp-rightarrow.round{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/small_right.png) no-repeat top left;width:19px;height:14px;margin-right:0px;float:left;margin-top:0px}.tp-leftarrow.round-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_left.png) no-repeat top left;width:26px;height:26px;margin-right:0px;float:left;margin-top:0px}.tp-rightarrow.round-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_right.png) no-repeat top left;width:26px;height:26px;margin-right:0px;float:left;margin-top:0px}.tp-leftarrow.navbar{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/small_left_boxed.png) no-repeat top left;width:20px;height:15px;float:left;margin-right:6px;margin-top:12px}.tp-rightarrow.navbar{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/small_right_boxed.png) no-repeat top left;width:20px;height:15px;float:left;margin-left:6px;margin-top:12px}.tp-leftarrow.navbar-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrowleft.png) no-repeat top left;width:9px;height:16px;float:left;margin-right:6px;margin-top:10px}.tp-rightarrow.navbar-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrowright.png) no-repeat top left;width:9px;height:16px;float:left;margin-left:6px;margin-top:10px}.tp-leftarrow.navbar-old.thumbswitharrow{margin-right:10px}.tp-rightarrow.navbar-old.thumbswitharrow{margin-left:0px}.tp-leftarrow.square{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_left2.png) no-repeat top left;width:12px;height:17px;float:left;margin-right:0px;margin-top:0px}.tp-rightarrow.square{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_right2.png) no-repeat top left;width:12px;height:17px;float:left;margin-left:0px;margin-top:0px}.tp-leftarrow.square-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_left2.png) no-repeat top left;width:12px;height:17px;float:left;margin-right:0px;margin-top:0px}.tp-rightarrow.square-old{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_right2.png) no-repeat top left;width:12px;height:17px;float:left;margin-left:0px;margin-top:0px}.tp-leftarrow.default{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/large_left.png) no-repeat 0 0;width:40px;height:40px}.tp-rightarrow.default{z-index:100;cursor:pointer;position:relative;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/large_right.png) no-repeat 0 0;width:40px;height:40px}.tp-leftarrow:hover,.tp-rightarrow:hover{background-position:bottom left} .tp-bullets.tp-thumbs{z-index:1000;position:absolute;padding:3px;background-color:#fff;width:500px;height:50px; margin-top:-50px;vertical-align:top}.tp-bullets.tp-thumbs img{vertical-align:top}.fullwidthbanner-container .tp-thumbs{padding:3px}.tp-bullets.tp-thumbs .tp-mask{width:500px;height:50px; overflow:hidden;position:relative}.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer{width:5000px;position:absolute}.tp-bullets.tp-thumbs .bullet{width:100px;height:50px; cursor:pointer;overflow:hidden;background:none;margin:0;float:left;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; -moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-bullets.tp-thumbs .bullet:hover,.tp-bullets.tp-thumbs .bullet.selected{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity:1;-khtml-opacity:1;opacity:1}.tp-thumbs img{width:100%} .tp-bannertimer{visibility:hidden;width:100%;height:5px; background:#fff;background:rgba(0,0,0,0.15);position:absolute;z-index:200;top:0px}.tp-bannertimer.tp-bottom{top:auto;bottom:0px !important;height:5px}  .tparrows.preview1{width:100px;height:100px;-webkit-transform-style:preserve-3d;-webkit-perspective:1000;-moz-perspective:1000;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;background:transparent}.tparrows.preview1:after{position:absolute;left:0px;top:0px;font-family:"revicons";color:#fff;font-size:30px;width:100px;height:100px;text-align:center;background:#fff;background:rgba(0,0,0,0.15);z-index:2;line-height:100px;-webkit-transition:background 0.3s,color 0.3s;-moz-transition:background 0.3s,color 0.3s;transition:background 0.3s,color 0.3s}.tp-rightarrow.preview1:after{content:'\e825'}.tp-leftarrow.preview1:after{content:'\e824'}.tparrows.preview1:hover:after{background:rgba(255,255,255,1);color:#aaa}.tparrows.preview1 .tp-arr-imgholder{background-size:cover;background-position:center center;display:block;width:100%;height:100%;position:absolute;top:0px;-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;-webkit-backface-visibility:hidden;backface-visibility:hidden}.tparrows.preview1 .tp-arr-iwrapper{-webkit-transition:all 0.3s;transition:all 0.3s;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0.0;-khtml-opacity:0.0;opacity:0.0}.tparrows.preview1:hover .tp-arr-iwrapper{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.tp-rightarrow.preview1 .tp-arr-imgholder{right:100%;-webkit-transform:rotateY(-90deg);transform:rotateY(-90deg);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0.0;-khtml-opacity:0.0;opacity:0.0}.tp-leftarrow.preview1 .tp-arr-imgholder{left:100%;-webkit-transform:rotateY(90deg);transform:rotateY(90deg);-webkit-transform-origin:0% 50%;transform-origin:0% 50%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0.0;-khtml-opacity:0.0;opacity:0.0}.tparrows.preview1:hover .tp-arr-imgholder{-webkit-transform:rotateY(0deg);transform:rotateY(0deg);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}@media only screen and (min-width:768px) and (max-width:979px){.tparrows.preview1,.tparrows.preview1:after{width:80px;height:80px;line-height:80px;font-size:24px}}@media only screen and (min-width:480px) and (max-width:767px){.tparrows.preview1,.tparrows.preview1:after{width:60px;height:60px;line-height:60px;font-size:20px}}@media only screen and (min-width:0px) and (max-width:479px){.tparrows.preview1,.tparrows.preview1:after{width:40px;height:40px;line-height:40px;font-size:12px}} .tp-bullets.preview1{height:21px}.tp-bullets.preview1 .bullet{cursor:pointer;position:relative !important;background:rgba(0,0,0,0.15) !important; -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:5px !important;height:5px !important;border:8px solid rgba(0,0,0,0) !important;display:inline-block;margin-right:5px !important;margin-bottom:0px !important;-webkit-transition:background-color 0.2s,border-color 0.2s;-moz-transition:background-color 0.2s,border-color 0.2s;-o-transition:background-color 0.2s,border-color 0.2s;-ms-transition:background-color 0.2s,border-color 0.2s;transition:background-color 0.2s,border-color 0.2s;float:none !important;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}.tp-bullets.preview1 .bullet.last{margin-right:0px}.tp-bullets.preview1 .bullet:hover,.tp-bullets.preview1 .bullet.selected{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#aaa !important;width:5px !important;height:5px !important;border:8px solid rgba(255,255,255,1) !important} .tparrows.preview2{min-width:60px;min-height:60px;background:#fff;;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;overflow:hidden;-webkit-transition:-webkit-transform 1.3s;-webkit-transition:width 0.3s,background-color 0.3s,opacity 0.3s;transition:width 0.3s,background-color 0.3s,opacity 0.3s;backface-visibility:hidden}.tparrows.preview2:after{position:absolute;top:50%;font-family:"revicons";color:#aaa;font-size:25px;margin-top:-12px;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;transition:color 0.3s }.tp-rightarrow.preview2:after{content:'\e81e';right:18px}.tp-leftarrow.preview2:after{content:'\e81f';left:18px}.tparrows.preview2 .tp-arr-titleholder{background-size:cover;background-position:center center;display:block;visibility:hidden;position:relative;top:0px;-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;-webkit-backface-visibility:hidden;backface-visibility:hidden;white-space:nowrap;color:#000;text-transform:uppercase;font-weight:400;font-size:14px;line-height:60px;padding:0px 10px}.tp-rightarrow.preview2 .tp-arr-titleholder{right:50px;-webkit-transform:translateX(-100%);transform:translateX(-100%)}.tp-leftarrow.preview2 .tp-arr-titleholder{left:50px;-webkit-transform:translateX(100%);transform:translateX(100%)}.tparrows.preview2.hovered{width:300px}.tparrows.preview2:hover{background:#fff}.tparrows.preview2:hover:after{color:#000}.tparrows.preview2:hover .tp-arr-titleholder{-webkit-transform:translateX(0px);transform:translateX(0px);visibility:visible;position:absolute} .tp-bullets.preview2{height:17px}.tp-bullets.preview2 .bullet{cursor:pointer;position:relative !important;background:rgba(0,0,0,0.5) !important;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,0) !important;display:inline-block;margin-right:2px !important;margin-bottom:0px !important;-webkit-transition:background-color 0.2s,border-color 0.2s;-moz-transition:background-color 0.2s,border-color 0.2s;-o-transition:background-color 0.2s,border-color 0.2s;-ms-transition:background-color 0.2s,border-color 0.2s;transition:background-color 0.2s,border-color 0.2s;float:none !important;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}.tp-bullets.preview2 .bullet.last{margin-right:0px}.tp-bullets.preview2 .bullet:hover,.tp-bullets.preview2 .bullet.selected{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:rgba(255,255,255,1) !important;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,1) !important}.tp-arr-titleholder.alwayshidden{display:none !important}@media only screen and (min-width:768px) and (max-width:979px){.tparrows.preview2{min-width:40px;min-height:40px;width:40px;height:40px;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px}.tparrows.preview2:after{position:absolute;top:50%;font-family:"revicons";font-size:20px;margin-top:-12px}.tp-rightarrow.preview2:after{content:'\e81e';right:11px}.tp-leftarrow.preview2:after{content:'\e81f';left:11px}.tparrows.preview2 .tp-arr-titleholder{font-size:12px;line-height:40px;letter-spacing:0px}.tp-rightarrow.preview2 .tp-arr-titleholder{right:35px}.tp-leftarrow.preview2 .tp-arr-titleholder{left:35px}}@media only screen and (min-width:480px) and (max-width:767px){.tparrows.preview2{min-width:30px;min-height:30px;width:30px;height:30px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px}.tparrows.preview2:after{position:absolute;top:50%;font-family:"revicons";font-size:14px;margin-top:-12px}.tp-rightarrow.preview2:after{content:'\e81e';right:8px}.tp-leftarrow.preview2:after{content:'\e81f';left:8px}.tparrows.preview2 .tp-arr-titleholder{font-size:10px;line-height:30px;letter-spacing:0px}.tp-rightarrow.preview2 .tp-arr-titleholder{right:25px}.tp-leftarrow.preview2 .tp-arr-titleholder{left:25px}.tparrows.preview2 .tp-arr-titleholder{display:none;visibility:none}}@media only screen and (min-width:0px) and (max-width:479px){.tparrows.preview2{min-width:30px;min-height:30px;width:30px;height:30px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px}.tparrows.preview2:after{position:absolute;top:50%;font-family:"revicons";font-size:14px;margin-top:-12px}.tp-rightarrow.preview2:after{content:'\e81e';right:8px}.tp-leftarrow.preview2:after{content:'\e81f';left:8px}.tparrows.preview2 .tp-arr-titleholder{display:none;visibility:none}.tparrows.preview2:hover{width:30px !important;height:30px !important}} .tparrows.preview3{width:70px;height:70px;background:#fff;background:rgba(255,255,255,1);-webkit-transform-style:flat}.tparrows.preview3:after{position:absolute;line-height:70px;text-align:center;font-family:"revicons";color:#aaa;font-size:30px;top:0px;left:0px;;background:#fff;z-index:100;width:70px;height:70px;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;transition:color 0.3s}.tparrows.preview3:hover:after{color:#000}.tp-rightarrow.preview3:after{content:'\e825'}.tp-leftarrow.preview3:after{content:'\e824'}.tparrows.preview3 .tp-arr-iwrapper{-webkit-transform:scale(0,1);transform:scale(0,1);-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-transition:-webkit-transform 0.2s;transition:transform 0.2s;z-index:0;position:absolute;background:#000;background:rgba(0,0,0,0.75);display:table;min-height:90px;top:-10px}.tp-leftarrow.preview3 .tp-arr-iwrapper{-webkit-transform:scale(0,1);transform:scale(0,1);-webkit-transform-origin:0% 50%;transform-origin:0% 50%}.tparrows.preview3 .tp-arr-imgholder{display:block;background-size:cover;background-position:center center;display:table-cell;min-width:90px;height:90px;position:relative;top:0px}.tp-rightarrow.preview3 .tp-arr-iwrapper{right:0px;padding-right:70px}.tp-leftarrow.preview3 .tp-arr-iwrapper{left:0px;direction:rtl;padding-left:70px}.tparrows.preview3 .tp-arr-titleholder{display:table-cell;padding:30px;font-size:16px;color:#fff;white-space:nowrap;position:relative;clear:right;vertical-align:middle}.tparrows.preview3:hover .tp-arr-iwrapper{-webkit-transform:scale(1,1);transform:scale(1,1)} .tp-bullets.preview3{height:17px}.tp-bullets.preview3 .bullet{cursor:pointer;position:relative !important;background:rgba(0,0,0,0.5) !important;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,0) !important;display:inline-block;margin-right:2px !important;margin-bottom:0px !important;-webkit-transition:background-color 0.2s,border-color 0.2s;-moz-transition:background-color 0.2s,border-color 0.2s;-o-transition:background-color 0.2s,border-color 0.2s;-ms-transition:background-color 0.2s,border-color 0.2s;transition:background-color 0.2s,border-color 0.2s;float:none !important;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}.tp-bullets.preview3 .bullet.last{margin-right:0px}.tp-bullets.preview3 .bullet:hover,.tp-bullets.preview3 .bullet.selected{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:rgba(255,255,255,1) !important;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,1) !important}@media only screen and (min-width:768px) and (max-width:979px){.tparrows.preview3:after,.tparrows.preview3{width:50px;height:50px;line-height:50px;font-size:20px}.tparrows.preview3 .tp-arr-iwrapper{min-height:70px}.tparrows.preview3 .tp-arr-imgholder{min-width:70px;height:70px}.tp-rightarrow.preview3 .tp-arr-iwrapper{padding-right:50px}.tp-leftarrow.preview3 .tp-arr-iwrapper{padding-left:50px}.tparrows.preview3 .tp-arr-titleholder{padding:10px;font-size:16px}}@media only screen and (max-width:767px){.tparrows.preview3:after,.tparrows.preview3{width:50px;height:50px;line-height:50px;font-size:20px}.tparrows.preview3 .tp-arr-iwrapper{min-height:70px}} .tparrows.preview4{width:30px;height:110px;background:transparent;-webkit-transform-style:preserve-3d;-webkit-perspective:1000;-moz-perspective:1000}.tparrows.preview4:after{position:absolute;line-height:110px;text-align:center;font-family:"revicons";color:#fff;font-size:20px;top:0px;left:0px;z-index:0;width:30px;height:110px;background:#000;background:rgba(0,0,0,0.25);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.tp-rightarrow.preview4:after{content:'\e825'}.tp-leftarrow.preview4:after{content:'\e824'}.tparrows.preview4 .tp-arr-allwrapper{visibility:hidden;width:180px;position:absolute;z-index:1;min-height:120px;top:0px;left:-150px;overflow:hidden;-webkit-perspective:1000px;-webkit-transform-style:flat}.tp-leftarrow.preview4 .tp-arr-allwrapper{left:0px}.tparrows.preview4 .tp-arr-iwrapper{position:relative}.tparrows.preview4 .tp-arr-imgholder{display:block;background-size:cover;background-position:center center;width:180px;height:110px;position:relative;top:0px;-webkit-backface-visibility:hidden;backface-visibility:hidden}.tparrows.preview4 .tp-arr-imgholder2{display:block;background-size:cover;background-position:center center;width:180px;height:110px;position:absolute;top:0px;left:180px;-webkit-backface-visibility:hidden;backface-visibility:hidden}.tp-leftarrow.preview4 .tp-arr-imgholder2{left:-180px}.tparrows.preview4 .tp-arr-titleholder{display:block;font-size:12px;line-height:25px;padding:0px 10px;text-align:left;color:#fff;position:relative;background:#000;color:#FFF;text-transform:uppercase;white-space:nowrap;letter-spacing:1px;font-weight:700;font-size:11px;line-height:2.75;-webkit-transition:all 0.3s;transition:all 0.3s;-webkit-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0.0;-khtml-opacity:0.0;opacity:0.0}.tparrows.preview4:after{transform-origin:100% 100%;-webkit-transform-origin:100% 100%}.tp-leftarrow.preview4:after{transform-origin:0% 0%;-webkit-transform-origin:0% 0%}@media only screen and (min-width:768px){.tparrows.preview4:hover:after{-webkit-transform:rotateY(-90deg);transform:rotateY(-90deg)}.tp-leftarrow.preview4:hover:after{-webkit-transform:rotateY(90deg);transform:rotateY(90deg)}.tparrows.preview4:hover .tp-arr-titleholder{-webkit-transition-delay:0.4s;transition-delay:0.4s;-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}} .tp-bullets.preview4{height:17px}.tp-bullets.preview4 .bullet{cursor:pointer;position:relative !important;background:rgba(0,0,0,0.5) !important;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,0) !important;display:inline-block;margin-right:2px !important;margin-bottom:0px !important;-webkit-transition:background-color 0.2s,border-color 0.2s;-moz-transition:background-color 0.2s,border-color 0.2s;-o-transition:background-color 0.2s,border-color 0.2s;-ms-transition:background-color 0.2s,border-color 0.2s;transition:background-color 0.2s,border-color 0.2s;float:none !important;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}.tp-bullets.preview4 .bullet.last{margin-right:0px}.tp-bullets.preview4 .bullet:hover,.tp-bullets.preview4 .bullet.selected{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:rgba(255,255,255,1) !important;width:6px !important;height:6px !important;border:5px solid rgba(0,0,0,1) !important}@media only screen and (max-width:767px){.tparrows.preview4{width:20px;height:80px}.tparrows.preview4:after{width:20px;height:80px;line-height:80px;font-size:14px}.tparrows.preview1 .tp-arr-allwrapper,.tparrows.preview2 .tp-arr-allwrapper,.tparrows.preview3 .tp-arr-allwrapper,.tparrows.preview4 .tp-arr-allwrapper{display:none !important}}  .tp-simpleresponsive img{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none}.tp-caption img{background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);zoom:1} .caption.slidelink a div,.tp-caption.slidelink a div{width:3000px;height:1500px;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/coloredbg.png) repeat}.tp-caption.slidelink a span{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/coloredbg.png) repeat} .tp-loader{top:50%;left:50%;z-index:10000;position:absolute}.tp-loader.spinner0{width:40px;height:40px;background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/loader.gif) no-repeat center center;background-color:#fff;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);margin-top:-20px;margin-left:-20px;-webkit-animation:tp-rotateplane 1.2s infinite ease-in-out;animation:tp-rotateplane 1.2s infinite ease-in-out;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}.tp-loader.spinner1{width:40px;height:40px;background-color:#fff;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);margin-top:-20px;margin-left:-20px;-webkit-animation:tp-rotateplane 1.2s infinite ease-in-out;animation:tp-rotateplane 1.2s infinite ease-in-out;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}.tp-loader.spinner5{background:url(http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/assets/loader.gif) no-repeat 10px 10px;background-color:#fff;margin:-22px -22px;width:44px;height:44px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}@-webkit-keyframes tp-rotateplane{0%{-webkit-transform:perspective(120px) }50%{-webkit-transform:perspective(120px) rotateY(180deg) }100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg) }}@keyframes tp-rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg) }50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg) }100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}.tp-loader.spinner2{width:40px;height:40px;margin-top:-20px;margin-left:-20px;background-color:#ff0000;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);border-radius:100%;-webkit-animation:tp-scaleout 1.0s infinite ease-in-out;animation:tp-scaleout 1.0s infinite ease-in-out}@-webkit-keyframes tp-scaleout{0%{-webkit-transform:scale(0.0) }100%{-webkit-transform:scale(1.0);opacity:0}}@keyframes tp-scaleout{0%{transform:scale(0.0);-webkit-transform:scale(0.0)}100%{transform:scale(1.0);-webkit-transform:scale(1.0);opacity:0}}.tp-loader.spinner3{margin:-9px 0px 0px -35px;width:70px;text-align:center}.tp-loader.spinner3 .bounce1,.tp-loader.spinner3 .bounce2,.tp-loader.spinner3 .bounce3{width:18px;height:18px;background-color:#fff;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);border-radius:100%;display:inline-block;-webkit-animation:tp-bouncedelay 1.4s infinite ease-in-out;animation:tp-bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode:both;animation-fill-mode:both}.tp-loader.spinner3 .bounce1{-webkit-animation-delay:-0.32s;animation-delay:-0.32s}.tp-loader.spinner3 .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s}@-webkit-keyframes tp-bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0) }40%{-webkit-transform:scale(1.0) }}@keyframes tp-bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}.tp-loader.spinner4{margin:-20px 0px 0px -20px;width:40px;height:40px;text-align:center;-webkit-animation:tp-rotate 2.0s infinite linear;animation:tp-rotate 2.0s infinite linear}.tp-loader.spinner4 .dot1,.tp-loader.spinner4 .dot2{width:60%;height:60%;display:inline-block;position:absolute;top:0;background-color:#fff;border-radius:100%;-webkit-animation:tp-bounce 2.0s infinite ease-in-out;animation:tp-bounce 2.0s infinite ease-in-out;box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15)}.tp-loader.spinner4 .dot2{top:auto;bottom:0px;-webkit-animation-delay:-1.0s;animation-delay:-1.0s}@-webkit-keyframes tp-rotate{100%{-webkit-transform:rotate(360deg) }}@keyframes tp-rotate{100%{transform:rotate(360deg);-webkit-transform:rotate(360deg) }}@-webkit-keyframes tp-bounce{0%,100%{-webkit-transform:scale(0.0) }50%{-webkit-transform:scale(1.0) }}@keyframes tp-bounce{0%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}50%{transform:scale(1.0);-webkit-transform:scale(1.0)}}


/*===============================
http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/css/dynamic-captions.css
================================================================================*/
.tp-caption.top-level-white,.top-level-white{font-size:24px;font-weight:300;letter-spacing:0px;line-height:24px;color:#ffffff;text-transform:capitalize;text-decoration:none;text-shadow:none;margin:0px;padding:1px 4px 0px 4px;height:auto;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label,.main-label{font-size:62px;line-height:62px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.bottom-label,.bottom-label{line-height:20px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.blackboard-text,.blackboard-text{font-size:37px;line-height:46px;text-transform:uppercase;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background:transparent none repeat scroll 0% 0%;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.blackboard-text-2,.blackboard-text-2{font-size:47px;font-weight:400;letter-spacing:0;line-height:46px;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;padding:0;white-space:nowrap;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.blackboard-text-3,.blackboard-text-3{line-height:46px;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;font-size:32px;background:transparent;text-transform:uppercase;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.blackboard-text-4,.blackboard-text-4{font-size:30px;font-weight:400;letter-spacing:0;line-height:46px;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;opacity:1;padding:0;white-space:nowrap;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.blackboard-text-5,.blackboard-text-5{font-size:46px;line-height:46px;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.tp-caption.main-label-bg-brand,.main-label-bg-brand{font-size:62px;line-height:62px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:10px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.bottom-label-bg-opacity,.bottom-label-bg-opacity{line-height:20px;margin:0px;padding:10px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label-border,.main-label-border{line-height:76px;font-size:76px;padding:5px 0px 5px 0px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;height:auto;background-color:transparent;border-width:1px 0px 1px 0px;border-color:rgba(255,255,255,0.4) rgb(255,255,255) rgba(255,255,255,0.4) rgb(255,255,255);border-style:solid none solid none}.tp-caption.main-label-wedding,.main-label-wedding{font-size:135px;line-height:45px;font-weight:400;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.bottom-label-wedding,.bottom-label-wedding{line-height:22px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:600;font-size:22px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.top-level-dark,.top-level-dark{font-size:24px;font-weight:300;letter-spacing:0px;line-height:24px;color:#333333;text-transform:uppercase;text-decoration:none;text-shadow:none;margin:0px;padding:1px 4px 0px 4px;height:auto;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label-dark,.main-label-dark{font-size:62px;line-height:62px;font-weight:800;color:#333333;text-decoration:none;text-tansform:uppercase;background-color:transparent;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0;padding:0px 0px 0px 0px;white-space:normal !important;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.bottom-label-dark,.bottom-label-dark{line-height:20px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#333333;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.featured-label,.featured-label{font-size:52px;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;background-color:transparent;text-shadow:none;margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.featured-label-dark,.featured-label-dark{font-size:52px;line-height:52px;font-weight:800;color:#333333;text-decoration:none;background-color:transparent;text-shadow:none;margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label-40,.main-label-40{font-size:40px;line-height:40px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label-52,.main-label-52{font-size:52px;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.main-label-small,.main-label-small{font-size:1.5em;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;text-transform:uppercase;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.bottom-label-underline,.bottom-label-underline{line-height:20px;margin:0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;padding:3px;border-width:0px 0px 1px 0px;border-color:rgb(255,255,255);border-style:none none solid none}.tp-caption.shop-top-text,.shop-top-text{z-index:5;font-size:26px;text-transform:uppercase;font-weight:600;line-height:16px;color:#ffffff;visibility:inherit;transition:none 0s ease 0s;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.shop-big-text,.shop-big-text{z-index:5;font-size:72px;font-weight:800;line-height:101px;color:#ffffff;letter-spacing:-4px;padding:0px 6px 0px 0px;visibility:inherit;transition:none 0s ease 0s;margin:0px;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.shop-light-text,.shop-light-text{z-index:5;font-size:23px;font-weight:300;line-height:23px;color:rgb(255,255,255);visibility:hidden;transition:none 0s ease 0s;margin:0px;padding:0px;letter-spacing:0px;white-space:nowrap;min-height:0px;min-width:0px;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.shop-main-label,.shop-main-label{z-index:5;font-size:81px;text-transform:uppercase;font-weight:500;line-height:81px;color:#ffffff;visibility:hidden;transition:none 0s ease 0s;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;white-space:nowrap;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.top-level-white,.top-level-white{font-size:24px;font-weight:300;letter-spacing:0px;line-height:24px;color:#ffffff;text-transform:capitalize;text-decoration:none;text-shadow:none;margin:0px;padding:1px 4px 0px 4px;height:auto;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label,.main-label{font-size:62px;line-height:62px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.bottom-label,.bottom-label{line-height:20px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.blackboard-text,.blackboard-text{font-size:37px;line-height:46px;text-transform:uppercase;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background:transparent none repeat scroll 0% 0%;border-width:0px;border-color:rgb(34,34,34);border-style:none}.blackboard-text-2,.blackboard-text-2{font-size:47px;font-weight:400;letter-spacing:0;line-height:46px;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;padding:0;white-space:nowrap;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.blackboard-text-3,.blackboard-text-3{line-height:46px;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;font-size:32px;background:transparent;text-transform:uppercase;border-width:0px;border-color:rgb(34,34,34);border-style:none}.blackboard-text-4,.blackboard-text-4{font-size:30px;font-weight:400;letter-spacing:0;line-height:46px;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;opacity:1;padding:0;white-space:nowrap;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.blackboard-text-5,.blackboard-text-5{font-size:46px;line-height:46px;margin:0px;padding:0px;letter-spacing:0px;font-weight:400;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background:transparent;border-width:0px;border-color:rgb(34,34,34);border-style:none}.main-label-bg-brand,.main-label-bg-brand{font-size:62px;line-height:62px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:10px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.bottom-label-bg-opacity,.bottom-label-bg-opacity{line-height:20px;margin:0px;padding:10px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label-border,.main-label-border{line-height:76px;font-size:76px;padding:5px 0px 5px 0px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;height:auto;background-color:transparent;border-width:1px 0px 1px 0px;border-color:rgba(255,255,255,0.4) rgb(255,255,255) rgba(255,255,255,0.4) rgb(255,255,255);border-style:solid none solid none}.main-label-wedding,.main-label-wedding{font-size:135px;line-height:45px;font-weight:400;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.bottom-label-wedding,.bottom-label-wedding{line-height:22px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:600;font-size:22px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.top-level-dark,.top-level-dark{font-size:24px;font-weight:300;letter-spacing:0px;line-height:24px;color:#333333;text-transform:uppercase;text-decoration:none;text-shadow:none;margin:0px;padding:1px 4px 0px 4px;height:auto;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label-dark,.main-label-dark{font-size:62px;line-height:62px;font-weight:800;color:#333333;text-decoration:none;text-tansform:uppercase;background-color:transparent;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0;padding:0px 0px 0px 0px;white-space:normal !important;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.bottom-label-dark,.bottom-label-dark{line-height:20px;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#333333;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.featured-label,.featured-label{font-size:52px;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;background-color:transparent;text-shadow:none;margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.featured-label-dark,.featured-label-dark{font-size:52px;line-height:52px;font-weight:800;color:#333333;text-decoration:none;background-color:transparent;text-shadow:none;margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label-40,.main-label-40{font-size:40px;line-height:40px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label-52,.main-label-52{font-size:52px;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.main-label-small,.main-label-small{font-size:1.5em;line-height:52px;font-weight:800;color:#ffffff;text-decoration:none;text-transform:uppercase;text-shadow:2px 2px 4px rgba(0,0,0,0.15);margin:0px;letter-spacing:0px;padding:0px 0px 0px 0px;height:auto;transform-origin:50% 50% 0px;transition:none 0s ease 0s;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.bottom-label-underline,.bottom-label-underline{line-height:20px;margin:0px;letter-spacing:0px;font-weight:300;font-size:20px;color:#ffffff;background:transparent;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;padding:3px;border-width:0px 0px 1px 0px;border-color:rgb(255,255,255);border-style:none none solid none}.shop-top-text,.shop-top-text{z-index:5;font-size:26px;text-transform:uppercase;font-weight:600;line-height:16px;color:#ffffff;visibility:inherit;transition:none 0s ease 0s;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.shop-big-text,.shop-big-text{z-index:5;font-size:72px;font-weight:800;line-height:101px;color:#ffffff;letter-spacing:-4px;padding:0px 6px 0px 0px;visibility:inherit;transition:none 0s ease 0s;margin:0px;white-space:nowrap;min-height:0px;min-width:0px;max-height:none;max-width:none;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}.shop-light-text,.shop-light-text{z-index:5;font-size:23px;font-weight:300;line-height:23px;color:rgb(255,255,255);visibility:hidden;transition:none 0s ease 0s;margin:0px;padding:0px;letter-spacing:0px;white-space:nowrap;min-height:0px;min-width:0px;border-width:0px;border-color:rgb(255,255,255);border-style:none}.shop-main-label,.shop-main-label{z-index:5;font-size:81px;text-transform:uppercase;font-weight:500;line-height:81px;color:#ffffff;visibility:hidden;transition:none 0s ease 0s;margin:0px;padding:0px 0px 0px 0px;letter-spacing:0px;white-space:nowrap;background-color:transparent;text-decoration:none;border-width:0px;border-color:rgb(255,255,255);border-style:none}


/*===============================
http://localhost/porto/media/com_uniterevolution2/assets/rs-plugin/css/static-captions.css
================================================================================*/
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}