

/*===============================
/porto/templates/porto/css/custom.css
================================================================================*/
.product-i .text-block .product-stock,.product-i .text-block .product-addtoreview,.product-i .text-block .separator{clear:both;display:none}.listing-view.vm_list_view .product-i .product-stock,.listing-view.vm_list_view .product-i .product-addtoreview,.listing-view.vm_list_view .product-i .text-block .separator{display:block}[6:46:08 PM] priya bose:<code>.product-i .text-block .product-stock,.product-i .text-block .product-addtoreview,.product-i .text-block .separator{clear:both;display:none}.listing-view.vm_list_view .product-i .product-stock,.listing-view.vm_list_view .product-i .product-addtoreview,.listing-view.vm_list_view .product-i .text-block .separator{display:block}


/*===============================
/porto/media/com_acymailing/css/module_default.css?v=1488961069
================================================================================*/
div.acymailing_module,.acymailing_module div{padding:0 !important;margin:0 !important;border-style:none !important}table.acymailing_form{margin:auto;border:0px !important}a.acymailing_togglemodule{display :block;font-size:16px}.acymailing_mootoolsbutton p{text-align:center}.acysubbuttons{text-align:center}img.captchaimagemodule{border:1px solid #dddddd;float:left}.captchakeymodule .captchafield{margin-top:3px;margin-left:2px}.acymailing_fulldiv tr,.acymailing_fulldiv td{border:0px}.acymailing_module_form select{display:block;margin-left:auto;margin-right:auto}.acymailing_module_form td{padding-bottom:5px;vertical-align:top}div.acymailing_module_error{color:#400;background-color:#fdd;padding:1em !important;margin-bottom:10px}div.acymailing_module_success{color:#130;background-color:#dfc;padding:1em !important;z-index:10;margin-bottom:10px}.acymailing_module_form .acymailing_introtext{padding-bottom:10px;display:block}.refreshCaptchaModule{background-image:url(/porto/media/com_acymailing/images/refresh.png);width:16px;height:16px;display:block;float:left;cursor:pointer}.acymailing_module fieldset{border:solid 1px #ccc;padding:5px}.category_warning{color:red}.acymailing_fulldiv a.modal{position:static !important;margin:0 !important;width:auto !important;display:inline !important}.hide{display:none}


/*===============================
/porto/modules/mod_sp_vmsearch/assets/css/style.css
================================================================================*/
.sp-vmsearch{position:relative}.sp-vmsearch form{margin:0}.sp-vmsearch-categorybox{position:relative}.sp-vmsearch-categories{position:absolute !important;left:0px;opacity:0;padding:0;margin:0}.category-name-wrapper{position:relative;padding:0 10px;margin-right:10px}.category-name{float:left;width:100%;white-space:nowrap;overflow:hidden}.sp-vmsearch-categorybox{float:left;width:130px;height:50px;line-height:50px;text-align:center;border:1px solid #bbb;border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;background:#2251f0;color:#fff}.search-input-wrapper{display:block;margin-left:100px;margin-right:100px;overflow:hidden}.search-button-wrapper{float:right;width:100px;text-align:center}.search-button-wrapper button{margin:0;padding:0;width:100%;height:52px;min-height:52px;line-height:52px;background:#2251f0;color:#fff;box-sizing:border-box;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;border:none;display:inline-block;text-align:center;vertical-align:middle;cursor:pointer}.search-input-wrapper input{width:100%;min-height:52px;display:inline-block;height:20px;padding:4px 6px;margin-bottom:0;font-size:14px;line-height:20px;color:#555;vertical-align:middle;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;box-sizing:border-box;-moz-box-sizing:border-box}.sp-vmsearch-categorybox .cat-button,.sp-vmsearch-categorybox .sp-vmsearch-categories{position:absolute;width:100%;height:100%}.sp-vmsearch-categorybox .sp-vmsearch-categories{z-index:1}