.navbar {
  border: none;
  min-height: 45px;
}
.navbar-toggle {
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  outline: none;
}
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
.jb-navbar-brand .navbar-nav li .dropdown-menu {
  border-radius: 0px;
  border: 0;
  border-top: 5px solid #ffffff;
}
.navbar-nav li .dropdown-menu {
  display: block;
  border-radius: 4px 4px 4px;
  border: 0;
  border-top: 5px solid #0088cc;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  min-width: 200px;
  margin: -4px 2px 0;
  padding: 5px;
  text-align: left;
}
.navbar-nav li .dropdown-menu li {
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav li .dropdown-menu li:hover,
.navbar-nav li .dropdown-menu li:active,
.navbar-nav li .dropdown-menu li:focus {
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav li .dropdown-menu li:last-child {
  border-bottom: 0px;
}
.navbar-nav li .dropdown-menu li a {
  color: #777;
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
  text-transform: none;
}
.jb-mega-menu .mega-dropdown-inner {
  padding-bottom: 10px;
}
.jb-mega-menu li {
  border: none !important;
}
.header-nav-bar {
  padding: 0 10px 5px;
  background: #0088cc;
}
.header-nav-main {
  margin: 12px 0 0;
  min-height: 45px;
}
.jb-navbar-brand {
  background-color: #0088cc;
  border-color: #eeeeee;
}
.jb-navbar-brand .navbar-text {
  color: #777777;
}
.jb-navbar-brand .navbar-nav > li > a {
  color: #ffffff;
  border-radius: 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 2px;
  text-transform: uppercase;
  padding: 10px 13px;
}
.jb-navbar-brand .navbar-nav > li > a:hover,
.jb-navbar-brand .navbar-nav > li > a:focus {
  color: #0088cc;
  background-color: #ffffff;
}
.jb-navbar-brand .navbar-nav > li > .nav-header {
  color: #0088cc;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.jb-navbar-brand .navbar-nav > .active > a .caret {
  border-top-color: #0088cc !important;
  border-bottom-color: #0088cc !important;
}
.jb-navbar-brand .navbar-nav > .active > a,
.jb-navbar-brand .navbar-nav > .active > a:hover,
.jb-navbar-brand .navbar-nav > .active > a:focus {
  color: #0088cc;
  background-color: #ffffff;
}
.jb-navbar-brand .navbar-nav > .disabled > a,
.jb-navbar-brand .navbar-nav > .disabled > a:hover,
.jb-navbar-brand .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.jb-navbar-brand .navbar-toggle {
  border-color: #dddddd;
}
.jb-navbar-brand .navbar-toggle:hover,
.jb-navbar-brand .navbar-toggle:focus {
  background-color: #dddddd;
}
.jb-navbar-brand .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.jb-navbar-brand .navbar-collapse,
.jb-navbar-brand .navbar-form {
  border-color: #eeeeee;
}
.jb-navbar-brand .navbar-nav > .dropdown > a:hover .caret,
.jb-navbar-brand .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.jb-navbar-brand .navbar-nav > .open > a,
.jb-navbar-brand .navbar-nav > .open > a:hover,
.jb-navbar-brand .navbar-nav > .open > a:focus {
  color: #0088cc;
  background-color: #ffffff;
}
.jb-navbar-brand .navbar-nav > .open > a .caret,
.jb-navbar-brand .navbar-nav > .open > a:hover .caret,
.jb-navbar-brand .navbar-nav > .open > a:focus .caret {
  border-top-color: #0088cc !important;
  border-bottom-color: #0088cc !important;
}
.jb-navbar-brand .navbar-nav > .dropdown > a .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}
@media (max-width: 767px) {
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > li > a:hover,
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .active > a,
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .active > a:hover,
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0088cc;
  }
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .disabled > a,
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .jb-navbar-brand .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.jb-navbar-brand .navbar-link {
  color: #0088cc;
}
.jb-navbar-brand .navbar-link:hover {
  color: #333333;
}
.jb-style-4 .navbar-default .navbar-nav li a {
  border-radius: 0px;
}
.jb-style-4 .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
.shop-3 {
  background: #f3f5f4 !important;
}
.jb-style-5 .navbar-nav .no-padding a {
  padding-left: 0px !important;
}
.jb-style-5 .navbar-nav .active a {
  color: #1d2127;
}
.jb-style-5 .navbar-nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #006699;
  background: none;
}
.jb-style-5 .navbar-nav li a:hover,
.jb-style-5 .navbar-nav li a:focus {
  background: none;
}
.jb-style-5 .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #eeeeee;
  margin: 12px 0 0;
}
.navbar-default .navbar-brand {
  color: #0088cc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #006699;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #0088cc;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 13px;
  margin-left: 2px;
  text-transform: uppercase;
  outline: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > .nav-header {
  color: #0088cc;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default .navbar-nav > .active > a .caret {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #0088cc;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0088cc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0088cc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #0088cc;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #eeeeee;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}
.dropdown:hover .dropdown-toggle {
  *padding-bottom: 15px !important;
}
.header-nav-main-effect-1 > ul > li.dropdown .dropdown-menu li a {
  -webkit-theader-nav-main-effect-1ransition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, -5px, 0);
}
.header-nav-main-effect-1 > ul > li.dropdown:hover > .dropdown-menu li a {
  transform: translate3d(0, 0, 0);
}
.header-nav-main-effect-1 > ul > li.dropdown .dropdown-menu {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, -5px, 0);
}
.header-nav-main-effect-1 > ul > li.dropdown:hover > .dropdown-menu {
  transform: translate3d(0, 0, 0);
}