.tp-bannertimer {
  background: #0088cc !important;
  z-index: 5000 !important;
}
.jb-slideshow .tp-caption a {
  color: #ffffff !important;
}
.jb-slideshow .tp-caption a:hover {
  color: #ffffff !important;
}
.jb-slideshow .text-white {
  color: #fff !improtant;
}
.jb-slideshow iframe {
  border: none;
}
.jb-slideshow .blackboard-text {
  color: #bab9be;
  font-family: 'Shadows Into Light', cursive;
}
.jb-slideshow .tp-bullets.preview2 .bullet {
  display: flex;
  margin: 5px;
}
.jb-slideshow .tparrows.navbar-old {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 1000;
  border-radius: 6px;
}
.jb-slideshow .tparrows.navbar-old:hover {
  background: #000 !important;
}
.jb-slideshow .tparrows.navbar-old:before {
  font-family: "revicons";
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}
.jb-slideshow .tparrows.navbar:before {
  font-family: "revicons";
  font-size: 35px;
  color: #fff;
  display: block;
  line-height: 40px;
  text-align: center;
}
.jb-slideshow .tparrows.default {
  background-image: none;
}
.jb-slideshow .tparrows.tp-leftarrow:before {
  content: '\e824';
}
.jb-slideshow .tparrows.tp-rightarrow:before {
  content: '\e825';
}
.jb-slideshow .tp-caption-overlay-primary {
  background: #0088cc;
}
.jb-slideshow .tp-caption-overlay-opacity {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
}
.twoxtwo {
  background: rgba(0, 0, 0, 0.75) !important;
}
.twoxtwowhite {
  background: rgba(255, 255, 255, 0.75) !important;
}
.tp-dottedoverlay {
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.jb-photography-1 .jb-photography {
  background: #ffffff;
  padding: 10px 0px;
}
.jb-photography-1 .jb-photography .logo .logo-img {
  margin: 12px 12px 12px 0;
  width: 184px;
  height: 48px;
}
.jb-photography-1 .jb-photography .logo span {
  display: none;
}
.jb-photography-1 .jb-photography .top-social {
  padding: 15px 0px 15px 15px;
}
.jb-photography-1 .jb-photography .top-social .social-icons li {
  box-shadow: none;
}
.jb-photography-1 .jb-photography .top-social .social-icons li a {
  border: 2px solid #0088cc;
  height: 34px;
  width: 34px;
}
.jb-photography-1 .jb-photography .navbar-default .navbar-nav li {
  position: relative;
}
.jb-photography-1 .jb-photography .navbar-default .navbar-nav li a {
  background-color: #ffffff;
  border-radius: 0px;
  color: #0088cc;
}
.jb-photography-1 .jb-photography .navbar-default .navbar-nav li a:hover {
  color: #0088cc;
}
.jb-photography-1 .jb-photography .navbar-default .navbar-nav li a:hover .caret {
  border-bottom-color: #0088cc !important;
  border-top-color: #0088cc !important;
}
.jb-photography-1 .jb-photography .navbar-default .navbar-nav > .open > a .caret,
.jb-photography-1 .jb-photography .navbar-default .navbar-nav > .open > a:hover .caret,
.jb-photography-1 .jb-photography .navbar-default .navbar-nav > .open > a:focus .caret {
  border-bottom-color: #0088cc !important;
  border-top-color: #0088cc !important;
}
.jb-photography-1 .jb-photography .dropdown > a .caret {
  border-top-color: #0088cc !important;
  border-bottom-color: #0088cc !important;
}
.jb-photography-1 .jb-photography .dropdown-menu {
  background: #0088cc;
  border: none;
  border-radius: 0px;
}
.jb-photography-1 .jb-photography .dropdown-menu .mega-dropdown-inner li {
  border-bottom: none;
}
.jb-photography-1 .jb-photography .dropdown-menu .mega-dropdown-inner li a {
  background: #0088cc;
  color: #999999;
}
.jb-photography-1 .jb-photography .dropdown-menu .mega-dropdown-inner li a:hover {
  color: #ffffff;
}
.jb-photography-1 h1.sppb-addon-title {
  margin: 0px !important;
  color: #ffffff;
}
.jb-photography-1 .our-services .feature-box {
  padding: 20px 10px;
}
.jb-photography-1 .our-services .feature-box:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.jb-photography-1 .our-services .feature-box.hidden-vertical-line:after {
  content: none;
}
.jb-photography-1 .our-services .feature-box .feature-box-icon {
  background: transparent;
  width: 100px;
  position: relative;
  height: 100px;
  border: 2px solid #000;
  border-radius: 100%;
  padding: 5px;
  margin-right: 20px;
  overflow: hidden;
  z-index: 1;
}
.jb-photography-1 .our-services .feature-box .feature-box-icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 6px solid #FFF;
  border-radius: 100%;
  z-index: 1;
}
.jb-photography-1 .our-services .feature-box .feature-box-icon img {
  position: absolute;
  width: 113%;
  top: 50%;
  left: 50%;
  z-index: 0;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.jb-photography-1 .why-choose-us .feature-box {
  padding: 20px 10px;
}
.jb-photography-1 .why-choose-us .feature-box .feature-box-icon {
  float: none;
  margin: 0;
}
.jb-photography-1 .why-choose-us .feature-box .feature-box-info {
  padding: 0;
}
.jb-photography-1 .why-choose-us .feature-box p {
  color: #b8b5b1;
}
.jb-photography-1 .award-item {
  display: inline-table;
  margin: 0 15px;
}
.jb-photography-1 .award-item img.border-rounded {
  border-radius: 100%;
}
.jb-photography-1 .award-item p {
  max-width: 100%;
  margin: 15px auto 10px;
  color: #ffffff;
}
.jb-photography-1 .jb-copyright {
  margin-top: 0px;
}
.jb-onepage .t3-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.jb-onepage .t3-header .social-icons {
  margin: 30px 0px 0px 10px;
}
.jb-onepage .navbar-default {
  margin: 0px;
}
.jb-onepage .navbar-default .header-nav-main {
  margin: 0px;
}
.jb-onepage .navbar-default .navbar-nav .active a {
  color: #0088cc !important;
}
.jb-onepage .navbar-default .navbar-nav li {
  position: relative;
}
.jb-onepage .navbar-default .navbar-nav li a {
  background-color: #ffffff !important;
  border-radius: 0px;
  color: #444;
}
@media (max-width: 767px) {
  .jb-onepage .navbar-default .navbar-nav li a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .jb-onepage .navbar-default .navbar-nav li a {
    padding: 15px 13px 15px;
  }
}
@media (min-width: 992px) {
  .jb-onepage .navbar-default .navbar-nav li a {
    padding: 65px 13px 15px;
  }
}
@media (min-width: 1200px) {
  .jb-onepage .navbar-default .navbar-nav li a {
    padding: 65px 13px 15px;
  }
}
.jb-onepage .navbar-default .navbar-nav li a:hover {
  color: #0088cc;
}
.jb-onepage .navbar-default .navbar-nav li a:before {
  content: "";
  height: 5px;
  left: -5px;
  opacity: 0;
  position: absolute;
  top: -16px;
  width: 100%;
  background: #0088cc;
}
.jb-onepage .navbar-default .dropdown:hover .dropdown-toggle {
  background: transparent;
  color: #0088cc !important;
}
.jb-hotal h1,
.jb-hotal h2,
.jb-hotal h3 {
  font-weight: 900;
  letter-spacing: -1px;
}
.jb-hotal h1 strong,
.jb-hotal h2 strong,
.jb-hotal h3 strong {
  font-weight: 900;
}
.jb-hotal h4,
.jb-hotal h5,
.jb-hotal h6 {
  font-weight: 800;
  letter-spacing: -1px;
}
.jb-hotal h4 strong,
.jb-hotal h5 strong,
.jb-hotal h6 strong {
  font-weight: 700;
}
.jb-hotal .header-top-custom {
  background: url("../../templates/porto/images/bg/pattern.jpg");
}
.jb-hotal .header-top-custom .col-address,
.jb-hotal .header-top-custom .col-phone,
.jb-hotal .header-top-custom .col-share {
  margin: 15px 0px 0px;
}
.jb-hotal .header-top-custom .icons {
  font-size: 28px;
  float: left;
  margin-right: 9px;
  position: relative;
  top: 9px;
}
.jb-hotal .header-top-custom .icons.icon-location-pin {
  top: 6px;
}
.jb-hotal .header-top-custom .icons.icon-share {
  top: 5px;
}
.jb-hotal .header-top-custom label {
  display: block;
  font-size: 14px;
  opacity: 0.5;
  color: #FFF;
  padding: 0;
  margin: 0 0 -5px;
  font-weight: normal;
}
.jb-hotal .header-top-custom strong {
  display: block;
  font-size: 17px;
  color: #FFF;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.jb-hotal .header-top-custom .social-icons li {
  box-shadow: none;
  margin-right: 10px;
}
.jb-hotal .header-top-custom .social-icons li a {
  background: transparent !important;
  border-radius: 0;
  color: #fff !important;
  height: auto;
  line-height: normal;
  width: auto;
  font-size: 12px;
  text-transform: uppercase;
}
.jb-hotal .header-top-custom .social-icons li a .fa {
  font-size: 14px;
  margin-right: 2px;
  position: relative;
  top: 1px;
}
.jb-hotal .header-top-custom .social-icons li a:hover {
  opacity: 0.7;
}
.jb-hotal .jb-hotal-header {
  background: #ffffff;
  z-index: 1001;
}
.jb-hotal .jb-hotal-header .logo .logo-img {
  margin: 32px 0px 32px 0px;
  width: 192px;
  height: 55px;
}
.jb-hotal .jb-hotal-header .logo span {
  display: none;
}
.jb-hotal .jb-hotal-header .off-canvas-toggle {
  margin: 32px 20px;
}
.jb-hotal .navbar-default {
  margin: 0px;
}
.jb-hotal .navbar-default .navbar-nav > .active > a {
  background-color: transparent !important;
  color: #0088cc !important;
}
.jb-hotal .navbar-default .navbar-nav > .active > a:hover,
.jb-hotal .navbar-default .navbar-nav > .active > a:focus {
  background-color: #0088cc !important;
  color: #ffffff !important;
}
.jb-hotal .navbar-default .navbar-nav li a {
  padding: 50px 23px;
  border-radius: 0px;
  color: #555555;
}
.jb-hotal .navbar-default .navbar-nav li a:hover {
  color: #ffffff !important;
  background: #0088cc;
}
.jb-hotal .navbar-default .navbar-nav .open a {
  background: #0088cc !important;
  color: #ffffff !important;
}
.jb-hotal .navbar-default .dropdown-menu {
  background: #2d529f;
  border-radius: 0px;
  border-color: #2d529f;
}
.jb-hotal .navbar-default .dropdown-menu li a {
  border-bottom-color: #335cb3 !important;
  color: #ffffff;
}
.jb-hotal .modal-video img {
  width: 90px;
  height: 90px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.jb-hotal .modal-video img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.jb-hotal .testimonial.testimonial-style-custom {
  text-align: center;
}
.jb-hotal .testimonial.testimonial-style-custom blockquote {
  padding: 70px 40px 40px;
}
.jb-hotal .testimonial.testimonial-style-custom blockquote p {
  color: #777;
  font-family: Georgia,serif;
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
}
.jb-hotal .testimonial.testimonial-style-custom blockquote:before {
  font-size: 80px;
  left: 50%;
  margin-left: -18px;
  right: auto;
  top: 20px;
}
.jb-hotal .testimonial.testimonial-style-custom blockquote:after {
  display: none;
}
.jb-hotal .testimonial.testimonial-style-custom .testimonial-arrow-down {
  margin-left: 46%;
  position: relative;
}
.jb-hotal .testimonial.testimonial-style-custom .testimonial-author {
  border-top: 0;
}
.jb-hotal .testimonial.testimonial-style-custom .testimonial-author p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.jb-hotal .testimonial.testimonial-style-custom .testimonial-author p strong {
  color: #FFF;
  text-transform: uppercase;
}
.jb-hotal .testimonial.testimonial-style-custom .testimonial-author p span {
  color: #FFF;
  opacity: 0.5;
}
.jb-hotal .thumb-info {
  border: none;
  border-radius: 0px;
}
.jb-hotal .subscription h2 {
  margin: 0;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 33px;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form {
  margin: initial;
  width: 100%;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form .acyfield_email {
  float: none;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form td {
  padding-right: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form label {
  font-size: 16px;
  color: #9E9E9E;
  line-height: 29px;
  margin: 0;
  padding: 0;
  display: block;
  font-weight: normal;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form .inputbox {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-image: none;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  box-shadow: none !important;
  color: #ffffff;
  border-radius: 0px;
  height: 55px;
  text-transform: uppercase;
}
.jb-hotal .subscription .acymailing_module_form .acymailing_form .btn-primary {
  height: 55px;
  outline: none;
  color: #ffffff;
  width: 100%;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.jb-hotal .subscription ul {
  display: inline-block;
  margin: 0;
  padding: 13px;
}
.jb-hotal .subscription ul li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
.jb-hotal .subscription ul li a {
  display: block;
  font-size: 24px;
  color: #F4F4F4;
  transition: all 0.5s ease;
}
.jb-hotal .subscription ul li a:hover {
  color: #fbca00;
}
.jb-hotal .t3-footer {
  background: #0088cc;
  border-top: none;
  padding: 26px 0 0;
}
.jb-hotal .t3-footer .t3-copyright {
  background: url("../../templates/porto/images/bg/pattern.jpg");
  border-top: none;
}
.jb-hotal .t3-footer .t3-copyright .jb-footer-menu {
  text-align: left;
}
.jb-hotal .t3-footer .t3-copyright .jb-footer-menu .nav-pills li a {
  font-size: 14px;
  opacity: 0.5;
}
.jb-hotal .t3-footer .t3-copyright .copyright {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
}
.jb-hotal .footer-info .icons {
  color: #FFF;
  font-size: 18px;
  display: block;
}
.jb-hotal .footer-info label {
  color: #FFF;
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  opacity: 0.5;
  padding: 0;
}
.jb-hotal .footer-info strong {
  color: #FFF;
  display: block;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.jb-hotal .footer-info .social-icons li {
  box-shadow: none;
  margin-right: 10px;
}
.jb-hotal .footer-info .social-icons li a {
  background: transparent !important;
  border-radius: 0;
  color: #fff !important;
  height: auto;
  line-height: normal;
  width: auto;
  font-size: 12px;
  text-transform: uppercase;
}
.jb-hotal .footer-info .social-icons li a .fa {
  font-size: 14px;
  margin-right: 2px;
  position: relative;
  top: 1px;
}
.jb-hotal .footer-info .social-icons li a:hover {
  opacity: 0.7;
}
.jb-hotal .page-header {
  background: #0088cc;
  border: none;
}
.jb-hotal .page-header h1 {
  border: none;
  margin: 0px;
  padding: 0px;
}
.jb-hotal .tp-bullets.simplebullets.navbar {
  background: none;
  border: none;
}
.jb-hotal .tp-bullets.simplebullets.navbar .bullet {
  background: none;
}
.jb-hotal .tp-bullets.simplebullets.navbar .selected {
  background: #ffffff;
}
.jb-hotal .bullet {
  background-color: rgba(0, 0, 0, 0);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff inset;
  height: 16px;
  overflow: hidden;
  position: absolute;
  transition: background 0.3s ease 0s;
  width: 16px;
}
.jb-hotal .bullet:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.jb-hotal .bullet::after {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 0 1px #fff;
  content: " ";
  height: 0;
  left: 0;
  position: absolute;
  transition: height 0.3s ease 0s;
  width: 100%;
}
.rev_slider .slotholder:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  *background: rgba(0, 0, 0, 0.25);
}
.jb-medical .header-top {
  padding: 0px;
}
.jb-medical .header-nav-top .nav > li > a,
.jb-medical .header-nav-top .nav > li > span {
  color: #999;
  display: inline-block;
  font-size: 0.9em;
  padding: 6px 10px;
}
.jb-medical .header-nav-top .nav > li > a .fa,
.jb-medical .header-nav-top .nav > li > a .icons,
.jb-medical .header-nav-top .nav > li > span .fa,
.jb-medical .header-nav-top .nav > li > span .icons {
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.jb-medical .header-top-custom .header-nav-top .nav > li span .icons {
  color: #4c4c4c !important;
}
.jb-medical .header-top-custom .header-nav-top .nav > li:nth-child(2) span {
  border-left: 1px solid #d1dee9;
  border-right: 1px solid #d1dee9;
}
.jb-medical .header-top-custom .header-nav-top .nav > li > span,
.jb-medical .header-top-custom .header-nav-top .nav > li a {
  color: #8ea0ae !important;
}
.jb-medical .jb-medical-header {
  background: #ffffff;
  border-bottom: 1px solid transparent;
  padding: 20px 0;
  z-index: 1001;
}
.jb-medical .jb-medical-header .logo .logo-img {
  margin: 12px 12px 12px 0;
  width: 131px;
  height: 40px;
}
.jb-medical .jb-medical-header .logo span {
  display: none;
}
.jb-medical .navbar-default .navbar-nav > .active > a {
  background-color: transparent !important;
  color: #2d529f !important;
}
.jb-medical .navbar-default .navbar-nav > .active > a:hover,
.jb-medical .navbar-default .navbar-nav > .active > a:focus {
  background-color: #2d529f !important;
  color: #ffffff !important;
}
.jb-medical .navbar-default .navbar-nav li .dropdown-menu li {
  border-bottom-color: #335CB3 !important;
  background: #335CB3 !important;
}
.jb-medical .navbar-default .navbar-nav li .dropdown-menu li a:hover {
  background: #335CB3 !important;
}
.jb-medical .navbar-default .navbar-nav li a {
  border-radius: 0px;
  color: #2d529f;
}
.jb-medical .navbar-default .navbar-nav li a:hover {
  color: #ffffff !important;
  background: #2d529f;
}
.jb-medical .navbar-default .navbar-nav .open a {
  background: #2d529f !important;
  color: #ffffff !important;
}
.jb-medical .navbar-default .dropdown-menu {
  background: #2d529f;
  border-radius: 0px;
  border-color: #2d529f;
}
.jb-medical .navbar-default .dropdown-menu li a {
  color: #ffffff;
}
.jb-wedding {
  overflow-x: hidden !important;
}
.jb-wedding .alternative-font {
  font-family: 'Great Vibes', cursive;
}
.jb-wedding .slider-border {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 16px;
  background-image: url(../../templates/porto/images/slider-border-bg.png);
  background-repeat: repeat-x;
  z-index: 30;
}
.jb-wedding .sppb-section-title .sppb-title-subheading {
  max-width: 65% !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.jb-wedding .custom-font-size-2 .sppb-title-heading {
  font-size: 7em !important;
  line-height: 100px !important;
}
.jb-wedding .sppb-title-heading {
  font-family: 'Great Vibes', cursive;
  font-size: 4em !important;
  color: #0088cc;
}
.jb-wedding .text-white .sppb-title-heading {
  color: #ffffff;
}
.jb-wedding .custom-overlay-1:before {
  background: url(../../templates/porto/images/custom-overlay-1.png) repeat scroll 0 0 transparent !important;
  z-index: -4;
}
.jb-wedding .header-column-center {
  text-align: center;
}
.jb-wedding .header-column-center .header-logo {
  width: 100% !important;
  padding: 9px 0;
}
.jb-wedding .header-column-center .header-logo .header-logo-text {
  display: inline-block;
  font-family: 'Great Vibes', cursive !important;
  font-size: 36px;
  line-height: 36px;
  padding: 15px 0 15px;
}
.jb-wedding .header-nav-main {
  position: relative;
  float: none;
}
.jb-wedding .header-nav-main:before {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 50%;
  overflow: hidden;
  border-top: 1px solid #e1e4e9;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.jb-wedding .header-nav-main .t3-navbar {
  float: none;
  text-align: center;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav {
  float: none;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav .active:before {
  content: '\f004';
  display: block;
  font-family: 'FontAwesome';
  position: absolute;
  top: 2px;
  left: 50%;
  color: #ef3447;
  line-height: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav .active a {
  color: #0088cc !important;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav li {
  display: inline-table;
  float: none;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav li a {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav li a:hover,
.jb-wedding .header-nav-main .t3-navbar .navbar-nav li a:focus {
  background: transparent;
  color: #0088cc;
}
.jb-wedding .header-nav-main .t3-navbar .navbar-nav li a:active {
  color: #0088cc;
  background: transparent;
}
.jb-wedding .testimonials .testimonial blockquote:before,
.jb-wedding .testimonials .testimonial blockquote:after {
  -webkit-filter: brightness(7);
  filter: brightness(7);
}
.jb-wedding .testimonials .testimonial blockquote p {
  font-style: normal;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
}
.jb-wedding .testimonial.testimonial-with-quotes blockquote:before {
  content: '';
  background: url(../../templates/porto/images/custom-red-quotes.png);
  background-size: 100% 100%;
  width: 36px;
  height: 22px;
}
.jb-wedding .testimonial.testimonial-with-quotes blockquote:after {
  content: '';
  background: url(../../templates/porto/images/custom-red-quotes.png);
  background-size: 100% 100%;
  width: 36px;
  height: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.jb-wedding .testimonial-author strong {
  font-weight: 300 !important;
  font-size: 2.2rem !important;
  color: #ffffff !important;
}
.jb-wedding .testimonial-author span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff !important;
  margin-top: 10px;
}
.jb-wedding .history-item .thumb-info {
  border-radius: 0px;
  border: none;
}
.jb-wedding .history-item .thumb-info img {
  border-radius: 0px;
}
.jb-wedding .history-item .thumb-info .thumb-info-wrapper {
  border-radius: 0px;
}
.jb-wedding .wedding-testimonials .test {
  background: #ffffff;
  padding: 10px;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav {
  position: absolute !important;
  bottom: 10% !important;
  right: 15% !important;
  top: initial !important;
  width: auto !important;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-prev,
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-next {
  background: #76cbd9 !important;
  border-radius: 100% !important;
  border-color: transparent !important;
  width: 40px;
  height: 40px;
  position: unset;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-prev:active,
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-next:active {
  background: #76cbd9 !important;
  border-color: transparent !important;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-prev:hover,
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-next:hover {
  border-color: transparent !important;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-prev {
  color: #FFF !important;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-prev:before {
  content: "\f104";
  font-size: 2.2rem;
  line-height: 1.4;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-next {
  color: #FFF !important;
}
.jb-wedding .wedding-testimonials .test .owl-carousel .owl-nav .owl-next:before {
  content: "\f105";
  font-size: 2.2rem;
  line-height: 1.4;
}
.jb-wedding .wedding-testimonials .guestbook-messages {
  position: relative;
  padding: 55px 37px;
  border: 1px solid #fed0d2;
  margin: 0px;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial {
  margin-bottom: 5px !important;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial p {
  font-family: 'Open Sans', Arial, sans-serif !important;
  line-height: 1.7;
  font-style: normal;
  text-align: left;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial .testimonial-author p strong {
  color: #3e415c !important;
  font-size: 14px !important;
  font-weight: bold !important;
  text-align: left;
  text-transform: uppercase;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial blockquote p {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #fed0d2;
  font-size: 14px;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial blockquote:before {
  content: '';
  background: url(../../templates/porto/images/custom-red-quotes.png);
  background-size: 100% 100%;
  width: 36px;
  height: 22px;
}
.jb-wedding .wedding-testimonials .guestbook-messages .testimonial blockquote:after {
  content: '';
  background: url(../../templates/porto/images/custom-red-quotes.png);
  background-size: 100% 100%;
  width: 36px;
  height: 22px;
  bottom: -15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.jb-wedding .blog-list .thumb-info {
  border: none;
  border-radius: 0px;
}
.jb-wedding .blog-list .thumb-info .thumb-info-wrapper {
  border-radius: 0px;
}
.jb-wedding .blog-list .thumb-info .thumb-info-wrapper img {
  border-radius: 0px;
}
.jb-wedding .blog-list .blog-item-content h3 {
  margin-top: 0px;
  font-weight: 400;
  font-size: 1.8em;
  letter-spacing: normal;
  line-height: 24px;
}
.jb-wedding .blog-list .blog-item-content .author {
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  display: block;
  width: 100%;
  color: #62c3d3 !important;
}
.jb-wedding .rsvp input,
.jb-wedding .rsvp select {
  border-color: #ebe8e0;
  height: 51px;
  width: 100%;
}
.jb-wedding .content-grid .content-grid-item {
  min-height: 160px;
  border: 1px solid #e4e4e4;
  border-left: none;
}
.jb-wedding .content-grid .content-grid-item:first-child {
  border-left: 1px solid #e4e4e4;
}
.jb-wedding .content-grid .content-grid-item:before,
.jb-wedding .content-grid .content-grid-item:after {
  content: none;
}
.jb-wedding .content-grid .content-grid-item .img-responsive {
  height: 100% !important;
  max-height: 100%;
}
.jb-restaurant .header-nav-top .nav > li > a,
.jb-restaurant .header-nav-top .nav > li > span {
  color: #999;
  display: inline-block;
  font-size: 0.9em;
  padding: 6px 10px;
}
.jb-restaurant .header-nav-top .nav > li > a .fa,
.jb-restaurant .header-nav-top .nav > li > a .icons,
.jb-restaurant .header-nav-top .nav > li > span .fa,
.jb-restaurant .header-nav-top .nav > li > span .icons {
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.jb-restaurant .header-top-custom .header-nav-top .nav > li span .icons {
  color: #4c4c4c !important;
}
.jb-restaurant .jb-medical-header {
  background: #ffffff;
  border-bottom: 1px solid transparent;
  padding: 20px 0;
  z-index: 1001;
}
.jb-restaurant .jb-medical-header .logo .logo-img {
  margin: 12px 12px 12px 0;
  width: 131px;
  height: 40px;
}
.jb-restaurant .jb-medical-header .logo span {
  display: none;
}
.jb-restaurant .navbar-default .navbar-nav > .active > a {
  background-color: transparent !important;
  color: #e3a539 !important;
}
.jb-restaurant .navbar-default .navbar-nav > .active > a:hover,
.jb-restaurant .navbar-default .navbar-nav > .active > a:focus {
  background-color: #e3a539 !important;
  color: #ffffff !important;
}
.jb-restaurant .navbar-default .navbar-nav li a {
  border-radius: 0px;
  color: #e3a539;
}
.jb-restaurant .navbar-default .navbar-nav li a:hover {
  color: #ffffff !important;
  background: #e3a539;
}
.jb-restaurant .navbar-default .navbar-nav .open a {
  background: #e3a539 !important;
  color: #ffffff !important;
}
.jb-restaurant .navbar-default .dropdown-menu {
  background: #e3a539;
  border-radius: 0px;
  border-color: #2d529f;
}
.jb-restaurant .navbar-default .dropdown-menu li a {
  border-bottom-color: #335cb3 !important;
  color: #ffffff;
}
.jb-law .jb-header {
  border-top: 5px solid #ededed;
}
.jb-law .header-column {
  vertical-align: middle;
}
.jb-law .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .jb-law .logo {
    text-align: left;
  }
}
.jb-law .logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.jb-law .logo-image img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  height: 54px;
  width: 164px;
}
@media (max-width: 767px) {
  .jb-law .logo-image img {
    top: 0px;
    margin: 10px 0px;
  }
}
@media (min-width: 768px) {
  .jb-law .logo-image img {
    top: 24px;
  }
}
@media (min-width: 992px) {
  .jb-law .logo-image img {
    top: 24px;
  }
}
@media (min-width: 1200px) {
  .jb-law .logo-image img {
    top: 24px;
  }
}
.jb-law .logo-image span,
.jb-law .logo-image small {
  display: none;
}
.jb-law .header-column .header-extra-info {
  margin: 0;
}
.jb-law .header-column .header-extra-info {
  float: right;
  list-style: outside none none;
  padding: 0;
}
.jb-law .header-column .header-extra-info > li {
  margin-left: -4px;
}
.jb-law .header-column .header-extra-info li {
  display: inline-block;
}
.jb-law .header-column .header-extra-info .feature-box.feature-box-call {
  border-right: 1px solid #e9e9e9;
}
.jb-law .header-column .header-extra-info .feature-box.feature-box-call {
  margin-right: 20px;
  padding-right: 30px;
}
.jb-law .header-column .header-extra-info .feature-box {
  min-height: 110px;
}
.jb-law .header-column .header-extra-info .feature-box .feature-box-icon {
  margin-right: -10px;
  width: 40px;
}
.jb-law .header-column .header-extra-info .feature-box .feature-box-icon,
.jb-law .header-column .header-extra-info .feature-box .feature-box-info {
  position: relative;
  top: 40px;
}
.jb-law .header-column .header-extra-info .feature-box .feature-box-info {
  padding-left: 45px;
}
.jb-law .header-column .header-extra-info .feature-box .feature-box-icon,
.jb-law .header-column .header-extra-info .feature-box .feature-box-info {
  position: relative;
  top: 40px;
}
.jb-law .header-nav-main {
  margin: 0;
}
.jb-law .header-nav-bar {
  padding: 0;
}
.jb-law .jb-navbar-brand .navbar-nav > li > a {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 20px 21px;
  margin-left: 0px;
}
.jb-law .search input {
  background: rgba(0, 0, 0, 0.07000000000000001) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  padding-left: 22px;
  width: 249px;
  border-radius: 0px;
}
.jb-law .search .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 0.4;
  text-transform: uppercase;
}
.header-column .header-nav-top .nav li {
  display: inline-block;
}
.jb-modern .t3-header-wrap {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  line-height: 0px;
}
.jb-modern .t3-header-wrap .jb-header-default {
  color: #ffffff;
}
.jb-modern .t3-header-wrap .jb-header-default:before {
  backface-visibility: hidden;
  background: #000 none repeat scroll 0 0;
  border-bottom: 0 none;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  perspective: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  transition: opacity 0.3s ease 0s;
  width: 100%;
}
.jb-modern .t3-header-wrap .jb-header-default .logo .logo-img {
  width: 131px;
  height: 40px;
}
@media (max-width: 767px) {
  .jb-modern .t3-header-wrap .jb-header-default .logo .logo-img {
    margin: 18px;
  }
}
@media (min-width: 768px) {
  .jb-modern .t3-header-wrap .jb-header-default .logo .logo-img {
    margin: 20px 0;
  }
}
@media (min-width: 992px) {
  .jb-modern .t3-header-wrap .jb-header-default .logo .logo-img {
    margin: 22px 0px;
  }
}
@media (min-width: 1200px) {
  .jb-modern .t3-header-wrap .jb-header-default .logo .logo-img {
    margin: 22px 0px;
  }
}
.jb-modern .t3-header-wrap .jb-header-default .logo span {
  display: none;
}
.jb-modern .t3-header-wrap .social a {
  color: #ffffff;
}
.jb-modern .t3-header-wrap .social a:hover {
  color: #0088cc;
}
.jb-modern .sticky .logo .logo-img {
  width: 131px !important;
  height: 40px !important;
}
@media (max-width: 767px) {
  .jb-modern .sticky .logo .logo-img {
    margin: 18px !important;
  }
}
@media (min-width: 768px) {
  .jb-modern .sticky .logo .logo-img {
    margin: 20px 0 !important;
  }
}
@media (min-width: 992px) {
  .jb-modern .sticky .logo .logo-img {
    margin: 22px 0px;
  }
}
@media (min-width: 1200px) {
  .jb-modern .sticky .logo .logo-img {
    margin: 22px 0px !important;
  }
}
.jb-modern .sticky .jb-header-default:before {
  opacity: 1;
}
.jb-modern .navbar-default {
  background: transparent;
  margin: 0px;
}
.jb-modern .navbar-default .navbar-nav > .active > a {
  background-color: transparent !important;
  color: #0088cc !important;
}
.jb-modern .navbar-default .navbar-nav > .active > a:hover,
.jb-modern .navbar-default .navbar-nav > .active > a:focus {
  background-color: #0088cc !important;
  color: #ffffff !important;
}
.jb-modern .navbar-default .navbar-nav li a {
  color: #ffffff !important;
  padding: 35px 13px 30px;
  border-radius: 0px;
}
.jb-modern .navbar-default .navbar-nav li a:hover {
  color: #ffffff !important;
  background: #0088cc;
}
.jb-modern .top-social li {
  box-shadow: none;
}
@media (max-width: 767px) {
  .jb-modern .top-social li {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .jb-modern .top-social li {
    padding: 24px 0px;
  }
}
@media (min-width: 992px) {
  .jb-modern .top-social li {
    padding: 29px 1px 15px 0px;
  }
}
@media (min-width: 1200px) {
  .jb-modern .top-social li {
    padding: 29px 1px 15px 0px;
  }
}
.jb-modern .top-social li a {
  background: transparent;
  color: #ffffff !important;
}
.jb-modern .off-canvas-toggle {
  margin: 18px;
}
.header-top {
  padding: 8px 0;
  position: relative;
  z-index: 4;
}
.header-top .t3-module {
  margin: 0px;
}
.header-top .t3-module p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 37px;
  float: left;
}
.topbar-dark {
  background: #484a51;
  border-bottom: #3c3e44;
  color: #ffffff;
}
.topbar-dark p {
  color: #ffffff;
}
.topbar-dark .head-search label {
  display: none;
}
.topbar-dark .head-search .search {
  position: relative;
}
.topbar-dark .head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .topbar-dark .head-search .search {
    float: right;
  }
}
.topbar-dark .head-search .form-control {
  backface-visibility: hidden;
  border-radius: 20px;
  font-size: 0.9em;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
  perspective: 1000px;
  transform: translate3d(0px, 0px, 0px);
  transition: width 0.3s ease 0s;
  width: 170px;
}
.topbar-orange {
  background: #E4E6ED;
  border-bottom: #E4E6ED;
  color: #999999;
}
.topbar-orange p {
  color: #555555;
}
.topbar-orange .head-search label {
  display: none;
}
.topbar-orange .head-search .search {
  position: relative;
}
.topbar-orange .head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .topbar-orange .head-search .search {
    float: right;
  }
}
.topbar-orange .head-search .form-control {
  backface-visibility: hidden;
  border-radius: 20px;
  font-size: 0.9em;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
  perspective: 1000px;
  transform: translate3d(0px, 0px, 0px);
  transition: width 0.3s ease 0s;
  width: 170px;
}
.topbar-gray {
  background: #f6f6f6;
  border-bottom: 1px solid #ededed;
}
.topbar-dark2 {
  background: #3a3a3a;
  border-bottom: 1px solid #ededed;
  color: #ffffff;
}
.topbar-dark2 p {
  color: #ffffff;
}
.jb-topbar-brand {
  background-color: #0088cc;
  color: #ffffff;
  height: auto;
  line-height: 42px;
}
@media (max-width: 767px) {
  .jb-topbar-brand {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .jb-topbar-brand {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .jb-topbar-brand {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-brand {
    font-size: 12px;
  }
}
.jb-topbar-brand .tp-no-border li a {
  border-right: none !important;
}
.jb-topbar-brand .t3-module {
  margin-bottom: 0px;
}
.jb-topbar-brand .nav > li {
  display: inline-block;
  margin-top: 0px;
}
.jb-topbar-brand .nav > li a,
.jb-topbar-brand .nav > li span {
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #ccc;
  display: inline-block;
  line-height: 1;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 767px) {
  .jb-topbar-brand .nav > li a,
  .jb-topbar-brand .nav > li span {
    padding: 3px 4px;
  }
}
@media (min-width: 768px) {
  .jb-topbar-brand .nav > li a,
  .jb-topbar-brand .nav > li span {
    padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 992px) {
  .jb-topbar-brand .nav > li a,
  .jb-topbar-brand .nav > li span {
    padding: 0px 10px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-brand .nav > li a,
  .jb-topbar-brand .nav > li span {
    padding: 0px 10px 0px 15px;
  }
}
.jb-topbar-brand .nav > li a:hover,
.jb-topbar-brand .nav > li span:hover,
.jb-topbar-brand .nav > li a:focus,
.jb-topbar-brand .nav > li span:focus,
.jb-topbar-brand .nav > li a:active,
.jb-topbar-brand .nav > li span:active {
  background: none;
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.jb-topbar-brand .nav > li.active a {
  background: none;
  text-decoration: none;
  outline: none;
  color: #0088cc;
}
.jb-topbar-brand .nav > li:last-child a {
  border-right: 0;
}
.jb-topbar-brand i {
  font-size: 14px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .jb-topbar-brand .t3-topbar-1 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .jb-topbar-brand .t3-topbar-1 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .jb-topbar-brand .t3-topbar-1 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-brand .t3-topbar-1 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .jb-topbar-brand .t3-topbar-2 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .jb-topbar-brand .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .jb-topbar-brand .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-brand .t3-topbar-2 {
    text-align: right;
  }
}
.jb-topbar-brand .t3-topbar-2 .nav-pills {
  display: inline-block;
}
.jb-topbar-brand .tp-share ul {
  padding-left: 0px;
  margin: 0px;
}
.jb-topbar-brand .tp-share ul li {
  list-style: none;
  float: left;
  font-size: 14px;
  border-right: 1px solid #ededed;
}
.jb-topbar-brand .tp-share ul li a {
  padding: 8px 12px;
  color: #999999;
}
.jb-topbar-brand #contact-details ul {
  padding: 0px;
  margin: 0px;
}
.jb-topbar-brand #contact-details ul li {
  list-style: none;
  float: left;
  margin: 0px 10px 0px 0px;
}
.jb-topbar-brand #contact-details ul li a {
  color: #ccc;
}
.jb-topbar-brand #contact-details ul li a:hover {
  color: #0088cc;
}
.jb-topbar-brand #contact-details ul li i,
.jb-topbar-brand #contact-details ul li em {
  margin-right: 10px;
  border: 1px solid #616161;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  height: 25px;
  line-height: 22px;
  margin-right: 9px;
  position: relative;
  text-align: center;
  width: 25px;
}
.jb-topbar-brand .jb-add div,
.jb-topbar-brand .jb-add span {
  display: inline-block;
}
.jb-topbar-brand .jb-add .jb-icon-location-2 {
  margin-right: 5px;
}
.jb-topbar-brand .jb-add .jb-icon-location-2:before {
  content: "\e6a4";
  display: inline-block;
  font-family: "font-icons";
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: #ffffff;
  margin-right: 5px;
}
.jb-topbar-brand .jb-add .jb-icon-mobile-1 {
  margin-right: 5px;
}
.jb-topbar-brand .jb-add .jb-icon-mobile-1:before {
  content: "\e010";
  display: inline-block;
  font-family: "Simple-Line-Icons";
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: #ffffff;
  margin-right: 5px;
}
.jb-topbar-brand .jb-add .jb-icon-mail-2 {
  margin-right: 5px;
}
.jb-topbar-brand .jb-add .jb-icon-mail-2:before {
  content: "\e086";
  display: inline-block;
  font-family: "Simple-Line-Icons";
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: #0088cc;
  margin-right: 5px;
}
.jb-topbar-trans {
  color: #ffffff;
  height: auto;
  line-height: 40px;
}
@media (max-width: 767px) {
  .jb-topbar-trans {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .jb-topbar-trans {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .jb-topbar-trans {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-trans {
    font-size: 12px;
  }
}
.jb-topbar-trans .tp-no-border li a {
  border-right: none !important;
}
.jb-topbar-trans .t3-module {
  margin-bottom: 0px;
}
.jb-topbar-trans .nav > li {
  display: inline-block;
  margin-top: 0px;
}
.jb-topbar-trans .nav > li a {
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #ccc;
  display: inline-block;
  line-height: 1;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 767px) {
  .jb-topbar-trans .nav > li a {
    padding: 3px 4px;
  }
}
@media (min-width: 768px) {
  .jb-topbar-trans .nav > li a {
    padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 992px) {
  .jb-topbar-trans .nav > li a {
    padding: 0px 10px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-trans .nav > li a {
    padding: 0px 10px 0px 15px;
  }
}
.jb-topbar-trans .nav > li a:hover,
.jb-topbar-trans .nav > li a:focus,
.jb-topbar-trans .nav > li a:active {
  background: none;
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.jb-topbar-trans .nav > li.active a {
  background: none;
  text-decoration: none;
  outline: none;
  color: #0088cc;
}
.jb-topbar-trans .nav > li:last-child a {
  border-right: 0;
}
@media (max-width: 767px) {
  .jb-topbar-trans .t3-topbar-2 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .jb-topbar-trans .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .jb-topbar-trans .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .jb-topbar-trans .t3-topbar-2 {
    text-align: right;
  }
}
.jb-topbar-trans .t3-topbar-2 .nav-pills {
  display: inline-block;
}
.topbar-gray-light {
  background-color: #f0f0ed;
  color: #ffffff;
  height: auto;
  line-height: 42px;
  border-top: 4px solid #0088cc;
}
@media (max-width: 767px) {
  .topbar-gray-light {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .topbar-gray-light {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .topbar-gray-light {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .topbar-gray-light {
    font-size: 12px;
  }
}
.topbar-gray-light .tp-no-border li a {
  border-right: none !important;
}
.topbar-gray-light .t3-module {
  margin-bottom: 0px;
}
.topbar-gray-light .nav > li {
  display: inline-block;
  margin-top: 0px;
}
.topbar-gray-light .nav > li a {
  color: #0088cc;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #ccc;
  display: inline-block;
  line-height: 1;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 767px) {
  .topbar-gray-light .nav > li a {
    padding: 3px 4px;
  }
}
@media (min-width: 768px) {
  .topbar-gray-light .nav > li a {
    padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 992px) {
  .topbar-gray-light .nav > li a {
    padding: 0px 10px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .topbar-gray-light .nav > li a {
    padding: 0px 10px 0px 15px;
  }
}
.topbar-gray-light .nav > li a:hover,
.topbar-gray-light .nav > li a:focus,
.topbar-gray-light .nav > li a:active {
  background: none;
  text-decoration: underline !important;
  outline: none;
  color: #0088cc;
}
.topbar-gray-light .nav > li span {
  color: #777;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #ccc;
  display: inline-block;
  line-height: 1;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 767px) {
  .topbar-gray-light .nav > li span {
    padding: 3px 4px;
  }
}
@media (min-width: 768px) {
  .topbar-gray-light .nav > li span {
    padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 992px) {
  .topbar-gray-light .nav > li span {
    padding: 0px 10px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .topbar-gray-light .nav > li span {
    padding: 0px 10px 0px 15px;
  }
}
.topbar-gray-light .nav > li.active a {
  background: none;
  text-decoration: none;
  outline: none;
  color: #0088cc;
}
.topbar-gray-light .nav > li:last-child a {
  border-right: 0;
}
.topbar-gray-light i {
  font-size: 14px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .topbar-gray-light .t3-topbar-1 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .topbar-gray-light .t3-topbar-1 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .topbar-gray-light .t3-topbar-1 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .topbar-gray-light .t3-topbar-1 {
    text-align: left;
  }
}
.topbar-gray-light .t3-topbar-1 .chzn-container .chzn-single,
.topbar-gray-light .t3-topbar-1 .chzn-container div b::before {
  color: #777 !important;
}
@media (max-width: 767px) {
  .topbar-gray-light .t3-topbar-2 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .topbar-gray-light .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .topbar-gray-light .t3-topbar-2 {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .topbar-gray-light .t3-topbar-2 {
    text-align: right;
  }
}
.topbar-gray-light .t3-topbar-2 .nav-pills {
  display: inline-block;
}
.jb-style-2 .header-column {
  display: table-cell;
  vertical-align: middle;
}
.jb-style-2 .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .jb-style-2 .logo {
    text-align: left;
  }
}
.jb-style-2 .logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.jb-style-2 .logo-image img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  width: 70%;
  margin: 20px 0px;
}
.jb-style-2 .logo-image span,
.jb-style-2 .logo-image small {
  display: none;
}
.jb-style-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  border-bottom: 1px solid transparent;
  padding: 15px 0;
  z-index: 1001;
}
.jb-style-3 .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .jb-style-3 .logo {
    text-align: left;
  }
}
.jb-style-3 .logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.jb-style-3 .logo-image img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  *height: 54px;
  width: 70%;
}
.jb-style-3 .logo-image span,
.jb-style-3 .logo-image small {
  display: none;
}
.jb-style-3 .header-social-icons {
  float: right;
  margin: 15px 0 0 10px;
}
.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  border-top: 5px solid #ededed;
  border-bottom: 1px solid transparent;
  padding: 8px 0;
  z-index: 1001;
  
}
.t3-header .header-row {
  clear: right;
  display: block;
}
.t3-header .logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .t3-header .logo {
    text-align: left;
  }
}
.t3-header .logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.t3-header .logo-image img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  height: 54px;
  width: 111px;
}
@media (max-width: 767px) {
  .t3-header .logo-image img {
    top: 0px;
  }
}
@media (min-width: 768px) {
  .t3-header .logo-image img {
    top: 0px;
  }
}
@media (min-width: 992px) {
  .t3-header .logo-image img {
    top: 24px;
  }
}
@media (min-width: 1200px) {
  .t3-header .logo-image img {
    top: 24px;
  }
}
.t3-header .logo-image span,
.t3-header .logo-image small {
  display: none;
}
.t3-header .logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.t3-header .logo-text:hover a,
.t3-header .logo-text a:hover,
.t3-header .logo-text a:active,
.t3-header .logo-text a:focus {
  text-decoration: none;
}
.t3-header .logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.t3-header .header-nav-top {
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}
.t3-header .header-nav-top .nav-pills li {
  float: left !important;
}
.t3-header .header-nav-top .nav-pills li a,
.t3-header .header-nav-top .nav-pills li span {
  color: #999;
  display: inline-block;
  font-size: 0.9em;
}
.t3-header .header-nav-top .nav-pills li a:before {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 0.9em;
  margin-right: 5px;
}
.t3-header .header-nav-top .nav-stacked > li + li {
  margin-top: 0px;
}
.t3-header .header-nav-top .nav-header {
  padding: 10px 15px;
  border-radius: 4px;
  display: block;
}
.t3-header .header-nav-top .nav-header:before {
  content: '\f095';
  font-family: 'FontAwesome';
  font-size: 0.9em;
  margin-right: 5px;
}
.t3-header .head-search {
  margin-top: 10px;
}
.t3-header .head-search:before,
.t3-header .head-search:after {
  content: " ";
  display: table;
}
.t3-header .head-search:after {
  clear: both;
}
.t3-header .head-search label {
  display: none;
}
.t3-header .head-search .search {
  position: relative;
}
.t3-header .head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  right: 14px;
  top: 6px;
}
@media screen and (min-width: 768px) {
  .t3-header .head-search .search {
    float: right;
  }
}
.t3-header .head-search .search .element-invisible {
  color: #ffffff !important;
}
.t3-header .head-search .form-control {
  width: 170px;
  border-radius: 20px;
  font-size: 0.9em;
  height: 34px;
  margin: 0;
  padding: 6px 12px;
}
@media screen and (min-width: 768px) {
  .t3-header .head-search .form-control {
    width: 170px;
  }
  .t3-header .head-search .form-control:focus {
    width: 170px;
    box-shadow: none;
  }
}
.t3-header .header-social-icons {
  float: right;
  margin: 15px 0 0 10px;
}
.t3-header .social-icons {
  margin: 15px 0 0 10px;
  padding: 0;
  width: auto;
}
.t3-header .social-icons li {
  display: inline-block;
  margin: -1px 1px 5px 0;
  padding: 0;
  border-radius: 100%;
  overflow: visible;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.t3-header .social-icons li a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #FFF;
  border-radius: 100%;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #333 !important;
  text-decoration: none;
}
.t3-header .social-icons li:hover a {
  background: #171717;
  color: #FFF !important;
}
.t3-header .social-icons li:hover.social-icons-twitter a {
  background: #1aa9e1;
}
.t3-header .social-icons li:hover.social-icons-facebook a {
  background: #3b5a9a;
}
.t3-header .social-icons li:hover.social-icons-linkedin a {
  background: #0073b2;
}
.t3-header .social-icons li:hover.social-icons-rss a {
  background: #ff8201;
}
.t3-header .social-icons li:hover.social-icons-googleplus a {
  background: #dd4b39;
}
.t3-header .social-icons li:hover.social-icons-pinterest a {
  background: #cc2127;
}
.t3-header .social-icons li:hover.social-icons-youtube a {
  background: #c3191e;
}
.t3-header .social-icons li:hover.social-icons-instagram a {
  background: #7c4a3a;
}
.t3-header .social-icons li:hover.social-icons-skype a {
  background: #00b0f6;
}
.t3-header .social-icons li:hover.social-icons-email a {
  background: #dd4b39;
}
.t3-header .social-icons li:hover.social-icons-vk a {
  background: #6383a8;
}
.t3-header .social-icons li:hover.social-icons-xing a {
  background: #1a7576;
}
.t3-header .social-icons li:hover.social-icons-tumblr a {
  background: #304e6c;
}
.t3-header .social-icons li:hover.social-icons-reddit a {
  background: #ff4107;
}
.t3-header .social-icons.social-icons-transparent li {
  box-shadow: none;
}
.t3-header .social-icons.social-icons-transparent li a {
  background: transparent;
}
.t3-header .social-icons.social-icons-icon-light li a i {
  color: #FFF;
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-sl-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar .t3-module {
  margin-bottom: 30px;
}
.t3-sidebar .t3-module .module-title {
  letter-spacing: normal;
}
.t3-sidebar .nav li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
.t3-sidebar .nav li a {
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  transition: background 0.1s;
  border-bottom: 1px solid #EDEDDE;
  padding: 8px 0 8px 18px;
  display: block;
  color: #666;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 20px;
  text-transform: capitalize;
}
.t3-sidebar .nav li a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin: 7px 0 0 -9px;
  position: absolute;
}
.t3-sidebar .nav li a:hover {
  background-color: #eee;
  text-decoration: none;
}
.t3-sidebar .nav li ul {
  margin: 0px 0px 0px 25px;
}
.jb-footer {
  background: #e7e8e9;
  border-top: none;
  padding: 26px 0 0;
  color: #777;
}
.jb-footer .t3-footnav .t3-module {
  color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.jb-footer .t3-footnav .t3-module .module-title {
  color: #1d2127;
  margin-bottom: 15px;
  font-size: 1.2698em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.jb-footer .t3-footnav .t3-module .links li,
.jb-footer .t3-footnav .t3-module .features li {
  line-height: 1 !important;
  padding: 10px !important;
}
.jb-footer .t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.jb-footer .t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.jb-footer .t3-footnav .t3-module ul > li > a {
  color: #777;
}
.jb-footer .t3-footnav .t3-module ul > li > a:hover,
.jb-footer .t3-footnav .t3-module ul > li > a:active,
.jb-footer .t3-footnav .t3-module ul > li > a:focus {
  color: #777777;
}
.jb-footer .row {
  margin-left: 0px;
  margin-right: 0px;
}
.jb-footer .container-remove {
  padding: 0px 30px;
}
.t3-footer {
  background: #0e0e0e;
  border-top: 4px solid #0e0e0e;
  font-size: 0.9em;
  padding: 70px 0 0;
  position: relative;
  clear: both;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #ffffff;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #ffffff;
}
.t3-footer h5 {
  color: #ccc;
}
.t3-footer .footer-ribbon {
  background: #0088cc;
  position: absolute;
  margin: -90px 0 0 14px;
  padding: 10px 20px 6px 20px;
  z-index: 1000;
}
.t3-footer .footer-ribbon:before {
  border-right: 10px solid #0088cc;
  border-top: 16px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -10px;
  position: absolute;
  top: 0;
  width: 7px;
}
.t3-footer .footer-ribbon span {
  color: #FFF;
  font-size: 1.6em;
  font-family: "Shadows Into Light", cursive;
}
.t3-footer .tweets-box .meta {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-bottom: 20px;
  padding-top: 3px;
}
.medical-footer {
  background: #34383d;
  color: #95989c;
  font-size: 0.9em;
  padding: 70px 0 0;
  position: relative;
}
.medical-footer a {
  color: #95989c;
}
.medical-footer a strong {
  display: block;
  font-size: 30px;
  line-height: 1;
}
.medical-footer .module-title {
  margin-bottom: 30px !important;
}
.medical-footer .module-title span {
  font-size: 1.4em;
  font-weight: 200;
}
.medical-footer .jb-copyright {
  background: #34383d none repeat scroll 0 0;
  border-top: 1px solid #53585e;
  margin-top: 40px;
}
.medical-footer .jb-copyright .copyright {
  margin-bottom: 0px;
}
.medical-footer p {
  color: #95989c;
}
.medical-footer .custom-info span:nth-child(1) {
  display: inline-block;
  color: #95989c;
  min-width: 68px;
  margin-right: 10px;
}
.medical-footer .custom-info span:nth-child(1)::after {
  content: ':';
  display: block;
  float: right;
  color: #fff;
}
.medical-footer .custom-info span:nth-child(2) {
  color: #fff;
}
.medical-footer .social-icons li {
  border-radius: 0;
  box-shadow: none;
}
.medical-footer .social-icons li:hover a {
  opacity: 0.8;
}
.medical-footer .social-icons li a {
  color: #FFF !important;
  border-radius: 0;
}
.medical-footer .social-icons li.social-icons-twitter a {
  background: #1aa9e1;
}
.medical-footer .social-icons li.social-icons-facebook a {
  background: #3b5a9a;
}
.medical-footer .social-icons li.social-icons-linkedin a {
  background: #0073b2;
}
.medical-footer .social-icons li.social-icons-rss a {
  background: #ff8201;
}
.medical-footer .social-icons li.social-icons-googleplus a {
  background: #dd4b39;
}
.medical-footer .social-icons li.social-icons-pinterest a {
  background: #cc2127;
}
.medical-footer .social-icons li.social-icons-youtube a {
  background: #c3191e;
}
.medical-footer .social-icons li.social-icons-instagram a {
  background: #7c4a3a;
}
.medical-footer .social-icons li.social-icons-skype a {
  background: #00b0f6;
}
.medical-footer .social-icons li.social-icons-email a {
  background: #dd4b39;
}
.medical-footer .social-icons li.social-icons-vk a {
  background: #6383a8;
}
.medical-footer .social-icons li.social-icons-xing a {
  background: #1a7576;
}
.medical-footer .social-icons li.social-icons-tumblr a {
  background: #304e6c;
}
.medical-footer .social-icons li.social-icons-reddit a {
  background: #ff4107;
}
.t3-footnav {
  padding: 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 0;
  }
}
.t3-footnav .t3-module {
  color: #777777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.2698em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}
.t3-footnav .t3-module .links li,
.t3-footnav .t3-module .features li {
  line-height: 1 !important;
  padding: 10px !important;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: white;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #777777;
}
.t3-footnav .contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}
.t3-footnav .contact-details em {
  display: block;
  float: left;
  font-size: 1.2em;
  margin: 7px 8px 10px 0;
  position: relative;
  text-align: center;
  top: -2px;
  width: 16px;
}
.t3-footnav .contact-details em.fa-envelope {
  font-size: 1em;
  top: 0;
}
.t3-footnav .contact-details p {
  margin-bottom: 10px;
}
.t3-footnav .phone {
  color: #fff;
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-top: -5px;
  padding-bottom: 15px;
}
.t3-footnav .white {
  color: #ccc;
}
.t3-footnav .contact p {
  margin: 0px;
}
.t3-copyright {
  background: #060606;
  border-top: 4px solid #060606;
  margin-top: 40px;
  padding: 30px 0 10px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.t3-copyright .jb-footer-menu {
  text-align: right;
}
.t3-copyright .jb-footer-menu .nav li {
  display: inline-block;
  text-align: right;
  border-left: 1px solid #505050;
}
.t3-copyright .jb-footer-menu .nav li:first-child {
  border: none;
}
.t3-copyright .jb-footer-menu .nav li a {
  padding: 0px 15px;
  color: #ffffff;
}
.t3-copyright .jb-footer-menu .nav li a:hover,
.t3-copyright .jb-footer-menu .nav li a:active {
  background: transparent !important;
}
.jb-copyright {
  background: #F3F5F4;
  margin-top: 40px;
  padding: 30px 0 10px;
}
.jb-copyright:before,
.jb-copyright:after {
  content: " ";
  display: table;
}
.jb-copyright:after {
  clear: both;
}
.jb-copyright small {
  margin-bottom: 5px;
}
.jb-copyright .jb-footer-menu {
  text-align: right;
}
.jb-copyright .jb-footer-menu .nav-pills li {
  display: inline-block;
  text-align: right;
  border-left: 1px solid #505050;
}
.jb-copyright .jb-footer-menu .nav-pills li:first-child {
  border: none;
}
.jb-copyright .jb-footer-menu .nav-pills li a {
  padding: 0px 15px;
  color: #ffffff;
}
.jb-copyright .jb-footer-menu .nav-pills li a:hover,
.jb-copyright .jb-footer-menu .nav-pills li a:active {
  background: transparent !important;
}
.copyright {
  margin-bottom: 20px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
  background: url(../../templates/porto/images/joomlabuff/logo-footer.png) no-repeat !important;
}

.scroll-to-top {
  background: #404040;
  border-radius: 7px 7px 0 0;
  bottom: 0;
  color: #FFF;
  display: block;
  height: 9px;
  padding: 13px 10px 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  min-width: 49px;
  z-index: 1040;
  outline: none;
}

.sample-item-container {
  max-width: 1650px;
}
.sample-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sample-item-list li {
  text-align: center;
}
.sample-item {
  text-align: center;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  margin-bottom: 35px;
}
.sample-item a {
  text-decoration: none !important;
}
.sample-item .sample-item-image-wrapper {
  background: #FFF;
  max-height: 370px;
  height: 370px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  border: none;
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.sample-item .sample-item-image-wrapper .fa-spin {
  background: transparent none repeat scroll 0 0;
  color: #ccc;
  font-size: 25px;
  left: 50%;
  margin: -13px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.sample-item a:hover .sample-item-image-wrapper {
  box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
}
.sample-item .sample-item-image {
  max-height: 370px;
  height: 370px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 2;
}
.sample-item .sample-item-description {
  display: block;
  padding: 15px 0;
}
.sample-item h5 {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.sample-item p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.sample-item.sample-item-coming-soon .sample-item-image {
  background-color: #FBFBFB;
  background-position: center center;
}
#back-to-top {
  position: fixed;
  right: 30px;
  top: auto;
  z-index: 999;
  display: none;
  bottom: -60px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  overflow: auto;
}
@media (min-width: 768px) {
  #back-to-top {
    display: block;
  }
}
#back-to-top .btn {
  background: #404040;
  border: 1px solid #404040;
  border-radius: 7px 7px 0px 0px !important;
  color: #ffffff;
  height: 9px;
  min-width: 49px;
  padding: 13px 10px 35px;
  border: none;
  text-align: center;
  font-size: 18px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#back-to-top .btn:hover,
#back-to-top .btn:active,
#back-to-top .btn:focus {
  background: #404040;
  border: 1px solid #404040;
  border: none;
  color: #0088cc !important;
  outline: none;
}
#back-to-top.affix {
  bottom: 0;
  *background: #0088cc;
}
#back-to-top a {
  outline: none;
}
#back-to-top i {
  font-size: 14px;
  line-height: 16px;
}
.ratingbox {
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: 12px;
  background: url(../../templates/porto/images/vm/color-stars.png) repeat-x 0 bottom !important;
  display: inline-block;
}
.ratingbox:last-child {
  margin-bottom: 0;
}
.ratingbox div,
.ratingbox span {
  display: block;
  margin: 0 auto;
  width: 1%;
  height: 12px;
  position: absolute;
  background: url(../../templates/porto/images/vm/color-stars.png) repeat-x;
}
.product .addtocart-area form,
.vmproduct .addtocart-area form,
.productdetails-view .addtocart-area form {
  margin: 0;
}
.product .addtocart-area .product-fields,
.vmproduct .addtocart-area .product-fields,
.productdetails-view .addtocart-area .product-fields {
  margin-bottom: 10px;
}
.product .addtocart-area .addtocart-bar,
.vmproduct .addtocart-area .addtocart-bar,
.productdetails-view .addtocart-area .addtocart-bar {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}
.product .addtocart-area .addtocart-bar:empty,
.vmproduct .addtocart-area .addtocart-bar:empty,
.productdetails-view .addtocart-area .addtocart-bar:empty {
  display: none;
}
.product .addtocart-area .vm-quantity-box,
.vmproduct .addtocart-area .vm-quantity-box,
.productdetails-view .addtocart-area .vm-quantity-box {
  float: left;
  position: relative;
  padding: 0 25px;
}
.product .addtocart-area span.quantity-controls input,
.vmproduct .addtocart-area span.quantity-controls input,
.productdetails-view .addtocart-area span.quantity-controls input {
  position: absolute;
  top: 11px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  width: 20px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle;
  border: 1px solid #ededed;
  color: #999999;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}
.product .addtocart-area span.quantity-controls input:hover,
.vmproduct .addtocart-area span.quantity-controls input:hover,
.productdetails-view .addtocart-area span.quantity-controls input:hover,
.product .addtocart-area span.quantity-controls input:focus,
.vmproduct .addtocart-area span.quantity-controls input:focus,
.productdetails-view .addtocart-area span.quantity-controls input:focus {
  border: 1px solid #1d2127;
}
.product .addtocart-area span.quantity-controls .quantity-plus,
.vmproduct .addtocart-area span.quantity-controls .quantity-plus,
.productdetails-view .addtocart-area span.quantity-controls .quantity-plus {
  background-image: url('../../templates/porto/images/vm/plus.png');
  right: 0;
  left: auto;
}
.product .addtocart-area span.quantity-controls .quantity-minus,
.vmproduct .addtocart-area span.quantity-controls .quantity-minus,
.productdetails-view .addtocart-area span.quantity-controls .quantity-minus {
  background-image: url('../../templates/porto/images/vm/minus.png');
  left: 0;
  right: auto;
}
.product .addtocart-area span.addtocart-button,
.vmproduct .addtocart-area span.addtocart-button,
.productdetails-view .addtocart-area span.addtocart-button {
  float: left;
  margin-left: 20px;
}
.product .addtocart-area input.quantity-input,
.vmproduct .addtocart-area input.quantity-input,
.productdetails-view .addtocart-area input.quantity-input {
  text-align: center;
  width: 47px;
  border-radius: 0px;
  box-shadow: none;
  border-color: #ededed;
}
.product .addtocart-area input.addtocart-button,
.vmproduct .addtocart-area input.addtocart-button,
.productdetails-view .addtocart-area input.addtocart-button {
  border: none;
  background: #0088cc;
  text-transform: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 42px;
  line-height: 42px;
  padding-left: 25px;
  background-image: url('../../templates/porto/images/vm/cart.png');
  background-position: left center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 400;
  padding-left: 45px;
  padding-right: 20px;
  text-transform: uppercase;
}
.product .addtocart-area input.addtocart-button:hover,
.vmproduct .addtocart-area input.addtocart-button:hover,
.productdetails-view .addtocart-area input.addtocart-button:hover {
  color: #ffffff;
  background: #006699;
  background-image: url('../../templates/porto/images/vm/cart.png');
  background-position: left center;
  background-repeat: no-repeat;
}
.product .addtocart-area input.addtocart-button-disabled,
.vmproduct .addtocart-area input.addtocart-button-disabled,
.productdetails-view .addtocart-area input.addtocart-button-disabled {
  border: none;
  background: none;
  text-transform: none;
  padding-top: 0;
  padding-bottom: 0;
  height: 42px;
  line-height: 42px;
  padding-left: 25px;
}
.jb-book-table {
  background: #8496A4;
  padding: 30px;
}
.jb-book-table input,
.jb-book-table select {
  width: 100%;
}
.jb-book-table .input-append .input-small {
  float: left;
  display: inline;
}
.jb-book-table label {
  color: #ffffff;
  margin: 20px 0px 20px 0px;
}
.jb-book-table .btn-booknow {
  margin-top: 20px;
  padding: 20px;
}
.banner {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.banner a {
  display: block;
}
.banner img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0;
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 0;
}
.banner:hover:before {
  visibility: visible;
  opacity: 0.1;
}
.banners-container .sppb-col-md-6,
.banners-container .sppb-col-md-3 {
  padding-left: 4px;
  padding-right: 4px;
}
.banners-container .banner-ribbon {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  width: 33.5%;
  height: 22.3%;
}
.banners-container .banner-ribbon:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border: 150px solid #65829d;
  border-right: 0;
  border-bottom: 0;
  border-left: 200px solid transparent;
}
.banners-container .banner-ribbon .ribbon-content {
  position: absolute;
  right: 9%;
  top: 10%;
  width: 90%;
  text-align: right;
}
.banners-container .banner-ribbon .ribbon-content span {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin-right: 26%;
  text-transform: uppercase;
}
.banners-container .banner-ribbon .ribbon-content h3 {
  font-size: 33px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  color: #fff;
}
.banners-container .banner-ribbon .ribbon-content h4 {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  margin: 3px 0 0;
  text-transform: uppercase;
}
.banners-container .banner-content {
  position: absolute;
}
.banners-container .v1 {
  position: absolute;
  right: 15%;
  bottom: 14%;
  text-align: right;
}
.banners-container .v1 h2 {
  font-size: 70px;
  line-height: 1;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.banners-container .v1 h2 strong {
  font-weight: 800;
}
.banners-container .v1 p {
  font-size: 29px;
  line-height: 1;
  margin-bottom: 10px;
  margin-right: 4px;
  font-weight: 300;
  color: #fff;
}
.banners-container .v1 p strong {
  font-weight: 600;
}
.banners-container .v1 a {
  font-size: 16px;
  margin-right: 5px;
  color: #65829d;
}
.banners-container .v2 {
  position: absolute;
  right: 10%;
  top: 5%;
  text-align: right;
}
.banners-container .v2 h3 {
  font-weight: 400;
  color: #121213;
  font-size: 29px;
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 0px;
}
.banners-container .v2 h2 {
  font-weight: 800;
  color: #121213;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 29px;
  line-height: 1;
  text-transform: uppercase;
}
.banners-container .v2 a {
  font-size: 16px;
  color: #121213;
  margin: 0;
}
.banners-container .v3 {
  position: absolute;
  right: 11.55%;
  top: 25%;
  text-align: right;
}
.banners-container .v3 p {
  font-size: 16px;
  font-weight: 700;
  color: #313131;
  line-height: 1;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.banners-container .v3 p:first-child {
  font-weight: 300;
}
.banners-container .v3 h4 {
  font-weight: 400;
  color: #888;
  font-size: 23px;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 0;
}
.banners-container .v3 h3 {
  font-weight: 400;
  color: #65829d;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 15px;
}
.banners-container .v3 h3 span {
  font-size: 25px;
  line-height: 1;
}
.banners-container .v3 a {
  font-size: 16px;
  margin-right: 5px;
  color: #65829d;
}
.banners-container .v4 {
  position: absolute;
  left: 0;
  top: 17%;
  text-align: center;
  width: 100%;
}
.banners-container .v4 h2 {
  font-weight: 300;
  color: #000;
  font-size: 34px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
}
.banners-container .v4 h2 strong {
  font-weight: 600;
}
.banners-container .v4 p {
  font-weight: 300;
  color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  font-style: italic;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 17px;
}
.banners-container .v4 .btn {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  border: 0;
  padding: 6px 10px 6px 12px;
}
.banners-container .v4 .btn i {
  margin-left: 2px;
}
.chzn-container .chzn-single {
  height: auto !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  color: #ffffff !important;
}
.chzn-container .chzn-single div {
  top: -1px !important;
  width: 30px !important;
}
.chzn-container .chzn-single div b {
  background: none !important;
  position: releative;
}
.chzn-container .chzn-single div b:before {
  content: "\f0dd";
  font-family: "FontAwesome";
  color: #ffffff;
  font-size: 12px;
  text-decoration: inherit;
  position: absolute;
  left: 0;
}
.chzn-container .chzn-drop {
  margin-top: 10px;
  border: 1px solid #0088cc;
}
.chzn-container .chzn-drop .chzn-results {
  margin: 0px;
  padding: 0px;
}
.chzn-container .chzn-drop .chzn-results li {
  color: #0088cc;
}
.chzn-container .chzn-drop .chzn-results .highlighted {
  color: #ffffff;
}
.chzn-container .chzn-drop .chzn-results .highlighted:hover {
  background: #0088cc;
}
.block-mini-cart {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: right;
  top: 0px;
}
.block-mini-cart .mini-cart-title {
  position: relative;
  height: 35px;
  width: 35px;
  color: #000;
  text-align: center;
}
.block-mini-cart .mini-cart-title .count-item {
  font-size: 35px;
  color: #0088cc;
  line-height: 34px;
  top: 2px;
}
.block-mini-cart .mini-cart-title .count-item .total {
  font-size: 0;
  display: none;
}
.block-mini-cart .mini-cart-title .number {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 9px;
  line-height: 14px;
  right: 11px;
  padding-top: 5px;
  padding-left: 5px;
  color: #fff;
}
.block-mini-cart .mini-cart-title .number .item {
  font-size: 0;
}
.block-mini-cart .mini-cart-content {
  position: absolute;
  top: 150px;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  background: #fff;
  -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.3);
  min-width: 250px;
  padding: 15px;
  visibility: hidden;
  z-index: 10;
  margin-top: 5px;
  border-top: 4px solid #0088cc;
}
.block-mini-cart .mini-cart-content:before {
  content: "\f0d8";
  font-family: FontAwesome;
  font-size: 30px;
  right: 12px;
  position: absolute;
  top: -20px;
  width: 14px;
  color: #0088cc;
}
.block-mini-cart:hover .mini-cart-content {
  top: 100%;
  display: block;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.shop-4 .sp-vmsearch form {
  background: transparent;
  border: 1px solid #999999;
}
.shop-4 .sp-vmsearch input[type="text"]::-moz-placeholder,
.shop-4 .sp-vmsearch .sp-vmsearch-categorybox,
.shop-4 .sp-vmsearch .search-button-wrapper button,
.shop-4 .sp-vmsearch .search-input-wrapper input {
  color: #777 !important;
}
.shop-4 .sp-vmsearch .search-button-wrapper {
  border-color: #999999;
}
.shop-4 .sp-vmsearch .sp-vmsearch-categorybox .sp-vmsearch-category-name {
  border-color: #999999;
}
.shop-4 .navbar-default {
  background: #f0f0ed;
  margin: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.shop-4 .navbar-default .navbar-nav > li > a {
  padding: 15px 15px;
}
.shop-4 .affix .navbar-default {
  background: transparent;
  margin-bottom: 0px;
}
.sp-vmsearch form {
  position: relative;
  margin: auto;
  float: left;
  border-radius: 30px;
  background: #005580;
  width: 450px;
  color: #ffffff;
  height: 38px;
  border: 1px solid #005580;
}
.sp-vmsearch .search-input-wrapper {
  margin: 0;
  float: left;
  width: 230px;
}
.sp-vmsearch .search-input-wrapper input {
  min-height: 38px !important;
  padding: 5px 21px !important;
  color: #ffffff !important;
}
.sp-vmsearch input[type="text"]::-moz-placeholder {
  color: #fff !important;
}
.sp-vmsearch .search-input-wrapper .sp-vmsearch-box {
  border: 0;
  background: none;
  float: left;
  font-size: 14px;
  box-shadow: none;
}
.sp-vmsearch .sp-vmsearch-categorybox {
  float: left;
  background: none;
  border: none;
  color: #ffffff;
  height: 38px;
  line-height: 38px;
  width: 160px !important;
}
.sp-vmsearch .sp-vmsearch-categorybox .sp-vmsearch-category-name {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.sp-vmsearch .sp-vmsearch-categorybox .category-name {
  position: relative;
  padding-right: 25px;
  font-size: 13px;
}
.sp-vmsearch .search-button-wrapper {
  padding: 0;
  border: 0;
  width: 58px;
  height: 36px;
  margin: 0;
  text-align: center;
  line-height: 38px;
  margin-top: -2px;
  position: relative;
  bottom: -2px;
  margin-right: -2px;
  margin-left: -2px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.sp-vmsearch .search-button-wrapper .search-button {
  background: none;
  min-height: 30px;
  height: 30px;
  line-height: 30px;
}
.sp-vmsearch .search-button-wrapper .search-button i {
  font-size: 16px;
}
.sp-vmsearch .dropdown-menu li a {
  padding: 0 15px;
}
.sp-vmsearch .dropdown-menu > .active > a,
.sp-vmsearch .dropdown-menu > .active > a:focus {
  color: #222;
  background-color: #fff;
}
.shop-2 .off-canvas-toggle {
  margin: 0px;
}
.shop-2 .jb-topbar-brand {
  background: brand-primary;
}
.shop-2 .jb-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #007ebd;
}
.shop-2 .jb-header .logo-image a span {
  display: none;
}
.shop-2 .shop-header-block {
  margin-top: 10px;
}
.shop-2 .shop-header-block .block-mini-cart {
  top: 0px;
}
.shop-2 .shop-header-block .block-mini-cart .mini-cart-title .count-item {
  color: #ffffff;
}
.shop-2 .shop-header-block .block-mini-cart .mini-cart-title .count-item .number {
  color: #1d2127;
}
.shop-2 .shop-header-block .custom-block i {
  margin-top: 5px;
  display: inline-flex;
}
.shop-2 .shop-header-block .custom-block span {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}
.home-slider-area .side-custom-menu {
  border: 1px solid #ddd;
  border-radius: 6.96px;
  overflow: hidden;
  margin-bottom: 15px;
}
.home-slider-area .side-custom-menu h2 {
  color: #000;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  padding: 13px 13px 12px;
  background-color: #f5f5f5;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
.home-slider-area .side-custom-menu h2 i {
  margin-right: 4px;
}
.home-slider-area .side-custom-menu ul {
  padding: 0 12px;
  list-style: none;
  margin: 0;
}
.home-slider-area .side-custom-menu ul li {
  text-align: left;
  padding: 13px 4px 12px;
  border-top: 1px solid #ddd;
}
.home-slider-area .side-custom-menu ul li:first-child {
  border-top: none;
}
.home-slider-area .side-custom-menu ul li a {
  color: #777;
  font-size: 15px;
  line-height: 1;
  display: block;
}
.homepage-bar {
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  background-color: #fbfbfb;
  border-radius: 5px;
}
.homepage-bar .col-md-4 {
  padding-top: 20px;
  padding-bottom: 21px;
  text-align: center;
}
@media (min-width: 992px) {
  .homepage-bar .col-md-4 {
    border-left: 1px solid #e1e1e1;
  }
  .homepage-bar .col-md-4:first-child {
    border-left: none;
  }
}
.homepage-bar .bar-icon {
  font-size: 36px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .homepage-bar .bar-icon {
    min-width: 36px;
    text-align: center;
  }
}
.homepage-bar .bar-textarea {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 7px;
}
.homepage-bar h3 {
  color: #313131;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}
.homepage-bar p {
  font-size: 12px;
  margin: 0;
  line-height: 1;
}
.jb-landing .sticky .jb-header-default {
  background: #0088cc !important;
}
.jb-landing .sticky .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 5px !important;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.jb-landing .sticky .jb-header-default .navbar-default .navbar-nav li a {
  padding: 20px 12px !important;
}
.jb-landing .t3-header {
  border-top: none;
  padding: 0px;
}
.jb-landing .t3-header-wrap {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
}
.jb-landing .t3-header-wrap .jb-header-default {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07000000000000001);
  background: none;
  position: relative;
}
.jb-landing .t3-header-wrap .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 16px;
}
.jb-landing .t3-header-wrap .jb-header-default .header-column .navbar-toggle {
  color: #ffffff;
  border-color: #ffffff;
}
.jb-landing .t3-header-wrap .jb-header-default .header-column .navbar-toggle:hover {
  background: #0088cc;
  border-color: #0088cc;
}
.jb-landing .t3-header-wrap .jb-header-default .navbar-default {
  background: transparent;
  margin: 0px;
}
.jb-landing .t3-header-wrap .jb-header-default .navbar-default .header-nav-main {
  margin: 0px;
}
.jb-landing .t3-header-wrap .jb-header-default .navbar-default .navbar-nav li a {
  color: #ffffff;
  padding: 35px 12px;
  background: transparent;
}
.jb-landing .t3-header-wrap .jb-header-default .navbar-default .navbar-nav li a:active {
  background: transparent;
}
.jb-transparent .sticky .jb-header-default {
  background: #0088cc !important;
}
.jb-transparent .sticky .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 5px !important;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.jb-transparent .sticky .jb-header-default .navbar-default {
  padding: 10px 0px !important;
}
.jb-transparent .sticky .jb-topbar-trans,
.jb-transparent .sticky .block-mini-cart,
.jb-transparent .sticky .chzn-container {
  padding: 10px 0px !important;
}
.jb-transparent .sticky .chzn-container-single .chzn-single,
.jb-transparent .sticky .chzn-container .chzn-single div b {
  padding: 8px 0px;
}
.jb-transparent .sticky .header-row .right-block {
  display: inline;
}
.jb-transparent .t3-header {
  border-top: none;
  padding: 0px;
}
.jb-transparent .t3-header-wrap {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
}
.jb-transparent .t3-header-wrap .jb-header-default {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07000000000000001);
  background: none;
  position: relative;
}
.jb-transparent .t3-header-wrap .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 16px;
}
.jb-transparent .t3-header-wrap .jb-header-default .header-column .navbar-toggle {
  color: #ffffff;
  border-color: #ffffff;
}
.jb-transparent .t3-header-wrap .jb-header-default .header-column .navbar-toggle:hover {
  background: #0088cc;
  border-color: #0088cc;
}
.jb-transparent .t3-header-wrap .jb-header-default .navbar-default {
  background-color: transparent;
  margin: 0px;
  padding: 24px 0;
}
.jb-transparent .t3-header-wrap .jb-header-default .navbar-default .navbar-nav li a {
  color: #ffffff;
  background: transparent;
}
.jb-transparent .t3-header-wrap .jb-header-default .navbar-default .mega-dropdown-inner .mega-nav li a {
  color: #777;
}
.jb-transparent .t3-header-wrap .caret {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.jb-transparent .jb-topbar-trans,
.jb-transparent .block-mini-cart {
  padding: 24px 0px;
}
.jb-transparent .mini-cart-title .count-item {
  color: #ffffff;
}
.jb-transparent .block-mini-cart .mini-cart-title .number {
  color: #0088cc;
}
.jb-transparent .chzn-container {
  max-width: 111% !important;
  margin-bottom: 0px;
}
.jb-transparent .chzn-container-single .chzn-single,
.jb-transparent .chzn-container .chzn-single div b {
  padding: 30px 0px;
}
.jb-transparent-2 .sticky .jb-header-default {
  background: #0088cc !important;
}
.jb-transparent-2 .sticky .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 5px !important;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.jb-transparent-2 .sticky .jb-header-default .navbar-default {
  padding: 14px 0px !important;
}
.jb-transparent-2 .sticky .jb-topbar-trans,
.jb-transparent-2 .sticky .block-mini-cart,
.jb-transparent-2 .sticky .chzn-container {
  padding: 10px 0px !important;
}
.jb-transparent-2 .sticky .chzn-container-single .chzn-single,
.jb-transparent-2 .sticky .chzn-container .chzn-single div b {
  padding: 8px 0px;
}
.jb-transparent-2 .t3-header {
  border-top: none;
  padding: 0px;
}
.jb-transparent-2 .t3-header-wrap {
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07000000000000001);
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .logo-image .logo-img {
  width: auto;
  height: auto;
  top: 16px;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .header-column .navbar-toggle {
  color: #ffffff;
  border-color: #ffffff;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .header-column .navbar-toggle:hover {
  background: #0088cc;
  border-color: #0088cc;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .navbar-default {
  background-color: transparent;
  margin: 0px;
  padding: 30px 0;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .navbar-default .navbar-nav li a {
  color: #ffffff;
  padding: 6px 13px;
}
.jb-transparent-2 .t3-header-wrap .jb-header-default .navbar-default .mega-dropdown-inner .mega-nav li a {
  color: #777;
}
.jb-transparent-2 .t3-header-wrap .caret {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.jb-transparent-2 .jb-topbar-trans,
.jb-transparent-2 .block-mini-cart {
  padding: 24px 0px;
}
.jb-transparent-2 .mini-cart-title .count-item {
  color: #ffffff;
}
.jb-transparent-2 .block-mini-cart .mini-cart-title .number {
  color: #0088cc;
}
.jb-transparent-2 .chzn-container {
  max-width: 111% !important;
  margin-bottom: 0px;
}
.jb-transparent-2 .chzn-container-single .chzn-single,
.jb-transparent-2 .chzn-container .chzn-single div b {
  padding: 30px 0px;
}
.jb-transparent-2 .shop-footer .jb-copyright {
  margin-top: 0px !important;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
}
.jb-transparent-2 .shop-footer .jb-copyright .copyright {
  margin: 5px;
}
.jb-transparent-2 .shop-footer .jb-copyright p {
  margin: 0px;
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding-top: 0;
  border-top: none;
  background-color: transparent;
  margin: 0;
}
.header-bg-color .t3-header-wrap {
  position: relative;
  background: #0088cc;
}
.header-bg-color .page-header {
  border-top: none;
}
.banner.banner-text.secondary {
  background-color: #2b262f;
}
.banner.banner-text.secondary .banner-content h3 {
  color: #f2f4f3;
}
.banner.banner-text.secondary .banner-content hr {
  border-color: #ada4b5;
}
.banner.banner-text.secondary .banner-content p {
  color: #ada4b5;
}
.banner.banner-text.secondary .banner-content a {
  color: #fff;
}
.banner.banner-text .banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  font-family: Georgia;
  padding: 0 25px;
}
.banner.banner-text .banner-content h3 {
  color: #2b262e;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 5px;
}
.banner.banner-text .banner-content hr {
  width: 90px;
  margin: 15px 0;
  background-image: none;
  height: auto;
  border-top: 1px solid #564a34;
}
.banner.banner-text .banner-content p {
  font-size: 15px;
  color: #564a34;
  line-height: 1.5;
  margin: 0 0 15px;
}
.banner.banner-text .banner-content a {
  font-size: 15px;
  color: #2b262f;
  text-transform: uppercase;
}
.banner.banner-text {
  background-color: #0088cc;
}
.banner.banner-text:before {
  display: none;
}
.banner.banner-text img {
  max-height: 453px;
  height: 453px;
}
.customer-support-section .feature-box h4 {
  color: #000;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}
.customer-support-section .feature-box h5 {
  color: #888;
  font-weight: 300;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 15px;
}
.customer-support-section .feature-box .feature-box-info {
  padding-left: 76px;
  font-size: 14px;
  line-height: 1.5;
}
.customer-support-section .feature-box p {
  margin: 0 0 15px;
}
.customer-support-section .feature-box.feature-box-style-3 {
  min-height: 50px;
  margin-bottom: 20px;
}
.customer-support-section .feature-box.feature-box-style-3 .feature-box-icon {
  width: 62px;
  height: 62px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #cecece;
  color: #333;
  background-color: transparent;
  line-height: 58px;
  font-size: 25px;
}
.customer-support-section .feature-box.feature-box-style-3 .feature-box-icon i.fa {
  color: #000;
}
.explore-section h2 {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
  color: #ffffff;
}
.explore-section h2 strong {
  font-weight: 800;
}
.explore-section p {
  font-weight: 300;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 30px;
  color: #ffffff;
}
.explore-section a {
  font-size: 16px;
  color: #ffffff;
}
.explore-section a:hover,
.explore-section a:focus {
  color: #fff;
}
.banner .ban-title {
  display: block;
  position: absolute;
  left: -10px;
  bottom: 20px;
  color: #fff;
  padding: 15px 17px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  min-width: 174px;
  text-align: left;
  background-color: #3f4658;
  text-transform: uppercase;
}
.banner .ban-title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-right-color: #3f4658;
  border-top-color: #3f4658;
}

.custom-toll-free {
  position: relative;
  padding-left: 35px;
  margin-left: 40px;
  color: #1d2127;
}
.custom-toll-free:hover {
  color: #0088cc;
}
.custom-toll-free > span {
  display: block;
}
.custom-toll-free > span.toll-free-number {
  font-size: 1.5em;
  letter-spacing: -1px;
}
.custom-toll-free > i {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 4em;
  line-height: 0.8;
}
.custom-home-intro p span {
  position: relative;
  display: inline-block;
  padding-top: 0;
}
.custom-home-intro p span:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 30px;
  border-bottom: 1px solid #FFF;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.custom-home-intro p span:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -44px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #FFF;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.col-half-section {
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  max-width: 570px;
  float: left;
  margin-left: 30px;
  margin-right: 0;
}
.col-half-section.col-half-section-right {
  float: right;
  margin-left: 0;
  margin-right: 30px;
}
.custom-text-align-right {
  text-align: right;
}

.jbeasyformmaker-anyform-forms .form-control-custom {
  position: relative;
  margin-bottom: 10px;
}
.jbeasyformmaker-anyform-forms .form-control-custom > i {
  position: absolute;
  top: 10px;
  left: 0;
  color: #FFF;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 30px;
  box-shadow: none;
  color: #ffffff;
  width: 100% !important;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control::-webkit-input-placeholder {
  color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control::-moz-placeholder {
  color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control:-ms-input-placeholder {
  color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  color: #ffffff;
}
.jbeasyformmaker-anyform-forms .form-control-custom select.form-control option {
  color: #818898;
}
.jbeasyformmaker-anyform-forms .form-control-custom.custom-select-style:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #c8d4ea;
  border-bottom: 1px solid #c8d4ea;
  z-index: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.jbeasyformmaker-anyform-forms .form-control-custom.custom-select-style select {
  position: relative;
  z-index: 1;
}
.jbeasyformmaker-anyform-forms .contact-page .form-control-custom .form-control {
  height: initial;
}
.custom-btn-padding-1 {
  font-size: 13px;
  padding: 13px 35px !important;
}
.custom-btn-style-1 {
  border-radius: 2px !important;
  font-size: 12px;
  padding: 13px 25px !important;
}
.custom-btn-background-color-1 {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
}
.custom-text-color-2 {
  color: #c6d4ee !important;
}
.mb-xlg {
  margin-bottom: 30px !important;
}
.custom-padding-right-1 {
  padding-right: 160px;
}
.custom-feature-box {
  display: block;
}
.custom-opacity-effect-1 {
  transition: opacity 300ms ease 0s;
}
.feature-box {
  clear: both;
}
.custom-feature-box .feature-box-info {
  padding: 0;
}
.custom-feature-box .feature-box-info > label {
  display: block;
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
}
.custom-footer ul {
  padding: 0px;
}
.custom-footer ul li {
  list-style: outside none none;
  padding: 0px;
}
.custom-text-color-1 {
  color: #818898 !important;
}

.custom-timeline {
  margin-top: 50px;
}
.custom-timeline .custom-timeline-box {
  position: relative;
  padding-left: 105px;
}
.custom-timeline .custom-timeline-box:before {
  background: none repeat scroll 0 0 #6a80a9;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #6a80a9;
  content: "";
  display: block;
  height: 6px;
  margin-left: -5px;
  position: absolute;
  left: 68px;
  top: 6px;
  width: 6px;
  z-index: 2;
}
.custom-timeline .custom-timeline-box:after {
  content: '';
  display: block;
  position: absolute;
  left: 65px;
  top: 3px;
  height: 100%;
  border-left: 1px solid #d5dee1;
  z-index: 1;
}
.custom-timeline .custom-timeline-box .date {
  position: absolute;
  top: 0;
  left: 0;
}
.custom-contact-item {
  padding: 0 0 30px;
}
.custom-contact-item i {
  font-size: 2em;
  margin-bottom: 20px;
  display: block;
}
.custom-contact-item span {
  display: block;
}
.custom-contact-item span.title {
  font-size: 0.8em;
}
.custom-contact-item span.content {
  font-size: 1.5em;
}
.custom-hover-opacity {
  display: block;
  -webkit-transition: ease opacity 300ms;
  -moz-transition: ease opacity 300ms;
  transition: ease opacity 300ms;
}
.custom-hover-opacity:hover {
  opacity: 0.7;
}
.custom-list-style-3,
.custom-list {
  padding: 0;
}
.custom-list-style-3 li,
.custom-list li {
  list-style: none;
}
.custom-list-style-3 li .title {
  display: inline-block;
  width: 80px;
  font-weight: 600;
}
.custom-right-border {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}