.t3-megamenu .mega-inner {
  padding: 0px;
}
.t3-megamenu .row {
  margin-left: auto;
  margin-right: auto;
}
.t3-megamenu .row + .row {
  padding-top: 10px;
  border-top: 1px solid #ededed;
}
.t3-megamenu .jb-mega-menu .col-xs-12 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.t3-megamenu .jb-mega-menu .mega-nav > li a {
  padding: 4px 6px !important;
}
.t3-megamenu .mega-dropdown-menu {
  z-index: 5001;
}
.t3-megamenu .mega-dropdown-menu .col-xs-12 {
  padding: 0px;
}
.t3-megamenu .dropdown-header,
.t3-megamenu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header {
  color: #333333;
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 8px;
  text-transform: uppercase;
}
.t3-megamenu .dropdown-header:hover,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover,
.t3-megamenu .dropdown-header:active,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active,
.t3-megamenu .dropdown-header:focus,
.t3-megamenu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus {
  background: transparent;
  color: inherit;
}
.t3-megamenu .mega-group-ct .row {
  margin-left: -15px;
  margin-right: -15px;
}
.t3-megamenu .mega-nav > li a,
.t3-megamenu .dropdown-menu .mega-nav > li a {
  padding: 6px 10px;
  outline: none;
  background: none;
}
.t3-megamenu .mega-nav > li a:hover,
.t3-megamenu .dropdown-menu .mega-nav > li a:hover,
.t3-megamenu .mega-nav > li a:focus,
.t3-megamenu .dropdown-menu .mega-nav > li a:focus {
  background: transparent;
}
.t3-megamenu .dropdown-menu .mega-group .mega-nav > li.active a {
  color: #1d2127;
}
.t3-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
}
.t3-megamenu .t3-module .module-title {
  color: #333333;
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.t3-megamenu .t3-module .module-title:hover,
.t3-megamenu .t3-module .module-title:active,
.t3-megamenu .t3-module .module-title:focus {
  background: transparent;
  color: inherit;
}
.t3-megamenu .t3-module ul li,
.t3-megamenu .t3-module .nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.t3-megamenu .t3-module ul li a,
.t3-megamenu .t3-module .nav li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.t3-megamenu .t3-module ul li a:hover,
.t3-megamenu .t3-module .nav li a:hover,
.t3-megamenu .t3-module ul li a:focus,
.t3-megamenu .t3-module .nav li a:focus,
.t3-megamenu .t3-module ul li a:active,
.t3-megamenu .t3-module .nav li a:active {
  background: transparent;
  color: inherit;
  font: inherit;
}
.t3-megamenu .mega-caption {
  color: #999999;
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
}
.t3-megamenu .nav .input-group-addon [class^="icon-"],
.t3-megamenu .nav .input-group-addon [class*=" icon-"],
.t3-megamenu .nav .input-group-addon .fa {
  margin-right: 0;
}
.mega-bg .mega-dropdown-inner .row {
  background-image: url(../../templates/porto/images/joomlabuff/menu-bg.png);
  background-position: right 100%;
  background-repeat: no-repeat;
}
.mega-bg .mega-dropdown-inner .row .mega-dropdown-inner .row {
  background-image: none;
}
.mega-no-padding {
  padding: 0px !important;
}
.mega-no-padding .dropdown-header {
  margin-top: 16px !important;
  padding: 0px 8px !important;
}
.mega-no-padding .mega-dropdown-inner .row {
  margin: 0px !important;
}
.mega-no-padding .mega-dropdown-inner .mega-inner ul li {
  border: none;
}
.mega-no-padding .mega-dropdown-inner .mega-inner ul li a:hover,
.mega-no-padding .mega-dropdown-inner .mega-inner ul li a:focus {
  background: transparent !important;
  text-decoration: underline !important;
}
.mega-no-padding .mega-dropdown-inner .mega-inner .m-bottom-5 {
  margin-bottom: 12px;
}
.menu-banner-area img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 44px auto 0;
}
.menu-banner-area .menu-banner-header {
  position: absolute;
  top: -20px;
  left: -15px;
  text-align: left;
}
.menu-banner-area .menu-banner-header h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  background-color: #2e2e2e;
  line-height: 1;
  padding: 6px 30px 6px 8px;
  margin-bottom: 15px;
  text-transform: uppercase;
}