@font-face {
	
	font-family: 'minicart-font';
	src: url('../fonts/minicart-font.eot?v=1.0');
	src: url('../fonts/minicart-font.eot?#iefix&v=1.0') format("embedded-opentype"), url('../fonts/minicart-font.woff?v=1.0') format("woff"), url('../fonts/minicart-font.ttf?v=1.0') format("truetype"), url('../fonts/minicart-font.svg?v=1.0#minicart-font') format("svg");
	font-weight: normal;
	font-style: normal;
}


.minicart-icon:before {
	font-family: "minicart-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.minicart-icon:before {
	content: "\e800";
}
