/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


//
// HOME
// ---------------------------------------------------------
.home {

  // Home Spotlights
  // ---------------
  .t3-sl-1,
  .t3-sl-5 {
    // jumbotron
    .jumbotron {
      //jumbotron btn
      .btn {
        border-color: #fff;
      }
    }
  }

}


//
// NAVIGATIONS
// ---------------------------------------------------------
.t3-mainnav {
  border-bottom: none;
}

.home-intro p span {
    color: @white;
}

.home-intro p em {
    color: @white;
}
.home-intro .get-started a:not(.btn){
	color: @white;
}


.testimonial.testimonial-style-2 blockquote::before, 
.testimonial.testimonial-style-2 blockquote::after,
.testimonial.testimonial-style-2 blockquote p {
    color: #777 !important;
 }
.testimonial.testimonial-style-2 .testimonial-author strong{
	color:#111111 !important;
}

.text-white{
	h2,p,a{
		color:@white;
	}
}

.border-top-brand{
	border-top:5px solid #71b6d2 !important;
}

.recent-posts .date .month {
    background: @brand-secondary;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
}

.padding-left-none{
	.col-sm-6,
	.col-sm-4{
		padding-left:0px;
	}
}
