@CHARSET "UTF-8";

.btn-favourite {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:none; 
     cursor: pointer;
}
.item-fav-icons-list li{
  list-style:none;
  display:inline;
  margin:5px !important;
  border-right:1px solid #000000; 
  
}
.form-favourite{
width: 420px; height: 0px;
}
.form-favourite {margin:15px 0!important;}
.btn-favourite {background-color: transparent!important;background-image: none;border-radius: 4px;border: 1px solid #ccc;color: #999;line-height: 18px!important;height: 30px!important;padding: 6px 10px 5px 10px!important;text-shadow:none;box-sizing:border-box;}.btn-like:hover {border-color: #4098d1;}
.btn-favourite img {margin-right: 5px;float: left;}
.element-invisible {position: absolute;padding: 0;margin: 0;border: 0;height: 1px;width: 1px;overflow: hidden;}