a:active,
a:focus {
  outline: 0;
}
img {
  border: none;
}

#k2Container {
  padding: 0 0 24px 0;
}
body.contentpane #k2Container {
  padding: 16px;
}

.k2Padding {
  padding: 4px;
}

.clr {
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
  float: none;
  padding: 0;
  margin: 0;
  border: none;
}

.even {
  padding: 2px;
}
.odd {
  padding: 2px;
}

div.k2FeedIcon {
  padding: 4px 8px;
}
div.k2FeedIcon a,
div.k2FeedIcon a:hover {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
div.k2FeedIcon a span,
div.k2FeedIcon a:hover span {
  display: none;
}

.itemRatingForm {
  display: block;
  vertical-align: middle;
  line-height: 25px;
  float: left;
}
.itemRatingLog {
  font-size: 11px;
  margin: 0;
  padding: 0 0 0 4px;
  float: left;
}
div.itemRatingForm .formLogLoading {
  background: url(../../../templates/porto/images/system/loading.gif) no-repeat left center;
  height: 25px;
  padding: 0 0 0 20px;
}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {
  background: transparent url(../../../templates/porto/images/system/transparent_star.gif) left -1000px repeat-x;
}
.itemRatingList {
  position: relative;
  float: left;
  width: 125px;
  height: 25px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  background-position: left top;
}
.itemRatingList li {
  display: inline;
  background: none;
  padding: 0;
}
.itemRatingList a,
.itemRatingList .itemCurrentRating {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000px;
  height: 25px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.itemRatingList a:hover {
  background-position: left bottom;
}
.itemRatingList a.one-star {
  width: 20%;
  z-index: 6;
}
.itemRatingList a.two-stars {
  width: 40%;
  z-index: 5;
}
.itemRatingList a.three-stars {
  width: 60%;
  z-index: 4;
}
.itemRatingList a.four-stars {
  width: 80%;
  z-index: 3;
}
.itemRatingList a.five-stars {
  width: 100%;
  z-index: 2;
}
.itemRatingList .itemCurrentRating {
  z-index: 1;
  background-position: 0 center;
  margin: 0;
  padding: 0;
}
span.siteRoot {
  display: none;
}

.smallerFontSize {
  font-size: 100%;
  line-height: inherit;
}
.largerFontSize {
  font-size: 150%;
  line-height: 140%;
}

.recaptchatable .recaptcha_image_cell,
#recaptcha_table {
  background-color: #fff !important;
}
#recaptcha_table {
  border-color: #ccc !important;
}
#recaptcha_response_field {
  border-color: #ccc !important;
  background-color: #fff !important;
}
.k2-recaptcha-v2 {
  margin-top: 12px;
}

div.itemToolbar ul li a#fontDecrease,
div.itemToolbar ul li a#fontIncrease {
  font-size: 14px;
}
div.itemToolbar ul li a#fontDecrease img,
div.itemToolbar ul li a#fontIncrease img {
  background: none;
}
a.ubUserFeedIcon,
a.ubUserFeedIcon:hover,
a.ubUserURL,
a.ubUserURL:hover,
span.ubUserEmail,
div.itemIsFeatured:before,
div.catItemIsFeatured:before,
div.userItemIsFeatured:before,
div.k2FeedIcon a,
div.k2FeedIcon a:hover,
div.itemToolbar ul li a#fontDecrease,
div.itemToolbar ul li a#fontIncrease {
  background: none;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.catItemIsFeatured:before,
div.userItemIsFeatured:before,
div.itemIsFeatured:before {
  content: "\e09b";
}
a#fontIncrease:before {
  content: "\e091";
}
a#fontDecrease:before {
  content: "\e092";
}
div.k2FeedIcon a:before,
a.ubUserFeedIcon:before {
  content: "\e03b";
}
a.ubUserURL:before {
  content: "\e037";
}
span.ubUserEmail:before {
  content: "\e086";
}

div.k2LatestCommentsBlock ul,
div.k2TopCommentersBlock ul,
div.k2ItemsBlock ul,
div.k2LoginBlock ul,
div.k2UserBlock ul.k2UserBlockActions,
div.k2UserBlock ul.k2UserBlockRenderedMenu,
div.k2ArchivesBlock ul,
div.k2AuthorsListBlock ul,
div.k2CategoriesListBlock ul,
div.k2UsersBlock ul {
  margin: 0;
  padding: 0 4px;
  list-style: none;
}

.clearList {
  display: none;
  float: none;
  clear: both;
}

.lastItem {
  border: none;
}

.k2Avatar img {
  display: block;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 2px;
  margin: 2px 4px 4px 0;
}

div.k2Pagination {
  padding: 8px;
  margin: 24px 0 4px 0;
  text-align: center;
}
div.k2Pagination ul {
  text-align: center;
}
div.k2Pagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
div.k2Pagination ul li a {
  display: inline-block;
  padding: 13px 20px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
  background: #fff;
  text-decoration: none;
}
div.k2Pagination ul li a:hover {
  background: #fafafa;
  cursor: pointer;
}
div.k2Pagination ul li.active a {
  background: #ef3447;
}
div.k2Pagination ul li a span {
  vertical-align: middle;
}

div.itemIsFeatured,
div.catItemIsFeatured,
div.userItemIsFeatured {
  position: relative;
}
div.itemIsFeatured:before,
div.catItemIsFeatured:before,
div.userItemIsFeatured:before {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #CF1919;
  font-size: 20px;
}

.k2HorizontalSep {
  border: 0;
  padding: 0;
  margin: 0 8px;
}

span.itemEditLink,
span.catItemEditLink,
span.userItemEditLink {
  float: right;
  display: block;
  padding: 0;
  margin: 0;
  width: 120px;
  text-align: right;
}
span.itemEditLink a,
span.catItemEditLink a,
span.userItemEditLink a {
  display: inline-block;
  padding: 4px 8px;
  margin: 0;
  background: #2d96dd;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 11px;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
span.itemEditLink a:hover,
span.catItemEditLink a:hover,
span.userItemEditLink a:hover {
  background: #217dbb;
}

a.itemPrintThisPage {
  display: block;
  width: 160px;
  margin: 4px auto 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}
a.itemPrintThisPage:hover {
  background: #fafafa;
  text-decoration: none;
}
div.itemView {
  padding: 8px 0 24px 0;
  margin: 0 0 24px 0;
}

div.itemHeader span.itemDateCreated {
  color: #999;
  font-size: 11px;
}
div.itemHeader h2.itemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
div.itemHeader h2.itemTitle span sup {
  font-size: 12px;
  color: #CF1919;
  text-decoration: none;
}

div.itemHeader span.itemAuthor {
  display: block;
  padding: 0;
  margin: 0;
}
div.itemHeader span.itemAuthor a:before {
  content: " ";
}
div.itemToolbar ul {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
div.itemToolbar ul li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 8px;
  margin: 0;
  border-left: 1px solid #ccc;
  text-align: center;
  background: none;
  font-size: 12px;
}
div.itemToolbar ul > li:first-child {
  border: none;
}

div.itemToolbar ul li a {
  font-size: 12px;
  font-weight: normal;
}
div.itemToolbar ul li a img {
  vertical-align: middle;
}
div.itemToolbar ul li a#fontDecrease {
  margin: 0 0 0 2px;
}
div.itemToolbar ul li a#fontDecrease img {
  width: 13px;
  height: 13px;
  font-size: 13px;
}
div.itemToolbar ul li a#fontIncrease {
  margin: 0 0 0 2px;
}
div.itemToolbar ul li a#fontIncrease img {
  width: 13px;
  height: 13px;
  font-size: 13px;
}
div.itemToolbar ul li a#fontDecrease span,
div.itemToolbar ul li a#fontIncrease span {
  display: none;
}
div.itemRatingBlock {
  padding: 8px 0;
}
div.itemRatingBlock span {
  display: block;
  float: left;
  font-style: normal;
  padding: 0 4px 0 0;
  margin: 0;
  color: #999;
}
div.itemBody {
  padding: 8px 0;
  margin: 0;
}
div.itemImageBlock {
  padding: 8px 0;
  margin: 0 0 16px 0;
}
span.itemImage {
  display: block;
  text-align: center;
  margin: 0 0 8px 0;
}
span.itemImage img {
  max-width: 100%;
  height: auto;
}
span.itemImageCaption {
  color: #666;
  float: left;
  display: block;
  font-size: 11px;
}
span.itemImageCredits {
  color: #999;
  float: right;
  display: block;
  font-style: italic;
  font-size: 11px;
}
@media screen and (max-width: 600px) {
  span.itemImageCaption,
  span.itemImageCredits {
    float: none;
    text-align: center;
  }
}
div.itemFullText h3 {
  margin: 0;
  padding: 16px 0 4px 0;
}
div.itemExtraFields {
  margin: 16px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px dotted #ddd;
}
div.itemExtraFields h3 {
  margin: 0;
  padding: 0 0 8px 0;
}
div.itemExtraFields ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.itemExtraFields ul li {
  display: block;
}
div.itemExtraFields ul li span.itemExtraFieldsLabel {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 4px 0 0;
  width: 30%;
}
div.itemContentFooter {
  display: block;
  text-align: right;
  padding: 4px 0;
  margin: 16px 0 4px 0;
  color: #999;
}
span.itemHits {
  float: left;
}
div.itemSocialSharing {
  padding: 8px 0;
}
div.itemTwitterButton {
  float: left;
  margin: 2px 24px 0 0;
}
div.itemFacebookButton {
  float: left;
  margin-right: 24px;
  width: 200px;
}
div.itemLinks {
  margin: 16px 0;
  padding: 0;
}
div.itemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.itemTagsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.itemTagsBlock ul.itemTags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.itemTagsBlock ul.itemTags li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  text-align: center;
}
div.itemTagsBlock ul.itemTags li a:before {
  content: "#";
}
div.itemAttachmentsBlock {
  padding: 4px;
  border-bottom: 1px dotted #ccc;
}
div.itemAttachmentsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.itemAttachmentsBlock ul.itemAttachments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.itemAttachmentsBlock ul.itemAttachments li {
  display: inline;
  list-style: none;
  padding: 0 4px;
  margin: 0;
  text-align: center;
}
div.itemAttachmentsBlock ul.itemAttachments li span {
  font-size: 10px;
  color: #999;
  font-weight: normal;
}

div.itemAuthorBlock img.itemAuthorAvatar {
  float: left;
  display: block;
  background: #fff;
  padding: 4px;
  border: 1px solid #ddd;
  margin: 0 8px 0 0;
}
div.itemAuthorBlock div.itemAuthorDetails {
  margin: 24px;
  padding: 4px 0 0 0;
}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName {
  margin: 0 0 4px 0;
  padding: 0;
}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName a {
  font-size: 16px;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
  font-weight: bold;
  color: #555;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {
  font-weight: bold;
  color: #555;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a {
  font-weight: normal;
}

div.itemAuthorLatest {
  margin-bottom: 16px;
  padding: 0;
}

div.itemRelated {
  margin-bottom: 16px;
  padding: 0;
}

div.itemRelated ul li.k2ScrollerElement {
  float: left;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 4px;
  margin: 0 4px 4px 0;
  background: #fff;
}

div.itemRelated ul li.clr {
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
  float: none;
  padding: 0;
  margin: 0;
  border: none;
}

div.itemVideoBlock {
  margin: 0 0 16px 0;
  padding: 16px;
  background: #010101 url(../../../templates/porto/images/system/videoplayer-bg.gif) repeat-x bottom;
  color: #eee;
}
div.itemVideoBlock div.itemVideoEmbedded {
  text-align: center;
}

div.itemVideoBlock span.itemVideo {
  display: block;
  overflow: hidden;
}
div.itemVideoBlock span.itemVideoCaption {
  color: #eee;
  float: left;
  display: block;
  font-size: 11px;
  font-weight: bold;
  width: 60%;
}
div.itemVideoBlock span.itemVideoCredits {
  color: #eee;
  float: right;
  display: block;
  font-style: italic;
  font-size: 11px;
  width: 35%;
  text-align: right;
}
@media screen and (max-width: 600px) {
  div.itemVideoBlock span.itemVideoCaption,
  div.itemVideoBlock span.itemVideoCredits {
    float: none;
    text-align: center;
    width: auto;
  }
}

div.itemImageGallery {
  margin: 0 0 16px 0;
  padding: 0;
}

div.itemNavigation {
  padding: 8px;
  margin: 0 0 24px 0;
  background: #fafafa;
  border-radius: 4px;
}
div.itemNavigation span.itemNavigationTitle {
  color: #999;
}
div.itemNavigation a.itemPrevious {
  padding: 0 12px;
}
div.itemNavigation a.itemNext {
  padding: 0 12px;
}

div.itemComments ul.itemCommentsList {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}
div.itemComments ul.itemCommentsList li.authorResponse {
  background: #f5fdff;
}
div.itemComments ul.itemCommentsList li.unpublishedComment {
  background: #ffeaea;
}
div.itemComments ul.itemCommentsList li img {
  float: left;
}
div.itemComments ul.itemCommentsList li span.commentDate {
  margin: 0 8px 0 0;
}
div.itemComments ul.itemCommentsList li span.commentAuthorName {
  font-weight: bold;
  font-size: 14px;
}
div.itemComments ul.itemCommentsList li p {
  padding: 4px 0;
}
div.itemComments ul.itemCommentsList li span.commentAuthorEmail {
  display: none;
}
div.itemComments ul.itemCommentsList li span.commentLink {
  float: right;
  margin-left: 8px;
}
div.itemComments ul.itemCommentsList li span.commentLink a {
  font-size: 11px;
  color: #999;
  text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentLink a:hover {
  font-size: 11px;
  color: #555;
  text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentToolbar {
  display: block;
  clear: both;
}
div.itemComments ul.itemCommentsList li span.commentToolbar a {
  font-size: 11px;
  color: #999;
  text-decoration: underline;
  margin-right: 4px;
}
div.itemComments ul.itemCommentsList li span.commentToolbar a:hover {
  font-size: 11px;
  color: #555;
  text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentToolbarLoading {
  background: url(../../../templates/porto/images/system/searchLoader.gif) no-repeat 100% 50%;
}
div.itemCommentsPagination {
  padding: 4px;
  margin: 0 0 24px 0;
}

div.itemCommentsPagination span.pagination {
  display: block;
  float: right;
  clear: both;
}

div.itemCommentsPagination ul {
  text-align: center;
}
div.itemCommentsPagination ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
div.itemCommentsPagination ul li a {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
  background: #fff;
  text-decoration: none;
}
div.itemCommentsPagination ul li a:hover {
  background: #fafafa;
  cursor: pointer;
}
div.itemCommentsPagination ul li.active a {
  background: #fafafa;
}
div.itemCommentsPagination ul li a span {
  vertical-align: middle;
}
div.itemCommentsForm {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  padding-top: 45px;
}
div.itemCommentsForm h3 {
  margin: 0;
  padding: 0 0 4px 0;
  letter-spacing: normal;
}
div.itemCommentsForm p.itemCommentsFormNotes {
  padding: 8px 0;
}
div.itemCommentsForm form {
  margin: 0;
  padding: 0;
  width: 100%;
}
div.itemCommentsForm form label.formComment,
div.itemCommentsForm form label.formName,
div.itemCommentsForm form label.formEmail,
div.itemCommentsForm form label.formUrl,
div.itemCommentsForm form label.formRecaptcha {
  display: block;
  margin: 12px 0 0 2px;
}
div.itemCommentsForm form textarea.inputbox {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}
div.itemCommentsForm form input.inputbox {
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px;
  line-height: 150%;
  height: auto;
  box-sizing: border-box;
}
div.itemCommentsForm form input#submitCommentButton {
  display: block;
  margin: 16px 0 0 0;
  padding: 8px 16px;
  background: #2d96dd;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
div.itemCommentsForm form input#submitCommentButton:hover {
  background: #217dbb;
}
div.itemCommentsForm form span#formLog {
  margin: 24px;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  display: none;
}
div.itemCommentsForm form span#formLog.k2FormLogError {
  display: block;
  background: #f00;
  color: #fff;
}
div.itemCommentsForm form span#formLog.k2FormLogSuccess {
  display: block;
  background: #18ac00;
  color: #fff;
}
div.itemCommentsForm form .formLogLoading {
  background: url(../../../templates/porto/images/system/loading.gif) no-repeat left center;
}
div.itemCommentsLoginFirst {
  display: block;
  margin: 24px;
  padding: 8px 12px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
}

div.k2ReportCommentFormContainer {
  padding: 8px;
  width: 480px;
  margin: 0 auto;
}
div.k2ReportCommentFormContainer blockquote {
  width: 462px;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 0 0 8px 0;
}
div.k2ReportCommentFormContainer blockquote span.quoteIconLeft {
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  color: #135CAE;
  line-height: 30px;
  vertical-align: top;
  display: block;
  float: left;
}
div.k2ReportCommentFormContainer blockquote span.quoteIconRight {
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  color: #135CAE;
  line-height: 30px;
  vertical-align: top;
  display: block;
  float: right;
}
div.k2ReportCommentFormContainer blockquote span.theComment {
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  padding: 0 4px;
}
div.k2ReportCommentFormContainer form label {
  display: block;
  font-weight: bold;
}
div.k2ReportCommentFormContainer form input,
div.k2ReportCommentFormContainer form textarea {
  display: block;
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 2px;
  margin: 0 0 8px 0;
  width: 474px;
}
div.k2ReportCommentFormContainer form #recaptcha {
  margin-bottom: 24px;
}
div.k2ReportCommentFormContainer form span#formLog {
  margin: 24px;
  padding: 8px 12px;
  background: #fafafa;
  border-radius: 4px;
  text-align: center;
  display: none;
}
div.k2ReportCommentFormContainer form .formLogLoading {
  background: url(../../../templates/porto/images/system/loading.gif) no-repeat left center;
}

div.itemBackToTop {
  text-align: right;
}
div.itemBackToTop a {
  text-decoration: underline;
}
div.itemBackToTop a:hover {
  text-decoration: underline;
}

div.itemListCategory {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 24px 0;
  padding: 8px;
}
span.catItemAddLink {
  display: block;
  padding: 8px 0;
  margin: 0 0 4px 0;
  border-bottom: 1px dotted #ccc;
  text-align: right;
}
span.catItemAddLink a {
  padding: 4px 16px;
  border: 1px solid #ddd;
  background: #fafafa;
  text-decoration: none;
}
span.catItemAddLink a:hover {
  background: #ffffcc;
}
div.itemListCategory img {
  float: left;
  display: block;
  margin: 0 8px 0 0;
}

div.subCategoryContainer {
  float: left;
}

div.subCategory {
  background: #fafafa;
  border: 1px solid #ddd;
  margin: 4px;
  padding: 8px;
}
div.subCategory a.subCategoryImage,
div.subCategory a.subCategoryImage:hover {
  text-align: center;
  display: block;
}
div.subCategory a.subCategoryImage img,
div.subCategory a.subCategoryImage:hover img {
  margin: 0 8px 0 0;
}

div#itemListLinks {
  background: #fafafa;
  border: 1px solid #ddd;
  margin: 8px 0;
  padding: 8px;
}
div.itemContainer {
  float: left;
}

@media screen and (max-width: 600px) {
  div.itemContainer {
    float: none;
    display: block;
    width: 100% !important;
  }
}

div.catItemView {
  margin-bottom: 28px;
  padding: 4px;
}

div.groupLinks {
  padding: 0;
  margin: 0;
}

div.catItemHeader span.catItemDateCreated {
  color: #999;
  font-size: 11px;
}
div.catItemHeader h3.catItemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
div.catItemHeader h3.catItemTitle span sup {
  font-size: 12px;
  color: #CF1919;
  text-decoration: none;
}

div.catItemHeader span.catItemAuthor {
  display: block;
  padding: 0;
  margin: 0;
}
div.catItemRatingBlock {
  padding: 8px 0;
}
div.catItemRatingBlock span {
  display: block;
  float: left;
  font-style: normal;
  padding: 0 4px 0 0;
  margin: 0;
  color: #999;
}
div.catItemBody {
  padding: 8px 0;
  margin: 0;
}
div.catItemImageBlock {
  padding: 8px 0;
  margin: 0 0 16px 0;
}
span.catItemImage {
  display: block;
  text-align: center;
  margin: 0 0 8px 0;
}
span.catItemImage img {
  max-width: 100%;
  height: auto;
}
div.catItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.catItemExtraFields,
div.genericItemExtraFields {
  margin: 16px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px dotted #ddd;
}
div.catItemExtraFields h4,
div.genericItemExtraFields h4 {
  margin: 0;
  padding: 0 0 8px 0;
}
div.catItemExtraFields ul,
div.genericItemExtraFields ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.catItemExtraFields ul li,
div.genericItemExtraFields ul li {
  display: block;
}
div.catItemExtraFields ul li span.catItemExtraFieldsLabel,
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 4px 0 0;
  width: 30%;
}
div.catItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.catItemHitsBlock {
  padding: 4px 0;
}
div.catItemCategory {
  padding: 4px 0;
}
div.catItemCategory span {
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.catItemTagsBlock {
  padding: 4px 0;
}
div.catItemTagsBlock span {
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.catItemTagsBlock ul.catItemTags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.catItemTagsBlock ul.catItemTags li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  text-align: center;
}
div.catItemTagsBlock ul.catItemTags li a:before {
  content: "#";
}
div.catItemAttachmentsBlock {
  padding: 4px;
  border-bottom: 1px dotted #ccc;
}
div.catItemAttachmentsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.catItemAttachmentsBlock ul.catItemAttachments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.catItemAttachmentsBlock ul.catItemAttachments li {
  display: inline;
  list-style: none;
  padding: 0 4px;
  margin: 0;
  text-align: center;
}
div.catItemAttachmentsBlock ul.catItemAttachments li span {
  font-size: 10px;
  color: #999;
  font-weight: normal;
}

div.catItemVideoBlock {
  margin: 0 0 16px 0;
  padding: 16px;
  background: #010101 url(../../../templates/porto/images/system/videoplayer-bg.gif) repeat-x bottom;
}
div.catItemVideoBlock div.catItemVideoEmbedded {
  text-align: center;
}

div.catItemVideoBlock span.catItemVideo {
  display: block;
}

div.catItemImageGallery {
  margin: 0 0 16px 0;
  padding: 0;
}

div.catItemCommentsLink {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  border-right: 1px solid #ccc;
}

div.catItemReadMore {
  display: inline;
}

span.catItemDateModified {
  display: block;
  text-align: right;
  padding: 4px;
  margin: 4px 0;
  color: #999;
  border-top: 1px solid #ddd;
}

div.userBlock {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 0 24px 0;
  padding: 8px;
}
span.userItemAddLink {
  display: block;
  padding: 8px 0;
  margin: 0 0 4px 0;
  border-bottom: 1px dotted #ccc;
  text-align: right;
}
span.userItemAddLink a {
  padding: 4px 16px;
  border: 1px solid #ddd;
  background: #fafafa;
  text-decoration: none;
}
span.userItemAddLink a:hover {
  background: #ffffcc;
}
div.userBlock img {
  display: block;
  float: left;
  background: #fff;
  padding: 4px;
  border: 1px solid #ddd;
  margin: 0 8px 0 0;
  border-radius: 50%;
}
div.userBlock div.userDescription {
  padding: 4px 0;
}
div.userBlock div.userAdditionalInfo {
  padding: 4px 0;
  margin: 8px 0 0 0;
}
span.userURL {
  font-weight: bold;
  color: #555;
  display: block;
}
span.userEmail {
  font-weight: bold;
  color: #555;
  display: block;
}

div.userItemView {
  margin-bottom: 48px;
}

div.userItemViewUnpublished {
  opacity: 0.9;
  border: 4px dashed #ccc;
  background: #fffff2;
  padding: 8px;
  margin: 8px 0;
}
div.userItemHeader span.userItemDateCreated {
  color: #999;
  font-size: 11px;
}
div.userItemHeader h3.userItemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
div.userItemHeader h3.userItemTitle span sup {
  font-size: 12px;
  color: #CF1919;
  text-decoration: none;
}

div.userItemBody {
  padding: 8px 0;
  margin: 0;
}
div.userItemImageBlock {
  padding: 0;
  margin: 0;
  float: left;
}
span.userItemImage {
  display: block;
  text-align: center;
  margin: 0 8px 8px 0;
}
span.userItemImage img {
  max-width: 100%;
  height: auto;
}
div.userItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.userItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.userItemCategory {
  padding: 4px 0;
}
div.userItemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.userItemTagsBlock {
  padding: 4px 0;
}
div.userItemTagsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.userItemTagsBlock ul.userItemTags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.userItemTagsBlock ul.userItemTags li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  text-align: center;
}
div.userItemTagsBlock ul.userItemTags li a:before {
  content: "#";
}

div.userItemCommentsLink {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  border-right: 1px solid #ccc;
}

div.userItemReadMore {
  display: inline;
}

div.tagItemView {
  margin-bottom: 48px;
}

div.tagItemHeader span.tagItemDateCreated {
  color: #999;
  font-size: 11px;
}
div.tagItemHeader h2.tagItemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
div.tagItemBody {
  padding: 8px 0;
  margin: 0;
}
div.tagItemImageBlock {
  padding: 0;
  margin: 0;
  float: left;
}
span.tagItemImage {
  display: block;
  text-align: center;
  margin: 0 8px 8px 0;
}
span.tagItemImage img {
  max-width: 100%;
  height: auto;
}
div.tagItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.tagItemCategory {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  border-right: 1px solid #ccc;
}
div.tagItemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}

div.tagItemReadMore {
  display: inline;
}

div.genericItemView {
  margin-bottom: 48px;
}

div.genericItemHeader span.genericItemDateCreated {
  color: #999;
  font-size: 11px;
}
div.genericItemHeader h2.genericItemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
div.genericItemBody {
  padding: 8px 0;
  margin: 0;
}
div.genericItemImageBlock {
  padding: 0;
  margin: 0;
  float: left;
}
span.genericItemImage {
  display: block;
  text-align: center;
  margin: 0 8px 8px 0;
}
span.genericItemImage img {
  max-width: 100%;
  height: auto;
}
div.genericItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.genericItemCategory {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  border-right: 1px solid #ccc;
}
div.genericItemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}

div.genericItemReadMore {
  display: inline;
}

div#genericItemListNothingFound {
  padding: 40px;
  text-align: center;
}
div#genericItemListNothingFound p {
  font-size: 20px;
  color: #999;
}

#k2GoogleSearchContainer .gsc-control {
  width: auto !important;
}
#k2GoogleSearchContainer .gsc-control .gsc-above-wrapper-area,
#k2GoogleSearchContainer .gsc-control .gsc-resultsHeader,
#k2GoogleSearchContainer .gsc-control .gsc-url-bottom {
  display: none !important;
}

div.latestItemsContainer {
  float: left;
}
@media screen and (max-width: 600px) {
  div.latestItemsContainer {
    float: none;
    display: block;
    width: 100% !important;
  }
}

div.latestItemsCategory {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 8px 24px 0;
  padding: 8px;
}
div.latestItemsCategoryImage {
  text-align: center;
}
div.latestItemsCategoryImage img {
  margin: 0 8px 0 0;
}

div.latestItemsUser {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 8px 24px 0;
  padding: 8px;
}
div.latestItemsUser img {
  display: block;
  float: left;
  background: #fff;
  padding: 4px;
  border: 1px solid #ddd;
  margin: 0 8px 0 0;
  border-radius: 50%;
}
div.latestItemsUser p.latestItemsUserDescription {
  padding: 4px 0;
}
div.latestItemsUser p.latestItemsUserAdditionalInfo {
  padding: 4px 0;
  margin: 8px 0 0 0;
}
span.latestItemsUserURL {
  font-weight: bold;
  color: #555;
  display: block;
}
span.latestItemsUserEmail {
  font-weight: bold;
  color: #555;
  display: block;
}

div.latestItemList {
  padding: 0 8px 8px 0;
}

div.latestItemHeader h3.latestItemTitle {
  padding: 10px 0 4px 0;
  margin: 0;
}
span.latestItemDateCreated {
  color: #999;
  font-size: 11px;
}
div.latestItemBody {
  padding: 8px 0;
  margin: 0;
}
div.latestItemImageBlock {
  padding: 0;
  margin: 0;
  float: left;
}
span.latestItemImage {
  display: block;
  text-align: center;
  margin: 0 8px 8px 0;
}
span.latestItemImage img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  div.latestItemImageBlock {
    float: none;
    display: block;
  }
}
div.latestItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.latestItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.latestItemCategory {
  padding: 4px 0;
}
div.latestItemCategory span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.latestItemTagsBlock {
  padding: 4px 0;
}
div.latestItemTagsBlock span {
  font-weight: bold;
  color: #555;
  padding: 0 4px 0 0;
}
div.latestItemTagsBlock ul.latestItemTags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
div.latestItemTagsBlock ul.latestItemTags li {
  display: inline;
  list-style: none;
  padding: 0 4px 0 0;
  margin: 0;
  text-align: center;
}
div.latestItemTagsBlock ul.latestItemTags li a:before {
  content: "#";
}

div.latestItemVideoBlock {
  margin: 0 0 16px 0;
  padding: 16px;
  background: #010101 url(../../../templates/porto/images/system/videoplayer-bg.gif) repeat-x bottom;
}
div.latestItemVideoBlock span.latestItemVideo {
  display: block;
}

div.latestItemCommentsLink {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  border-right: 1px solid #ccc;
}

div.latestItemReadMore {
  display: inline;
}

h2.latestItemTitleList {
  padding: 2px 0;
  margin: 8px 0 2px 0;
  border-bottom: 1px dotted #ccc;
}

.k2AccountPage table tr td label {
  white-space: nowrap;
}
img.k2AccountPageImage {
  border: 4px solid #ddd;
  margin: 10px 0;
  padding: 0;
  display: block;
}
.k2AccountPage div.k2AccountPageNotice {
  padding: 8px;
}
.k2AccountPage div.k2AccountPageUpdate {
  border-top: 1px dotted #ddd;
  margin: 8px 0;
  padding: 8px;
  text-align: right;
}
.k2AccountPage th.k2ProfileHeading {
  text-align: left;
  font-size: 18px;
  padding: 8px;
  background: #f6f6f6;
}
.k2AccountPage td#userAdminParams {
  padding: 0;
  margin: 0;
}
.k2AccountPage table.admintable td.key,
.k2AccountPage table.admintable td.paramlist_key {
  background: #f6f6f6;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #666;
  font-weight: bold;
  text-align: right;
  font-size: 11px;
  width: 140px;
}

div.k2LatestCommentsBlock ul li span.lcCommentDate {
  color: #999;
}

div.k2TopCommentersBlock ul li span.tcLatestCommentDate {
  color: #999;
}

div.k2ItemsBlock ul li div.moduleItemIntrotext {
  display: block;
  padding: 4px 0;
}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
  float: right;
  margin: 2px 0 4px 4px;
  padding: 0;
}
div.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 4px 0 0;
  width: 30%;
}
div.k2ItemsBlock ul li div.moduleItemTags a {
  padding: 0 2px;
}
div.k2ItemsBlock ul li a.moduleItemComments {
  border-right: 1px solid #ccc;
  padding: 0 4px 0 0;
  margin: 0 8px 0 0;
}
div.k2ItemsBlock ul li span.moduleItemHits {
  border-right: 1px solid #ccc;
  padding: 0 4px 0 0;
  margin: 0 8px 0 0;
}

div.k2AuthorsListBlock ul li a.abAuthorLatestItem {
  display: block;
  clear: both;
}

div.k2BreadcrumbsBlock span.bcTitle {
  padding: 0 4px 0 0;
  color: #999;
}
div.k2BreadcrumbsBlock span.bcSeparator {
  padding: 0 4px;
  font-size: 14px;
}

div.k2CalendarBlock {
  height: 190px;
  margin-bottom: 8px;
}

div.k2CalendarLoader {
  background: #ffffff url(../../../templates/porto/images/system/k2CalendarLoader.gif) no-repeat 50% 50%;
}
table.calendar {
  margin: 0 auto;
  background: #fff;
  border-collapse: collapse;
}
table.calendar tr td {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  border: 1px solid #f4f4f4;
  background: #fff;
}
table.calendar tr td.calendarNavMonthPrev {
  background: #fafafa;
  text-align: left;
}
table.calendar tr td.calendarNavMonthPrev a {
  font-size: 20px;
  text-decoration: none;
}
table.calendar tr td.calendarNavMonthPrev a:hover {
  font-size: 20px;
  text-decoration: none;
}
table.calendar tr td.calendarCurrentMonth {
  background: #fafafa;
}
table.calendar tr td.calendarNavMonthNext {
  background: #fafafa;
  text-align: right;
}
table.calendar tr td.calendarNavMonthNext a {
  font-size: 20px;
  text-decoration: none;
}
table.calendar tr td.calendarNavMonthNext a:hover {
  font-size: 20px;
  text-decoration: none;
}
table.calendar tr td.calendarDayName {
  background: #e9e9e9;
  font-size: 11px;
  width: 14.2%;
}
table.calendar tr td.calendarDateEmpty {
  background: #fbfbfb;
}
table.calendar tr td.calendarDateLinked {
  padding: 0;
}
table.calendar tr td.calendarDateLinked a {
  display: block;
  padding: 2px;
  text-decoration: none;
  background: #fafafa;
}
table.calendar tr td.calendarDateLinked a:hover {
  display: block;
  background: #135cae;
  color: #fff;
  padding: 2px;
  text-decoration: none;
}
table.calendar tr td.calendarToday {
  background: #135cae;
  color: #fff;
}
table.calendar tr td.calendarTodayLinked {
  background: #135cae;
  color: #fff;
  padding: 0;
}
table.calendar tr td.calendarTodayLinked a {
  display: block;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}
table.calendar tr td.calendarTodayLinked a:hover {
  display: block;
  background: #BFD9FF;
  padding: 2px;
  text-decoration: none;
}

div.k2CategorySelectBlock form select {
  width: auto;
}

div.k2CategoriesListBlock ul li a span.catTitle {
  padding-right: 4px;
}
div.k2CategoriesListBlock ul li.activeCategory a {
  font-weight: bold;
}

div.k2SearchBlock {
  position: relative;
}
div.k2SearchBlock form input.k2SearchLoading {
  background: url(../../../templates/porto/images/system/searchLoader.gif) no-repeat 100% 50%;
}
div.k2SearchBlock div.k2LiveSearchResults {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 99;
  border: 1px solid #ddd;
  margin-top: -1px;
}

div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li {
  border: none;
  margin: 0;
  padding: 0;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a {
  display: block;
  padding: 1px 2px;
  border-top: 1px dotted #ddd;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a:hover {
  background: #fffff0;
}

div.k2TagCloudBlock {
  padding: 8px 0;
}
div.k2TagCloudBlock a {
  padding: 4px;
  float: left;
  display: block;
}
div.k2TagCloudBlock a:hover {
  padding: 4px;
  float: left;
  display: block;
  background: #135cae;
  color: #fff;
  text-decoration: none;
}

div.k2LoginBlock fieldset.input {
  margin: 0;
  padding: 0 0 8px 0;
}
div.k2LoginBlock fieldset.input p {
  margin: 0;
  padding: 0 0 4px 0;
}
div.k2LoginBlock fieldset.input p label {
  display: block;
}
div.k2LoginBlock fieldset.input p input {
  display: block;
}
div.k2LoginBlock fieldset.input p#form-login-remember label,
div.k2LoginBlock fieldset.input p#form-login-remember input {
  display: inline;
}
div.k2UserBlock p.ubGreeting {
  border-bottom: 1px dotted #ccc;
}
div.k2UserBlock div.k2UserBlockDetails span.ubName {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

a.ubUserFeedIcon,
a.ubUserFeedIcon:hover {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 15px;
}
a.ubUserFeedIcon span,
a.ubUserFeedIcon:hover span {
  display: none;
}
a.ubUserURL,
a.ubUserURL:hover {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 15px;
}
a.ubUserURL span,
a.ubUserURL:hover span {
  display: none;
}
span.ubUserEmail {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  overflow: hidden;
  font-size: 15px;
}
span.ubUserEmail a {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}
div.k2UsersBlock ul li h3 {
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
}
.post-large .post-image {
  margin-bottom: 10px;
}
.post-large .date .day {
  background: #F4F4F4 !important;
  border-radius: 2px 2px 0 0 !important;
  padding: 10px !important;
}
.post-large .post-content h2 {
  margin: 16px 0 10px 0px;
}
.post-large .post-content p {
  margin-bottom: 10px;
}
.post-large .post-content .catItemIntroText,
.post-large .post-content .post-meta {
  margin-left: 50px;
}
.post-medium {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 28px;
}
.post-medium .post-content h2 {
  margin: 0px 0 10px 0px;
}
.post-medium .post-content p {
  margin-bottom: 10px;
}
.post-medium .post-content .catItemIntroText {
  margin-left: 0px;
  margin-bottom: 10px;
}
.k2SearchBlockForm {
  display: flex;
}
.k2SearchBlockForm .inputbox {
  box-shadow: 0px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  height: 50px;
}
.k2SearchBlockForm .inputbox:focus {
  box-shadow: none;
  border-color: #ef3447;
}
.k2SearchBlockForm .btn {
  border: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 6px 20px !important;
}
.k2SearchBlockForm .btn:hover {
  border: none;
}
.recent-news .footer-blog-post {
  margin-top: 26px;
}
.recent-news .footer-blog-post .img-box {
  float: left;
}
.recent-news .footer-blog-post .content-box {
  padding-left: 13px;
  display: table-cell;
  vertical-align: middle;
}
.recent-news .footer-blog-post .content-box h3 {
  color: #ef3447;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 20px;
  transition: all 0.5s ease;
  text-transform: capitalize;
}
.recent-news .footer-blog-post .content-box h3:hover {
  color: #ef3447;
}
.recent-news .footer-blog-post .content-box li a {
  color: #888;
  font-size: 0.8em;
}
.blog-single-post h2 {
  text-transform: capitalize;
  color: #ef3447;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: normal;
}
.blog-single-post .post-content {
  margin-left: 60px;
}
.blog-single-post .post-content .post-meta {
  margin-left: 0px;
  margin-bottom: 20px;
}
.blog-single-post .post-content .post-share {
  margin: 55px 0 0px;
  padding-bottom: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.blog-single-post .post-content .post-share h3 {
  float: left;
  margin-right: 20px;
  letter-spacing: normal;
}
.blog-single-post .post-content .post-share h3 i {
  margin-right: 7px;
}
.blog-single-post .post-content .post-share .addthis_toolbox {
  margin: 31px 0px 0px;
}
.blog-single-post .post-content .post-author h3 {
  letter-spacing: normal;
}
.blog-single-post .post-content .post-author h3 i {
  margin-right: 7px;
}
.blog-single-post .post-content .post-author p {
  font-size: 0.9em;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comments li {
  clear: both;
  padding: 10px 0 0 115px;
}
.comments li img.avatar {
  height: 80px;
  width: 80px;
}
.comments li ul.reply {
  margin: 0;
}
.comments li a {
  text-decoration: none;
}
.comments li .img-thumbnail {
  margin-left: -115px;
  position: absolute;
}
.comments li .comment {
  margin-bottom: 10px;
}
.comments .comment-arrow {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F4F4F4;
  border-top: 15px solid transparent;
  height: 0;
  left: -15px;
  position: absolute;
  top: 28px;
  width: 0;
}
.comments .comment-block {
  background: #F4F4F4;
  border-radius: 5px;
  padding: 20px 20px 30px;
  position: relative;
}
.comments .comment-block p {
  font-size: 0.9em;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
.comments .comment-block .comment-by {
  display: block;
  font-size: 1em;
  line-height: 21px;
  margin: 0;
  padding: 0 0 5px 0;
}
.comments .comment-block .date {
  color: #999;
  font-size: 0.9em;
}