.page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #ededed;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #ededed;
  margin: 0 0 20px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title,
.article-header h1 {
  margin: 0 0 20px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 6px;
}
.masthead {
  padding: 40px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .masthead {
    padding: 80px 0;
  }
  .masthead h1 {
    font-size: 98px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    margin-top: 20px;
    padding: 18px 42px;
    font-size: 21px;
  }
}
.jumbotron-primary {
  background-color: #89b837;
  color: #f8fbf3;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.alert-primary {
  background-color: #0088cc;
  border-color: #007ebd;
  color: #ffffff;
}
.alert-primary .alert-link {
  color: #ffffff;
}
.alert-secondary {
  background-color: #e36159;
  border-color: #e1554c;
  color: #ffffff;
}
.alert-secondary .alert-link {
  color: #ffffff;
}
.alert-tertiary {
  background-color: #2baab1;
  border-color: #289ea5;
  color: #ffffff;
}
.alert-tertiary .alert-link {
  color: #ffffff;
}
.alert-quaternary {
  background-color: #383f48;
  border-color: #31373f;
  color: #ffffff;
}
.alert-quaternary .alert-link {
  color: #ffffff;
}
.alert-dark {
  background-color: #2e353e;
  border-color: #272d35;
  color: #ffffff;
}
.alert-dark .alert-link {
  color: #ffffff;
}
.alert-light {
  background-color: #ffffff;
  border-color: #f7f7f7;
  color: #777777;
}
.alert-light .alert-link {
  color: #777777;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #e2f0cb;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.m-none {
  margin: 0 !important;
}
.m-auto {
  margin: 0 auto !important;
}
.m-xs {
  margin: 5px !important;
}
.m-sm {
  margin: 10px !important;
}
.m-md {
  margin: 15px !important;
}
.m-lg {
  margin: 20px !important;
}
.m-xl {
  margin: 25px !important;
}
.m-xlg {
  margin: 30px !important;
}

.mt-none {
  margin-top: 0 !important;
}
.mt-xs {
  margin-top: 5px !important;
}
.mt-sm {
  margin-top: 10px !important;
}
.mt-md {
  margin-top: 15px !important;
}
.mt-lg {
  margin-top: 20px !important;
}
.mt-xl {
  margin-top: 25px !important;
}
.mt-xlg {
  margin-top: 30px !important;
}

.mb-none {
  margin-bottom: 0 !important;
}
.mb-xs {
  margin-bottom: 5px !important;
}
.mb-sm {
  margin-bottom: 10px !important;
}
.mb-md {
  margin-bottom: 15px !important;
}
.mb-lg {
  margin-bottom: 20px !important;
}
.mb-xl {
  margin-bottom: 25px !important;
}
.mb-xlg {
  margin-bottom: 30px !important;
}

.ml-none {
  margin-left: 0 !important;
}
.ml-xs {
  margin-left: 5px !important;
}
.ml-sm {
  margin-left: 10px !important;
}
.ml-md {
  margin-left: 15px !important;
}
.ml-lg {
  margin-left: 20px !important;
}
.ml-xl {
  margin-left: 25px !important;
}
.ml-xlg {
  margin-left: 30px !important;
}

.mr-none {
  margin-right: 0 !important;
}
.mr-xs {
  margin-right: 5px !important;
}
.mr-sm {
  margin-right: 10px !important;
}
.mr-md {
  margin-right: 14px !important;
}
.mr-lg {
  margin-right: 20px !important;
}
.mr-xl {
  margin-right: 25px !important;
}
.mr-xlg {
  margin-right: 30px !important;
}

.plr-100 {
  padding: 0px 100px;
}
.p-none {
  padding: 0 !important;
}
.p-xs {
  padding: 5px !important;
}
.p-sm {
  padding: 10px !important;
}
.p-md {
  padding: 15px !important;
}
.p-lg {
  padding: 20px !important;
}
.p-xl {
  padding: 25px !important;
}
.p-xlg {
  padding: 30px !important;
}

.pt-none {
  padding-top: 0 !important;
}
.pt-xs {
  padding-top: 5px !important;
}
.pt-sm {
  padding-top: 10px !important;
}
.pt-md {
  padding-top: 15px !important;
}
.pt-lg {
  padding-top: 20px !important;
}
.pt-xl {
  padding-top: 25px !important;
}
.pt-xlg {
  padding-top: 30px !important;
}

.pb-none {
  padding-bottom: 0 !important;
}
.pb-xs {
  padding-bottom: 5px !important;
}
.pb-sm {
  padding-bottom: 10px !important;
}
.pb-md {
  padding-bottom: 15px !important;
}
.pb-lg {
  padding-bottom: 20px !important;
}
.pb-xl {
  padding-bottom: 25px !important;
}
.pb-xlg {
  padding-bottom: 30px !important;
}

.pl-none {
  padding-left: 0 !important;
}
.pl-xs {
  padding-left: 5px !important;
}
.pl-sm {
  padding-left: 10px !important;
}
.pl-md {
  padding-left: 15px !important;
}
.pl-lg {
  padding-left: 20px !important;
}
.pl-xl {
  padding-left: 25px !important;
}
.pl-xlg {
  padding-left: 30px !important;
}

.pr-none {
  padding-right: 0 !important;
}
.pr-xs {
  padding-right: 5px !important;
}
.pr-sm {
  padding-right: 10px !important;
}
.pr-md {
  padding-right: 15px !important;
}
.pr-lg {
  padding-right: 20px !important;
}
.pr-xl {
  padding-right: 25px !important;
}
.pr-xlg {
  padding-right: 30px !important;
}
.display-inline-block {
  display: inline-block !important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #89b837;
}
.panel-group .panel-heading a {
  color: #89b837;
  display: block;
}
.panel-group .panel-heading a:hover {
  text-decoration: none;
}
html .panel-group.panel-group-primary .panel-heading {
  background-color: #89b837 !important;
}
html .panel-group.panel-group-primary .panel-heading a {
  color: #ffffff;
}
html .panel-group.panel-group-secondary .panel-heading {
  background-color: #e36159 !important;
}
html .panel-group.panel-group-secondary .panel-heading a {
  color: #ffffff;
}
html .panel-group.panel-group-tertiary .panel-heading {
  background-color: #2baab1 !important;
}
html .panel-group.panel-group-tertiary .panel-heading a {
  color: #ffffff;
}
html .panel-group.panel-group-quaternary .panel-heading {
  background-color: #383f48 !important;
}
html .panel-group.panel-group-quaternary .panel-heading a {
  color: #ffffff;
}
html .panel-group.panel-group-dark .panel-heading {
  background-color: #2e353e !important;
}
html .panel-group.panel-group-dark .panel-heading a {
  color: #ffffff;
}
html .panel-group.panel-group-light .panel-heading {
  background-color: #ffffff !important;
}
html .panel-group.panel-group-light .panel-heading a {
  color: #777777;
}

.tabs {
  border-radius: 4px;
  margin-bottom: 20px;
}
.nav-tabs {
  margin: 0;
  padding: 0;
  font-size: 0;
  border-bottom-color: #EEE;
}
.nav-tabs li {
  display: inline-block;
  float: none;
}
.nav-tabs li:last-child a {
  margin-right: 0;
}
.nav-tabs li a {
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  margin-right: 1px;
}
.nav-tabs li a,
.nav-tabs li a:hover {
  background: #F4F4F4;
  border-bottom: none;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-top: 3px solid #EEE;
  color: #CCC;
}
.nav-tabs li a:hover {
  border-bottom-color: transparent;
  border-top: 3px solid #CCC;
  box-shadow: none;
}
.nav-tabs li a:active,
.nav-tabs li a:focus {
  border-bottom: 0;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #FFF;
  border-left-color: #EEE;
  border-right-color: #EEE;
  border-top: 3px solid #CCC;
  color: #CCC;
}
.tab-content {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #FFF;
  border: 1px solid #EEE;
  border-top: 0;
  padding: 15px;
}

.nav-tabs.nav-right {
  text-align: right;
}

.tabs.tabs-bottom {
  margin: 0 0 20px 0;
  padding: 0;
}
.tabs.tabs-bottom .tab-content {
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
  border-top: 1px solid #EEE;
}
.tabs.tabs-bottom .nav-tabs {
  border-bottom: none;
  border-top: 1px solid #EEE;
}
.tabs.tabs-bottom .nav-tabs li {
  margin-bottom: 0;
  margin-top: -1px;
}
.tabs.tabs-bottom .nav-tabs li:last-child a {
  margin-right: 0;
}
.tabs.tabs-bottom .nav-tabs li a {
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  margin-right: 1px;
}
.tabs.tabs-bottom .nav-tabs li a,
.tabs.tabs-bottom .nav-tabs li a:hover {
  border-bottom: 3px solid #EEE;
  border-top: 1px solid #EEE;
}
.tabs.tabs-bottom .nav-tabs li a:hover {
  border-bottom: 3px solid #CCC;
  border-top: 1px solid #EEE;
}
.tabs.tabs-bottom .nav-tabs li.active a,
.tabs.tabs-bottom .nav-tabs li.active a:hover,
.tabs.tabs-bottom .nav-tabs li.active a:focus {
  border-bottom: 3px solid #CCC;
  border-top-color: transparent;
}

.tabs-vertical {
  display: table;
  width: 100%;
  padding: 0;
  border-top: 1px solid #EEE;
}
.tabs-vertical .tab-content {
  display: table-cell;
  vertical-align: top;
}
.tabs-vertical .nav-tabs {
  border-bottom: none;
  display: table-cell;
  height: 100%;
  float: none;
  padding: 0;
  vertical-align: top;
}
.tabs-vertical .nav-tabs > li {
  display: block;
}
.tabs-vertical .nav-tabs > li a {
  border-radius: 0;
  display: block;
  padding-top: 10px;
}
.tabs-vertical .nav-tabs > li a,
.tabs-vertical .nav-tabs > li a:hover,
.tabs-vertical .nav-tabs > li a:focus {
  border-bottom: none;
  border-top: none;
}
.tabs-vertical .nav-tabs > li.active a,
.tabs-vertical .nav-tabs > li.active a:hover,
.tabs-vertical .nav-tabs > li.active:focus {
  border-top: none;
}

.tabs-left {
  padding: 0;
}
.tabs-left .tab-content {
  border-radius: 0 5px 5px 5px;
  border-left: none;
}
.tabs-left .nav-tabs > li {
  margin-right: -1px;
}
.tabs-left .nav-tabs > li:first-child a {
  border-radius: 5px 0 0 0;
}
.tabs-left .nav-tabs > li:last-child a {
  border-radius: 0 0 0 5px;
  border-bottom: 1px solid #eee;
}
.tabs-left .nav-tabs > li a {
  border-right: 1px solid #EEE;
  border-left: 3px solid #EEE;
  margin-right: 1px;
  margin-left: -3px;
}
.tabs-left .nav-tabs > li a:hover {
  border-left-color: #CCC;
}
.tabs-left .nav-tabs > li.active a,
.tabs-left .nav-tabs > li.active a:hover,
.tabs-left .nav-tabs > li.active a:focus {
  border-left: 3px solid #CCC;
  border-right-color: #FFF;
}

.tabs-right {
  padding: 0;
}
.tabs-right .tab-content {
  border-radius: 5px 0 5px 5px;
  border-right: none;
}
.tabs-right .nav-tabs > li {
  margin-left: -1px;
}
.tabs-right .nav-tabs > li:first-child a {
  border-radius: 0 5px 0 0;
}
.tabs-right .nav-tabs > li:last-child a {
  border-radius: 0 0 5px 0;
  border-bottom: 1px solid #eee;
}
.tabs-right .nav-tabs > li a {
  border-right: 3px solid #EEE;
  border-left: 1px solid #EEE;
  margin-right: 1px;
  margin-left: 1px;
}
.tabs-right .nav-tabs > li a:hover {
  border-right-color: #CCC;
}
.tabs-right .nav-tabs > li.active a,
.tabs-right .nav-tabs > li.active a:hover,
.tabs-right .nav-tabs > li.active a:focus {
  border-right: 3px solid #CCC;
  border-left: 1px solid #FFF;
}

.nav-tabs.nav-justified {
  padding: 0;
  margin-bottom: -1px;
}
.nav-tabs.nav-justified li {
  margin-bottom: 0;
}
.nav-tabs.nav-justified li:first-child a,
.nav-tabs.nav-justified li:first-child a:hover {
  border-radius: 5px 0 0 0;
}
.nav-tabs.nav-justified li:last-child a,
.nav-tabs.nav-justified li:last-child a:hover {
  border-radius: 0 5px 0 0;
}
.nav-tabs.nav-justified li a {
  border-bottom: 1px solid #DDD;
  border-radius: 0;
  margin-right: 0;
}
.nav-tabs.nav-justified li a:hover,
.nav-tabs.nav-justified li a:focus {
  border-bottom: 1px solid #DDD;
}
.nav-tabs.nav-justified li.active a,
.nav-tabs.nav-justified li.active a:hover,
.nav-tabs.nav-justified li.active a:focus {
  background: #FFF;
  border-left-color: #EEE;
  border-right-color: #EEE;
  border-top-width: 3px;
}
.nav-tabs.nav-justified li.active a {
  border-bottom: 1px solid #FFF;
}
.nav-tabs.nav-justified li.active a,
.nav-tabs.nav-justified li.active a:hover,
.nav-tabs.nav-justified li.active a:focus {
  border-top-width: 3px;
}
.nav-tabs.nav-justified li.active a:hover {
  border-bottom: 1px solid #FFF;
}

.tabs.tabs-bottom {
  padding: 0;
}
.tabs.tabs-bottom .nav.nav-tabs.nav-justified {
  border-top: none;
}
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li a {
  margin-right: 0;
  border-top-color: transparent;
}
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a {
  border-radius: 0 0 0 5px;
}
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a {
  margin-right: 0;
  border-radius: 0 0 5px 0;
}
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a:hover,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a:focus {
  border-top-color: transparent;
}

.tabs-center .nav-tabs {
  margin: 0 auto;
  text-align: center;
}

.tabs-navigation {
  border-radius: 5px;
}
.tabs-navigation .nav-tabs > li {
  margin-bottom: 1px;
}
.tabs-navigation .nav-tabs > li a {
  color: #777;
  padding: 18px;
  line-height: 100%;
}
.tabs-navigation .nav-tabs > li a:before {
  font-family: FontAwesome;
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}
.tabs-navigation .nav-tabs > li a .fa,
.tabs-navigation .nav-tabs > li a .icons {
  margin-right: 4px;
}
.tabs-navigation .nav-tabs > li:first-child a {
  border-radius: 5px 5px 0 0;
}
.tabs-navigation .nav-tabs > li.active a,
.tabs-navigation .nav-tabs > li.active a:hover,
.tabs-navigation .nav-tabs > li.active a:focus {
  border-right-color: #eee;
}
.tabs-navigation .nav-tabs > li:last-child a {
  border-radius: 0 0 5px 5px;
}
.tab-pane-navigation {
  display: none;
}
.tab-pane-navigation.active {
  display: block;
}

.tabs.tabs-simple .nav-tabs {
  border: 0;
  margin-bottom: 10px;
}
.tabs.tabs-simple .nav-tabs > li {
  margin-left: 0;
  margin-bottom: 20px;
}
.tabs.tabs-simple .nav-tabs > li a,
.tabs.tabs-simple .nav-tabs > li a:hover,
.tabs.tabs-simple .nav-tabs > li a:focus {
  padding: 15px 30px;
  background: none;
  border: 0;
  border-bottom: 3px solid #eee;
  border-radius: 0;
  color: #777;
  font-size: 16px;
}
.tabs.tabs-simple .tab-content {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

@media (max-width: 479px) {
  .tabs .nav.nav-tabs.nav-justified li {
    display: block;
    margin-bottom: -5px;
  }
  .tabs .nav.nav-tabs.nav-justified li a {
    border-top-width: 3px !important;
    border-bottom-width: 0 !important;
  }
  .tabs .nav.nav-tabs.nav-justified li:first-child a,
  .tabs .nav.nav-tabs.nav-justified li:first-child a:hover {
    border-radius: 5px 5px 0 0;
  }
  .tabs .nav.nav-tabs.nav-justified li:last-child a,
  .tabs .nav.nav-tabs.nav-justified li:last-child a:hover {
    border-radius: 0;
  }
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li {
    margin-bottom: 0;
    margin-top: -5px;
  }
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li a {
    border-bottom-width: 3px !important;
    border-top-width: 0 !important;
  }
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a,
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a:hover {
    border-radius: 0;
  }
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a,
  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a:hover {
    border-radius: 0 0 5px 5px;
  }
}
html body .tabs .nav-tabs a,
html.dark body .tabs .nav-tabs a,
html body .tabs .nav-tabs a:hover,
html.dark body .tabs .nav-tabs a:hover {
  color: #89b837;
}
html body .tabs .nav-tabs a:hover,
html.dark body .tabs .nav-tabs a:hover,
html body .tabs .nav-tabs a:focus,
html.dark body .tabs .nav-tabs a:focus {
  border-top-color: #89b837;
}
html body .tabs .nav-tabs li.active a,
html.dark body .tabs .nav-tabs li.active a {
  border-top-color: #89b837;
  color: #89b837;
}
html body .tabs .nav-tabs.nav-justified a:hover,
html.dark body .tabs .nav-tabs.nav-justified a:hover,
html body .tabs .nav-tabs.nav-justified a:focus,
html.dark body .tabs .nav-tabs.nav-justified a:focus {
  border-top-color: #89b837;
}
html body .tabs.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li a:hover,
html body .tabs.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs.tabs-bottom .nav-tabs li.active a,
html body .tabs.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs.tabs-bottom .nav-tabs li.active a:focus {
  border-bottom-color: #89b837;
}
html body .tabs.tabs-vertical.tabs-left .nav-tabs li a:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li a:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:focus,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:focus {
  border-left-color: #89b837;
}
html body .tabs.tabs-vertical.tabs-right .nav-tabs li a:hover,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li a:hover,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a:hover,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a:hover,
html body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a:focus,
html.dark body .tabs.tabs-vertical.tabs-right .nav-tabs li.active a:focus {
  border-right-color: #89b837;
}
html body .tabs.tabs-simple .nav-tabs > li.active a,
html.dark body .tabs.tabs-simple .nav-tabs > li.active a,
html body .tabs.tabs-simple .nav-tabs > li.active a:focus,
html.dark body .tabs.tabs-simple .nav-tabs > li.active a:focus,
html body .tabs.tabs-simple .nav-tabs > li a:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li a:hover,
html body .tabs.tabs-simple .nav-tabs > li.active a:hover,
html.dark body .tabs.tabs-simple .nav-tabs > li.active a:hover {
  border-top-color: #89b837;
  color: #89b837;
}
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
  color: #89b837;
}
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
  border-top-color: #89b837;
}
html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #89b837;
  color: #89b837;
}
html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #89b837;
}
html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #89b837;
}
html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
  border-left-color: #89b837;
}
html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #89b837;
}
html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
  border-right-color: #89b837;
}
html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #89b837;
}
html body .tabs-secondary .nav-tabs li a,
html.dark body .tabs-secondary .nav-tabs li a,
html body .tabs-secondary .nav-tabs.nav-justified li a,
html.dark body .tabs-secondary .nav-tabs.nav-justified li a,
html body .tabs-secondary .nav-tabs li a:hover,
html.dark body .tabs-secondary .nav-tabs li a:hover,
html body .tabs-secondary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-secondary .nav-tabs.nav-justified li a:hover {
  color: #e36159;
}
html body .tabs-secondary .nav-tabs li a:hover,
html.dark body .tabs-secondary .nav-tabs li a:hover,
html body .tabs-secondary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-secondary .nav-tabs.nav-justified li a:hover {
  border-top-color: #e36159;
}
html body .tabs-secondary .nav-tabs li.active a,
html.dark body .tabs-secondary .nav-tabs li.active a,
html body .tabs-secondary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-secondary .nav-tabs.nav-justified li.active a,
html body .tabs-secondary .nav-tabs li.active a:hover,
html.dark body .tabs-secondary .nav-tabs li.active a:hover,
html body .tabs-secondary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-secondary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-secondary .nav-tabs li.active a:focus,
html.dark body .tabs-secondary .nav-tabs li.active a:focus,
html body .tabs-secondary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-secondary .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #e36159;
  color: #e36159;
}
html body .tabs-secondary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #e36159;
}
html body .tabs-secondary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs li.active a,
html body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-secondary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-secondary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-secondary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #e36159;
}
html body .tabs-secondary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-secondary.tabs-vertical.tabs-left li a:hover {
  border-left-color: #e36159;
}
html body .tabs-secondary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-secondary.tabs-vertical.tabs-left li.active a,
html body .tabs-secondary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-secondary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-secondary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-secondary.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #e36159;
}
html body .tabs-secondary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-secondary.tabs-vertical.tabs-right li a:hover {
  border-right-color: #e36159;
}
html body .tabs-secondary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-secondary.tabs-vertical.tabs-right li.active a,
html body .tabs-secondary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-secondary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-secondary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-secondary.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #e36159;
}
html body .tabs-tertiary .nav-tabs li a,
html.dark body .tabs-tertiary .nav-tabs li a,
html body .tabs-tertiary .nav-tabs.nav-justified li a,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li a,
html body .tabs-tertiary .nav-tabs li a:hover,
html.dark body .tabs-tertiary .nav-tabs li a:hover,
html body .tabs-tertiary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li a:hover {
  color: #2baab1;
}
html body .tabs-tertiary .nav-tabs li a:hover,
html.dark body .tabs-tertiary .nav-tabs li a:hover,
html body .tabs-tertiary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li a:hover {
  border-top-color: #2baab1;
}
html body .tabs-tertiary .nav-tabs li.active a,
html.dark body .tabs-tertiary .nav-tabs li.active a,
html body .tabs-tertiary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li.active a,
html body .tabs-tertiary .nav-tabs li.active a:hover,
html.dark body .tabs-tertiary .nav-tabs li.active a:hover,
html body .tabs-tertiary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-tertiary .nav-tabs li.active a:focus,
html.dark body .tabs-tertiary .nav-tabs li.active a:focus,
html body .tabs-tertiary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-tertiary .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #2baab1;
  color: #2baab1;
}
html body .tabs-tertiary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #2baab1;
}
html body .tabs-tertiary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs li.active a,
html body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-tertiary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-tertiary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-tertiary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #2baab1;
}
html body .tabs-tertiary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-tertiary.tabs-vertical.tabs-left li a:hover {
  border-left-color: #2baab1;
}
html body .tabs-tertiary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-tertiary.tabs-vertical.tabs-left li.active a,
html body .tabs-tertiary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-tertiary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-tertiary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-tertiary.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #2baab1;
}
html body .tabs-tertiary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-tertiary.tabs-vertical.tabs-right li a:hover {
  border-right-color: #2baab1;
}
html body .tabs-tertiary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-tertiary.tabs-vertical.tabs-right li.active a,
html body .tabs-tertiary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-tertiary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-tertiary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-tertiary.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #2baab1;
}
html body .tabs-quaternary .nav-tabs li a,
html.dark body .tabs-quaternary .nav-tabs li a,
html body .tabs-quaternary .nav-tabs.nav-justified li a,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li a,
html body .tabs-quaternary .nav-tabs li a:hover,
html.dark body .tabs-quaternary .nav-tabs li a:hover,
html body .tabs-quaternary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li a:hover {
  color: #383f48;
}
html body .tabs-quaternary .nav-tabs li a:hover,
html.dark body .tabs-quaternary .nav-tabs li a:hover,
html body .tabs-quaternary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li a:hover {
  border-top-color: #383f48;
}
html body .tabs-quaternary .nav-tabs li.active a,
html.dark body .tabs-quaternary .nav-tabs li.active a,
html body .tabs-quaternary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li.active a,
html body .tabs-quaternary .nav-tabs li.active a:hover,
html.dark body .tabs-quaternary .nav-tabs li.active a:hover,
html body .tabs-quaternary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-quaternary .nav-tabs li.active a:focus,
html.dark body .tabs-quaternary .nav-tabs li.active a:focus,
html body .tabs-quaternary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-quaternary .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #383f48;
  color: #383f48;
}
html body .tabs-quaternary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #383f48;
}
html body .tabs-quaternary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs li.active a,
html body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-quaternary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-quaternary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-quaternary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #383f48;
}
html body .tabs-quaternary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-quaternary.tabs-vertical.tabs-left li a:hover {
  border-left-color: #383f48;
}
html body .tabs-quaternary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-quaternary.tabs-vertical.tabs-left li.active a,
html body .tabs-quaternary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-quaternary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-quaternary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-quaternary.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #383f48;
}
html body .tabs-quaternary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-quaternary.tabs-vertical.tabs-right li a:hover {
  border-right-color: #383f48;
}
html body .tabs-quaternary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-quaternary.tabs-vertical.tabs-right li.active a,
html body .tabs-quaternary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-quaternary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-quaternary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-quaternary.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #383f48;
}
html body .tabs-dark .nav-tabs li a,
html.dark body .tabs-dark .nav-tabs li a,
html body .tabs-dark .nav-tabs.nav-justified li a,
html.dark body .tabs-dark .nav-tabs.nav-justified li a,
html body .tabs-dark .nav-tabs li a:hover,
html.dark body .tabs-dark .nav-tabs li a:hover,
html body .tabs-dark .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-dark .nav-tabs.nav-justified li a:hover {
  color: #2e353e;
}
html body .tabs-dark .nav-tabs li a:hover,
html.dark body .tabs-dark .nav-tabs li a:hover,
html body .tabs-dark .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-dark .nav-tabs.nav-justified li a:hover {
  border-top-color: #2e353e;
}
html body .tabs-dark .nav-tabs li.active a,
html.dark body .tabs-dark .nav-tabs li.active a,
html body .tabs-dark .nav-tabs.nav-justified li.active a,
html.dark body .tabs-dark .nav-tabs.nav-justified li.active a,
html body .tabs-dark .nav-tabs li.active a:hover,
html.dark body .tabs-dark .nav-tabs li.active a:hover,
html body .tabs-dark .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-dark .nav-tabs.nav-justified li.active a:hover,
html body .tabs-dark .nav-tabs li.active a:focus,
html.dark body .tabs-dark .nav-tabs li.active a:focus,
html body .tabs-dark .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-dark .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #2e353e;
  color: #2e353e;
}
html body .tabs-dark.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-dark.tabs-bottom .nav-tabs li a:hover,
html body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #2e353e;
}
html body .tabs-dark.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-dark.tabs-bottom .nav-tabs li.active a,
html body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-dark.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-dark.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-dark.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-dark.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-dark.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #2e353e;
}
html body .tabs-dark.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-dark.tabs-vertical.tabs-left li a:hover {
  border-left-color: #2e353e;
}
html body .tabs-dark.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-dark.tabs-vertical.tabs-left li.active a,
html body .tabs-dark.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-dark.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-dark.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-dark.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #2e353e;
}
html body .tabs-dark.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-dark.tabs-vertical.tabs-right li a:hover {
  border-right-color: #2e353e;
}
html body .tabs-dark.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-dark.tabs-vertical.tabs-right li.active a,
html body .tabs-dark.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-dark.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-dark.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-dark.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #2e353e;
}
html body .tabs-light .nav-tabs li a,
html.dark body .tabs-light .nav-tabs li a,
html body .tabs-light .nav-tabs.nav-justified li a,
html.dark body .tabs-light .nav-tabs.nav-justified li a,
html body .tabs-light .nav-tabs li a:hover,
html.dark body .tabs-light .nav-tabs li a:hover,
html body .tabs-light .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-light .nav-tabs.nav-justified li a:hover {
  color: #ffffff;
}
html body .tabs-light .nav-tabs li a:hover,
html.dark body .tabs-light .nav-tabs li a:hover,
html body .tabs-light .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-light .nav-tabs.nav-justified li a:hover {
  border-top-color: #ffffff;
}
html body .tabs-light .nav-tabs li.active a,
html.dark body .tabs-light .nav-tabs li.active a,
html body .tabs-light .nav-tabs.nav-justified li.active a,
html.dark body .tabs-light .nav-tabs.nav-justified li.active a,
html body .tabs-light .nav-tabs li.active a:hover,
html.dark body .tabs-light .nav-tabs li.active a:hover,
html body .tabs-light .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-light .nav-tabs.nav-justified li.active a:hover,
html body .tabs-light .nav-tabs li.active a:focus,
html.dark body .tabs-light .nav-tabs li.active a:focus,
html body .tabs-light .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-light .nav-tabs.nav-justified li.active a:focus {
  border-top-color: #ffffff;
  color: #ffffff;
}
html body .tabs-light.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-light.tabs-bottom .nav-tabs li a:hover,
html body .tabs-light.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-light.tabs-bottom .nav-tabs.nav-justified li a:hover {
  border-bottom-color: #ffffff;
}
html body .tabs-light.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-light.tabs-bottom .nav-tabs li.active a,
html body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-light.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-light.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-light.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-light.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-light.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
  border-bottom-color: #ffffff;
}
html body .tabs-light.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-light.tabs-vertical.tabs-left li a:hover {
  border-left-color: #ffffff;
}
html body .tabs-light.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-light.tabs-vertical.tabs-left li.active a,
html body .tabs-light.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-light.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-light.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-light.tabs-vertical.tabs-left li.active a:focus {
  border-left-color: #ffffff;
}
html body .tabs-light.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-light.tabs-vertical.tabs-right li a:hover {
  border-right-color: #ffffff;
}
html body .tabs-light.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-light.tabs-vertical.tabs-right li.active a,
html body .tabs-light.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-light.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-light.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-light.tabs-vertical.tabs-right li.active a:focus {
  border-right-color: #ffffff;
}

.sample-icon-list {
  margin-top: 22px;
}
.sample-icon-list .sample-icon a {
  display: block;
  color: #222222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 11px;
}
.sample-icon-list .sample-icon a .fa,
.sample-icon-list .sample-icon a .icons {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.sample-icon-list .sample-icon a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #89b837;
}
.sample-icon-list .sample-icon a:hover .fa,
.sample-icon-list .sample-icon a:hover .icons {
  font-size: 28px;
  vertical-align: -6px;
}

.toggle {
  margin: 10px 0 20px;
  position: relative;
  clear: both;
}
.toggle .toggle {
  margin: 10px 0 0;
}
.toggle > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  height: 45px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.toggle > label {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: #F4F4F4;
  border-left: 3px solid #CCC;
  border-radius: 5px;
  color: #CCC;
  display: block;
  font-size: 1.1em;
  min-height: 20px;
  padding: 12px 20px 12px 10px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}
.toggle > label:-moz-selection {
  background: none;
}
.toggle > label i.fa-minus {
  display: none;
}
.toggle > label i.fa-plus {
  display: inline;
}
.toggle > label:selection {
  background: none;
}
.toggle > label:before {
  border: 6px solid transparent;
  border-left-color: inherit;
  content: '';
  margin-top: -6px;
  position: absolute;
  right: 4px;
  top: 50%;
}
.toggle > label:hover {
  background: #f5f5f5;
}
.toggle > label + p {
  color: #999;
  display: block;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 25px;
}
.toggle > label i {
  font-size: 0.7em;
  margin-right: 8px;
  position: relative;
  top: -1px;
}
.toggle > .toggle-content {
  display: none;
}
.toggle > .toggle-content > p {
  margin-bottom: 0;
  padding: 10px 0;
}
.toggle.active i.fa-minus {
  display: inline;
}
.toggle.active i.fa-plus {
  display: none;
}
.toggle.active > label {
  background: #F4F4F4;
  border-color: #CCC;
}
.toggle.active > label:before {
  border: 6px solid transparent;
  border-top-color: #FFF;
  margin-top: -3px;
  right: 10px;
}
.toggle.active > p {
  white-space: normal;
}
.toggle > p.preview-active {
  height: auto;
  white-space: normal;
}
.toggle.toggle-sm .toggle > label {
  font-size: 0.9em;
  padding: 6px 20px 6px 10px;
}
.toggle.toggle-sm .toggle > .toggle-content > p {
  font-size: 0.9em;
}
.toggle.toggle-lg .toggle > label {
  font-size: 1.1em;
  padding: 16px 20px 16px 20px;
}
.toggle.toggle-lg .toggle > .toggle-content > p {
  font-size: 1.1em;
}
.toggle.toggle-simple .toggle > label {
  border-radius: 0;
  border: 0;
  background: transparent;
  color: #777;
  padding-left: 32px;
  margin-bottom: -10px;
  font-size: 1em;
  font-weight: 600;
  color: #1d2127;
}
.toggle.toggle-simple .toggle > label:after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #CCC;
  top: 23px;
  margin-top: -12px;
  border-radius: 3px;
  z-index: 1;
}
.toggle.toggle-simple .toggle > label:before {
  border: 0;
  left: 7px;
  right: auto;
  margin-top: 0;
  top: 12px;
  font-family: FontAwesome;
  content: "\f067";
  z-index: 2;
  color: #FFF;
  font-size: 13px;
}
.toggle.toggle-simple .toggle.active > label {
  background: transparent;
  color: #1d2127;
}
.toggle.toggle-simple .toggle.active > label:before {
  content: "\f068";
}

.page-header {
  background-color: #171717;
  border-bottom: 5px solid #CCC;
  border-top: 5px solid #384045;
  margin: 0 0 35px 0;
  min-height: 50px;
  padding: 20px 0;
  position: relative;
  text-align: left;
}
.page-header .breadcrumb {
  background: none;
  margin: 0 0 10px 2px;
  padding: 0;
  position: relative;
  z-index: 1;
}
.page-header .breadcrumb > li {
  display: inline-block;
  font-size: 0.85em;
  text-transform: uppercase;
  text-shadow: none;
}
.page-header .breadcrumb > li + li:before {
  color: inherit;
  opacity: 0.5;
  font-family: FontAwesome;
  content: "\f105";
  padding: 0 7px 0 5px;
}
.page-header .breadcrumb.breadcrumb-valign-mid {
  position: absolute;
  top: 36%;
  right: 20px;
}
.page-header h1 {
  border-bottom: 5px solid #89b837;
  color: #fff;
  display: inline-block;
  font-size: 32px;
  font-weight: 200;
  line-height: 32px;
  margin: 0 0 -25px;
  padding: 0 0 25px;
  position: relative;
}
.page-header h1 span {
  color: #ffffff;
  display: block;
  font-size: 0.6em;
  font-weight: 300;
  line-height: 1.3em;
  margin: 7px 0 0;
}
.page-header-no-title-border h1 {
  border: 0;
}

.page-header-color {
  background-color: #F7F7F7;
  border-bottom: 5px solid #F4F4F4;
  border-top: none;
}
.page-header-color h1 {
  border-bottom: none;
  color: #1d2127;
  font-size: 2.3em;
  padding: 0;
  margin: 0;
}
.page-header-color h1 span {
  opacity: 0.65;
}
.page-header-color .breadcrumb > .active {
  opacity: 0.65;
}

.page-header-more-padding {
  padding: 35px 0;
}

.page-header-light {
  background-color: #F7F7F7;
  border-bottom: 5px solid #F4F4F4;
  border-top: none;
}
.page-header-light h1 {
  border-bottom: none;
  color: #1d2127;
  font-size: 2.3em;
}

.page-header-reverse {
  text-align: right;
}
.page-header-reverse .breadcrumb,
.page-header-reverse .breadcrumb.breadcrumb-valign-mid {
  float: left;
  left: 20px;
  right: auto;
}

.page-header.parallax {
  margin: 0 0 35px;
  padding: 180px 0 60px;
}
.page-header-center {
  text-align: center;
}
.page-header-center .breadcrumb {
  margin: 15px 0 0;
}

.page-header-custom-background {
  padding: 45px 0;
  background-repeat: repeat;
  background-color: transparent;
  border-top: 0;
  border-bottom: 0;
}
.page-header-custom-background h1 {
  color: #FFF;
  border: 0;
}
.page-header-custom-background h1 span {
  color: #FFF;
  opacity: 0.7;
}
.page-header-custom-background .breadcrumb.breadcrumb-valign-mid {
  top: 36%;
}
.page-header-custom-background .breadcrumb.breadcrumb-valign-mid li.active {
  color: #FFF;
  opacity: 0.7;
}
.page-header-custom-background .breadcrumb.breadcrumb-valign-mid a {
  color: #FFF;
}
.section-overlay {
  position: relative;
}
.section-overlay:before {
  content: "";
  display: block;
  background: url("../../../templates/porto/images/video-overlay.png") repeat scroll 0 0 transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}