.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -5px;
  margin-right: -1px;
}
.dropdown-submenu.open > .dropdown-menu {
  display: block;
}
.dropdown-submenu > .dropdown-menu {
  border-radius: 4px;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #cccccc;
  margin-top: 5px;
  margin-left: -5px;
}
.dropdown-submenu.open > a:after {
  border-right-color: #70b5d0;
}