.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
.t3-mainnav {
  border-bottom: none;
}
.home-intro p span {
  color: #ffffff;
}
.home-intro p em {
  color: #ffffff;
}
.home-intro .get-started a:not(.btn) {
  color: #ffffff;
}
.testimonial.testimonial-style-2 blockquote::before,
.testimonial.testimonial-style-2 blockquote::after,
.testimonial.testimonial-style-2 blockquote p {
  color: #777 !important;
}
.testimonial.testimonial-style-2 .testimonial-author strong {
  color: #111111 !important;
}
.text-white h2,
.text-white p,
.text-white a {
  color: #ffffff;
}
.border-top-brand {
  border-top: 5px solid #71b6d2 !important;
}
.recent-posts .date .month {
  background: #57a6b0;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07000000000000001) inset;
}
.padding-left-none .col-sm-6,
.padding-left-none .col-sm-4 {
  padding-left: 0px;
}