/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


//
// HOME
// ---------------------------------------------------------
.home {

  // Home Spotlights
  // ---------------
  .t3-sl-1,
  .t3-sl-5 {
    // jumbotron
    .jumbotron {
      //jumbotron btn
      .btn {
        border-color: #fff;
      }
    }
  }

}


//
// NAVIGATIONS
// ---------------------------------------------------------
.t3-mainnav {
  border-bottom: none;
}

.col-half-section.col-half-section-right {
    float: right;
    margin-left: 0;
    margin-right: 30px;
}

.counters .fa {
    color: @white;
}
.sppb-addon-content{
	.sppb-animated-number,
	.sppb-animated-number-title{
		color:@white;
	}
}

.thumb-info {
    border: 1px solid #ddd;
    
    img{
		border-radius:0px;
    }
}
