.product-i .text-block .product-stock,
.product-i .text-block .product-addtoreview,
.product-i .text-block .separator
 {
  clear: both;
  display: none;
}
 
.listing-view.vm_list_view .product-i .product-stock,
.listing-view.vm_list_view .product-i .product-addtoreview,
.listing-view.vm_list_view .product-i .text-block .separator
{
	 display: block;
}
[6:46:08 PM] priya bose: <code>.product-i .text-block .product-stock,
.product-i .text-block .product-addtoreview,
.product-i .text-block .separator
 {
  clear: both;
  display: none;
}
 
.listing-view.vm_list_view .product-i .product-stock,
.listing-view.vm_list_view .product-i .product-addtoreview,
.listing-view.vm_list_view .product-i .text-block .separator
{
	 display: block;
}


.auto-height {
    height: auto !important;
    top: 50px !important;
}


	

