/**
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites:  http://www.joomlbuff.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
 */
 
* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	font-size: 14px;
	line-height: 1.625;
	font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* BODY 
---------------------*/
#frame {
	margin-top: 8%;
	text-align: left;
}

/* Container */
.offline-container {
	background-color: #fff;
	border: 3px solid #dedede;
	border-radius: 3px;
	padding: 40px;
	margin: 0 auto;
	width: 400px;
}

/* Title */
#offline-title {
	margin: 0 0 30px 0;
	display:none;
}

#offline-title h1 {
	color: #000;
	font-size: 30px;
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

/* Description */
.offline-msg {
	color: #424a4f;
	font-size: 16px;
	margin-bottom: 26px;
	text-align: center;
	position: relative;
}

.offline-msg br {
	display: none;
}

#offline-img {
	margin: -20px -20px 26px;
	text-align: center;
}

#offline-img img {
  border-radius: 3px;
	max-width: 100%;
}

/* Form */
.form-group {
	margin-bottom: 20px;
}

.control-label {
	display: block;
	margin-bottom: 5px;
	color: #424a4f;
	font-size: 14px;
}

.control-input {
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
	height: 34px;
	padding: 0 10px;
}

.control-input:focus {
	border-color: #999;
}

#form-login-username,
#form-login-password {
  position: relative;
}

#form-login-username label,
#form-login-password label {
  background-color: #f6f6f6;
  border-right: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  color: #999;
  display: block;
  height: 38px;
  left: 1px;
  line-height: 38px;
  padding: 0 15px;
  position: absolute;
  min-width: 100px;
  top: 1px;
}

#form-login-username label span,
#form-login-password label span {
  color: #999;
  display: inline-block;
  margin-right: 5px;
}

#form-login-username input,
#form-login-password input {
  padding: 0 20px 0 125px;
  height: 40px;
  line-height: 40px;
}

.form-action {
  overflow: hidden;
}

/* Remember */
#form-login-remember {
  display: inline-block;
  margin-top: 5px;
}

#form-login-remember label {
	font-size: 14px;
	color: #424a4f;
}

#form-login-remember #remember {
  margin-bottom: 2px;
  vertical-align: middle;
}

.inputbox {
	margin: 0 3px 0 0;
}

#submit-buton {
  display: inline-block;
  float: right;
}

/* Button */
.button {
	background: #0088CA;
	border: 0;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	letter-spacing: 1px;
	padding: 0 28px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.button:hover,
.button:active,
.button:focus {
	background: #006699;
	border-color: #006699;
	cursor: pointer;
	color:#fff;
}

/* Message Error */
#system-message .error,
#system-message .alert {
	background: #f2dede;
	color: #b94a48;
	margin: auto;
	padding: 20px;
	width: 700px;
	margin-bottom: 20px;
}

.error.message ul {
	padding: 0;
	list-style: none;
}

.alert {
	position: relative;
}

.alert h4 {
	font-size: 18px;
	margin: 0;
}

.alert p {
	margin: 5px 0 0 0;
}

.close {
	right: 15px;
	top: 15px;
	position: absolute;
	cursor: pointer;
	height: 16px;
	text-align: center;
	width: 16px;
	line-height: 16px;
	font-size: 20px;
}


@media (max-width: 360px){
	#frame {
		padding: 0 20px;
		margin-top: 25%;
	}

	/* Title */
	.offline-container {
		width: 100%;
		padding: 40px 20px;
	}

	.form-group {
		width: 100%;
	}

	/* Message Error */
	#system-message .error,
	#system-message .alert {
		width: 100%;
	}
}
