/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// Brand colors
// -------------------------
@brand-primary:           @bermudagray;


// Scaffolding
// -------------------------
@body-bg:                 @white;
@text-color:              @gray-dark;


// Links
// -------------------------
@link-color:              @brand-primary;


//
// T3 TEMPLATE STYLES
// --------------------------------------------------

// Spotlight Styles
// -------------------------
@t3-spotlight-background:              @bermudagray;
@t3-spotlight-text-color:              #fff;
