.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #ededed;
}
.article-aside {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: bold;
}
.tags {
  margin-bottom: 20px;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
}
.article-intro img,
.article-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 30px 20px 0;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 0 20px 30px;
}
@media (max-width: 768px) {
  .article-content iframe {
    width: 100% !important;
    height: auto;
  }
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 20px;
}
.img-fulltext-right {
  float: right;
  margin-left: 20px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #ededed;
  color: #555555;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
@media screen and (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-left: 0;
  padding-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #dddddd;
}
.login-wrap {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 4px;
  width: 470px;
  padding: 40px;
  margin: 60px auto;
}
@media (max-width: 767px) {
  .login-wrap {
    padding: 20px;
    width: auto;
  }
}
.login-wrap .page-header {
  border-bottom: 0;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 0;
}
.login-wrap .page-header h1 {
  display: inline-block;
  font-size: 1.8em;
  font-weight: 700;
  padding-bottom: 12px;
  position: relative;
}
.login-wrap .page-header h1:before {
  background-color: #ededed;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.login-wrap form .control-label {
  text-align: left;
  font-weight: 400 !important;
}
.login-wrap form .control-label {
  position: relative;
  padding: 0;
}
.login-wrap form .control-label label {
  background-color: #f7f7f7;
  border-right: 1px solid #ededed;
  border-radius: 4px 0 0 4px;
  color: #3f4658;
  display: block;
  height: 38px;
  left: 1px;
  line-height: 38px;
  padding: 0 0 0 15px;
  position: absolute;
  min-width: 140px;
  top: 1px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .login-wrap form .control-label label {
    background: transparent;
    border: 0;
    padding-left: 0;
    position: static;
    height: auto;
    line-height: 1;
  }
}
.login-wrap form .control-label label#username-lbl:before,
.login-wrap form .control-label label#password-lbl:before,
.login-wrap form .control-label label#secretkey-lbl:before {
  content: "\f007";
  display: inline-block;
  font-family: FontAwesome;
  height: 16px;
  width: 16px;
}
@media (max-width: 767px) {
  .login-wrap form .control-label label#username-lbl:before,
  .login-wrap form .control-label label#password-lbl:before,
  .login-wrap form .control-label label#secretkey-lbl:before {
    display: none;
  }
}
.login-wrap form .control-label label#password-lbl:before {
  content: "\f084";
}
.login-wrap form .control-label label#secretkey-lbl:before {
  content: "\f09c";
}
.login-wrap form label {
  color: #555555;
  text-align: left;
  font-weight: normal;
  font-weight: 400;
}
.login-wrap form .form-group {
  margin: 0 0 24px;
}
.login-wrap form .form-group input[type="text"],
.login-wrap form .form-group input[type="password"] {
  box-shadow: none;
  border-radius: 0px;
  padding: 0 20px 0 150px;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
@media (max-width: 767px) {
  .login-wrap form .form-group input[type="text"],
  .login-wrap form .form-group input[type="password"] {
    padding-left: 20px;
  }
}
.login-wrap .btn-actions {
  text-align: center;
}
.login-wrap .btn-actions:before,
.login-wrap .btn-actions:after {
  content: " ";
  display: table;
}
.login-wrap .btn-actions:after {
  clear: both;
}
@media (max-width: 767px) {
  .login-wrap .btn-actions {
    text-align: center;
  }
}
.login-wrap .btn-actions .btn {
  border: 0;
  float: none;
  font-weight: bold;
  line-height: 38px;
  margin-right: 10px;
  padding: 0 20px;
  vertical-align: top;
  width: 100%;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .login-wrap .btn-actions .btn {
    float: none;
    width: auto;
  }
}
.login-wrap .other-links.form-group {
  margin-bottom: 0;
}
.login-wrap .other-links.form-group ul {
  padding: 0;
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 0;
  text-align: center;
}
.login-wrap .other-links.form-group ul li {
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 10px;
}
.login-wrap .other-links.form-group ul li a {
  color: #1d2127;
}
.login-wrap .other-links.form-group ul li a:hover,
.login-wrap .other-links.form-group ul li a:focus,
.login-wrap .other-links.form-group ul li a:active {
  color: #2a2e3a;
}
.registration,
.profile-edit {
  border: 1px solid #ededed;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.024);
  padding: 20px;
}
@media (min-width: 480px) {
  .registration,
  .profile-edit {
    margin: 0 auto;
    padding: 40px;
    width: 440px;
  }
}
.registration legend,
.profile-edit legend {
  border: 0;
}
.registration legend span,
.profile-edit legend span {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .registration legend span,
  .profile-edit legend span {
    font-size: 16px;
  }
}
.registration .form-group,
.profile-edit .form-group {
  padding: 0 30px;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.registration .form-group + .form-group,
.profile-edit .form-group + .form-group {
  margin-top: 20px;
}
@media (min-width: 480px) {
  .registration .form-group + .form-group,
  .profile-edit .form-group + .form-group {
    margin-top: 30px;
  }
}
.registration .form-group .control-label,
.profile-edit .form-group .control-label {
  text-align: left;
  padding-top: 0;
}
.registration .form-group .control-label label,
.profile-edit .form-group .control-label label {
  color: #222222;
  font-weight: 500;
}
.registration .form-group input.required,
.profile-edit .form-group input.required {
  width: 100%;
}
.registration fieldset dt,
.profile-edit fieldset dt {
  margin-right: 5px;
}
.registration .form-actions,
.profile-edit .form-actions {
  background: none;
  margin-top: 30px;
  text-align: right;
}
.registration .form-actions > div,
.profile-edit .form-actions > div {
  padding: 0 15px;
}
.registration .form-actions .btn,
.profile-edit .form-actions .btn {
  margin-left: 10px;
}
@media screen and (min-width: 992px) {
  .profile-edit {
    width: 800px;
  }
}
.profile-edit fieldset {
  margin: 0 -15px;
}
.profile-edit fieldset > * {
  padding: 0 15px;
}
.profile-edit fieldset .col-md-6 > .form-group {
  margin-bottom: 20px;
}
.profile-edit fieldset .col-md-6 > .form-group input,
.profile-edit fieldset .col-md-6 > .form-group select {
  width: 100%;
}
.profile-edit fieldset + fieldset {
  margin-top: 20px;
}
.profile-edit #helpsite-refresh {
  margin-top: 20px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
#user-registration .form-group + .form-group {
  padding: 0 60px 0 20px ;
}
@media (max-width: 991px) {
  #user-registration .form-group + .form-group {
    padding: 20px 60px 0 0px ;
  }
}
#user-registration .form-group + .form-group label {
  padding: 20px 0px 0 0;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #ededed;
  border: 1px solid #ededed;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 20px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
#search-form ul#finder-filter-select-list {
  margin-left: 0;
  padding-left: 0;
}
#search-form ul#finder-filter-select-list li {
  list-style: none;
  padding: 10px 0;
}
#search-form ul#finder-filter-select-list li label {
  width: 150px;
}
#search-form .word .form-group {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}
.search-results .result-title {
  font-size: 16px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #555555;
  margin-top: 20px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
div.finder {
  margin-bottom: 20px;
}
#searchForm .phrases-box input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .contact .thumbnail {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dt {
    float: left;
    margin-right: 5px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dd {
    margin-left: 0;
  }
}
.contact-form #jform_contact_emailmsg {
  width: 100%;
}
.contact-form #jform_contact_message {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contact-form #jform_captcha-lbl {
    display: none;
  }
  .contact-form #recaptcha_image {
    width: 220px;
  }
  .contact-form #recaptcha_image img {
    max-width: 220px;
  }
  .contact-form #recaptcha_response_field {
    max-width: 220px;
  }
}
.contact .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 20px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 30px;
}
.category-item .category-item .page-header {
  font-size: 14px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.article-content .pagination ul {
  display: block;
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.article-content .pagination ul li {
  border: 1px solid #ededed;
  float: left;
  line-height: normal;
  margin-right: 10px;
  padding: 10px 20px;
}
.article-content .pagination ul li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index,
.article-index {
  border: 1px solid #ededed;
  border-radius: 4px;
  float: right;
  padding: 10px;
  margin: 0 0 20px 20px;
  width: 25%;
}
#article-index ul,
.article-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 4px;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #3f4658;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #3f4658;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenav li > a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #ededed;
}
.items-more h3 {
  margin: 0 0 20px;
}
.items-more .nav > li {
  border-top: 1px solid #ededed;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .languageswitcherload {
    width: auto;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
.edit.item-page fieldset .btn-toolbar {
  margin-top: 10px;
}
.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
  height: auto;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}