/**
 * @package     JB Smart Portfolio
 *
 * @copyright   Copyright (C) 2016 Joomlabuff. All rights reserved.
 * @license     GNU General Public License version 2 or later.
*/

td.order input[type="text"],
.save-order.btn {
	display: none
}
.img-thumbnail{
	width:200px;
	
}
/* #itemsList img {
	width: 50%;
} */