.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
.t3-mainnav {
  border-bottom: none;
}
.btn-default {
  border-color: #2e353e;
  color: #2e353e;
  background: transparent;
}
.btn-default:hover {
  color: #ffffff;
  background: #2e353e;
  border-color: #2e353e;
}