.off-canvas-toggle {
  border-radius: 5px;
  border: 0;
  padding: 0;
  margin: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.off-canvas-toggle:focus {
  outline: none;
}
.t3-off-canvas {
  background: #ffffff;
  color: #1d2127;
}
.t3-off-canvas .t3-off-canvas-header {
  background: #ededed;
  color: #1d2127;
  padding: 10px 0 10px 20px;
  height: 56px;
  line-height: 56px;
}
.t3-off-canvas .t3-off-canvas-header h2 {
  margin: 0;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.t3-off-canvas .close {
  margin: 0;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background: #ededed;
  position: absolute;
  top: 0;
  right: 0;
  color: #1d2127;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.t3-off-canvas .t3-off-canvas-body {
  padding: 10px 20px;
  background: #222222;
}
.t3-off-canvas .t3-off-canvas-body a {
  color: #65829d;
  text-decoration: none;
  font-size: 14px;
}
.t3-off-canvas .t3-off-canvas-body a:hover,
.t3-off-canvas .t3-off-canvas-body a:focus {
  color: #51687f;
  text-decoration: none;
}
.t3-off-canvas .t3-off-canvas-body a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.t3-off-canvas .t3-off-canvas-body .nav > li,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle {
  *border-bottom: 1px solid #1e1e1e;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle {
  background: none;
  text-transform: none;
  color: #999;
  padding: 10px 20px;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle .caret {
  float: right;
  margin-top: 10px;
  border-top-color: #65829d;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:before,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:before,
.t3-off-canvas .t3-off-canvas-body .nav > li > .dropdown-toggle:before,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > .dropdown-toggle:before {
  content: "\f00a";
  position: absolute;
  left: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top: 7px;
  font-size: 10px;
}
.t3-off-canvas .t3-off-canvas-body .nav > li.active > a,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > a,
.t3-off-canvas .t3-off-canvas-body .nav > li.active > .dropdown-toggle,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > .dropdown-toggle {
  background: none;
  text-transform: none;
  color: #ffffff;
}
.t3-off-canvas .t3-off-canvas-body .nav > li.active > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > a .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li.active > .dropdown-toggle .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle.active > .dropdown-toggle .caret {
  border-top-color: #65829d;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:hover,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:hover,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:focus,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:focus,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:active,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:active {
  background: none;
  text-transform: none;
  color: #65829d;
}
.t3-off-canvas .t3-off-canvas-body .nav > li > a:hover .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:hover .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:focus .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:focus .caret,
.t3-off-canvas .t3-off-canvas-body .nav > li > a:active .caret,
.t3-off-canvas .t3-off-canvas-body .nav .dropdown-toggle > a:active .caret {
  border-top-color: #65829d;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu {
  background: none;
  padding-left: 20px;
  color: #999999;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .divider {
  height: auto !important;
  background: transparent !important;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > .nav-header {
  padding: 5px 0;
  color: #ffffff;
  display: inline-block;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li.open > a,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a:hover,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a:focus,
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li > a:active {
  background: none;
  color: #65829d;
  opacity: 1;
  filter: alpha(opacity=100);
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu > li.active > a {
  background: none;
  color: #51687f;
  opacity: 1;
  filter: alpha(opacity=100);
}
.t3-off-canvas .t3-off-canvas-body .dropdown-menu .caret {
  display: none;
}
.t3-off-canvas .t3-off-canvas-body .dropdown-submenu > a:after,
.t3-off-canvas .t3-off-canvas-body .dropdown-submenu > .nav-header:after {
  display: none;
}
.t3-off-canvas .t3-off-canvas-body .t3-module {
  margin-bottom: 20px;
}
.t3-off-canvas .t3-off-canvas-body .module-title {
  margin-bottom: 10px;
  color: #ffffff;
}