h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 200;
  line-height: 1.1;
  color: #1d2127;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 2.6em;
}
h2,
.h2 {
  font-size: 2.2em;
}
h3,
.h3 {
  font-size: 1.8em;
}
h4,
.h4 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px;
}
h5,
.h5 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px;
  text-transform: uppercase;
}
h6,
.h6 {
  font-size: 1em;
}
p {
  margin: 0 0 20px;
  color: #777;
  line-height: 24px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
.semi-bold {
  font-weight: 600 !important;
}
.font-weight-light {
  font-weight: 300 !important;
}
.text-md {
  font-size: 1.6rem !important;
}
.text-lg {
  font-size: 1.9rem !important;
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.align-left {
  text-align: left !important;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #65829d;
}
a.text-primary:hover {
  color: #51687f;
}
.text-light {
  color: #ffffff !important;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.title-center .sppb-addon-title {
  text-align: center;
}
.section-tertiary {
  background-color: #dfe5ea !important;
  border-color: #d0d8e0 !important;
  border-top-style: solid;
  border-top-width: 5px;
}
.section-tertiary blockquote p {
  color: #777 !important;
}
.section-tertiary blockquote:before,
.section-tertiary blockquote:after {
  display: none;
}
.section-tertiary .testimonial-author strong {
  color: #111 !important;
}
.section-tertiary .testimonial-author span {
  color: #666 !important;
}
.section-text-light h1,
.section-text-light h2,
.section-text-light h3,
.section-text-light h4,
.section-text-light h5,
.section-text-light h6 {
  color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.bg-primary {
  color: #fff;
  background-color: #65829d;
}
a.bg-primary:hover {
  background-color: #51687f;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
.page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #ededed;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1em;
  border-left: 5px solid #ededed;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote.with-borders {
  border-radius: 6px;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  padding: 15px 20px;
}
.blockquote-primary {
  border-color: #65829d !important;
}
.blockquote-secondary {
  border-color: #e36159 !important;
}
.blockquote-tertiary {
  border-color: #2baab1 !important;
}
.blockquote-quaternary {
  border-color: #383f48 !important;
}
.blockquote-dark {
  border-color: #2e353e !important;
}
.blockquote-light {
  border-color: #ffffff !important;
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #ededed;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 60px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 46px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 60px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 60px;
}
.features-list .feature-row h3 {
  font-size: 28px;
}
.features-list .feature-row div:first-child {
  padding-left: 0;
}
.features-list .feature-row div:last-child {
  padding-right: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: left;
}
.features-list .feature-row div:last-child.feature-img img {
  float: right;
}
.jumbotron h2 {
  font-size: 46px;
}
.jumbotron iframe {
  margin-top: 20px;
}
.bg-brand {
  background: #65829d !important;
  color: #ffffff !important;
  padding: 10px;
}

.heading.heading-border {
  margin-bottom: 25px;
}
.heading.heading-border h1,
.heading.heading-border h2,
.heading.heading-border h3,
.heading.heading-border h4,
.heading.heading-border h5,
.heading.heading-border h6 {
  margin: 0;
  padding: 0;
}
.heading.heading-bottom-border h1 {
  border-bottom: 5px solid #DBDBDB;
  padding-bottom: 10px;
}
.heading.heading-bottom-border h2,
.heading.heading-bottom-border h3 {
  border-bottom: 2px solid #DBDBDB;
  padding-bottom: 10px;
}
.heading.heading-bottom-border h4,
.heading.heading-bottom-border h5,
.heading.heading-bottom-border h6 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 5px;
}
.heading.heading-bottom-double-border h1,
.heading.heading-bottom-double-border h2,
.heading.heading-bottom-double-border h3 {
  border-bottom: 3px double #DBDBDB;
  padding-bottom: 10px;
}
.heading.heading-bottom-double-border h4,
.heading.heading-bottom-double-border h5,
.heading.heading-bottom-double-border h6 {
  border-bottom: 3px double #DBDBDB;
  padding-bottom: 5px;
}
.heading.heading-middle-border {
  position: relative;
}
.heading.heading-middle-border:before {
  border-top: 1px solid #DBDBDB;
  content: "";
  height: 0;
  left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
}
.heading.heading-middle-border h1,
.heading.heading-middle-border h2,
.heading.heading-middle-border h3,
.heading.heading-middle-border h4,
.heading.heading-middle-border h5,
.heading.heading-middle-border h6 {
  position: relative;
  background: #FFF;
  display: inline-block;
}
.heading.heading-middle-border h1 {
  padding-right: 15px;
}
.heading.heading-middle-border h2,
.heading.heading-middle-border h3 {
  padding-right: 10px;
}
.heading.heading-middle-border h4,
.heading.heading-middle-border h5,
.heading.heading-middle-border h6 {
  padding-right: 5px;
}
.heading.heading-middle-border-reverse {
  text-align: right;
}
.heading.heading-middle-border-reverse h1,
.heading.heading-middle-border-reverse h2,
.heading.heading-middle-border-reverse h3,
.heading.heading-middle-border-reverse h4,
.heading.heading-middle-border-reverse h5,
.heading.heading-middle-border-reverse h6 {
  padding-right: 0;
}
.heading.heading-middle-border-reverse h1 {
  padding-left: 15px;
}
.heading.heading-middle-border-reverse h2,
.heading.heading-middle-border-reverse h3 {
  padding-left: 10px;
}
.heading.heading-middle-border-reverse h4,
.heading.heading-middle-border-reverse h5,
.heading.heading-middle-border-reverse h6 {
  padding-left: 5px;
}
.heading.heading-middle-border-center {
  text-align: center;
}
.heading.heading-middle-border-center h1 {
  padding-left: 15px;
  padding-right: 15px;
}
.heading.heading-middle-border-center h2,
.heading.heading-middle-border-center h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.heading.heading-middle-border-center h4,
.heading.heading-middle-border-center h5,
.heading.heading-middle-border-center h6 {
  padding-left: 5px;
  padding-right: 5px;
}
.heading.heading-border-xs:before {
  border-top-width: 1px;
}
.heading.heading-border-sm:before {
  border-top-width: 2px;
}
.heading.heading-border-lg:before {
  border-top-width: 3px;
}
.heading.heading-border-xl:before {
  border-top-width: 5px;
}
.heading-primary {
  color: #65829d !important;
}
.heading-primary,
.lnk-primary,
.text-color-primary {
  color: #65829d !important;
}
.heading-secondary,
.lnk-secondary,
.text-color-secondary {
  color: #e36159 !important;
}
.heading-tertiary,
.lnk-tertiary,
.text-color-tertiary {
  color: #2baab1 !important;
}
.heading-quaternary,
.lnk-quaternary,
.text-color-quaternary {
  color: #383f48 !important;
}
.heading-dark,
.lnk-dark,
.text-color-dark {
  color: #2e353e !important;
}
.heading-light,
.lnk-light,
.text-color-light {
  color: #ffffff !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-dark {
  color: #1d2127 !important;
}
p .alternative-font {
  display: inline-block;
  margin-bottom: -6px;
  margin-top: -15px;
  position: relative;
  top: 3px;
}
.alternative-font {
  color: #65829d;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6em;
}

.list li {
  margin-bottom: 13px;
}
.list.pull-left li {
  text-align: left;
}
.list.list-icons {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.list.list-icons li {
  position: relative;
  padding-left: 25px;
}
.list.list-icons li > .fa:first-child,
.list.list-icons li > .icons:first-child,
.list.list-icons li a:first-child > .fa:first-child,
.list.list-icons li a:first-child > .icons:first-child {
  position: absolute;
  left: 0;
  top: 5px;
  color: #65829d;
}
.list.list-icons.list-icons-style-2 li {
  padding-top: 5px;
  padding-left: 36px;
}
.list.list-icons.list-icons-style-2 li > .fa:first-child,
.list.list-icons.list-icons-style-2 li > .icons:first-child,
.list.list-icons.list-icons-style-2 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-style-2 li a:first-child > .icons:first-child {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 4px;
}
.list.list-icons.list-icons-style-3 li {
  padding-top: 5px;
  padding-left: 36px;
}
.list.list-icons.list-icons-style-3 li > .fa:first-child,
.list.list-icons.list-icons-style-3 li > .icons:first-child,
.list.list-icons.list-icons-style-3 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-style-3 li a:first-child > .icons:first-child {
  color: #ffffff;
  background: #65829d;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
}
.list.list-icons.list-icons-sm li {
  padding-left: 13px;
  margin-bottom: 5px;
}
.list.list-icons.list-icons-sm li > .fa:first-child,
.list.list-icons.list-icons-sm li > .icons:first-child,
.list.list-icons.list-icons-sm li a:first-child > .fa:first-child,
.list.list-icons.list-icons-sm li a:first-child > .icons:first-child {
  font-size: 0.8em;
  top: 7px;
}
.list.list-icons.list-icons-sm.list-icons-style-2 li {
  padding-left: 32px;
}
.list.list-icons.list-icons-sm.list-icons-style-2 li > .fa:first-child,
.list.list-icons.list-icons-sm.list-icons-style-2 li > .icons:first-child,
.list.list-icons.list-icons-sm.list-icons-style-2 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-sm.list-icons-style-2 li a:first-child > .icons:first-child {
  width: 20px;
  height: 20px;
  padding: 3px;
}
.list.list-icons.list-icons-sm.list-icons-style-3 li {
  padding-left: 32px;
}
.list.list-icons.list-icons-sm.list-icons-style-3 li > .fa:first-child,
.list.list-icons.list-icons-sm.list-icons-style-3 li > .icons:first-child,
.list.list-icons.list-icons-sm.list-icons-style-3 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-sm.list-icons-style-3 li a:first-child > .icons:first-child {
  width: 20px;
  height: 20px;
  padding: 3px;
}
.list.list-icons.list-icons-lg li {
  padding-top: 5px;
  padding-left: 32px;
}
.list.list-icons.list-icons-lg li > .fa:first-child,
.list.list-icons.list-icons-lg li > .icons:first-child,
.list.list-icons.list-icons-lg li a:first-child > .fa:first-child,
.list.list-icons.list-icons-lg li a:first-child > .icons:first-child {
  font-size: 1.5em;
}
.list.list-icons.list-icons-lg.list-icons-style-2 li {
  padding-top: 8px;
  padding-left: 42px;
}
.list.list-icons.list-icons-lg.list-icons-style-2 li > .fa:first-child,
.list.list-icons.list-icons-lg.list-icons-style-2 li > .icons:first-child,
.list.list-icons.list-icons-lg.list-icons-style-2 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-lg.list-icons-style-2 li a:first-child > .icons:first-child {
  width: 30px;
  height: 30px;
  padding: 4px;
}
.list.list-icons.list-icons-lg.list-icons-style-3 li {
  padding-top: 8px;
  padding-left: 42px;
}
.list.list-icons.list-icons-lg.list-icons-style-3 li > .fa:first-child,
.list.list-icons.list-icons-lg.list-icons-style-3 li > .icons:first-child,
.list.list-icons.list-icons-lg.list-icons-style-3 li a:first-child > .fa:first-child,
.list.list-icons.list-icons-lg.list-icons-style-3 li a:first-child > .icons:first-child {
  width: 30px;
  height: 30px;
  padding: 4px;
}
.list.list-icons.list-icons-reverse li {
  text-align: right;
  padding-right: 25px;
  padding-left: 0;
}
.list.list-icons.list-icons-reverse li > .fa:first-child,
.list.list-icons.list-icons-reverse li > .icons:first-child,
.list.list-icons.list-icons-reverse li a:first-child > .fa:first-child,
.list.list-icons.list-icons-reverse li a:first-child > .icons:first-child {
  position: absolute;
  left: auto;
  right: 0;
  top: 5px;
}
.list.list-icons.list-icons-reverse.list-icons-style-2 li {
  padding-right: 36px;
}
.list.list-icons.list-icons-reverse.list-icons-style-3 li {
  padding-right: 36px;
}
.list.list-icons.list-icons-reverse.list-icons-sm li {
  padding-left: 0;
  padding-right: 13px;
}
.list.list-icons.list-icons-reverse.list-icons-sm.list-icons-style-2 li {
  padding-right: 32px;
}
.list.list-icons.list-icons-reverse.list-icons-sm.list-icons-style-3 li {
  padding-right: 32px;
}
.list.list-icons.list-icons-reverse.list-icons-lg li {
  padding-left: 0;
  padding-right: 32px;
}
.list.list-icons.list-icons-reverse.list-icons-lg.list-icons-style-2 li {
  padding-right: 42px;
}
.list.list-icons.list-icons-reverse.list-icons-lg.list-icons-style-3 li {
  padding-right: 42px;
}
.list.list-borders li {
  border-bottom: 1px solid #DBDBDB;
  margin-top: 9px;
  margin-bottom: 0;
  padding-bottom: 9px;
}
.list.list-borders li:last-child {
  border-bottom: 0;
}
.list.list-side-borders {
  border-left: 1px solid #DBDBDB;
  padding-left: 10px;
}
.list.list-ordened {
  counter-reset: custom-counter;
  list-style: none;
}
.list.list-ordened li {
  position: relative;
  padding-left: 22px;
}
.list.list-ordened li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(custom-counter);
  counter-increment: custom-counter;
  font-weight: bold;
}
.list.list-ordened.list-ordened-style-2 li,
.list.list-ordened.list-ordened-style-3 li {
  padding-left: 32px;
}
.list.list-ordened.list-ordened-style-2 li:before,
.list.list-ordened.list-ordened-style-3 li:before {
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  min-width: 26px;
  padding: 0;
  text-align: center;
}
.list.list-ordened.list-ordened-style-3 li:before {
  color: #FFF;
  border: 0;
}
.list.list-unstyled {
  padding-left: 0;
  padding-right: 0;
}
.no-radius {
  border-radius: 0px;
}
.sppb-progress-label {
  font-weight: normal;
}
.sppb-progress-label span {
  background-color: #1d2127;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 11px;
  line-height: 15px;
  padding: 4px 8px;
  position: relative;
}
.sppb-progress-label span:after {
  border-color: #1d2127 transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  bottom: -5px;
  content: "";
  display: block;
  left: 13px;
  position: absolute;
  width: 0;
}
.sppb-progress {
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.sppb-progress .sppb-progress-bar-primary {
  background: #65829d;
  border-radius: 25px;
}