.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
}
.t3-mainnav {
  border-bottom: none;
}
.feature-box.feature-box-style-4 .feature-box-icon i.fa,
.feature-box.feature-box-style-4 .feature-box-icon i.icons {
  color: #ff7347;
}
.testimonial.testimonial-style-2 blockquote::before,
.testimonial.testimonial-style-2 blockquote::after,
.testimonial.testimonial-style-2 blockquote p {
  color: #777 !important;
}
.testimonial.testimonial-style-2 .testimonial-author strong {
  color: #111111 !important;
}
.recent-posts .date .month {
  background: #ed8446;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07000000000000001) inset;
}
.padding-left-none .col-sm-6,
.padding-left-none .col-sm-4 {
  padding-left: 0px;
}