// Override Virtuemart Styling

@import "../vars.less"; // Modify this for custom colors, font-sizes, etc

.clear { .clearfix(); }



// ---------------------------------------------------------
// VM PRODUCT LIST PAGE STYLE
// ---------------------------------------------------------

.browse-view{
	
	
// ORDERBY 
// -----------------------------

.orderby-displaynumber {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom:30px;
	
	.floatleft{
		@media (max-width: @screen-xs-max){
			float:none;
		}
		@media (min-width: @screen-sm-min) {
			float:left;
		}
		@media (min-width: @screen-md-min) { 
			float:left;
		}
		@media (min-width: @screen-lg-min) { 
			float:left;
		}
	}
	
	.display-number {
	  
	  @media (max-width: @screen-xs-max){
			text-align: center !important;
	  }
		@media (min-width: @screen-sm-min) {
			text-align: right;
		}
		@media (min-width: @screen-md-min) { 
			text-align: right;
		}
		@media (min-width: @screen-lg-min) { 
			text-align: right;
		}
	  
	  br{
		display:none;
	  }
	  
	  select {
		  margin-left: 10px;
		  max-width: 60px;
		  display:inline;
		  border-radius:0px;
		  padding:10px;
		  box-shadow:none;
		}
	  
	}
	
	.orderlistcontainer {
	  display: table;
	  position: relative;
	  text-decoration: none;
		
	  @media (max-width: @screen-xs-max){
		
		margin: 0 0 10px;
		text-align: center;
		width: 100%;
		
	  }
	  @media (min-width: @screen-sm-min) {
		
	  }
	  @media (min-width: @screen-md-min) { 
		
	  }
	  @media (min-width: @screen-lg-min) { 
		float: left;
		position: relative;
		text-decoration: none;
		margin: 10px 20px 0 0;
	  }
	  
		 .title {
			margin-bottom: 5px;
		 }
	  
		.title,
		.Order,
		.activeOrder {
			display: table-cell;
		}
	
		.Order,
		.activeOrder {
			padding-left: 5px;
		}  
		.activeOrder {
		  cursor: pointer;
		  text-transform: capitalize;
		  color:@brand-primary;
		  
		  a{
			color:@brand-primary;
			
			&:hover{
				text-decoration: none;
			}
		  }
		}
		.Order + .orderlist {
			display: none !important;
		}
		.orderlist {
		   display: none;
		   position: absolute;
		   z-index: 1;
		   top: 100%;
		   width: 200px;
		   left: 0;
		   background: #ffffff;
		   border: 1px solid #eeeeee;
		   padding: 10px;
		   cursor: pointer;
		   
		   div {
			  border-top: 1px solid #eeeeee;
			  padding: 10px 0;
			  
			  &:first-child {
				border-top: none;
				padding-top: 0;
			 }
			 
			 &:last-child {
				padding-bottom: 0;
			}
			
			
		  }
		   a{
			  color: #444444;
			  -webkit-transition: all 0.2s ease-in;
			  -moz-transition: all 0.2s ease-in;
			  -o-transition: all 0.2s ease-in;
			  transition: all 0.2s ease-in;
			  
			  &:hover{
				color: #ec2124;
				text-decoration: none;
			  }
			}
		  
		}
	  
	}
	
	.view-mode{
		a{
		  width: 35px;
		  height: 35px;
		  text-align: center;
		  line-height: 35px;
		  border: 1px solid @gray-lighter;
		  display: block;
		  float: left;
		  margin-left: 8px;
		  
		  &:hover{
			background:@brand-primary;
			color:@white;
			border-color:@brand-primary;
		  }
		}
		a.active{
			background:@brand-primary;
			color:@white;
			border-color:@brand-primary;
		}
	}
}




}



// PRODUCT COLUMNS
// -----------------------------

div.product {float:left; padding:(@grid-gutter-width / 2); position: relative; }
div.product_horizon div.product {float:left;border:1px solid #ddd;margin:0.3%;min-width: 220px; }
.vm-col-12, .vm-col-11, .vm-col-10, .vm-col-9, .vm-col-8, .vm-col-7, .vm-col-6, .vm-col-5, .vm-col-4, .vm-col-3, .vm-col-2, .vm-col-1 { width: 100%; }
@media (min-width: @screen-sm) {
  .vm-col-12 { width: 8.33333333%; }
  .vm-col-11 { width: 9.09090909; }
  .vm-col-10 { width: 10%; }
  .vm-col-9 { width: 11.111111111%; }
  .vm-col-8 { width: 12.5%; }
  .vm-col-7 { width: 14.2857%; }
  .vm-col-6 { width: 16.66666667%; }
  .vm-col-5 { width: 20%; }
  .vm-col-4 { width: 25%; }
  .vm-col-3 { width: 33.33333333%; }
  .vm-col-2 { width: 50%; }
}

  .width100 { width: 100%; }
  .width70 { width: 70%; }
  .width30 { width: 30%; }
  .width50 { width: 50%; }
  .width25 { width: 25%; }
  .width20 { width: 20%; }

@media (max-width: @screen-xs-max){
	.width33 { width: 100%; }
}
@media (min-width: @screen-sm-min) {
	.width33 { width: 33.33333%; }
}
@media (min-width: @screen-md-min) { 
	.width33 { width: 33.33333%; }
}
@media (min-width: @screen-lg-min) { 
	.width33 { width: 33.33333%; }
}


// ---------------------------------------------------------
// VM PRODUCT LIST VIEW STYLE
// ---------------------------------------------------------


.product-i {
  margin: 0 0 25px !important;
  
  .item-i {
	  padding: 0 15px;
	  position: relative;
  }
  .product-fields {
	display: none;
  }
  
  .vm-product-media-container {
		position: relative;
   }
   
   .price-rating {
	  text-align: center;
	}
	.image-block {
	  position: relative;
	  overflow: hidden;
	  
	  a {
		display: block;
	  }
	  .second-image {
		  position: absolute;
		  top: 20%;
		  transition: all 0.7s;
		  max-width: 100%;
		  left: 0;
		  opacity: 0;
	   }
	}
	.text-block{
		padding: 20px 0;
		margin-bottom: 1px;
			
		@media (max-width: @screen-xs-max){
			overflow:initial;
		}
		@media (min-width: @screen-sm-min) {
			overflow:hidden;
		}
		@media (min-width: @screen-md-min) { 
			overflow:hidden;
		}
		@media (min-width: @screen-lg-min) { 
			overflow:hidden;
		}
		.product-title {
		  font-size: 16px;
		  text-transform: uppercase;
		  text-align: center;
		  transition: 0.7s;
		  margin-top: 0;
		  font-weight:600;
		  
		  a{
			color:@gray;
		  }
		  .price-rating {
			transition: 0.7s;
		 }
	   }
	   
	   .box-review {
			margin-bottom: 20px;
			
			.ratingbox{
				display:inherit;
			}
		}
		
		.product_s_desc {
		  clear: both;
		  display: none;
		}
	}
	.btn-actions {
	  display: inline-block;
	  margin: auto;
	}
	.actions {
	  opacity: 0;
	  transition: 0.7s;
	  position: relative;
	  display: inline-flex;
	  position: absolute;
	  width: 100%;
	  left: 0;
	  margin-top: -20px;
	  text-align: center;
	  
		i {
		  line-height: 36px;
		  display: block;
		}
		.addtocart-area {
		  display: inline-block;
		  line-height: 30px;
		  margin: 0 10px;
		  
		  .notify {
			  border: 2px solid #e5e5e5;
			  padding: 6px 25px;
			  line-height: 3;
			}
		}
		.btn-groups{
			display:inline-block !important;
		}
		.addtocart-area .quantity-box,
		.addtocart-area .lbl_qty,
		.addtocart-area .quantity-controls {
		  display: none;
		}
		.btn-group {
		  width: 40px;
		  height: 40px;
		  overflow: hidden;
		  text-align: center;
		  border: 2px solid #e5e5e5;
		  
		  span {
			  display: none;
			  visibility: hidden;
			}
			a,i{
				color: #222;
				display: inline-block;
			}
		}
		
		.addtofav_aws_icon,
		.addtocart-button {
		  background: transparent;
		  text-transform: none;
		  border: none;
		  -webkit-border-radius: 0;
		  -moz-border-radius: 0;
		  border-radius: 0;
		}
		span.addtocart-button {
		  position: relative;
		  width: auto;
		  display: block;
		  height: 40px;
		  border: 2px solid #e5e5e5;
		  
		  .addtocart-button {
			  padding: 0 15px;
			  color: #222;
			  text-transform: uppercase;
			  line-height: 36px !important;
			}
		}
	}
	
	.product-price {
	  display: inline-flex;
	  margin-top: 3px;
	  font-size: 16px;
	  line-height: 20px;
	  font-weight:600;
	  
	  .PricesalesPrice{
		color:@brand-primary;
		font-weight:600;
	  }
	  .price-crossed {
		  font-size: 14px;
		  font-weight:600;
		  margin-right:15px;
		  text-decoration: line-through;
		}
	}
}


.product-i .item-i:hover {
  border-color: #ff6131;
}
.product-i .item-i:hover .image-block .pro-image {
  top: 0;
  opacity: 1;
}
.product-i .item-i:hover .pro-image:before {
  content: "";
  height: 100%;
  top: 0;
}
.product-i .item-i:hover .actions {
  opacity: 1;
  margin-top: -58px;
}
.product-i .item-i:hover .quickview {
  opacity: 1;
}
.product-i .item-i:hover .product-title,
.product-i .item-i:hover .price-rating {
  opacity: 0;
}
.product-i .timer-grid {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 25px;
  left: 0;
}
.product-i .timer-grid .box-time-date {
  width: 33%;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-right: 1px solid rgba(241,241,241,0.9);
  font-family: Arial;
  white-space: nowrap;
  float: left;
}
.product-i .timer-grid .box-time-date .number {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 0 8px;
  text-align: center;
}
.product-i .timer-grid .sec {
  border-right: 0;
}
.product-i .timer-grid .day {
  width: 100%;
  background: #ff6131;
  text-align: left;
  line-height: 25px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.product-i .timer-grid .day .number {
  display: inline;
  width: auto;
}
.product-i .timer-grid .day .number:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background: #ca2f00;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  content: "\f017";
  font-family: FontAwesome;
}




.listing-view .list-product {
  margin-bottom: 50px;
}
.listing-view .product-row .product-i {
  border: 0;
  margin-bottom: 30px !important;
  padding: 0;
}
.listing-view .product-row .product-i .actions .btn-groups {
  display: inline-block;
}

.listing-view .product-row .product-i .actions .addtocart-area{
	margin:0px;
}

.listing-view.vm_list_view .list-product {
  border-top: 0;
}
.listing-view.vm_list_view .product-i {
  width: 100%;
}
.listing-view.vm_list_view .product-i .item-i {
  border: 2px solid #e5e5e5;
  padding: 20px;
  
}
.listing-view.vm_list_view .product-i .item-i:before,
.listing-view.vm_list_view .product-i .item-i:after {
  content: " ";
  display: table;
}
.listing-view.vm_list_view .product-i .item-i:after {
  clear: both;
}
.listing-view.vm_list_view .product-i .item-i:before,
.listing-view.vm_list_view .product-i .item-i:after {
  display: table;
  content: "";
  line-height: 0;
}
.listing-view.vm_list_view .product-i .item-i:after {
  clear: both;
}
.listing-view.vm_list_view .product-i .item-i:hover .price-rating,
.listing-view.vm_list_view .product-i .item-i:hover .product-title {
  opacity: 1;
}
.listing-view.vm_list_view .product-i .text-block {
  
}

.listing-view.vm_list_view .product-i .vm-product-media-container{
	padding: 30px;
}

.listing-view.vm_list_view .product-i .price-rating {
  text-align: left;
  margin-bottom:15px;
}
.rtl .listing-view.vm_list_view .product-i .price-rating {
  text-align: right;
}
.listing-view.vm_list_view .product-i .text-block-inner {
  text-align: left;
}
.rtl .listing-view.vm_list_view .product-i .text-block-inner {
  text-align: right;
}
.listing-view.vm_list_view .product-i .text-block-inner .product-title,
.listing-view.vm_list_view .product-i .text-block-inner .vm-product-rating-container {
  text-align: left;
}
.rtl .listing-view.vm_list_view .product-i .text-block-inner .product-title,
.rtl .listing-view.vm_list_view .product-i .text-block-inner .vm-product-rating-container {
  text-align: right;
}
.listing-view.vm_list_view .product-i .text-block-inner .product-title {
  font-size: 18px;
  transition: 0s;
}
.listing-view.vm_list_view .product-i .text-block-inner .product-price {
  margin-bottom: 5px;
}
.listing-view.vm_list_view .product-i .text-block-inner .product-price .PricesalesPrice {
  font-size: 22px;
  margin: 0;
}
.listing-view.vm_list_view .product-i .text-block-inner .product-price .price-crossed {
  font-size: 18px;
  margin-right: 12px;
}
.rtl .listing-view.vm_list_view .product-i .text-block-inner .product-price .price-crossed {
  margin-left: 12px;
  margin-right: 0;
}
.listing-view.vm_list_view .product-i .text-block-inner .box-review {
  margin-bottom: 15px;
}
.listing-view.vm_list_view .product-i .text-block-inner .ratingbox {
  margin: 0;
  display: inline-block;
  margin-top: -4px;
}
.listing-view.vm_list_view .product-i .text-block-inner .amount {
  display: initial;
}
.listing-view.vm_list_view .product-i .text-block-inner .amount:before {
  content: "|";
  font-size: 12px;
  color: #e5e5e5;
  margin: 0 10px;
}
.listing-view.vm_list_view .product-i .vm-product-media-container {
  float: left;
  max-width: 272px;
}
.rtl .listing-view.vm_list_view .product-i .vm-product-media-container {
  float: right;
}
.listing-view.vm_list_view .product-i .product_s_desc {
  display: block;
}
.listing-view.vm_list_view .product-i .actions {
  opacity: 1;
  position: initial;
}
.listing-view.vm_list_view .product-i .actions .btn-actions {
  margin: initial;
}
.listing-view.vm_list_view .product-i .actions .btn-groups {
  display: inline-block;
}
.listing-view.vm_list_view .product-i .vm-product-descr-container-1 {
  min-height: 77px;
}
.listing-view.vm_list_view .product-i:hover .btn-groups {
  bottom: 25%;
}
.vm-product-container {
  margin: 0 0 50px;
}
.vm-product-media-container .additional-images {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}



// ---------------------------------------------------------
// VM PRODUCT DETAIL PAGE STYLE
// ---------------------------------------------------------

.productdetails{

//product navigation
.product-neighbours {
  border-bottom: 1px solid @gray-lighter;
  padding: 0 0 10px;
  margin: 10px 0px;
  
  a.next-page {
    float: right;
    position: relative;
   }
  a.previous-page {
    float: left;
    position: relative;
  }
  .fa{
	padding:10px;
  }
}

.vm-product-media-container{
	
	.main-image{
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 0.2381em;
		
		img{
			max-width:100%;
		}
	}
	.additional-images{
		.floatleft{
			box-sizing: border-box;
			max-width: 33.3%;
			padding: 10px 5px 10px;
			float:left;
			
			a{
			 border: 1px solid #ddd;
				
				img{
					border: 1px solid #ddd;
					border-radius: 4px;
					box-sizing: border-box;
					text-align: center;
					max-width:100%;
				}
			}
		}
	}
	
}

.spacer-buy-area{
	h1{
		display: inline-block;
		font-size: 30px;
		font-weight: 600;
		line-height: 1.2;
		margin:0px 0px 10px 0px;
		text-transform: capitalize;
	}
	.vm-product-rating-container{
		.separator{
			margin:0px 5px;
		}
	}
	.in-stock{
		color:@green;
		font-weight:bold;
	}
	.product-price{
		font-weight:bold;
		
		.price-crossed{
			display:inline-block;
			text-decoration:line-through;
			margin-right:10px;
		}
		.PricesalesPrice{
			display:inline-block;
			font-size:30px;
			color:@brand-primary;
		}
	}
	.product-short-description{
		border-top: 1px solid #f2f2f2;
		margin-top:20px;
		clear: both;
		padding: 15px 0;
	}
	.addtocart-area{
		.product-fields{
			 display: inline-block;
			 float: left;
			 margin-bottom: 15px;
			 margin-top: 0;
			 width: 100%;
			 
			 &:first-child{
				float:left;
			 }
			 
			 .product-field {
				float: right;
				margin-top: 0;
				width: 50%;
			}
			.product-field-display{
				margin-top:5px;
				
				.chzn-single{
					border: 1px solid #f2f2f2;
					background: #fff none repeat scroll 0 0;
					border-radius: 0;
					box-shadow: none;
					color: #aaa;
					font-size: 13px;
					height: auto !important;
					line-height: inherit !important;
					padding: 6px 0 6px 8px;
					
					div{
						b{
							background-position: 0 9px !important;
						}
					}
				}
				.chzn-container.chzn-container-active .chzn-single-with-drop div b {
					*background-position: -18px 4px !important;
				}
				.product-field-display select,
				.product-field-display .chzn-container,
				.product-field-display .chzn-drop {
				  width: 100% !important;
				  max-width: none !important;
				}
				.chzn-container.chzn-container-single .chzn-single {
				  background-image: none;
				  border-radius: 4px;
				  background: #fff;
				  border: 1px solid #ddd;
				  box-shadow: none;
				  height: auto !important;
				  line-height: inherit !important;
				  padding: 6px 0 6px 8px;
				  font-size: 13px;
				  color: #aaa;
				}
				.chzn-container.chzn-container-single .chzn-single div b {
				  *background-position: 0 5px !important;
				}
				.chzn-container.chzn-container-single .chzn-drop {
				  border: 1px solid #ddd !important;
				  border-top: 0 !important;
				  -webkit-box-shadow: none !important;
				  box-shadow: none !important;
				}
				.chzn-container.chzn-container-active .chzn-single-with-drop div b {
				  *background-position: -18px 4px !important;
				}
				.chzn-container .chzn-drop {
				  border: 1px solid #f2f2f2;
				  border-top: 0;
				}
				.chzn-container .chzn-results .highlighted {
				  background-color: #fff !important;
				  background-image: none !important;
				  color: #444444 !important;
				}
			}
		}
	}
	.add-to-box{
		i{
			margin-right:10px;
		}
	}
	
}
	
	

}




// DESCRIPTION AND REVIEW TAB
// -----------------------------

.productdetails-view.productdetails .list-info {
  border: 1px solid #eaecef;
  border-bottom: none;
  list-style:none;
  padding:0px;
}
.productdetails-view.productdetails .list-info li {
  line-height: 40px;
  border-bottom: 1px solid #eaecef;
}
.productdetails-view.productdetails .list-info li strong {
  width: 150px;
  float: left;
  margin-right: 20px;
  border-right: 1px solid #eaecef;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}

.list-reviews{
	.with-borders {
		border-color: #dfdfdf #ececec;
		border-radius: 6px;
		border-style: solid;
		border-width: 1px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
		padding: 15px 20px;
		
		.info{
			margin:10px 0px 10px 0px;
		}
		
		.vote{
			padding:0px 10px 0px 10px;
		}
	}

}



.jb-sidebar-products{
	.vmproduct {
		padding:0px;
		
		.jb-products-list{
			list-style:none;
		}
	}
	
}

.jb-currency{
	.inputbox{
		border-radius:0px;
		border-color:@gray-lighter;
		box-shadow:none;
		display:inline;
	}
}


// Modals
// --------------------------------------------------

.window-mainbody{
	
	.floatleft{
		float:left;
	}
}

body.modal {
  padding: 0;
}

//ask a question/recommend
.ask-a-question-view {
  padding: 10px;
  > h1 {
    padding: 0 0 20px;
    margin: 0;
  }
  .product-summary {
    padding: 10px 0;
    margin: 0 0 10px;
    h2 {
      margin: 0 20px 10px 0;
    }
    .short-description {
      margin: 0 20px 0 0;
    }
    img.product-image {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      padding: 5px;
      border: 1px solid @gray-lighter;
      .box-sizing(border-box);
    }
  }
  form#askform {
    margin: 0;
    table.askform {
      width: 100%;
      td {
        padding: 0;
      }
      label {
        margin: 10px 0;
      }
      textarea {
        height: 80px;
        width: 100%;
        .box-sizing(border-box);
        margin-bottom: 10px;
      }
      input[type="text"] {
        margin: 10px 0;
      }
    }    
  }
  div.submit {
    display: inline-block;
    width: 100%;
    > div:first-child {
      margin-bottom: 10px;
      text-align: right;
      input#counter {
        width: 27px;
        text-align: center;
        margin: 0;
      }
    }
    #recaptcha_area {
      clear: both;
      margin: 10px 0;
    }
  }
  .formError {
    left: auto !important;
    right: 20px;
    .formErrorContent {
      min-width: 0;
      width: auto;
    }
  }
}

//print product
.modal .productdetails-view {
  padding: 15px;
  .vm-product-container .vm-product-media-container {
    width: 30%;
  }
  .vm-product-details-container {
    width: 70%;
  }
  label.quantity_box { 
    display: inline-block;
  }
  input.quantity-input {
    margin-bottom: 0;
  }
  .ratingbox div,
  .ratingbox span {
   background: url("../images/vm/color-stars.png") repeat-x;
  }
  .ask-a-question a {
    padding-right: 0;
    padding-left: 0;
  }
  .product-related-products .product-field {
    width: 50%;
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8) {
      clear: both;
    }
  }
}

.jb-shop-front{
	.tp-row{
	ul{
		padding-left:0px;
		
		li{
			list-style:none;
			text-align:center;
			padding:30px;
			
			.product-name{
				font-size:20px;
				font-weight:500;
				margin-top:10px;
				display:block;
			}
			.product-price{
				font-weight:bold;
				color:@brand-primary;
			}
			.product-fields{
				display:none;
			}
			.addtocart-bar{
				border:none !important;
				padding:0px !important;
				
				.vm-quantity-box{
					display:none;
				}
				.addtocart-button{
					float:none !important;
					margin-left:0px !important;
				}
			}
		}
	}
}

}


#fancybox-outer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow: visible;
  box-shadow: 0 0 22px rgba(0,0,0,0.25);
  border-radius: 4px;
}
#fancybox-close {
  width: 32px;
  height: 32px;
  background: transparent;
}
#fancybox-close:before {
  font-family: "FontAwesome";
  color: #fff;
  position: relative;
  font-size: 15px;
  line-height: 32px;
  display: inline-block;
  content: "\f00d";
  margin: 0 auto;
  width: 32px;
  height: 32px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
}
#fancybox-loading div {
  display: none;
}
.fancybox-bg {
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
}
#fancybox-bg-n,
#fancybox-bg-ne,
#fancybox-bg-e,
#fancybox-bg-se,
#fancybox-bg-s,
#fancybox-bg-sw,
#fancybox-bg-w,
#fancybox-bg-nw {
  background-image: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border: 0;
}
#fancybox-overlay {
  background: #fff !important;
}
#fancybox-wrap {
  overflow: visible !important;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
#fancybox-wrap #fancybox-left-ico,
#fancybox-wrap #fancybox-right-ico {
  background: transparent;
}
#fancybox-wrap #fancybox-left-ico:before,
#fancybox-wrap #fancybox-right-ico:before {
  font-family: "FontAwesome";
  position: absolute;
  color: #fff;
  font-size: 28px;
  line-height: 42px;
  width: 44px;
  height: 44px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
}
#fancybox-wrap #fancybox-left-ico:before {
  position: absolute;
  left: -44px;
  content: "\f104";
}
#fancybox-wrap #fancybox-right-ico:before {
  right: -44px;
  content: "\f105";
}
#fancybox-wrap #fancybox-title {
  width: 99% !important;
  position: relative;
  margin: 0 auto;
  background: transparent;
}
#fancybox-wrap #fancybox-content {
  padding: 20px 20px 30px;
  border: none !important;
  min-height: 70%;
  min-width: 70%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
#fancybox-wrap #fancybox-content h4 {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 20px auto;
}


#fancybox-content .continue_link, 
#fancybox-content .showcart {
    background-color: @brand-primary;
    border-radius: 0;
    color: #ffffff;
    float: left;
    margin: 6px;
    padding: 14px 16px;
    text-align: center;
    text-transform: capitalize;
    width: auto;
}
#fancybox-content .showcart {
    float: right;
}




.product-i{
	.item-i{
		padding-left:0px;
	}
	
	.product-status{
		.status-new-sale{
			  position: absolute;
			  z-index: 1;
			  text-align: center;
			  color: @white;
			  width: 50px;
			  top: 10px;
			  line-height: 28px;
			  font-size: 13px;
			  left: 12px;
			  background:@red;
		}
		.status-sale{
			  position: absolute;
			  z-index: 1;
			  text-align: center;
			  color: @white;
			  width: 50px;
			  top: 10px;
			  line-height: 28px;
			  font-size: 13px;
			  right: 12px;
			  background:@brand-primary;
		}
	}
}

.title-uppercase{

	.sppb-addon-title{
		text-transform:uppercase;
		margin-top:10px;
		margin-bottom:20px;
		font-size:16px;
		font-weight:700;
	}
	.sppb-section-title{
		
		.sppb-title-heading{
			text-transform:uppercase;
			background-color: @white;
			padding-right: 20px;
			position: relative;
			display:inline-block;
			z-index: 2;
		}
		.sppb-title-subheading{
			display: block;
			height: 1px;
			position: relative;
			left: 0;
			bottom: 24px;
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 70%, transparent 100%);
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 70%, transparent 100%);
			z-index: 1;
		}
	}
}  



.cat-box {
	overflow: hidden;
	margin-bottom: 0;
}
.cat-box a {
	display: block;
}
.cat-box img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.cat-box h3 {
	display: inline-block;
	position: absolute;
	bottom: 13px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: rgba(23, 23, 23, 0.9);
	font-size: 20px;
	color: #fff;
	font-weight: 800;
	line-height: 37px;
	padding: 0 10px;
	text-transform: uppercase;
	white-space: nowrap;
}
.cat-box:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}



.hot-tag{
	.mega-caption {
		padding: 0 8px !important;
		line-height: 18px;
		background-color: @pink;
		color: @white;
		position: absolute;
		font-size: 11px;
		font-weight: normal;
		top: -14px;
		right: 0;
    
		&:before{
			position: absolute;
			left: 6px;
			top: 18px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 4px;
			border-color: transparent;
			border-top-color: @pink;
		}
	}
}


  
.new-tag{
   .mega-caption {
		padding: 0 8px !important;
		line-height: 18px;
		background-color: @green-light;
		color: @white;
		position: absolute;
		font-size: 11px;
		font-weight: normal;
		top: -14px;
		right: 0;
    
		&:before{
			position: absolute;
			left: 6px;
			top: 18px;
			width: 0;
			height: 0;
			content: "";
			border-style: solid;
			border-width: 4px;
			border-color: transparent;
			border-top-color: @green-light;
		}
	}
}
.new-latest{
   .mega-caption {
	float:right;
	background:@brand-primary;
    color: @white;
    font-size: @t3-font-size-smaller;
    margin-top: 10px;
    font-weight: @font-weight-normal;
    line-height: 20px;
    padding: 0px 8px;
    
	}
}
  
.mega-caption-empty{
	display:none !important;
}




.cart-view h3,
.cart-view .h3 {
  font-size: 22px;
}
.cart-view form {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
table.cart-summary tbody {
  border: 1px solid #e5e5e5;
}
table.cart-summary tr th {
  border: 1px solid #e5e5e5;
  padding: 15px 0 8px;
}
.billto-shipto h3 {
  margin: 0 0 10px;
}
.billto-shipto h3 i {
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  background-color: #b4b4b4;
}
.billto-shipto a.details:hover {
  text-decoration: underline;
}
.billto-shipto .billto-inner,
.billto-shipto .shipto-inner {
  min-height: 150px;
}
.billto-shipto .output-shipto a {
  color: #898989 !important;
}
.billto-shipto .output-shipto a:hover {
  color:  !important;
}
.billto-shipto .output-shipto input {
  float: left;
  position: initial;
  margin-left: 0;
  margin-top: 4px;
  margin-right: 5px;
}
.cart-view h3 {
  color: #444;
}
.block-border {
  display: inline-block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 21px;
  margin-bottom: 30px;
}
.table-footer {
  display: inline-block;
  width: 100%;
}
.table-footer h3,
.table-footer .h3 {
  font-size: 14px;
  margin: 10px 0;
}
.shipment input[type="radio"],
.payment input[type="radio"] {
  float: left;
  margin-top: 4px;
  width: 4%;
}
.shipment label,
.payment label {
  float: left;
  width: 96%;
  margin-bottom: 30px;
}
.shipment .vm-display.vm-price-value,
.payment .vm-display.vm-price-value {
  display: inline-block;
}
.total-block span,
.total-block div {
  font-size: 20px;
  display: inline-block;
}
.total-block .priceColor2 {
  margin-right: 30px;
}
.total-block .title {
  font-weight: 500;
  margin-right: 5px;
}
.vmshipment_name,
.vmpayment_name {
  font-weight: 400;
  line-height: 1.35;
  display: block;
  font-size: 16px;
  color: #444;
}
.vmCartPaymentLogo {
  display: inline-block;
  float: left;
  min-width: 40px;
}
.vmCartPaymentLogo img {
  display: inline-block;
  float: left;
  margin-right: 15px;
}
a.terms-of-service {
  text-decoration: underline;
}
#checkoutForm fieldset {
  width: 100%;
  float: left;
  margin: 0;
  display: inline-block;
}
#checkoutForm .product-name a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
#checkoutForm .vm-continue-shopping {
  width: 50%;
  float: left;
  padding-bottom: 0;
}
#checkoutForm .vir_quantity {
  text-align: center;
}
#checkoutForm .vir_quantity input.quantity-input {
  width: 50px !important;
  padding: 2px;
  display: inline-block;
  border: 1px solid #ddd;
  height: 30px;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
}
#checkoutForm .vir_quantity .vm2-add_quantity_cart,
#checkoutForm .vir_quantity .vm2-remove_from_cart {
  width: 30px;
  height: 30px;
  padding: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
}
#checkoutForm .vm-fieldset-pricelist {
  width: 100%;
  margin: 0 0 30px 0;
}
#checkoutForm .tb-total {
  line-height: 30px;
  text-transform: uppercase;
}
#checkoutForm .tb-total .total-title {
  padding: 15px 20px;
  border-bottom: 1px solid #d9dde3;
  background-color: #f5f5f5;
}
#checkoutForm .tb-total .total-title .total {
  display: inline-block;
}
#checkoutForm .tb-total .continue_link {
  color: #fff;
  float: left;
  line-height: 35px;
  border: 0 !important;
  background: #313133;
  padding: 5px 15px;
  font-size: 13px;
  text-transform: initial;
}
#checkoutForm .tb-total .price div {
  display: inline-block;
}
#checkoutForm .tb-total .price span {
  line-height: 38px;
}
#checkoutForm .price-coupon {
  margin-top: 10px;
}
#checkoutForm .price-coupon div {
  display: inline-block;
}
#checkoutForm .price-coupon > span {
  font-weight: bold;
}
#checkoutForm .cart-summary {
  width: 100%;
}
#checkoutForm .cart-summary .product-name {
  padding: 10px 5px;
}
#checkoutForm .cart-summary tr th {
  font-weight: normal;
  border-right: 1px solid #f2f2f2;
  padding: 10px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  background: transparent;
}
#checkoutForm .cart-summary .cart-images {
  width: 100%;
  text-align: center;
  float: left;
  padding: 10px;
}
#checkoutForm .cart-summary .cart-images img {
  display: inline-block;
  float: none;
  margin: 0 auto;
  max-width: 150px;
  width: auto;
}
#checkoutForm .cart-summary tbody td {
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  text-align: center;
}
#checkoutForm .cart-summary tbody .vm-customfield-cart {
  text-align: center;
  line-height: 20px;
  padding: 20px 0px;
}
#checkoutForm .cart-summary tbody .vm-customfield-cart span {
  float: none;
}
#checkoutForm .cart-summary tfoot {
  text-align: left;
}
#checkoutForm .cart-summary tfoot a:hover {
  text-decoration: underline;
}
#checkoutForm .cart-summary tfoot .checkoutStep {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 15px;
}
#checkoutForm .cart-summary tfoot .shipment h3,
#checkoutForm .cart-summary tfoot .payment h3 {
  font-size: 13px;
  margin: 0;
}
#checkoutForm .cart-summary tfoot .shipment .buttonBar-left,
#checkoutForm .cart-summary tfoot .payment .buttonBar-left {
  float: right;
}
#checkoutForm .cart-summary tfoot .sectiontableentry2 td .tb-tfoot {
  border: 1px dashed #ccc;
}
#checkoutForm .cart-summary tfoot .sectiontableentry1 td .sectiontableentry1-inner {
  float: left;
  width: 100%;
  padding: 20px;
  border: 1px dashed #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#checkoutForm .cart-summary .tb-tfoot {
  padding: 20px;
}
#checkoutForm .cart-summary .tb-tfoot input {
  margin: 0;
  height: 37px;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#checkoutForm .cart-summary .tb-tfoot .details-button input {
  background-image: none;
}
#checkoutForm .cart-summary .tb-tfoot .coupon {
  width: 300px;
  line-height: 37px;
}
#checkoutForm .checkout-button-top {
  display: inline-block;
  float: right;
  text-align: right;
  border: 0;
  width: 100%;
  padding: 20px 40px 10px;
}
#checkoutForm .vm-fieldset-customer-note {
  width: 100%;
  margin: 0 0 30px 0;
  border: 1px solid #e5e5e5;
  float: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#checkoutForm .vm-fieldset-customer-note span.customer-note {
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 3px;
  display: block;
}
#checkoutForm .vm-fieldset-customer-note span.customer-note:before {
  margin-right: 5px;
  content: "\f133";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}
#checkoutForm .vm-fieldset-customer-note textarea#customer_note_field {
  height: 120px;
  margin: 20px 0;
  overflow: auto;
  width: 100%;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#checkoutForm .vm-fieldset-customer-note .vm-fieldset-tos input.terms-of-service {
  float: left;
}
#checkoutForm .vm-fieldset-customer-note .vm-fieldset-tos span.cart {
  float: left;
}
#checkoutForm .vm-fieldset-customer-note .vm-fieldset-tos div.terms-of-service {
  width: 100%;
  float: left;
}
#checkoutForm .vm-fieldset-customer-note .vm-fieldset-tos div.terms-of-service .vmicon {
  display: none;
}
#checkoutForm .vm-fieldset-customer-note .vm-fieldset-tos div.terms-of-service a:hover {
  text-decoration: underline;
}
.login .radio label,
.login .checkbox label {
  position: relative;
}
.login .radio label input[type="checkbox"],
.login .checkbox label input[type="checkbox"] {
  left: 0;
  top: 5px;
}
.login .btn-primary {
  border-radius: 20px;
}
.form-links {
  margin-bottom: 30px;
}
