.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
h2,
.sppb-title-heading {
  font-size: 1.8em !important;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px !improtant;
}
.sppb-title-subheading {
  font-size: 1.6rem !important;
  color: #1d2127;
}
.custom-center-img-responsive {
  margin: 0 auto;
}
.sppb-title-subheading {
  color: #94a9c3 !important;
  font-size: 1.6em;
}
h4 {
  font-size: 1.1em;
}
.text-color-light h1 {
  color: #ffffff;
}
.font-weight-bold h1 {
  font-weight: bold;
}
.custom-text-color-4 {
  color: #d9e0ef !important;
}
.t3-mainnav {
  border-bottom: none;
}
.home-intro p span {
  color: #ffffff;
}
.home-intro p em {
  color: #ffffff;
}
.home-intro .get-started a:not(.btn) {
  color: #ffffff;
}
.testimonial.testimonial-style-2 blockquote p {
  color: #818898 !important;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  padding: 0 40px;
  line-height: 2;
  font-style: normal;
}
.testimonial.testimonial-style-2 blockquote::before,
.testimonial.testimonial-style-2 blockquote::after {
  font-size: 50px;
  color: #2e353e !important;
}
.testimonial.testimonial-style-2 .testimonial-author strong {
  color: #111111 !important;
}
.text-white h2,
.text-white p,
.text-white a {
  color: #ffffff;
}
.border-top-brand {
  border-top: 5px solid #71b6d2 !important;
}
.recent-posts .date .month {
  background: #57a6b0;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07000000000000001) inset;
}
.padding-left-none .col-sm-6,
.padding-left-none .col-sm-4 {
  padding-left: 0px;
}
.custom-post-blog h4,
.custom-post-blog p {
  padding: 0 30px 0 60px;
}
.custom-text-color-1 {
  color: #818898 !important;
}
.custom-post-blog .date {
  left: 0;
  position: absolute;
  top: 5px;
}
.custom-post-blog .date > span.day {
  font-size: 3.5em;
  line-height: 0.7;
}
.custom-post-blog .date > span {
  display: block;
}