.label-secondary {
  background-color: #e36159;
}
.label-tertiary {
  background-color: #2baab1;
}
.label-quaternary {
  background-color: #383f48;
}
.label-dark {
  background-color: #2e353e;
}
.label-light {
  background-color: #ffffff;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 20px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.sppb-btn-primary {
  background: #b7a788;
}
.sppb-btn-primary:hover {
  background: #a49068 !important;
}
.sppb-btn-primary.sppb-btn-3d {
  border-bottom-color: #a49068;
}
.sppb-btn-primary.sppb-btn-3d:hover {
  border-bottom-color: #a49068 !important;
}
.custom-border-radius {
  border-radius: 30px !important;
}
.btn-primary-scale-2 {
  background: #a49068;
  color: #ffffff;
  border-radius: 0px;
  border-color: #a49068;
}
.btn-primary-scale-2:hover {
  color: #ffffff;
  border-color: #a49068;
}
.btn-secondary {
  background: #57a6b0;
  color: #ffffff;
  border-radius: 0px;
  border-color: #57a6b0 #57a6b0 #448890;
}
.btn-secondary:hover {
  color: #ffffff;
}
.btn-inverse {
  color: #ffffff;
  background-color: #1d2127;
  border-color: #121518;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #07080a;
  border-color: #000000;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #1d2127;
  border-color: #121518;
}
.btn-inverse .badge {
  color: #1d2127;
  background-color: #ffffff;
}
.btn-no-br {
  border-radius: 0px;
}
.btn-xlg {
  border-radius: 6px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .btn-xlg {
    padding: 15px 30px !important;
  }
}
@media (min-width: 768px) {
  .btn-xlg {
    padding: 15px 60px !important;
  }
}
@media (min-width: 992px) {
  .btn-xlg {
    padding: 15px 60px !important;
  }
}
@media (min-width: 1200px) {
  .btn-xlg {
    padding: 15px 60px !important;
  }
}
.btn-block + .btn-block {
  margin-top: 5px;
}

.btn-borders {
  border-width: 3px;
}
.btn-borders.btn-primary {
  background: transparent;
  border-color: #b7a788;
  color: #b7a788;
  text-shadow: none;
}
.btn-borders.btn-primary:hover,
.btn-borders.btn-primary:focus {
  background-color: #b7a788;
  border-color: #a49068 !important;
  color: #FFF;
}
.btn-borders.btn-success {
  background: transparent;
  border-color: #47a447;
  color: #47a447;
  text-shadow: none;
}
.btn-borders.btn-success:hover,
.btn-borders.btn-success:focus {
  background-color: #51b451;
  border-color: #47a447 !important;
  color: #FFF;
}
.btn-borders.btn-warning {
  background: transparent;
  border-color: #ed9c28;
  color: #ed9c28;
  text-shadow: none;
}
.btn-borders.btn-warning:hover,
.btn-borders.btn-warning:focus {
  background-color: #efa740;
  border-color: #ed9c28 !important;
  color: #FFF;
}
.btn-borders.btn-danger {
  background: transparent;
  border-color: #d2322d;
  color: #d2322d;
  text-shadow: none;
}
.btn-borders.btn-danger:hover,
.btn-borders.btn-danger:focus {
  background-color: #d74742;
  border-color: #d2322d !important;
  color: #FFF;
}
.btn-borders.btn-info {
  background: transparent;
  border-color: #5bc0de;
  color: #5bc0de;
  text-shadow: none;
}
.btn-borders.btn-info:hover,
.btn-borders.btn-info:focus {
  background-color: #70c8e2;
  border-color: #5bc0de !important;
  color: #FFF;
}
.btn-borders.btn-dark {
  background: transparent;
  border-color: #1d2127;
  color: #1d2127;
  text-shadow: none;
}
.btn-borders.btn-dark:hover,
.btn-borders.btn-dark:focus {
  background-color: #282d36;
  border-color: #1d2127 !important;
  color: #FFF;
}
.btn-borders.btn-quaternary {
  background: transparent none repeat scroll 0 0;
  border-color: #1d2127;
  color: #1d2127;
  text-shadow: none;
}
.custom-button {
  border-radius: 30px !important;
  padding: 10px 30px !important;
}
.custom-button:hover {
  color: #555555;
  background: #ffffff;
}

.btn-borders {
  padding: 4px 12px;
}
.btn-borders.btn-lg,
.btn-group-lg > .btn-borders.btn {
  padding: 8px 16px;
}
.btn-borders.btn-sm,
.btn-group-sm > .btn-borders.btn {
  border-width: 2px;
  padding: 4px 10px;
}
.btn-borders.btn-xs,
.btn-group-xs > .btn-borders.btn {
  padding: 1px 5px;
  border-width: 1px;
}

.btn-3d {
  border-bottom-width: 3px;
  padding: 5px 12px;
  border-radius: 6px;
}
.btn-3d.btn-lg,
.btn-group-lg > .btn-3d.btn {
  padding: 9px 16px;
}
.btn-3d.btn-sm,
.btn-group-sm > .btn-3d.btn {
  border-width: 2px;
  padding: 4px 10px;
}
.btn-3d.btn-xs,
.btn-group-xs > .btn-3d.btn {
  padding: 1px 5px;
  border-width: 1px;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 768px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: auto;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}
.input-append .active,
.input-prepend .active {
  background-color: #cde4a4;
  border-color: #89b837;
}
.invalid {
  border-color: #ef3447;
}
label.invalid {
  color: #ef3447;
}
input.invalid {
  border: 1px solid #ef3447;
}
.blockquote-secondary {
  border-color: #ff7347 !important;
}

.font-size-xs {
  font-size: 0.8em !important;
}
.font-size-sm {
  font-size: 0.9em !important;
}
.font-size-md {
  font-size: 1em !important;
}
.font-size-lg {
  font-size: 1.1em !important;
}
.font-size-xl {
  font-size: 1.2em !important;
}
.header-top-secondary {
  background: #344257;
}
.custom-divider {
  height: 56px;
  background: transparent url(../../../templates/porto/images/joomlabuff/custom-divider-1.png) no-repeat center center;
}