.home .t3-sl-1 .jumbotron .btn,
.home .t3-sl-5 .jumbotron .btn {
  border-color: #fff;
}
.t3-mainnav {
  border-bottom: none;
}
.col-half-section.col-half-section-right {
  float: right;
  margin-left: 0;
  margin-right: 30px;
}
.counters .fa {
  color: #ffffff;
}
.sppb-addon-content .sppb-animated-number,
.sppb-addon-content .sppb-animated-number-title {
  color: #ffffff;
}
.thumb-info {
  border: 1px solid #ddd;
}
.thumb-info img {
  border-radius: 0px;
}