/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// --------------------------------------------------
// CORE ELEMENTS
// --------------------------------------------------

//
// SCAFFOLDING (scaffolding.less)
// --------------------------------------------------

html {
}

body {
	color:#777777;
	outline:none;
	line-height:22px;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links
// --------------------------------------------------
a {
  color: @link-color;
  text-decoration: none !important;
  outline:none !important;
  
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: underline;
    outline:none !important;
  }

  &:focus {
    .tab-focus();
  }
}


// Images
// --------------------------------------------------
img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
}

// Rounded corners
.img-rounded {
}

// Image thumbnails
.img-thumbnail {
}

// Perfect circle
.img-circle {
}



//
// TABLES (tables.less)
// -------------------------------------------------------
table {
}

// All Cells
// ---------
th,
td {
  line-height: @line-height-base;
  text-align: left;
  vertical-align: top;
} 

// Heading
// -------
th {
  font-weight: bold;
  // Links in Table Heading
  a {
    // Link states
    &:hover, &:focus, &:active {
    }
  }
}

// Base Cells
// ----------
td,
tr td {
  border-top: 1px solid @table-border-color;
}



// Specific Joomla! Table Styles
// -----------------------------
.cat-list-row0,
.cat-list-row1,
tr.cat-list-row0 td,
tr.cat-list-row1 td {
}

.cat-list-row0:hover,
.cat-list-row1:hover {
  background: @table-bg-hover;
}

.cat-list-row1,
tr.cat-list-row1 td {
  background: @table-bg-accent;
}

table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}

table.contentpaneopen {
  border: 0;
}



// 
// MISC
// --------------------------------------------------
.star {
  color: @yellow;
}

.red {
  color: @red;
}


// Wrap Element
.wrap {
  width: auto;
  clear: both;
}

// Center
.center,
.table td.center,
.table th.center {
  text-align: center;
}

// Hidden elements
.element-invisible {
 position: absolute;
 padding: 0;
 margin: 0;
 border: 0;
 height: 1px;
 width: 1px;
 overflow: hidden;
}



/* Dividers */
hr {
	background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
	background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
	border: 0;
	height: 1px;
	margin: 22px 0;
}

hr.short {
	margin: 11px 0;
}

hr.tall {
	margin: 44px 0;
}

hr.taller {
	margin: 66px 0;
}

hr.gradient-to-right {
	background-image: -webkit-linear-gradient(left, #DBDBDB, transparent);
	background-image: linear-gradient(to right, #DBDBDB, transparent);
}

hr.gradient-to-left {
	background-image: -webkit-linear-gradient(left, transparent, #DBDBDB);
	background-image: linear-gradient(to right, transparent, #DBDBDB);
}

hr.solid {
	background: #DBDBDB;
}

hr.light {
	background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.15), transparent);
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent);
}

hr.invisible {
	background: none;
}

.divider {
	border: 0;
	height: 1px;
	margin: 44px auto;
	background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
	background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
	text-align: center;
	position: relative;
	clear: both;
}

.divider.taller {
	margin: 66px auto;
}

.divider .fa, .divider .icons {
	text-align: center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: #FFF;
	border-radius: 50px;
	color: #a9a9a9;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	width: 50px;
	font-size: 20px;
	margin: 0 auto 0 -25px;
	top: -25px;
	left: 50%;
	z-index: 1;
}

.divider.divider-solid {
	background: #DBDBDB;
}

.divider.divider-icon-sm .fa, .divider.divider-icon-sm .icons {
	width: 30px;
	height: 30px;
	line-height: 30px;
	top: -15px;
	font-size: 15px;
	margin-left: -16px;
}

.divider.divider-icon-lg {
	margin: 86px 0;
}

.divider.divider-icon-lg .fa, .divider.divider-icon-lg .icons {
	width: 60px;
	height: 60px;
	line-height: 60px;
	top: -30px;
	font-size: 30px;
	margin-left: -30px;
}

.divider.divider-icon-lg.taller {
	margin: 100px auto;
}

.divider.divider-xs {
	width: 35%;
}

.divider.divider-sm {
	width: 67%;
}

.divider.divider-left .fa, .divider.divider-left .icons {
	left: 0;
	margin-left: 0;
	margin-right: 0;
	right: auto;
}

.divider.divider-right .fa, .divider.divider-right .icons {
	left: auto;
	margin-left: 0;
	margin-right: 0;
	right: 0;
}

.divider.divider-style-2 .fa, 
.divider.divider-style-2 .icons {
	background: #f4f4f4;
	color: #a9a9a9;
}

.divider.divider-style-3 .fa, .divider.divider-style-3 .icons {
	border: 1px solid #CECECE;
}

.divider.divider-style-4 .fa, .divider.divider-style-4 .icons {
	border: 1px solid #CECECE;
}

.divider.divider-style-4 .fa:after, 
.divider.divider-style-4 .icons:after {
	border: 3px solid #f4f4f4;
	border-radius: 50%;
	box-sizing: content-box;
	content: "";
	display: block;
	height: 100%;
	left: -4px;
	padding: 1px;
	position: absolute;
	top: -4px;
	width: 100%;
}

.divider.divider-small {
	margin: 22px auto;
	background: transparent;
}

.divider-primary{
	hr{
		background:@brand-primary !important;
	}
	
}

.divider-secondary{
	hr{
		background:#e36159 !important;
	}
}

.divider-tertiary{
	hr{
		background:#2baab1 !important;
	}
}

.divider-quaternary{
	hr{
		background:#383f48 !important;
	}
}



.divider.divider-style-2.divider-primary .fa,
.divider.divider-style-2.divider-primary .icons {
	background: #0088cc;
	color: #ffffff;
}

.divider.divider-style-2.divider-secondary .fa,
.divider.divider-style-2.divider-secondary .icons {
	background: #e36159;
	color: #ffffff;
}

.divider.divider-style-2.divider-tertiary .fa,
.divider.divider-style-2.divider-tertiary .icons {
	background: #2baab1;
	color: #ffffff;
}

.divider.divider-style-2.divider-quaternary .fa,
.divider.divider-style-2.divider-quaternary .icons {
	background: #383f48;
	color: #ffffff;
}

.divider.divider-style-2.divider-dark .fa,
.divider.divider-style-2.divider-dark .icons {
	background: #2e353e;
	color: #ffffff;
}

.divider.divider-style-2.divider-light .fa,
.divider.divider-style-2.divider-light .icons {
	background: #ffffff;
	color: #777777;
}

.divider.divider-style-3.divider-primary .fa,
.divider.divider-style-3.divider-primary .icons {
	border-color: #0088cc;
	color: #0088cc;
}

.divider.divider-style-3.divider-secondary .fa,
.divider.divider-style-3.divider-secondary .icons {
	border-color: #e36159;
	color:#e36159;
}

.divider.divider-style-3.divider-tertiary .fa,
.divider.divider-style-3.divider-tertiary .icons {
	border-color: #2baab1;
	color: #2baab1;
}

.divider.divider-style-3.divider-quaternary .fa,
.divider.divider-style-3.divider-quaternary .icons {
	border-color: #383f48;
	color:#383f48;
}

.divider.divider-style-3.divider-dark .fa,
.divider.divider-style-3.divider-dark .icons {
	border-color: #2e353e;
	color:#2e353e;
}

.divider.divider-style-3.divider-light .fa,
.divider.divider-style-3.divider-light .icons {
	border-color: #ffffff;
	color:#ffffff;
}
 

.divider.divider-small hr {
	width: 50px;
	height: 3px;
	background: #555;
}

.divider.divider-small.divider-small-center {
	text-align: center;
}

.divider.divider-small.divider-small-center hr {
	margin-left: auto;
	margin-right: auto;
}

.divider.divider-small.divider-small-right {
	text-align: right;
}

.divider.divider-small.divider-small-right hr {
	margin-left: auto;
}

.divider.divider-small.divider-light hr {
	background: @white;
}

.divider.divider-small.divider-small-sm hr {
	height: 1px;
}

.divider.divider-small.divider-small-lg hr {
	height: 6px;
}

.divider.divider-small.tall {
	margin: 34px 0;
}

.divider.divider-small.taller {
	margin: 46px 0;
}

hr.dashed, .divider.dashed {
	background: none;
	position: relative;
}

hr.dashed:after, .divider.dashed:after {
	border-top: 1px dashed #DBDBDB;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	width: 100%;
}

hr.pattern, .divider.pattern {
	background: none;
	position: relative;
}

hr.pattern:after, .divider.pattern:after {
	background: transparent url(../images/joomlabuff/patterns/worn_dots.png) repeat 0 0;
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	width: 100%;
}

hr.pattern.pattern-2:after, .divider.pattern.pattern-2:after {
	background-image: url(../images/joomlabuff/patterns/az_subtle.png);
}
