/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// ------------------------------------------------------
// FORM ELEMENTS
// ------------------------------------------------------

//
// GENERIC STYLES (forms.less)
// --------------------------------------------------

form {
}

fieldset {
}

legend {
}

label {
}


.label-secondary {
	background-color: #e36159;
}

.label-tertiary {
	background-color: #2baab1;
}

.label-quaternary {
	background-color: #383f48;
}

.label-dark {
	background-color: #2e353e;
}

.label-light {
	background-color: #ffffff;
}



// Adjust output element
output {
}


// Common form controls
// --------------------
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
.form-control {

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}


// Form groups
// -----------
.form-group {
  margin-bottom: @t3-global-margin;
}


// Checkboxes and radios
// ---------------------
.radio,
.checkbox {
  label {
    display: inline;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
}

.radio + .radio,
.checkbox + .checkbox {
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
}


// Form control sizing
// -------------------
.input-sm {
}

.input-lg {
}


// Form control feedback states
// ----------------------------
// Apply contextual and semantic states to individual form controls.

// Warning
.has-warning {
}
// Error
.has-error {
}
// Success
.has-success {
}


// Static form control text
// ------------------------
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  margin-bottom: 0; // Remove default margin from `p`
}


// Help text
// ---------
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
}



// Inline forms
// ------------
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.form-inline {

  @media (min-width: @screen-sm) {

    .form-group  {
      display: inline-block;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      float: none;
    }

  }

  // End
}


// Horizontal forms
// ----------------
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal {

  // Consistent vertical alignment of labels, radios, and checkboxes
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: (@padding-base-vertical + 1); // Default padding plus a border
  }

  // Make form groups behave like rows
  .form-group {
  }

  .form-control-static {
    padding-top: (@padding-base-vertical + 1);
  }

}


//
// INPUT GROUPS (input-groups.less)
// --------------------------------------------------
// T3 Note: See "bootstrap/input-group.less"
//  if you want to style this components



//
// BUTTONS (buttons.less)
// --------------------------------------------------

// Base styles
// --------------------------------------------------

// Core styles
.btn {

  &:focus {
  }

  &:hover,
  &:focus {
  }

  &:active,
  &.active {
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
  }

}



// Alternate buttons
// --------------------------------------------------
.btn-default {
}

.btn-primary {
}

.sppb-btn-primary{
	background:@brand-primary;
	
	&:hover{
	  background:@link-hover-color !important;
	}
}

.sppb-btn-primary.sppb-btn-3d{
	border-bottom-color:@link-hover-color;
	
	&:hover{
	  border-bottom-color:@link-hover-color !important;
	}
}

.custom-border-radius {
    border-radius: 30px !important;
}

.btn-primary-scale-2{
	background:@link-hover-color;
	color:@white;
	border-radius:0px;
	border-color:@link-hover-color;
	
	&:hover{
		color:@white;
		border-color:@link-hover-color;
		
	}
}

.btn-secondary{
	background:@brand-secondary;
	color:@white;
	border-radius:0px;
	border-color:#57a6b0 #57a6b0 #448890;
	
	&:hover{
		color:@white;
	}
}
// Warning appears as orange
.btn-warning {
}

// Danger and error appear as red
.btn-danger {
}

// Success appears as green
.btn-success {
}

// Info appears as blue-green
.btn-info {
}

// T3 Note: Inverse appears as dark-grey
.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.btn-no-br{
	border-radius:0px;
}



// Link buttons
// --------------------------------------------------
// Make a button look and behave like a link
.btn-link {

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
  }

  &,
  &:hover,
  &:focus,
  &:active {
  }

  &:hover,
  &:focus {
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
    }
  }

}



// Button Sizes
// --------------------------------------------------
.btn-lg {
}

.btn-sm,
.btn-xs {
}

.btn-xs {
}


.btn-xlg {
	border-radius: 6px;
	font-size: 18px;
	
	@media (max-width: @screen-xs-max){
		padding: 15px 30px !important;
	}
	@media (min-width: @screen-sm-min) {
		padding: 15px 60px !important;
	}
	@media (min-width: @screen-md-min) { 
		padding: 15px 60px !important;
	}
	@media (min-width: @screen-lg-min) { 
		padding: 15px 60px !important;
	}
}


// Block button
// --------------------------------------------------
.btn-block {
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}



/* Border Buttons */
.btn-borders {
	border-width: 3px;
}

.btn-borders.btn-primary {
	background: transparent;
	border-color: @brand-primary;
	color: @brand-primary;
	text-shadow: none;
	
}

.btn-borders.btn-primary:hover, 
.btn-borders.btn-primary:focus {
	background-color: @brand-primary;
	border-color: @link-hover-color !important;
	color: #FFF;
}

.btn-borders.btn-success {
	background: transparent;
	border-color: #47a447;
	color: #47a447;
	text-shadow: none;
}

.btn-borders.btn-success:hover, .btn-borders.btn-success:focus {
	background-color: #51b451;
	border-color: #47a447 !important;
	color: #FFF;
}

.btn-borders.btn-warning {
	background: transparent;
	border-color: #ed9c28;
	color: #ed9c28;
	text-shadow: none;
}

.btn-borders.btn-warning:hover, .btn-borders.btn-warning:focus {
	background-color: #efa740;
	border-color: #ed9c28 !important;
	color: #FFF;
}

.btn-borders.btn-danger {
	background: transparent;
	border-color: #d2322d;
	color: #d2322d;
	text-shadow: none;
}

.btn-borders.btn-danger:hover, .btn-borders.btn-danger:focus {
	background-color: #d74742;
	border-color: #d2322d !important;
	color: #FFF;
}

.btn-borders.btn-info {
	background: transparent;
	border-color: #5bc0de;
	color: #5bc0de;
	text-shadow: none;
}

.btn-borders.btn-info:hover, .btn-borders.btn-info:focus {
	background-color: #70c8e2;
	border-color: #5bc0de !important;
	color: #FFF;
}

.btn-borders.btn-dark {
	background: transparent;
	border-color: #1d2127;
	color: #1d2127;
	text-shadow: none;
}

.btn-borders.btn-dark:hover, .btn-borders.btn-dark:focus {
	background-color: #282d36;
	border-color: #1d2127 !important;
	color: #FFF;
}

.btn-borders.btn-quaternary {
    background: transparent none repeat scroll 0 0;
    border-color: @gray-dark;
    color: @gray-dark;
    text-shadow: none;
}
.custom-button {
    border-radius: 30px !important;
    padding: 10px 30px !important;
    
    &:hover{
		color:@gray;
		background:@white;
    }
}


/* Border Buttons - Sizes */
.btn-borders {
	padding: 4px 12px;
}

.btn-borders.btn-lg, .btn-group-lg > .btn-borders.btn {
	padding: 8px 16px;
}

.btn-borders.btn-sm, .btn-group-sm > .btn-borders.btn {
	border-width: 2px;
	padding: 4px 10px;
}

.btn-borders.btn-xs, .btn-group-xs > .btn-borders.btn {
	padding: 1px 5px;
	border-width: 1px;
}

/* 3D Buttons */
.btn-3d {
	border-bottom-width: 3px;
	padding: 5px 12px;
	border-radius: 6px;
}

.btn-3d.btn-lg, .btn-group-lg > .btn-3d.btn {
	padding: 9px 16px;
}

.btn-3d.btn-sm, .btn-group-sm > .btn-3d.btn {
	border-width: 2px;
	padding: 4px 10px;
}

.btn-3d.btn-xs, .btn-group-xs > .btn-3d.btn {
	padding: 1px 5px;
	border-width: 1px;
}



//
// BUTTON GROUPS (button-groups.less)
// --------------------------------------------------
// T3 Note: See "bootstrap/buttons-group.less"
//  if you want to style this component




// T3 Note: We added legacy form elements to get better
// compatibility with Joomla Core.

// ------------------------------------------------------
// LEGACY FORM ELEMENTS (base-bs3/less/legacy-forms.less)
// ------------------------------------------------------


//
// GENERIC STYLES
// ------------------------------------------------------

// Common form controls
// --------------------

// Legacy class below
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox {

  // Focus states
  &:focus {}

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }

  // Reset Width for Legacy classes in Medium Screen
  @media screen and (min-width: @screen-sm) {
    width: auto;
  }

}

// Redefine padding for <select>
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}


// Legacy Input Size
// -------------------
// General classes for quick sizes
.input-mini {
}

.input-small {
}

.input-medium {
}

.input-large {
}

.input-xlarge {
}

.input-xxlarge {
}



// Inline forms
// ------------
.form-inline {
}


// Horizontal forms
// ----------------
.form-horizontal {
}



//
// OTHER LEGACY CLASSES FROM BS2
// ------------------------------------------------------

// FORM ACTIONS
// ------------
// Adding the legacy "form-actions" from BS2
.form-actions {
}


// INPUT GROUPS
// ------------
// Allow us to put symbols and text within the input field for a cleaner look
.input-append,
.input-prepend {

  input,
  select,
  .uneditable-input {
    // Focus state
    &:focus {
    }
  }

  .add-on {
  }

  .active {
    background-color: lighten(@green, 30);
    border-color: @green;
  }

}

.input-prepend {

  .add-on,
  .btn {
  }

  .add-on:first-child,
  .btn:first-child {
  }

}

.input-append {

  input,
  select,
  .uneditable-input {
  }

  .add-on,
  .btn,
  .btn-group {
  }

  .add-on:last-child,
  .btn:last-child,
  .btn-group:last-child > .dropdown-toggle {
  }

}


.input-prepend.input-append {

  input,
  select,
  .uneditable-input {
  }

  .add-on:first-child,
  .btn:first-child {
  }

  .add-on:last-child,
  .btn:last-child {
  }

  .btn-group:first-child {
  }

}



//
// BUTTONS
// ------------------------------------------------------

// Lagacy Button Sizes
// --------------------------------------------------

// Large
.btn-large {
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
}

// Small
.btn-small {
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
}


// Mini
.btn-mini {
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
}




//
// FORM VALIDATION
// -------------------------------------------------------

// Invalid
// -----------------------
.invalid {
  border-color: @red;
}

label.invalid {
  color: @red;
}

input.invalid {
  border: 1px solid @red;
}

.blockquote-secondary {
	border-color: #ff7347 !important;
}

/* Font Size */

.font-size-xs {
	font-size: 0.8em !important;
}

.font-size-sm {
	font-size: 0.9em !important;
}

.font-size-md {
	font-size: 1em !important;
}

.font-size-lg {
	font-size: 1.1em !important;
}

.font-size-xl {
	font-size: 1.2em !important;
}


.header-top-secondary{
	background:@bluedarker;
}


.custom-divider {
	height: 56px;
	background: transparent url(../images/joomlabuff/custom-divider-1.png) no-repeat center center;
}
