/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// VARIABLES & MIXINS
// ------------------
@import "vars.less"; // Include Variables and Mixins


// EXTEND STYLE IN BASE
// --------------------
@import "../../../plugins/system/t3/base-bs3/less/megamenu.less";


//
// BASIC STYLE FOR MEGAMENU
// -------------------------
.t3-megamenu {

  // THE MEGAMENU
  //--------------------------------------------

  // Global Menu Inner padding
  // -------------------------
  .mega-inner {
    padding: 0px;
  }

  // Inner Padding for 1 column
  .col-lg-12 .mega-inner,
  .col-md-12 .mega-inner,
  .col-sm-12 .mega-inner,
  .col-xs-12 .mega-inner {
  }


  // Menu Grids
  // ----------
  .row {
    margin-left: auto;
    margin-right: auto;
  }

  .row + .row  {
    padding-top: @t3-global-padding / 2;
    border-top: 1px solid @hr-border;
  }


  // The Dropdown
  // ------------
  
  .jb-mega-menu{
		.col-xs-12{
			padding-left:15px !important;
			padding-right:15px !important;
		}
		
		.mega-nav > li a{
			padding:4px 6px !important;
		}
		
	}
  
  .mega-dropdown-menu {
	z-index:5001;
	
	.col-xs-12{
		padding:0px;
	}
  }


  // Dropdown Sub Menus
  // ------------------
  .dropdown-submenu {
  }


  // The Group
  // ---------
  .mega-group {
  }

  // Group Title
  // We use BS3 "dropdown-header"
  //.mega-nav .mega-group > .mega-group-title,
  //.dropdown-menu .mega-nav .mega-group > .mega-group-title,
  //.dropdown-menu .active .mega-nav .mega-group > .mega-group-title
  .dropdown-header,
  .mega-nav .mega-group > .dropdown-header,
  .dropdown-menu .mega-nav .mega-group > .dropdown-header,
  .dropdown-menu .active .mega-nav .mega-group > .dropdown-header {
    color: #333333;
	display: block;
	font-size: 1em;
	font-weight: 600;
	margin-top: 20px;
	padding: 12px 8px;
    text-transform: uppercase;
    
    // Link states
    &:hover, &:active, &:focus {
      background: transparent;
      color: inherit;
    }
  }

  // Group Content
  .mega-group-ct {
    .row {
      margin-left: -(@grid-gutter-width / 2);
      margin-right: -(@grid-gutter-width / 2);
    }
  }


  // Nav in Megamenu
  // ---------------
  .mega-col-nav {
	
  }

  // Inner padding
  .mega-col-nav .mega-inner {
  }

  // Inner padding for nav in 1 column
  .col-lg-12.mega-col-nav .mega-inner,
  .col-md-12.mega-col-nav .mega-inner,
  .col-sm-12.mega-col-nav .mega-inner,
  .col-xs-12.mega-col-nav .mega-inner {
  
  }

  .mega-group .col-lg-12.mega-col-nav .mega-inner,
  .mega-group .col-md-12.mega-col-nav .mega-inner,
  .mega-group .col-sm-12.mega-col-nav .mega-inner,
  .mega-group .col-xs-12.mega-col-nav .mega-inner {
  }

  // The Nav
  .mega-nav,
  .dropdown-menu .mega-nav {
  }

  .mega-nav > li,
  .dropdown-menu .mega-nav > li {
  
  }
  
  

  .mega-nav > li a,
  .dropdown-menu .mega-nav > li a {
	padding:6px 10px;
	outline:none;
	background:none;
	
	&:hover,
	&:focus{
		background:transparent;
	}
  }
  
  .dropdown-menu .mega-nav > li .separator {
  }

  // Nav in Group
  .mega-group > .mega-nav,
  .dropdown-menu .mega-group > .mega-nav {
  }

  .mega-group > .mega-nav > li,
  .dropdown-menu .mega-group > .mega-nav > li {
  }

  .mega-group .mega-nav > li a,
  .dropdown-menu .mega-group .mega-nav > li a {
  }

  .dropdown-menu .mega-group .mega-nav > li.active a {
    color: @gray-dark;
  }

  // The caret
  .mega-nav .dropdown-submenu > a::after {
    margin-right: 0;
  }


  // Modules in Megamenu
  // -------------------
  .mega-col-module {
  }

  // Inner padding
  .mega-col-module .mega-inner {
  }

  // The module
  .t3-module {
  }

  // Module Title
  .t3-module .module-title {
    .dropdown-header(); // Make the Module Title look like Dropdown Header
    margin-bottom: 10px;
  }

  // Module Content
  .t3-module .module-ct {
  }

  // List in Module
  // Reset List Style in Module
  .t3-module ul,
  .t3-module .nav {
  }

  .t3-module ul li,
  .t3-module .nav li {
    list-style: disc;
    display: list-item;
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .t3-module ul li a,
  .t3-module .nav li a {
    display: inline;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    background: none;
    font: inherit;
    white-space: normal;
    // Link states
    &:hover, &:focus, &:active {
      background: transparent;
      color: inherit;
      font: inherit;
    }
  }
  
  // Nav in Module
  .dropdown-menu .t3-module .nav {
  }

  .dropdown-menu .t3-module .nav li {
  }

  .dropdown-menu .t3-module .t3-module li a {
    // Link states
    &:hover, &:focus, &:active {
    }
  }
  

  // The caption
  // -----------
  .mega-caption {
    color: @gray-light;
    font-size: @t3-font-size-smaller;
    margin-top: 3px;
    font-weight: normal;
  }


  // The caret
  // ---------
  .nav .caret,
  .dropdown-submenu .caret,
  .mega-menu .caret {
  }

  // Show the caret on level 0 only
  .nav > .dropdown > .dropdown-toggle .caret {
  }


  // The icon
  // --------
  .nav [class^="icon-"],
  .nav [class*=" icon-"],
  .nav .fa {
  }

  // Reset the margin on Input Group Addon
  .nav .input-group-addon [class^="icon-"],
  .nav .input-group-addon [class*=" icon-"],
  .nav .input-group-addon .fa {
    margin-right: 0;
  }

  // End
}


.mega-bg{
	.mega-dropdown-inner{
		.row{
			background-image:url(../images/joomlabuff/menu-bg.png);
			background-position: right 100%;
			background-repeat: no-repeat;
		
		.mega-dropdown-inner{
			.row{
				background-image:none;
			}
		}
		}
	}
}


.mega-no-padding{
	padding:0px !important;
	
	.dropdown-header{
		margin-top:16px !important;
		padding:0px 8px !important;
	}
	.mega-dropdown-inner{
		.row{
			margin:0px !important;
		}
		.mega-inner{
			ul{
				li{
					border:none;
					
					a{
					 
						&:hover,
						&:focus,{
							background:transparent !important;
							text-decoration:underline !important;
						}
					
					}
				}
			}
			.m-bottom-5{
				margin-bottom:12px;
			}
		}
	}
}

.menu-banner-area {
	
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
		margin: 44px auto 0;
	}
	
	.menu-banner-header{
		position: absolute;
		top: -20px;
		left: -15px;
		text-align: left;
		
		h3{
			font-size: 23px;
			font-weight: 600;
			color: #fff;
			background-color: #2e2e2e;
			line-height: 1;
			padding: 6px 30px 6px 8px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
	}
}
