/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// -------------------------------------------------------
//  DEFAULT BOOTSTRAP NAVBAR (navbars.less)
// -------------------------------------------------------

// Base Navbars
// --------------------------------------------------
.navbar {
  border:none;
  min-height:45px;
  
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar heading
// --------------
.navbar-header {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar collapse (body)
// ----------------------
.navbar-collapse {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Brand/project name
// ------------------
.navbar-brand {
  // Link states
  &:hover,
  &:focus {
  }
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar toggle
// -------------
.navbar-toggle {

  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: @navbar-padding-horizontal;

  // Bars
  .fa-bars {
  }

  // Hide on breakpoint
  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}


// Navbar nav links
// ----------------
.navbar-nav {
  margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

  > li > a {
  outline:none;
  }

  // T3 Note: Dropdown Menu styles when collapsed
  // Dropdowns get custom display when collapsed
  @media (max-width: @screen-xs-max) {
    .open .dropdown-menu {
      > li > a,
      .dropdown-header {
      }
      > li > a {
        // Link states
        &:hover,
        &:focus {
        }
      }
    }
  }

  // T3 Note: Main Styles for breakpoint
  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    margin: 0;
    > li {
      > a {
      }
    }
  }

  // End
}


// Navbar form
// ------------
.navbar-form {
}


// Dropdown in navbars
// -------------------
// Menu position and menu carets

.jb-navbar-brand{
	.navbar-nav{
		li{
			.dropdown-menu {
				border-radius: 0px;
				border: 0;
				border-top: 5px solid @white;
			}
		}
	  }
}


.navbar-nav{
	li{
		.dropdown-menu {
			display: block;
			border-radius: 4px 4px 4px;
			border: 0;
			border-top: 5px solid @brand-primary;
			box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
			min-width: 200px;
			margin:-4px 2px 0;
			padding: 5px;
			text-align: left;
			
			li{
				border-bottom: 1px solid #f4f4f4;
				
					&:hover,
					&:active,
					&:focus{
						border-bottom: 1px solid #f4f4f4;
					}
					
					&:last-child{
						border-bottom:0px;
					}
				
				a{
					color: #777;
					font-size: 0.9em;
					font-weight: 400;
					position: relative;
					text-transform: none;
				}
			}
			
		}
	}
}

.jb-mega-menu{
	
	.mega-dropdown-inner{
		padding-bottom:10px;
	}
	
	li{
		border:none !important;
	}
}


// Buttons in navbars
// ------------------
.navbar-btn {
}


// Text in navbars
// ---------------
.navbar-text {
}



// Navbar Brand 
// --------------------------------------------------

.header-nav-bar{
	padding: 0 10px 5px;
	background:@brand-primary;
}

.header-nav-main {
    margin: 12px 0 0;
    min-height: 45px;
}

.jb-navbar-brand {
  background-color: @brand-primary;
  border-color: @navbar-default-border;
  
  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
  
	> li > a {
      color: @white;
      border-radius: 0px;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: 20px;
	  margin-left:2px;
	  text-transform: uppercase;
	  padding:10px 13px;

      &:hover,
      &:focus {
        color: @brand-primary;
        background-color: @white;
      }
    }

    > li > .nav-header {
      color: @navbar-default-link-color;
      display: inline-block;
      padding-top: @t3-global-padding * 0.75;
      padding-bottom: @t3-global-padding * 0.75;
    }

    > .active > a {
	  
	   .caret {
          border-top-color: @brand-primary !important;
          border-bottom-color: @brand-primary !important;
        }
        
      &,
      &:hover,
      &:focus {
        color: @brand-primary;
        background-color: @white;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items and carets
  .navbar-nav {
    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: @navbar-default-link-hover-color;
      border-bottom-color: @navbar-default-link-hover-color;
    }

    // Remove background color from open dropdown
    > .open > a {
		
      &,
      &:hover,
      &:focus {
        color: @brand-primary;
        background-color: @white;
        
        .caret {
          border-top-color: @brand-primary !important;
          border-bottom-color: @brand-primary !important;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-default-link-color;
      border-bottom-color: @navbar-default-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @white;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

}

.jb-style-4{
	.navbar-default{
		 .navbar-nav{
			li{
				a{
					border-radius:0px;
				}
			}
		 }
	}
	
	.navbar-nav{
		li{
			.dropdown-menu {
				border-radius: 0px;
				}
		}
	  }
}


.shop-3{
	background:#f3f5f4 !important;
}
.jb-style-5{
	
	
	.navbar-nav{
		.no-padding{
			a{
				padding-left:0px !important;
			}
		}
		.active{
			a{
				color:@gray-dark;
			}
		}
		
		li{
			
			a{
				text-transform:uppercase;
				font-weight:700;
				font-size:12px;
				color:@link-hover-color;
				background:none;
				
				&:hover,
				&:focus {
					background:none;
				}
			}
			
			
			.dropdown-menu {
				border-radius: 0px;
				}
		}
	  }
}





// Default Navbars (Visual Style only)
// --------------------------------------------------
.navbar-default {
  background-color: @navbar-default-bg;
  border-color: @navbar-default-border;
  margin: 12px 0 0;
  
  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-default-link-color;
      border-radius: 4px;
	  font-size: 12px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: 20px;
	  padding: 10px 13px;
	  margin-left:2px;
	  text-transform: uppercase;
	  outline:none;

      &:hover,
      &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
      
    }

    > li > .nav-header {
      color: @navbar-default-link-color;
      display: inline-block;
      padding-top: @t3-global-padding * 0.75;
      padding-bottom: @t3-global-padding * 0.75;
    }

    > .active > a {
	  
	   .caret {
          border-top-color: @white !important;
          border-bottom-color: @white !important;
        }
        
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items and carets
  .navbar-nav {
    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: @navbar-default-link-hover-color;
      border-bottom-color: @navbar-default-link-hover-color;
    }

    // Remove background color from open dropdown
    > .open > a {
		
		
		
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
        
        .caret {
          border-top-color: @white !important;
          border-bottom-color: @white !important;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-default-link-color;
      border-bottom-color: @navbar-default-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

}



// -------------------------------------------------------
//  T3 MAIN MENU
// -------------------------------------------------------
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;


  // Navbar
  // -------
  .t3-navbar {
    padding-left: 0;
    padding-right: 0;
  }


  // Collapse Navbar
  // ---------------
  .t3-navbar-collapse {

    // Hide the generated navbar on breakpoint
    @media (min-width: @grid-float-breakpoint) {
      display: none !important;
    }

    // Navbar nav links
    // ----------------
    .navbar-nav {
      margin: 0 -@navbar-padding-horizontal;

      //font awesome
      li > a .fa {
        margin-right: 5px;
      }

      > li > a {
        border-top: 1px solid @navbar-default-border;
      }

      > li:first-child  > a {
        border-top: 0;
      }

      // Dropdown Menu
      .open .dropdown-menu {
		

        > li > a,
			
        .dropdown-header {
        }

        > li > a {
			
          // Link states
          &:hover,
          &:focus {
          }
          
       }

      }

      // Re-Align the caret on right
    
      
      .dropdown > a {
		.caret {
          position: absolute;
          top: 40%;
          right: @padding-base-horizontal;
        }
        
       
      }
    }

  // End Collapse Navbar
  }

// End
}

.dropdown{
	
	&:hover{
		.dropdown-toggle{
			*padding-bottom:15px !important;
		}
	}
}

.header-nav-main-effect-1 > ul > li.dropdown .dropdown-menu li a{
		-webkit-theader-nav-main-effect-1ransition: -webkit-transform 0.2s ease-out;
		-moz-transition: -moz-transform 0.2s ease-out;
		transition: transform 0.2s ease-out;
		transform: translate3d(0, -5px, 0);
	}
.header-nav-main-effect-1 > ul > li.dropdown:hover > .dropdown-menu li a{
		transform: translate3d(0, 0, 0);
	}
.header-nav-main-effect-1 > ul > li.dropdown .dropdown-menu {
		-webkit-transition: -webkit-transform 0.2s ease-out;
		-moz-transition: -moz-transform 0.2s ease-out;
		transition: transform 0.2s ease-out;
		transform: translate3d(0, -5px, 0);
	}

.header-nav-main-effect-1 > ul > li.dropdown:hover > .dropdown-menu {
		transform: translate3d(0, 0, 0);
	}

