/**
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org
 *------------------------------------------------------------------------------
 */

// ---------------------------------------------------------
// MAIN TEMPLATE STYLES
// ---------------------------------------------------------


.tp-bannertimer{
	background:@brand-primary !important;
	z-index:5000 !important;
}

.jb-slideshow{
	.tp-caption a{
		color:@white !important;

		&:hover{
			color:@white !important;
		}
	}


	.text-white{
		color:#fff !improtant;
	}

	iframe {
		border: none;
	}

	 .blackboard-text {
		color: #bab9be;
		font-family: @font-family-cursive;
    }


    .tp-bullets.preview2 .bullet{
		display:flex;
		margin:5px;
    }

    .tparrows.navbar-old{
		cursor:pointer;
		background:rgba(0,0,0,0.5) !important;
		width:40px;
		height:40px;
		display:block;
		z-index:1000;
		border-radius:6px;

		&:hover{
			background:#000 !important;
		}
		&:before{
			font-family: "revicons";
			font-size:15px;
			color:#fff;
			display:block;
			line-height: 40px;
			text-align: center;
		}
	}
	.tparrows.navbar{
		&:before{
			font-family: "revicons";
			font-size:35px;
			color:#fff;
			display:block;
			line-height: 40px;
			text-align: center;
		}
	}

	.tparrows.default{
		background-image:none;
	}
	.tparrows.tp-leftarrow:before	{	content: '\e824'; }
	.tparrows.tp-rightarrow:before	{	content: '\e825'; }

	.tp-caption-overlay-primary{
		background:@brand-primary;
	}
	.tp-caption-overlay-opacity{
		background:rgba(0, 0, 0, 0.4);
		padding:10px;
	}

}

.twoxtwo {
    background: rgba(0, 0, 0, 0.75) !important;

}

.twoxtwowhite{
	background: rgba(255, 255, 255, 0.75) !important;
}

.tp-dottedoverlay {
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}



//
// PHOTOGRAPHY
// ---------------------------------------------------------

.jb-photography-1{
	.jb-photography{
		background:@white;
		padding:10px 0px;

		.logo{
			.logo-img{
				margin:12px 12px 12px 0;
				width:184px;
				height:48px;
			}
			span{
				display:none;
			}
	    }

	    .top-social{
			padding:15px 0px 15px 15px;

			.social-icons{
				li{
					box-shadow:none;
					a{
						border: 2px solid @brand-primary;
						height: 34px;
						width: 34px;
					}
				}
			}
	    }

	    .navbar-default{

			.navbar-nav{

				li{
					position:relative;

					a{
						background-color:@white;
						border-radius:0px;
						color:@brand-primary;

						&:hover{
							color:@brand-primary;

							.caret{
								border-bottom-color:@brand-primary !important;
								border-top-color:@brand-primary !important;
							}
						}
					}
				}
			}
		  }
		  .navbar-default .navbar-nav > .open > a .caret,
		  .navbar-default .navbar-nav > .open > a:hover .caret,
		  .navbar-default .navbar-nav > .open > a:focus .caret{
			border-bottom-color:@brand-primary !important;
			border-top-color:@brand-primary !important;
		  }
		  .dropdown > a .caret {
			  border-top-color: @navbar-default-link-color !important;
			  border-bottom-color: @navbar-default-link-color !important;
			}
		.dropdown-menu{
			background:@brand-primary;
			border:none;
			border-radius:0px;

			.mega-dropdown-inner{
				li{
					border-bottom:none;
					a{
						background:@brand-primary;
						color:@gray-light;

						&:hover{
							color:@white;
						}
					}
				}
			}
		}
	}


	h1.sppb-addon-title{
		margin:0px !important;
		color:@white;
	}

	.our-services .feature-box {
	padding: 20px 10px;
}
.our-services .feature-box:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.our-services .feature-box.hidden-vertical-line:after {
	content: none;
}
.our-services .feature-box .feature-box-icon {
	background: transparent;
	width: 100px;
	position: relative;
	height: 100px;
	border: 2px solid #000;
	border-radius: 100%;
	padding: 5px;
	margin-right: 20px;
	overflow: hidden;
	z-index: 1;
}
.our-services .feature-box .feature-box-icon:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 6px solid #FFF;
	border-radius: 100%;
	z-index: 1;
}
.our-services .feature-box .feature-box-icon img {
	position: absolute;
	width: 113%;
	top: 50%;
	left: 50%;
	z-index: 0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}


.why-choose-us .feature-box {
	padding: 20px 10px;
}
.why-choose-us .feature-box .feature-box-icon {
	float: none;
	margin: 0;
}
.why-choose-us .feature-box .feature-box-info {
	padding: 0;
}
.why-choose-us .feature-box p {
	color: #b8b5b1;
}


.award-item {
	display: inline-table;
	margin: 0 15px;
}
.award-item img.border-rounded {
	border-radius: 100%;
}
.award-item p {
	max-width: 100%;
	margin: 15px auto 10px;
	color:@white;
}

.jb-copyright{
	margin-top:0px;
}


}


//
// ONEPAGE
// ---------------------------------------------------------


.jb-onepage{
	.t3-header{
		border-bottom:0px;
		padding-bottom:0px;

		.social-icons{
			margin:30px 0px 0px 10px;
		}
	}
	.navbar-default{
		margin:0px;

		.header-nav-main{
			margin:0px;
		}
		.navbar-nav{
			.active{
					a{
						color:@brand-primary !important;
					}
				}
			li{
				position:relative;

				a{
					background-color:@white !important;
					border-radius:0px;
					color:#444;


					@media (max-width: @screen-xs-max){
						padding:10px;

					}
					@media (min-width: @screen-sm-min) {
						padding:15px 13px 15px;

					}
					@media (min-width: @screen-md-min) {
						padding:65px 13px 15px;

					}
					@media (min-width: @screen-lg-min) {
						padding:65px 13px 15px;

					}


					&:hover{
						color:@brand-primary;
					}
					&:before{
							content: "";
							height: 5px;
							left: -5px;
							opacity: 0;
							position: absolute;
							top: -16px;
							width: 100%;
							background:@brand-primary;
						}

				}

			}
		}


		.dropdown{

			&:hover{
				.dropdown-toggle{
					background:transparent;
					color:@brand-primary !important;
				}
			}
		}


	}

}



//
// HOTAL
// ---------------------------------------------------------


.jb-hotal{

	h1, h2, h3 {
		font-weight: 900;
		letter-spacing: -1px;
	}
	h1 strong, h2 strong, h3 strong {
		font-weight: 900;
	}

	h4, h5, h6 {
		font-weight: 800;
		letter-spacing: -1px;
	}
	h4 strong, h5 strong, h6 strong {
		font-weight: 700;
	}



	.header-top-custom {
			background: url("../images/bg/pattern.jpg");
	}
	.header-top-custom .col-address,
	.header-top-custom .col-phone,
	.header-top-custom .col-share {
		margin: 15px 0px 0px;
	}
	.header-top-custom .icons {
		font-size: 28px;
		float: left;
		margin-right: 9px;
		position: relative;
		top: 9px;
	}
.header-top-custom .icons.icon-location-pin {
	top: 6px;
}
.header-top-custom .icons.icon-share {
	top: 5px;
}
.header-top-custom label {
	display: block;
	font-size: 14px;
	opacity: 0.5;
	color: #FFF;
	padding: 0;
	margin: 0 0 -5px;
	font-weight: normal;
}
.header-top-custom strong {
	display: block;
	font-size: 17px;
	color: #FFF;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.header-top-custom .social-icons li {
	box-shadow: none;
	margin-right: 10px;
}
.header-top-custom .social-icons li a {
	background: transparent !important;
	border-radius: 0;
	color: #fff !important;
	height: auto;
	line-height: normal;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
}
.header-top-custom .social-icons li a .fa {
	font-size: 14px;
	margin-right: 2px;
	position: relative;
	top: 1px;
}
.header-top-custom .social-icons li a:hover {
	opacity: 0.7;
}

	.jb-hotal-header{
      background: @white;
	  z-index: 1001;

	  .logo{
			.logo-img{
				margin:32px 0px 32px 0px;
				width:192px;
				height:55px;
			}
			span{
				display:none;
			}
	   }
	   .off-canvas-toggle{
		margin:32px 20px;
	   }
	}


	.navbar-default {
		margin:0px;
		.navbar-nav > .active > a{
			background-color:transparent !important;
			color:@brand-primary !important;
		}

		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			background-color:@brand-primary !important;
			color:@white !important;
		}

		.navbar-nav{

			li{
				a{
					padding:50px 23px;
					border-radius:0px;
					color:@gray;


					&:hover{
						color:@white !important;
						background:@brand-primary;
					}
				}
			}

			.open{
				a{
					background:@brand-primary !important;
					color:@white !important;
				}
			}
		}
		.dropdown-menu{
			background:@meterial;
			border-radius:0px;
			border-color:@meterial;

			li{
				a{
					border-bottom-color: #335cb3 !important;
					color: #ffffff;
				}
			}
		}
	}

	.modal-video{
		img{
			width:90px;
			height:90px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;

			&:hover{
				-webkit-transform: scale(1.1, 1.1);
				-moz-transform: scale(1.1, 1.1);
				-ms-transform: scale(1.1, 1.1);
				-o-transform: scale(1.1, 1.1);
				transform: scale(1.1, 1.1);
			}
		}
	}


.testimonial.testimonial-style-custom {
	text-align: center;
}
.testimonial.testimonial-style-custom blockquote {
	padding: 70px 40px 40px;
}
.testimonial.testimonial-style-custom blockquote p {
	color: #777;
	font-family: Georgia,serif;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
}
.testimonial.testimonial-style-custom blockquote:before {
	font-size: 80px;
	left: 50%;
	margin-left: -18px;
	right: auto;
	top: 20px;
}
.testimonial.testimonial-style-custom blockquote:after {
	display: none;
}
.testimonial.testimonial-style-custom .testimonial-arrow-down {
	margin-left: 46%;
	position: relative;
}
.testimonial.testimonial-style-custom .testimonial-author {
	border-top: 0;
}
.testimonial.testimonial-style-custom .testimonial-author p {
	text-align: center;
	margin: 0;
	padding: 0;
}
.testimonial.testimonial-style-custom .testimonial-author p strong {
	color: #FFF;
	text-transform: uppercase;
}
.testimonial.testimonial-style-custom .testimonial-author p span {
	color: #FFF;
	opacity: 0.5;
}
.thumb-info{
	border:none;
	border-radius:0px;
}

.subscription {
	h2 {
	  margin: 0;
	  color: #FFFFFF;
	  font-size: 36px;
	  line-height: 44px;
	  font-weight: 500;
	  margin-bottom: 33px;
	}
	.acymailing_module_form{
		.acymailing_form{

			margin:initial;
			width:100%;

			.acyfield_email{
				float:none;
			}

			td{
				padding-right:20px;
				padding-left:0px;
				padding-bottom:0px;
			}
			label {
			  font-size: 16px;
			  color: #9E9E9E;
			  line-height: 29px;
			  margin: 0;
			  padding: 0;
			  display: block;
			  font-weight: normal;
			}
			.inputbox {
				background: transparent none repeat scroll 0 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
				border-image: none;
				border-left: 0 none;
				border-right: 0 none;
				border-top: 0 none;
				box-shadow: none !important;
				color: @white;
				border-radius:0px;
				height:55px;
				text-transform:uppercase;
			}
			.btn-primary {
			  height: 55px;
			  outline: none;
			  color: @white;
			  width:100%;
			  border-radius:0px;
			  transition: all 0.5s ease;
			}

		}
	}

	ul{
	  display: inline-block;
	  margin: 0;
	  padding: 13px;

	  li {
		  display: inline-block;
		  list-style: none;
		  margin-left: 20px;

		  a {
			  display: block;
			  font-size: 24px;
			  color: #F4F4F4;
			  transition: all 0.5s ease;

			  &:hover{
				color: #fbca00;
			  }
			}
		}
	}
}

.t3-footer{
	background:@brand-primary;
	border-top:none;
	padding:26px 0 0;

	.t3-copyright{
		background: url("../images/bg/pattern.jpg");
		border-top:none;

		.jb-footer-menu{
			text-align:left;

			.nav-pills{
				li{
					a{
						font-size:14px;
						opacity:0.5;
					}
				}
			}
		}
		.copyright{
			color:@white;
			opacity:0.5;
			font-size:14px;
		}
	}
}



.footer-info .icons {
	color: #FFF;
	font-size: 18px;
	display: block;
}
.footer-info label {
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	opacity: 0.5;
	padding: 0;
}
.footer-info strong {
	color: #FFF;
	display: block;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.footer-info .social-icons li {
	box-shadow: none;
	margin-right: 10px;
}
.footer-info .social-icons li a {
	background: transparent !important;
	border-radius: 0;
	color: #fff !important;
	height: auto;
	line-height: normal;
	width: auto;
	font-size: 12px;
	text-transform: uppercase;
}
.footer-info .social-icons li a .fa {
	font-size: 14px;
	margin-right: 2px;
	position: relative;
	top: 1px;
}
.footer-info .social-icons li a:hover {
	opacity: 0.7;
}

.page-header{
	background:@brand-primary;
	border:none;

	h1{
		border:none;
		margin:0px;
		padding:0px;
	}
}

.tp-bullets.simplebullets.navbar{
	background:none;
	border:none;

	.bullet{
		background:none;
	}
	.selected{
		background:@white;
	}
}


.bullet{
	background-color: rgba(0, 0, 0, 0);
	background:none;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff inset;
    height: 16px;
    overflow: hidden;
    position: absolute;
    transition: background 0.3s ease 0s;
    width: 16px;
}
.bullet:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.bullet::after {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 0 1px #fff;
    content: " ";
    height: 0;
    left: 0;
    position: absolute;
    transition: height 0.3s ease 0s;
    width: 100%;
}



}



//
// MEDICAL
// ---------------------------------------------------------



.rev_slider .slotholder:after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	*background: rgba(0, 0, 0, 0.25);
}

.jb-medical{
	.header-top{
		padding:0px;
	}

	.header-nav-top .nav > li > a,
	.header-nav-top .nav > li > span {
		color: #999;
		display: inline-block;
		font-size: 0.9em;
		padding: 6px 10px;
	}

	.header-nav-top .nav > li > a .fa,
	.header-nav-top .nav > li > a .icons,
	.header-nav-top .nav > li > span .fa,
	.header-nav-top .nav > li > span .icons {
		margin-right: 3px;
		position: relative;
		top: 1px;
	}
	.header-top-custom .header-nav-top .nav > li span .icons {
		color: #4c4c4c !important;
	}

	.header-top-custom .header-nav-top .nav > li:nth-child(2) span {
		border-left: 1px solid #d1dee9;
		border-right: 1px solid #d1dee9;
	}
	.header-top-custom .header-nav-top .nav > li > span, .header-top-custom .header-nav-top .nav > li a {
		color: #8ea0ae !important;
	}

	.jb-medical-header{
      background: @white;
	  border-bottom: 1px solid transparent;
	  padding: 20px 0;
	  z-index: 1001;

	  .logo{
			.logo-img{
				margin:12px 12px 12px 0;
				width:131px;
				height:40px;
			}
			span{
				display:none;
			}
	   }
	}


	.navbar-default {
		.navbar-nav > .active > a{
			background-color:transparent !important;
			color:@meterial !important;
		}

		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			background-color:@meterial !important;
			color:@white !important;
		}

		.navbar-nav{

			li{

				.dropdown-menu{
					li{
						border-bottom-color:#335CB3 !important;
						background:#335CB3 !important;

						a{
							&:hover{
								background:#335CB3 !important;
							}
						}
					}
				}

				a{
					border-radius:0px;
					color:@meterial;


					&:hover{
						color:@white !important;
						background:@meterial;
					}
				}
			}

			.open{
				a{
					background:@meterial !important;
					color:@white !important;
				}
			}
		}

		.navbar-nav li .dropdown-menu li{

		}

		.dropdown-menu{
			background:@meterial;
			border-radius:0px;
			border-color:@meterial;

			li{


				a{
					color: #ffffff;
				}
			}
		}
	}



}

//
// WEDDDING
// ---------------------------------------------------------


.jb-wedding{
	  overflow-x: hidden !important;

	 .alternative-font{
		font-family:@wedding-font;
	 }

	.slider-border {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		height: 16px;
		background-image: url(../images/slider-border-bg.png);
		background-repeat: repeat-x;
		z-index: 30;
	}

	.sppb-section-title {
		.sppb-title-subheading{
			max-width:65% !important;
			font-size:14px !important;
			margin-bottom:20px !important;
			margin-top:20px !important;
		}
	}

	.custom-font-size-2{
		.sppb-title-heading{
			font-size:7em !important;
			line-height:100px !important;
		}
	}
	.sppb-title-heading{
		font-family:@wedding-font;
		font-size:4em !important;
		color:@brand-primary;
	}
	.text-white{
		.sppb-title-heading{
			color:@white;
		}
	}



.custom-overlay-1{
	&:before{
		background: url(../images/custom-overlay-1.png) repeat scroll 0 0 transparent !important;
		z-index: -4;
	}
}




	.header-column-center{
		text-align:center;

		.header-logo{
			width: 100% !important;
			padding: 9px 0;


			.header-logo-text {
				display: inline-block;
				font-family: @wedding-font !important;
				font-size: 36px;
				line-height: 36px;
				padding: 15px 0 15px;
			}
		}
	}

	.header-nav-main {
		position: relative;
		float: none;

		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 100vw;
			top: 0;
			left: 50%;
			overflow:hidden;
			border-top: 1px solid #e1e4e9;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		.t3-navbar{
			float:none;
			text-align:center;

		 .navbar-nav {
			float:none;

			.active{

					&:before{
						content: '\f004';
						display: block;
						font-family: 'FontAwesome';
						position: absolute;
						top: 2px;
						left: 50%;
						color: #ef3447;
						line-height: 0;
						-webkit-transform: translateX(-50%);
						-moz-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						transform: translateX(-50%);
					}

					a{
						color:@brand-primary !important;
					}
				}

			li{
				display: inline-table;
				float: none;




				a{
					color: #666;
					font-size: 14px;
					font-style: normal;
					font-weight: 600;
					text-transform:uppercase;
					padding-top:25px;
					padding-bottom:25px;

					&:hover,
					&:focus{
						background:transparent;
						color:@brand-primary;
					}
					&:active{
						color:@brand-primary;
						background:transparent;
					}
				}
			}
		}
		}

	}


.testimonials .testimonial blockquote:before,
.testimonials .testimonial blockquote:after {
	-webkit-filter: brightness(7);
	filter: brightness(7);
}
.testimonials .testimonial blockquote p {
	font-style: normal;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.6;
}

.testimonial.testimonial-with-quotes blockquote:before {
	content: '';
	background: url(../images/custom-red-quotes.png);
	background-size: 100% 100%;
	width: 36px;
	height: 22px;
}

.testimonial.testimonial-with-quotes blockquote:after {
	content: '';
	background: url(../images/custom-red-quotes.png);
	background-size: 100% 100%;
	width: 36px;
	height: 22px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.testimonial-author{
	strong{
		 font-weight: 300 !important;
		 font-size:2.2rem !important;
		 color:@white !important;
	}
	span{
		font-size:12px;
		text-transform:uppercase;
		font-weight:bold;
		color:@white !important;
		margin-top:10px;
	}
}
.history-item{
	.thumb-info{
		border-radius:0px;
		border:none;

		img{
			border-radius:0px;
		}
		.thumb-info-wrapper{
			border-radius:0px;
		}
	}
}


.wedding-testimonials{

	.test{
		background:@white;
		padding:10px;


		.owl-carousel .owl-nav {
			position: absolute !important;
			bottom: 10% !important;
			right: 15% !important;
			top: initial !important;
			width:auto !important;
		}

		.owl-carousel .owl-nav .owl-prev,
		.owl-carousel .owl-nav .owl-next {
			background: #76cbd9 !important;
			border-radius: 100% !important;
			border-color: transparent !important;
			width: 40px;
			height: 40px;
			position:unset;
		}

		.owl-carousel .owl-nav .owl-prev:active,
		.owl-carousel .owl-nav .owl-next:active {
			background: #76cbd9 !important;
			border-color: transparent !important;
		}
		.owl-carousel .owl-nav .owl-prev:hover,
		.owl-carousel .owl-nav .owl-next:hover {
			border-color: transparent !important;
		}
		.owl-carousel .owl-nav .owl-prev {
			color: #FFF !important;
		}
		.owl-carousel .owl-nav .owl-prev:before {
			content: "\f104";
			font-size: 2.2rem;
			line-height: 1.4;
		}
		.owl-carousel .owl-nav .owl-next {
			color: #FFF !important;
		}
		.owl-carousel .owl-nav .owl-next:before {
			content: "\f105";
			font-size: 2.2rem;
			line-height: 1.4;
		}
	}

	.guestbook-messages{
		position:relative;
		padding:55px 37px;
		border: 1px solid #fed0d2;
		margin:0px;

		.testimonial{
			margin-bottom:5px !important;
			p{
				font-family: @font-family-sans-serif !important;
				line-height: 1.7;
				font-style: normal;
				text-align: left;
			}
			.testimonial-author{
				p{
					strong{
						color:#3e415c !important;
						font-size: 14px !important;
						font-weight: bold !important;
						text-align: left;
						text-transform: uppercase;
					}
				}
			}

			blockquote{
				p{
					padding-bottom:20px;
					padding-top:20px;
					border-bottom: 1px solid #fed0d2;
					font-size:14px;
				}

				&:before {
					content: '';
					background: url(../images/custom-red-quotes.png);
					background-size: 100% 100%;
					width: 36px;
					height: 22px;
				}

				&:after {
					content: '';
					background: url(../images/custom-red-quotes.png);
					background-size: 100% 100%;
					width: 36px;
					height: 22px;
					bottom:-15px;
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
				}


			}
		}
	}
}

.blog-list{
	.thumb-info{
		border:none;
		border-radius:0px;

		.thumb-info-wrapper{
			border-radius:0px;

			img{
				border-radius:0px;
			}
		}
	}
	.blog-item-content{
		h3{
			margin-top:0px;
			font-weight:400;
			font-size: 1.8em;
			letter-spacing: normal;
			line-height: 24px;
		}
		.author{
			border-bottom: 1px solid #e1e1e1;
			border-top: 1px solid #e1e1e1;
			display: block;
			width: 100%;
			color: #62c3d3 !important;
		}
	}
}

.rsvp{
	input,
	select{
		border-color: #ebe8e0;
		height: 51px;
		width:100%;
	}
}



.content-grid .content-grid-item {
	min-height: 160px;
	border: 1px solid #e4e4e4;
	border-left: none;
}
.content-grid .content-grid-item:first-child {
	border-left: 1px solid #e4e4e4;
}
.content-grid .content-grid-item:before, .content-grid .content-grid-item:after {
	content: none;
}
.content-grid .content-grid-item .img-responsive{
	height:100% !important;
	max-height:100%;
}

}


//
// RESTAURANT
// ---------------------------------------------------------


.jb-restaurant{

	.header-nav-top .nav > li > a,
	.header-nav-top .nav > li > span {
		color: #999;
		display: inline-block;
		font-size: 0.9em;
		padding: 6px 10px;
	}

	.header-nav-top .nav > li > a .fa,
	.header-nav-top .nav > li > a .icons,
	.header-nav-top .nav > li > span .fa,
	.header-nav-top .nav > li > span .icons {
		margin-right: 3px;
		position: relative;
		top: 1px;
	}
	.header-top-custom .header-nav-top .nav > li span .icons {
		color: #4c4c4c !important;
	}


	.jb-medical-header{
      background: @white;
	  border-bottom: 1px solid transparent;
	  padding: 20px 0;
	  z-index: 1001;

	  .logo{
			.logo-img{
				margin:12px 12px 12px 0;
				width:131px;
				height:40px;
			}
			span{
				display:none;
			}
	   }
	}


	.navbar-default {
		.navbar-nav > .active > a{
			background-color:transparent !important;
			color:@brown !important;
		}

		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			background-color:@brown !important;
			color:@white !important;
		}

		.navbar-nav{

			li{
				a{
					border-radius:0px;
					color:@brown;


					&:hover{
						color:@white !important;
						background:@brown;
					}
				}
			}

			.open{
				a{
					background:@brown !important;
					color:@white !important;
				}
			}
		}
		.dropdown-menu{
			background:@brown;
			border-radius:0px;
			border-color:@meterial;

			li{
				a{
					border-bottom-color: #335cb3 !important;
					color: #ffffff;
				}
			}
		}
	}



}


.jb-law{
	.jb-header{
		border-top: 5px solid #ededed;
	}
	.header-column {
		vertical-align: middle;
	}

	// Logo
	// ----
	.logo {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

	  // Left align the logo on  Tablets / Desktop
	  @media screen and (min-width: @screen-sm) {
		text-align: left;
	  }

	  a {
		display: inline-block;
		line-height: 1;
		margin: 0;
	  }
	}

	// Logo Image
	// ----------
	.logo-image {


	  img{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: relative;
		height: 54px;
		width: 164px;

		 @media (max-width: @screen-xs-max){
			top:0px;
			margin:10px 0px;
		 }
		 @media (min-width: @screen-sm-min) {
			top:24px;
		 }
		 @media (min-width: @screen-md-min) {
			top:24px;
		 }
		 @media (min-width: @screen-lg-min) {
			top:24px;
		 }


	 }

	  // Hide sitename and slogan
	  span, small {
		display: none;
	  }
	}

	.header-column .header-extra-info {
		margin: 0;
	}
	.header-column .header-extra-info {
		float: right;
		list-style: outside none none;
		padding: 0;
	}
	.header-column .header-extra-info > li {
		margin-left: -4px;
	}
	.header-column .header-extra-info li {
		display: inline-block;
	}
	.header-column .header-extra-info .feature-box.feature-box-call {
		border-right: 1px solid #e9e9e9;
	}
	.header-column .header-extra-info .feature-box.feature-box-call {
		margin-right: 20px;
		padding-right: 30px;
	}
	.header-column .header-extra-info .feature-box {
		min-height: 110px;
	}
	.header-column .header-extra-info .feature-box .feature-box-icon {
		margin-right: -10px;
		width: 40px;
	}
	.header-column .header-extra-info .feature-box .feature-box-icon,
	.header-column .header-extra-info .feature-box .feature-box-info {
		position: relative;
		top: 40px;
	}
	.header-column .header-extra-info .feature-box .feature-box-info {
		padding-left: 45px;
	}
	.header-column .header-extra-info .feature-box .feature-box-icon,
	.header-column .header-extra-info .feature-box .feature-box-info {
		position: relative;
		top: 40px;
	}

	.header-nav-main {
		margin: 0;
	}
	.header-nav-bar {
		padding: 0;
	}
	.jb-navbar-brand .navbar-nav > li > a{
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		font-size: 14px;
		padding: 20px 21px;
		margin-left: 0px;
	}
	.search{
		input{
			background: rgba(0, 0, 0, 0.07) none repeat scroll 0 0;
			border: 0 none;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			height: 60px;
			padding-left: 22px;
			width: 249px;
			border-radius:0px;
		}
		.form-control::-moz-placeholder{
			color:@white;
			opacity:0.4;
			text-transform:uppercase;
		}
	}


}


.header-column{
	.header-nav-top{
		.nav{
			li{
				display:inline-block;
			}
		}
	}
}

//
// HEADER-TRANSPARENT
// ---------------------------------------------------------

.jb-modern{

	.t3-header-wrap {
		width: 100%;
		position: absolute;
		z-index: @zindex-navbar;
		top: 0;
		line-height:0px;

		.jb-header-default {
			color:@white;

			&:before{
				backface-visibility: hidden;
				background: #000 none repeat scroll 0 0;
				border-bottom: 0 none;
				bottom: 0;
				content: "";
				height: 100%;
				left: 0;
				opacity: 0.3;
				perspective: 1000px;
				position: absolute;
				right: 0;
				top: 0;
				transform: translate3d(0px, 0px, 0px);
				transition: opacity 0.3s ease 0s;
				width: 100%;
			}

			.logo{
				.logo-img{
					width:131px;
					height:40px;

					 @media (max-width: @screen-xs-max){
						margin:18px;
					 }
					 @media (min-width: @screen-sm-min) {
						margin:20px 0;
					 }
					 @media (min-width: @screen-md-min) {
						margin:22px 0px;
					 }
					 @media (min-width: @screen-lg-min) {
						margin:22px 0px;
					 }
				}

				span{
					display:none;
				}
			}
		 }

		.social{
			a{
				color:@white;

				&:hover{
					color:@brand-primary;
				}
			}
		}

	}


	.sticky{
		.logo{
			.logo-img {
				width:131px !important;
				height:40px !important;

				@media (max-width: @screen-xs-max){
					margin:18px !important;
				}
				@media (min-width: @screen-sm-min) {
					margin:20px 0 !important;
				}
				@media (min-width: @screen-md-min) {
					margin:22px 0px;
				}
				@media (min-width: @screen-lg-min) {
					margin:22px 0px !important;
				}

			}
		 }

		 .jb-header-default{
			&:before{
				opacity:1;
			}
		 }
	}

	.navbar-default {
		background:transparent;
		margin:0px;

		.navbar-nav > .active > a{
			background-color:transparent !important;
			color:@brand-primary !important;
		}

		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			background-color:@brand-primary !important;
			color:@white !important;
		}

		.navbar-nav{

			li{
				a{
					color:@white !important;
					padding:35px 13px 30px;
					border-radius:0px;


					&:hover{
						color:@white !important;
						background:@brand-primary;
					}
				}
			}
		}
	}


	.top-social{
		li{
			box-shadow:none;

			@media (max-width: @screen-xs-max){
				padding:0px;
			}
			@media (min-width: @screen-sm-min) {
				padding:24px 0px;
			}
			@media (min-width: @screen-md-min) {
				padding:29px 1px 15px 0px;
			}
			@media (min-width: @screen-lg-min) {
				padding:29px 1px 15px 0px;
			}

			a{
				background:transparent;
				color:@white !important;
			}
		}
	}

	.off-canvas-toggle{
		margin:18px;
	}



}




//
// HEADER
// ---------------------------------------------------------


.header-top {
	padding: 8px 0;
	position: relative;
	z-index: 4;

	.t3-module{
		margin:0px;

		p {
			font-size: 0.9em;
			margin: 0;
			padding: 0;
			line-height: 37px;
			float: left;
		}
	}

}

.topbar-dark{
	background: #484a51;
    border-bottom: #3c3e44;
    color:@white;

    p{
		color:@white;
    }
	.head-search {

	  label {
		display: none;
	  }

  .search {
    position: relative;
    // Place a search icon
    &:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: block;
      position: absolute;
      left: 10px;
      top: 6px;
      color: @gray;
    }
    // Float to right on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      float: right;
    }
  }

  .form-control {
    backface-visibility: hidden;
    border-radius: 20px;
    font-size: 0.9em;
    height: 34px;
    margin: 0;
    padding: 6px 12px;
    perspective: 1000px;
    transform: translate3d(0px, 0px, 0px);
    transition: width 0.3s ease 0s;
    width: 170px;
  }

}

}

.topbar-orange{
	background: #E4E6ED;
    border-bottom: #E4E6ED;
    color:@gray-light;

    p{
		color:@gray;
    }
	.head-search {

	  label {
		display: none;
	  }

  .search {
    position: relative;
    // Place a search icon
    &:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: block;
      position: absolute;
      left: 10px;
      top: 6px;
      color: @gray;
    }
    // Float to right on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      float: right;
    }
  }

  .form-control {
    backface-visibility: hidden;
    border-radius: 20px;
    font-size: 0.9em;
    height: 34px;
    margin: 0;
    padding: 6px 12px;
    perspective: 1000px;
    transform: translate3d(0px, 0px, 0px);
    transition: width 0.3s ease 0s;
    width: 170px;
  }

}

}

.topbar-gray{
	background: #f6f6f6;
    border-bottom: 1px solid #ededed;
}

.topbar-dark2{
	background: #3a3a3a;
    border-bottom: 1px solid #ededed;
    color:@white;

    p{
		color:@white;
    }
}



//
// TOPBAR BRAND
// ---------------------------------------------------------

.jb-topbar-brand {
  background-color: @brand-primary;
  color: @white;
  height:auto;
  line-height:42px;

	  @media (max-width: @screen-xs-max){
		font-size: 10px;
	  }

	  @media (min-width: @screen-sm-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-md-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-lg-min) {
		font-size: @font-size-small;
	  }

  .tp-no-border{
	li{
		a{
			border-right: none !important;
		}
	}
  }

  .t3-module{
	margin-bottom:0px;
  }

  .nav {
    > li {
      display: inline-block;
      margin-top:0px;



      a, span {
        color: @white;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 1;
        border-radius:0px;
        text-transform:uppercase;
        font-size:12px;

        @media (max-width: @screen-xs-max){
			padding:3px 4px;
		}

		@media (min-width: @screen-sm-min) {
			padding: 0px 10px 0px 10px;
		}
		@media (min-width: @screen-md-min) {
			padding: 0px 10px 0px 15px;
		}
		@media (min-width: @screen-lg-min) {
			padding:0px 10px 0px 15px;
		}



        &:hover, &:focus, &:active {
          background: none;
          text-decoration: none;
          outline: none;
          color: @white;
        }
      }

      &.active a {
        background: none;
        text-decoration: none;
        outline: none;
        color: @brand-primary;
      }

      &:last-child a {
        border-right: 0;
      }
    }
  }

  i {
    font-size: @font-size-base;
    margin-right: 5px;
  }

  .t3-topbar-1 {

	@media (max-width: @screen-xs-max){
		text-align:center;
	}
	@media (min-width: @screen-sm-min) {
		text-align:left;
	}
	@media (min-width: @screen-md-min) {
	   text-align:left;
	}
	@media (min-width: @screen-lg-min) {
		text-align:left;
	}

  }

  .t3-topbar-2 {

	@media (max-width: @screen-xs-max){
		text-align:center;
	}
	@media (min-width: @screen-sm-min) {
		text-align:right;
	}
	@media (min-width: @screen-md-min) {
	   text-align:right;
	}
	@media (min-width: @screen-lg-min) {
		text-align:right;
	}


    .nav-pills {
      display: inline-block;
    }
  }

  .tp-share{
    ul{
      padding-left:0px;
      margin:0px;
      li{
        list-style:none;
        float:left;
        font-size:14px;
        border-right:1px solid @gray-lighter;

        a{
          padding:8px 12px;
          color:@gray-light;
        }
      }
    }
  }

  #contact-details{
	ul{
		padding:0px;
		margin:0px;

		li{
			list-style:none;
			float:left;
			margin:0px 10px 0px 0px;

			a{
				color: #ccc;;

				&:hover{
					color: @brand-primary;
				}
			}

			i,em{
				margin-right:10px;
				border: 1px solid #616161;
				border-radius: 3px;
				color: @white;
				display: inline-block;
				font-size: 13px;
				font-weight: 100;
				height: 25px;
				line-height: 22px;
				margin-right: 9px;
				position: relative;
				text-align: center;
				width: 25px;
			}
		}
	}
  }

  .jb-add{
	div,span{
		display:inline-block;
	}
	.jb-icon-location-2{

		margin-right:5px;

		&:before{
			content: "\e6a4";
			display: inline-block;
			font-family: "font-icons";
			font-style: normal;
			font-weight: bold;
			font-variant: normal;
			text-transform: none;
			line-height: inherit;
			color:@white;
			margin-right:5px;
		}
	}
	.jb-icon-mobile-1{

		margin-right:5px;

		&:before{
			content: "\e010";
			display: inline-block;
			font-family: "Simple-Line-Icons";
			font-style: normal;
			font-weight: bold;
			font-variant: normal;
			text-transform: none;
			line-height: inherit;
			color:@white;
			margin-right:5px;
		}
	}
	.jb-icon-mail-2{

		margin-right:5px;

		&:before{
			content: "\e086";
			display: inline-block;
			font-family: "Simple-Line-Icons";
			font-style: normal;
			font-weight: bold;
			font-variant: normal;
			text-transform: none;
			line-height: inherit;
			color:@brand-primary;
			margin-right:5px;
		}
	}
  }

}

.jb-topbar-trans {
  color: @white;
  height:auto;
  line-height:40px;

	  @media (max-width: @screen-xs-max){
		font-size: 10px;
	  }

	  @media (min-width: @screen-sm-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-md-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-lg-min) {
		font-size: @font-size-small;
	  }

  .tp-no-border{
	li{
		a{
			border-right: none !important;
		}
	}
  }

  .t3-module{
	margin-bottom:0px;
  }

  .nav {
    > li {
      display: inline-block;
      margin-top:0px;



      a{
        color: @white;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 1;
        border-radius:0px;
        text-transform:uppercase;
        font-size:12px;

        @media (max-width: @screen-xs-max){
			padding:3px 4px;
		}

		@media (min-width: @screen-sm-min) {
			padding: 0px 10px 0px 10px;
		}
		@media (min-width: @screen-md-min) {
			padding: 0px 10px 0px 15px;
		}
		@media (min-width: @screen-lg-min) {
			padding:0px 10px 0px 15px;
		}



        &:hover, &:focus, &:active {
          background: none;
          text-decoration: none;
          outline: none;
          color: @white;
        }
      }

      &.active a {
        background: none;
        text-decoration: none;
        outline: none;
        color: @brand-primary;
      }

      &:last-child a {
        border-right: 0;
      }
    }
  }




  .t3-topbar-2 {

	@media (max-width: @screen-xs-max){
		text-align:center;
	}
	@media (min-width: @screen-sm-min) {
		text-align:right;
	}
	@media (min-width: @screen-md-min) {
	   text-align:right;
	}
	@media (min-width: @screen-lg-min) {
		text-align:right;
	}


    .nav-pills {
      display: inline-block;
    }
  }



}


.topbar-gray-light {
  background-color: #f0f0ed;
  color: @white;
  height:auto;
  line-height:42px;
  border-top:4px solid @brand-primary;

	  @media (max-width: @screen-xs-max){
		font-size: 10px;
	  }

	  @media (min-width: @screen-sm-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-md-min) {
		font-size: 10px;
	  }
	  @media (min-width: @screen-lg-min) {
		font-size: @font-size-small;
	  }

  .tp-no-border{
	li{
		a{
			border-right: none !important;
		}
	}
  }

  .t3-module{
	margin-bottom:0px;
  }

  .nav {
    > li {
      display: inline-block;
      margin-top:0px;



      a{
        color: @brand-primary;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 1;
        border-radius:0px;
        text-transform:uppercase;
        font-size:12px;

        @media (max-width: @screen-xs-max){
			padding:3px 4px;
		}

		@media (min-width: @screen-sm-min) {
			padding: 0px 10px 0px 10px;
		}
		@media (min-width: @screen-md-min) {
			padding: 0px 10px 0px 15px;
		}
		@media (min-width: @screen-lg-min) {
			padding:0px 10px 0px 15px;
		}



        &:hover, &:focus, &:active {
          background: none;
          text-decoration: underline !important;
          outline: none;
          color: @brand-primary;
        }
      }

       span{
		color:#777;
		padding-top: 0;
        padding-bottom: 0;
        border-right: 1px solid #ccc;
        display: inline-block;
        line-height: 1;
        border-radius:0px;
        text-transform:uppercase;
        font-size:12px;

        @media (max-width: @screen-xs-max){
			padding:3px 4px;
		}

		@media (min-width: @screen-sm-min) {
			padding: 0px 10px 0px 10px;
		}
		@media (min-width: @screen-md-min) {
			padding: 0px 10px 0px 15px;
		}
		@media (min-width: @screen-lg-min) {
			padding:0px 10px 0px 15px;
		}

       }

      &.active a {
        background: none;
        text-decoration: none;
        outline: none;
        color: @brand-primary;
      }

      &:last-child a {
        border-right: 0;
      }
    }
  }

  i {
    font-size: @font-size-base;
    margin-right: 5px;
  }

  .t3-topbar-1 {

	@media (max-width: @screen-xs-max){
		text-align:center;
	}
	@media (min-width: @screen-sm-min) {
		text-align:left;
	}
	@media (min-width: @screen-md-min) {
	   text-align:left;
	}
	@media (min-width: @screen-lg-min) {
		text-align:left;
	}

	.chzn-container{
		.chzn-single,
		div b::before{
			color:#777 !important;
		}
	}

  }

  .t3-topbar-2 {

	@media (max-width: @screen-xs-max){
		text-align:center;
	}
	@media (min-width: @screen-sm-min) {
		text-align:right;
	}
	@media (min-width: @screen-md-min) {
	   text-align:right;
	}
	@media (min-width: @screen-lg-min) {
		text-align:right;
	}


    .nav-pills {
      display: inline-block;
    }
  }

}




.jb-style-2{
	.header-column {
		display: table-cell;
		vertical-align: middle;
	}

	// Logo
	// ----
	.logo {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

	  // Left align the logo on  Tablets / Desktop
	  @media screen and (min-width: @screen-sm) {
		text-align: left;
	  }

	  a {
		display: inline-block;
		line-height: 1;
		margin: 0;
	  }
	}

	// Logo Image
	// ----------
	.logo-image {


	  img{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: relative;
		width: 70%;
		margin:20px 0px;
	}

	  // Hide sitename and slogan
	  span, small {
		display: none;
	  }
	}


}

.jb-style-3{
  padding-top: @t3-global-padding;
  padding-bottom: @t3-global-padding;
  background: @white;
  border-bottom: 1px solid transparent;
  padding: 15px 0;
  z-index: 1001;


  // Logo
	// ----
	.logo {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

	  // Left align the logo on  Tablets / Desktop
	  @media screen and (min-width: @screen-sm) {
		text-align: left;
	  }

	  a {
		display: inline-block;
		line-height: 1;
		margin: 0;
	  }
	}

	// Logo Image
	// ----------
	.logo-image {


	  img{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: relative;
		*height: 54px;
		width: 70%;
	 }

	  // Hide sitename and slogan
	  span, small {
		display: none;
	  }
	}


	.header-social-icons {
		float: right;
		margin: 15px 0 0 10px;
	}

}

.t3-header {
  padding-top: @t3-global-padding;
  padding-bottom: @t3-global-padding;
  background: @white;
  border-top: 5px solid @gray-lighter;
  border-bottom: 1px solid transparent;
  padding: 8px 0;
  z-index: 1001;

  .header-row{
	clear:right;
	display: block;
  }

	// Logo
	// ----
	.logo {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

	  // Left align the logo on  Tablets / Desktop
	  @media screen and (min-width: @screen-sm) {
		text-align: left;
	  }

	  a {
		display: inline-block;
		line-height: 1;
		margin: 0;
	  }
	}

	// Logo Image
	// ----------
	.logo-image {


	  img{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: relative;
		height: 54px;
		width: 111px;

		 @media (max-width: @screen-xs-max){
			top:0px;
		 }
		 @media (min-width: @screen-sm-min) {
			top:0px;
		 }
		 @media (min-width: @screen-md-min) {
			top:24px;
		 }
		 @media (min-width: @screen-lg-min) {
			top:24px;
		 }
	 }

	  // Hide sitename and slogan
	  span, small {
		display: none;
	  }
	}

	// Logo Text
	// ----------
	.logo-text {

	  a {
		text-decoration: none;
		font-size: ceil(@font-size-base * 2);
		font-weight: bold;
	  }

	  &:hover a,
	  a:hover,
	  a:active,
	  a:focus {
		text-decoration: none;
	  }

	  // Taglines
	  .site-slogan {
		display: block;
		font-size: @font-size-base;
		margin-top: 5px;
	  }

	}


.header-nav-top{
	float: right;
	margin-left: 10px;
	margin-top:10px;

	.nav-pills{
		li{
			float:left !important;

			a,span{
				color: #999;
				display: inline-block;
				font-size: 0.9em;
			}

			a{
				&:before{
				  content: '\f105';
				  font-family: 'FontAwesome';
				  font-size: 0.9em;
				  margin-right: 5px;
				}
			}
		}
	}
	.nav-stacked > li + li{
		margin-top:0px;
	}
	.nav-header{
		padding:10px 15px;
		border-radius: 4px;
		display:block;

		&:before{
			content:'\f095';
			font-family: 'FontAwesome';
			font-size: 0.9em;
			margin-right: 5px;
		}
	}
}


// Head Search
// -----------
.head-search {
	margin-top:10px;

  .clearfix();

  label {
    display: none;
  }

  .search {
   position: relative;

    // Place a search icon

    &:before {
      font-family: "FontAwesome";
      content: "\f002";
      display: block;
      position: absolute;
      right: 14px;
      top: 6px;
    }
    // Float to right on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      float: right;
    }

    .element-invisible{
		color:@white !important;
    }
  }

  .form-control {
    width : 170px;
    border-radius: 20px;
    font-size: 0.9em;
    height: 34px;
    margin: 0;
    padding: 6px 12px;

    // Width Control on Tablets / Desktop
    @media screen and (min-width: @screen-sm) {
      width: 170px;

      // focus state
      &:focus {
        width: 170px;
        box-shadow:none;
      }
    }

  }

}

.header-social-icons {
	float: right;
	margin: 15px 0 0 10px;
}

/* Social Icons */
.social-icons {
	margin: 15px 0 0 10px;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #FFF;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
}

.social-icons li:hover a {
	background: #171717;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1;
}

.social-icons li:hover.social-icons-facebook a {
	background: #3b5a9a;
}

.social-icons li:hover.social-icons-linkedin a {
	background: #0073b2;
}

.social-icons li:hover.social-icons-rss a {
	background: #ff8201;
}

.social-icons li:hover.social-icons-googleplus a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-pinterest a {
	background: #cc2127;
}

.social-icons li:hover.social-icons-youtube a {
	background: #c3191e;
}

.social-icons li:hover.social-icons-instagram a {
	background: #7c4a3a;
}

.social-icons li:hover.social-icons-skype a {
	background: #00b0f6;
}

.social-icons li:hover.social-icons-email a {
	background: #dd4b39;
}

.social-icons li:hover.social-icons-vk a {
	background: #6383a8;
}

.social-icons li:hover.social-icons-xing a {
	background: #1a7576;
}

.social-icons li:hover.social-icons-tumblr a {
	background: #304e6c;
}

.social-icons li:hover.social-icons-reddit a {
	background: #ff4107;
}

.social-icons.social-icons-transparent li {
	box-shadow: none;
}

.social-icons.social-icons-transparent li a {
	background: transparent;
}

.social-icons.social-icons-icon-light li a i {
	color: #FFF;
}


}

// ---------------------------------------------------------
// SPOTLIGHTS
// ---------------------------------------------------------

.t3-sl {
  padding-bottom: @t3-global-padding * 2;
  padding-top: @t3-global-padding * 2;
  // Larger padding in Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    padding-bottom: @t3-global-padding * 3;
    padding-top: @t3-global-padding * 3;
  }
}

.t3-sl-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

// Spotlight 1
// -----------
.t3-sl-1 {
}

// Spotlight 2
// -----------
.t3-sl-2 {
}

// Spotlight 3
// -----------
.t3-sl-3 {
}

// Spotlight 4
// -----------
.t3-sl-4 {
}



// ---------------------------------------------------------
// MAIN BODY
// ---------------------------------------------------------
.t3-mainbody {
  padding-top: @line-height-computed ;
  padding-bottom: @line-height-computed;
}

// Content
// -------
.t3-content {
  padding-top: @line-height-computed ;
  padding-bottom: @line-height-computed;
}

// Sidebars
// --------
.t3-sidebar {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;

  .t3-module{
	margin-bottom:30px;

	.module-title{
		letter-spacing: normal;
	}
  }

  .nav{
	li{
		margin: 0;
		padding: 0;
		display: block;
		position: relative;

		a{
			-webkit-transition: background 0.1s;
			-moz-transition: background 0.1s;
			transition: background 0.1s;
			border-bottom: 1px solid #EDEDDE;
			padding: 8px 0 8px 18px;
			display: block;
			color: #666;
			font-size: 0.9em;
			text-decoration: none;
			line-height: 20px;
			text-transform:capitalize;

			&:before{
				content: "";
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid #333;
				margin: 7px 0 0 -9px;
				position: absolute;
			}

			&:hover{
				background-color: #eee;
				text-decoration: none;
			}
		}

		ul{
			margin:0px 0px 0px 25px;
		}
	}
  }

}

.t3-sidebar-1 {
}

.t3-sidebar-2 {
}



// ---------------------------------------------------------
// FOOTER
// ---------------------------------------------------------



.jb-footer{
	background:#e7e8e9;
	border-top:none;
	padding:26px 0 0;
	color:#777;

  // Footnav Modules
  .t3-footnav{
  .t3-module {
    color: #777;
    margin-top: @line-height-computed / 2;
    margin-bottom: @line-height-computed / 2;

    .module-title {
      color: @gray-dark;
      margin-bottom: 15px;
	  font-size: 1.2698em;
      font-weight: 400;
	  text-transform: none;
	  letter-spacing:normal;
    }


	.links,
	.features{
		li{
			line-height:1 !important;
			padding:10px !important;
		}
	}

    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;

      > li {
        line-height: 24px;


        // links
        > a {
          color: #777;
          // Link States
          &:hover, &:active, &:focus {
            color: @t3-footer-module-text-color;
          }
        }
      }
    }
  }
  }

  .row{
	margin-left:0px;
	margin-right:0px;
  }
  .container-remove{
	padding:0px 30px;
  }


}


.t3-footer {
  background: #0e0e0e;
  border-top: 4px solid #0e0e0e;
  font-size: 0.9em;
  padding: 70px 0 0;
  position: relative;
  clear: both;
  .clearfix();

  // small
  small {
    display: block;
    font-size: 100%; //Use global footer font size.
  }

  // links
  a {
	color:@white;

    // Link States
    &:hover, &:active, &:focus {
		color:@white;
    }
  }

  h5{
	color:#ccc;
  }

  .footer-ribbon {
	background: @brand-primary;
	position: absolute;
	margin: -90px 0 0 14px;
	padding: 10px 20px 6px 20px;
	z-index:1000;
}

.footer-ribbon:before {
	border-right: 10px solid @brand-primary;
	border-top: 16px solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -10px;
	position: absolute;
	top: 0;
	width: 7px;
}

.footer-ribbon span {
	color: #FFF;
	font-size: 1.6em;
	font-family: "Shadows Into Light", cursive;
}

.tweets-box{
	.meta{
		color: #999;
		display: block;
		font-size: 0.9em;
		margin-bottom: 20px;
		padding-top: 3px;
	}
}

}

.medical-footer{
	background:#34383d;
	color:#95989c;
	font-size: 0.9em;
    padding: 70px 0 0;
    position: relative;

    a{
		color: #95989c;

		strong{
			display: block;
			font-size: 30px;
			line-height: 1;
		}
    }

    .module-title {
		margin-bottom: 30px !important;
		span{
			font-size: 1.4em;
			font-weight: 200;
		}
    }

	.jb-copyright{
		background: #34383d none repeat scroll 0 0;
		border-top: 1px solid #53585e;
		margin-top: 40px;

		.copyright{
			margin-bottom:0px;
		}
	}

	p{
		color:#95989c;
	}

	.custom-info span:nth-child(1) {
		display: inline-block;
		color: #95989c;
		min-width: 68px;
		margin-right: 10px;
	}
	.custom-info span:nth-child(1)::after {
		content: ':';
		display: block;
		float: right;
		color: #fff;
	}
	.custom-info span:nth-child(2) {
		color: #fff;
	}


	.social-icons li {
		border-radius: 0;
		box-shadow: none;
	}
	.social-icons li:hover a {
		opacity: 0.8;
	}
	.social-icons li a {
		color: #FFF !important;
		border-radius: 0;
	}
	.social-icons li.social-icons-twitter a {
		background: #1aa9e1;
	}
	.social-icons li.social-icons-facebook a {
		background: #3b5a9a;
	}
	.social-icons li.social-icons-linkedin a {
		background: #0073b2;
	}
	.social-icons li.social-icons-rss a {
		background: #ff8201;
	}
	.social-icons li.social-icons-googleplus a {
		background: #dd4b39;
	}
	.social-icons li.social-icons-pinterest a {
		background: #cc2127;
	}
	.social-icons li.social-icons-youtube a {
		background: #c3191e;
	}
	.social-icons li.social-icons-instagram a {
		background: #7c4a3a;
	}
	.social-icons li.social-icons-skype a {
		background: #00b0f6;
	}
	.social-icons li.social-icons-email a {
		background: #dd4b39;
	}
	.social-icons li.social-icons-vk a {
		background: #6383a8;
	}
	.social-icons li.social-icons-xing a {
		background: #1a7576;
	}
	.social-icons li.social-icons-tumblr a {
		background: #304e6c;
	}
	.social-icons li.social-icons-reddit a {
		background: #ff4107;
	}

}

// Foot Nav
// --------
.t3-footnav {
  padding: 0;
  .clearfix();

  // Larger padding on Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    padding: 0;
  }

  // Footnav Modules
  .t3-module {
    color: @t3-footer-module-text-color;
    margin-top: @line-height-computed / 2;
    margin-bottom: @line-height-computed / 2;

    .module-title {
      color: @t3-footer-module-title-color;
      margin-bottom: 15px;
	  font-size: 1.2698em;
      font-weight: 400;
	  text-transform: none;
	  letter-spacing:normal;
    }


	.links,
	.features{
		li{
			line-height:1 !important;
			padding:10px !important;
		}
	}

    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;

      > li {
        line-height: 24px;


        // links
        > a {
          color: white;
          // Link States
          &:hover, &:active, &:focus {
            color: @t3-footer-module-text-color;
          }
        }
      }
    }



  }


.contact-details{
	list-style: none;
	margin: 0;
	padding: 0;
}

.contact-details em {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

.contact-details em.fa-envelope {
	font-size: 1em;
	top: 0;
}

.contact-details p {
	margin-bottom: 10px;
}

.phone {
    color: #fff;
    display: block;
    font-size: 26px;
    font-weight: bold;
    margin-top: -5px;
    padding-bottom: 15px;
}
.white{
	color:#ccc;
}


.contact{
	p{
		margin:0px;
	}
}



}



// Copyright
// ---------
.t3-copyright {
  background: #060606;
  border-top: 4px solid #060606;
  margin-top: 40px;
  padding: 30px 0 10px;

  .clearfix();
  small {
    margin-bottom: 5px;
  }

  .jb-footer-menu  {
	text-align:right;

	.nav{
		li{
			display:inline-block;
			text-align:right;
			border-left: 1px solid #505050;

			&:first-child{
				border:none;
			}

			a{
				padding:0px 15px;
				color:@white;

				&:hover,
				&:active{
					background:transparent !important;
				}
			}
		}
	}
  }
}

.jb-copyright {
  background:#F3F5F4;
  margin-top: 40px;
  padding: 30px 0 10px;

  .clearfix();
  small {
    margin-bottom: 5px;
  }

  .jb-footer-menu  {
	text-align:right;

	.nav-pills{
		li{
			display:inline-block;
			text-align:right;
			border-left: 1px solid #505050;

			&:first-child{
				border:none;
			}

			a{
				padding:0px 15px;
				color:@white;

				&:hover,
				&:active{
					background:transparent !important;
				}
			}
		}
	}
  }
}


.copyright {
    margin-bottom: @line-height-computed;
}

.poweredby {
  .clearfix();

  // Align right on Tablet / Desktop
  @media screen and (min-width: @screen-sm-max) {
    text-align: right;
  }

  .t3-logo,
  .t3-logo-small {
    opacity: .8;
    display: inline-block;
	background: url(../images/joomlabuff/logo-footer.png) no-repeat !important;
  }
}

/* Scroll to Top */
.scroll-to-top {
	background: #404040;
	border-radius: 7px 7px 0 0;
	bottom: 0;
	color: #FFF;
	display: block;
	height: 9px;
	padding: 13px 10px 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	min-width: 49px;
	z-index: 1040;
	outline:none;
}



/* Sample Item */
.sample-item-container {
	max-width: 1650px;
}

.sample-item-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sample-item-list li {
	text-align: center;
}

.sample-item {
	text-align: center;
	max-width: 500px;
	width: 100%;
	display: inline-block;
	margin-bottom: 35px;
}

.sample-item a {
	text-decoration: none !important;
}

.sample-item .sample-item-image-wrapper {
	background: #FFF;
	max-height: 370px;
	height: 370px;
	max-width: 500px;
	width: 100%;
	display: inline-block;
	border: none;
	box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.1);
	position: relative;
	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}

.sample-item .sample-item-image-wrapper .fa-spin {
	background: transparent none repeat scroll 0 0;
	color: #ccc;
	font-size: 25px;
	left: 50%;
	margin: -13px;
	position: absolute;
	top: 50%;
	z-index: 1;
}

.sample-item a:hover .sample-item-image-wrapper {
	box-shadow: 10px 10px 74px -15px rgba(0, 0, 0, 0.4);
}

.sample-item .sample-item-image {
	max-height: 370px;
	height: 370px;
	max-width: 500px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	z-index: 2;
}

.sample-item .sample-item-description {
	display: block;
	padding: 15px 0;
}

.sample-item h5 {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.sample-item p {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.sample-item.sample-item-coming-soon .sample-item-image {
	background-color: #FBFBFB;
	background-position: center center;
}


// Back to top
// ------------
#back-to-top {
  position: fixed;
  right: 30px;
  top: auto;
  z-index: 999;
  display: none;
  bottom: -60px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;

  @media (min-width: @screen-sm-min) {
    display: block;
  }

  .btn {
    background:#404040;
    border:1px solid #404040;
    border-radius: 7px 7px 0px 0px !important;
    color: @white;
    height: 9px;
    min-width: 49px;
    padding: 13px 10px 35px;
    border:none;
    text-align: center;
    font-size: 18px;
    .transition(0.2s);

    &:hover, &:active, &:focus {
      background: #404040;
      border:1px solid #404040;
      border:none;
      color: @brand-primary !important;
      outline: none;
    }
  }

  &.affix {
    bottom: 0;
    *background:@brand-primary;
  }

  a {
    outline: none;
  }

  i {
    font-size: @font-size-base;
    line-height: 16px;
  }
}




.ratingbox {
  position: relative;
  margin:0 auto;
  width: 70px;
  height: 12px;
  background: url(../images/vm/color-stars.png)  repeat-x 0 bottom !important;
  display:inline-block;
}
.ratingbox:last-child {
  margin-bottom: 0;
}
.ratingbox div,
.ratingbox span {
  display: block;
  margin: 0 auto;
  width: 1%;
  height: 12px;
  position: absolute;
  background: url(../images/vm/color-stars.png)   repeat-x;
}


// Common addtocart section
// ------------------------------

.product .addtocart-area,
.vmproduct .addtocart-area,
.productdetails-view .addtocart-area {
  form {
  	margin: 0;
  }
  .product-fields {
    margin-bottom: 10px;
  }
  .addtocart-bar {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    padding:20px;
    width: 100%;

	&:empty {
		display: none;
	}
  }
  .vm-quantity-box {
  	float: left;
  	position: relative;
  	padding: 0 25px;
  }

  span.quantity-controls {
  	input {
  		position: absolute;
  		top: 11px;
    	display: inline-block;
		  height: 20px;
		  line-height: 20px;
		  width: 20px;
		  vertical-align: middle;
		  font-family: inherit;
		  font-size: inherit;
		  font-weight: inherit;
		  vertical-align: middle;
		  border: 1px solid @gray-lighter;
		  color: @gray-light;
		  background-color: transparent;
		  background-position: center center;
		  background-repeat: no-repeat;
		  &:hover,
		  &:focus {
		  	border: 1px solid @gray-dark;
		  }
    }
    .quantity-plus {
    	background-image: url('../images/vm/plus.png');
    	right: 0;
    	left: auto;
    }
    .quantity-minus {
    	background-image: url('../images/vm/minus.png');
    	left: 0;
    	right: auto;
    }

  }
  span.addtocart-button {
    float: left;
    margin-left:20px;
  }
  input.quantity-input {
    text-align: center;
    width: 47px;
    border-radius:0px;
    box-shadow:none;
    border-color:@gray-lighter;
  }
  input.addtocart-button {
		border: none;
		background: @brand-primary;
		text-transform: none;
		color: @white;
		padding-top: 0;
		padding-bottom: 0;
		height: 42px;
		line-height: 42px;
		padding-left: 25px;
		background-image: url('../images/vm/cart.png');
		background-position: left center;
		background-repeat: no-repeat;
		color: #ffffff;
		font-weight: 400;
		padding-left: 45px;
		padding-right: 20px;
		text-transform: uppercase;

    &:hover {
      color: @white;
      background:@link-hover-color;
      background-image: url('../images/vm/cart.png');
	  background-position: left center;
	  background-repeat: no-repeat;

    }
  }
  input.addtocart-button-disabled {
		border: none;
		background: none;
		text-transform: none;
		padding-top: 0;
		padding-bottom: 0;
		height: 42px;
		line-height: 42px;
		padding-left: 25px;
  }
}

.jb-book-table{
	background:#8496A4;
	padding:30px;

	input,
	select{
		width:100%;
	}

	.input-append{
		.input-small{
			float:left;
			display:inline;
		}
	}
	label{
		color:@white;
		margin:20px 0px 20px 0px;
	}
	.btn-booknow{
		margin-top:20px;
		padding:20px;
	}
}



.banner {
		display: block;
		position: relative;
		margin-bottom: 10px;

		a {
			display: block;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 0;
		}
		&:before{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #000;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
			border-radius: 0;
		}
		&:hover{
			&:before{
				visibility: visible;
				opacity: 0.1;
			}
		}
}




	.banners-container{
		.sppb-col-md-6,
		.sppb-col-md-3{
			padding-left: 4px;
			padding-right: 4px;
		}


		.banner-ribbon {
			position: absolute;
			right: 0;
			top: 0;
			color: #fff;
			width: 33.5%;
			height: 22.3%;

			&:before{
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				border: 150px solid #65829d;
				border-right: 0;
				border-bottom: 0;
				border-left: 200px solid transparent;
			}

			.ribbon-content {
				position: absolute;
				right: 9%;
				top: 10%;
				width: 90%;
				text-align: right;

				span {
					font-size: 14px;
					font-weight: 300;
					font-style: normal;
					color: #fff;
					margin-right: 26%;
					text-transform: uppercase;
				}
				h3 {
					font-size: 33px;
					line-height: 1;
					margin: 0;
					font-weight: 700;
					color: #fff;
				}
				h4 {
					font-weight: 600;
					color: #fff;
					font-size: 18px;
					line-height: 1;
					margin: 3px 0 0;
					text-transform: uppercase;
				}
			}
		}

		.banner-content {
			position: absolute;
		}
		.v1 {
			position: absolute;
			right: 15%;
			bottom: 14%;
			text-align: right;

			h2 {
				font-size: 70px;
				line-height: 1;
				font-weight: 600;
				font-style: italic;
				color: #fff;
				margin-bottom: 0;
				text-transform: uppercase;

				strong {
					font-weight: 800;
				}
			}
			p {
				font-size: 29px;
				line-height: 1;
				margin-bottom: 10px;
				margin-right: 4px;
				font-weight: 300;
				color: #fff;

				strong {
					font-weight: 600;
				}
			}
			a {
				font-size: 16px;
				margin-right: 5px;
				color: #65829d;
			}
		}

		.v2 {
			position: absolute;
			right: 10%;
			top: 5%;
			text-align: right;

			h3 {
				font-weight: 400;
				color: #121213;
				font-size: 29px;
				line-height: 1;
				margin-bottom: 5px;
				margin-top:0px;
			}
			h2 {
				font-weight: 800;
				color: #121213;
				margin-bottom: 10px;
				margin-top:0px;
				font-size: 29px;
				line-height: 1;
				text-transform: uppercase;
			}
			a {
				font-size: 16px;
				color: #121213;
				margin: 0;
			}
		}

		.v3 {
			position: absolute;
			right: 11.55%;
			top: 25%;
			text-align: right;

			p {
				font-size: 16px;
				font-weight: 700;
				color: #313131;
				line-height: 1;
				margin-bottom: 5px;
				text-transform: uppercase;

				&:first-child {
					font-weight: 300;
				}
			}
			h4 {
				font-weight: 400;
				color: #888;
				font-size: 23px;
				line-height: 1;
				margin-top: 20px;
				margin-bottom: 0;
			}
			h3 {
				font-weight: 400;
				color: #65829d;
				font-size: 38px;
				line-height: 1;
				margin-bottom: 15px;

				span {
					font-size: 25px;
					line-height: 1;
				}
			}
			a {
				font-size: 16px;
				margin-right: 5px;
				color: #65829d;
			}
		}

		.v4 {
			position: absolute;
			left: 0;
			top: 17%;
			text-align: center;
			width: 100%;

			h2 {
				font-weight: 300;
				color: #000;
				font-size: 34px;
				line-height: 1.2;
				margin: 0;
				margin-bottom: 15px;

				strong {
					font-weight: 600;
				}
			}
			p {
				font-weight: 300;
				color: #000;
				opacity: 0.7;
				filter: alpha(opacity=70);
				font-style: italic;
				font-size: 20px;
				line-height: 1.2;
				margin-bottom: 17px;
			}
			.btn {
				display: inline-block;
				font-size: 13px;
				margin: 0;
				border: 0;
				padding: 6px 10px 6px 12px;

				i {
					margin-left: 2px;
				}
			}
		}
	}



.chzn-container{
	.chzn-single{
		height:auto !important;
		border:none !important;
		box-shadow:none !important;
		background:transparent !important;
		color:@white !important;

		div{
			top:-1px !important;;
			width:30px !important;;

			b{
				background:none !important;
				position:releative;

			&:before{
				content: "\f0dd";
				font-family: "FontAwesome";
				color:@white;
				font-size: 12px;
				text-decoration: inherit;
				position: absolute;
				left:0;
			}
		}
	  }
	}
	.chzn-drop{
		margin-top:10px;
		border:1px solid @brand-primary;

		.chzn-results{
			margin:0px;
			padding:0px;

			li{
				color:@brand-primary;
			}
			.highlighted{
				color:@white;

				&:hover{
					background:@brand-primary;
				}
			}
		}
	}
}



.block-mini-cart {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: right;
  top:0px;

  .mini-cart-title {
	  position: relative;
	  height: 35px;
	  width: 35px;
	  color: #000;
	  text-align: center;

	  .count-item {
		  font-size: 35px;
		  color:@brand-primary;
		  line-height: 34px;
		  top: 2px;

		  .total {
			  font-size: 0;
			  display: none;
		  }
	  }
	  .number {
		  font-size: 12px;
		  font-weight: 700;
		  position: absolute;
		  top: 9px;
		  line-height: 14px;
		  right: 11px;
		  padding-top: 5px;
		  padding-left: 5px;
		  color: #fff;

		   .item {
				font-size: 0;
			}
		}
  }

  .mini-cart-content {
	  position: absolute;
	  top: 150px;
	  right: 0;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -webkit-transition: all .5s ease 0s;
	  -moz-transition: all .5s ease 0s;
	  -o-transition: all .5s ease 0s;
	  transition: all .5s ease 0s;
	  background: #fff;
	  -webkit-box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.3);
	  box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.3);
	  -moz-box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.3);
	  min-width: 250px;
	  padding: 15px;
	  visibility: hidden;
	  z-index: 10;
	  margin-top: 5px;
	  border-top:4px solid @brand-primary;

	  &:before{
		  content: "\f0d8";
		  font-family: FontAwesome;
		  font-size: 30px;
		  right: 12px;
		  position: absolute;
		  top: -20px;
		  width: 14px;
		  color:@brand-primary;
	  }
	}

	&:hover{
		.mini-cart-content {
		  top: 100%;
		  display: block;
		  opacity: 100;
		  filter: alpha(opacity=10000);
		  opacity: 1;
		  filter: alpha(opacity=100);
		  visibility: visible;
		}
	}

}


.shop-4{



	.sp-vmsearch {
		form{
			background:transparent;
			border:1px solid @gray-light;
		}

		input[type="text"]::-moz-placeholder,
		.sp-vmsearch-categorybox,
		.search-button-wrapper button,
		.search-input-wrapper input{
			color:#777 !important;
		}
		.search-button-wrapper{
			border-color:@gray-light;
		}

		.sp-vmsearch-categorybox .sp-vmsearch-category-name {
		  border-color:@gray-light;
		}

	}

	.navbar-default{
		background:#f0f0ed;
		margin:0px;
		border-radius:5px;
		margin-bottom:10px;

		.navbar-nav > li > a{
			padding:15px 15px;
		}
	}
	.affix{
		.navbar-default{
			background:transparent;
			margin-bottom:0px;
		}
	}
}


.sp-vmsearch form {
  position: relative;
  margin: auto;
  float: left;
  border-radius:30px;
  background:darken(@brand-primary, 15%);
  width:450px;
  color:@white;
  height:38px;
  border:1px solid darken(@brand-primary, 15%);
}
.sp-vmsearch {
	.search-input-wrapper {
	  margin: 0;
	  float: left;
	  width: 230px;

	  input{
		min-height:38px !important;
		padding:5px 21px !important;
		color:@white !important;
	  }
  }


input[type="text"]::-moz-placeholder{
	color:#fff !important;
}


}
.sp-vmsearch .search-input-wrapper .sp-vmsearch-box {
  border: 0;
  background: none;
  float: left;
  font-size: 14px;
  box-shadow: none;
}
.sp-vmsearch .sp-vmsearch-categorybox {
  float: left;
  background: none;
  border: none;
  color: @white;
  height:38px;
  line-height:38px;
  width:160px !important;
}
.sp-vmsearch .sp-vmsearch-categorybox .sp-vmsearch-category-name {
  border-left: 1px solid rgba(255, 255, 255, 0.2);

}
.sp-vmsearch .sp-vmsearch-categorybox .category-name {
  position: relative;
  padding-right: 25px;
  font-size: 13px;
}

.sp-vmsearch .search-button-wrapper {
  padding: 0;
  border: 0;
  width: 58px;
  height: 36px;
  margin: 0;
  text-align: center;
  line-height: 38px;
  margin-top: -2px;
  position: relative;
  bottom: -2px;
  margin-right: -2px;
  margin-left: -2px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.sp-vmsearch .search-button-wrapper .search-button {
  background: none;
  min-height:30px;
  height:30px;
  line-height:30px;
}
.sp-vmsearch .search-button-wrapper .search-button i {
  font-size: 16px;
}
.sp-vmsearch .dropdown-menu li a {
  padding: 0 15px;
}
.sp-vmsearch .dropdown-menu >.active>a,
.sp-vmsearch .dropdown-menu >.active>a:focus {
  color: #222;
  background-color: #fff;

}

.shop-2{
	.off-canvas-toggle{
		margin:0px;
	}
	.jb-topbar-brand{
		background:brand-primary;
	}
	.jb-header{
		padding-top:30px;
		padding-bottom:30px;
		background:darken(@brand-primary, 3%);

		.logo-image{
			a{
				span{
					display:none;
				}
			}
		}
	}
	.shop-header-block{
		margin-top:10px;


		.block-mini-cart{
			top:0px;

			.mini-cart-title{
				.count-item{
				  color:@white;

				  .number{
					color:@gray-dark;
				  }
				}
			}
		}
		.custom-block{
			i{
				margin-top:5px;
				display:inline-flex;
			}

			span{
			display: inline-block;
			vertical-align: top;
			font-size: 11px;
			font-weight: 600;
			text-align: left;
			color:@white;
			}
		}
	}
}



.home-slider-area {

	.side-custom-menu {
		border: 1px solid #ddd;
		border-radius: 6.96px;
		overflow: hidden;
		margin-bottom: 15px;

		h2 {
			color: #000;
			border-bottom: 1px solid #ddd;
			font-size: 13px;
			font-weight: 700;
			text-align: left;
			padding: 13px 13px 12px;
			background-color: #f5f5f5;
			line-height: 1;
			margin: 0;
			text-transform: uppercase;

			i {
				margin-right: 4px;
			}
		}
		ul {
			padding: 0 12px;
			list-style: none;
			margin: 0;

			li {
				text-align: left;
				padding: 13px 4px 12px;
				border-top: 1px solid #ddd;

				&:first-child{
					border-top: none;
				}
				a {
					color: #777;
					font-size: 15px;
					line-height: 1;
					display: block;
				}
			}
		}
	}
}


.homepage-bar {
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;
	background-color: #fbfbfb;
	border-radius: 5px;
}
.homepage-bar .col-md-4 {
	padding-top: 20px;
	padding-bottom: 21px;
	text-align: center;
}
@media (min-width: 992px) {
	.homepage-bar .col-md-4 {
		border-left: 1px solid #e1e1e1;
	}
	.homepage-bar .col-md-4:first-child {
		border-left: none;
	}
}
.homepage-bar .bar-icon {
	font-size: 36px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 991px) {
	.homepage-bar .bar-icon {
		min-width: 36px;
		text-align: center;
	}
}
.homepage-bar .bar-textarea {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 7px;
}
.homepage-bar h3 {
	color: #313131;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	line-height: 1.5;
}
.homepage-bar p {
	font-size: 12px;
	margin: 0;
	line-height: 1;
}




//
// HEADER-TRANSPARENT
// ---------------------------------------------------------

.jb-landing{

	.sticky{
		.jb-header-default {
			background:@brand-primary !important;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:5px !important;
					-webkit-transform: scale(0.8);
					-moz-transform: scale(0.8);
					-ms-transform: scale(0.8);
					-o-transform: scale(0.8);
					transform: scale(0.8);
				}
			}

			.navbar-default{
				.navbar-nav{
					li{
						a{
							padding:20px 12px !important;
						}
					}
				 }
			}
		}
	}

	.t3-header{
		border-top:none;
		padding:0px;
	}
	.t3-header-wrap {
		width: 100%;
		position: absolute;
		z-index: @zindex-navbar;
		top: 0;

		.jb-header-default {
			border-bottom:1px solid rgba(255, 255, 255, 0.07);
			background: none;
			position:relative;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:16px;
				}
			}

			.header-column{
				.navbar-toggle{
					color:@white;
					border-color:@white;

					&:hover{
						background:@brand-primary;
						border-color:@brand-primary;
					}
				}
			}

			.navbar-default{
				background:transparent;
				margin:0px;

				.header-nav-main{
					margin:0px;
				}

				.navbar-nav{
					li{
						a{
							color:@white;
							padding:35px 12px;
							background:transparent;


							&:active{
								background:transparent;
							}
						}
					}
				}
			}
		}
	}
}


.jb-transparent{

	.sticky{
		.jb-header-default {
			background:@brand-primary !important;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:5px !important;
					-webkit-transform: scale(0.8);
					-moz-transform: scale(0.8);
					-ms-transform: scale(0.8);
					-o-transform: scale(0.8);
					transform: scale(0.8);
				}
			}

			.navbar-default{
				padding:10px 0px !important;
			}
		}

		.jb-topbar-trans,
		.block-mini-cart,
		.chzn-container{
			padding:10px 0px !important;
		}
		.chzn-container-single .chzn-single,
		.chzn-container .chzn-single div b{
			padding:8px 0px;
		}
		.header-row .right-block{
			display:inline;
		}
	}


	.t3-header{
		border-top:none;
		padding:0px;
	}
	.t3-header-wrap {
		width: 100%;
		position: absolute;
		z-index: @zindex-navbar;
		top: 0;

		.jb-header-default {
			border-bottom:1px solid rgba(255, 255, 255, 0.07);
			background: none;
			position:relative;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:16px;
				}
			}

			.header-column{
				.navbar-toggle{
					color:@white;
					border-color:@white;

					&:hover{
						background:@brand-primary;
						border-color:@brand-primary;
					}
				}
			}
			.navbar-default{
				background-color:transparent;
				margin:0px;
				padding:24px 0;

				.navbar-nav{
					li{
						a{
							color:@white;
							background:transparent;
						}
					}
				}
				.mega-dropdown-inner{
					.mega-nav{
						li{
							a{
								color:#777;
							}
						}
					}
				}
			}
		}
		.caret{
			border-top-color: #ffffff !important;
			border-bottom-color: #ffffff !important;
		}
	}

	.jb-topbar-trans,
	.block-mini-cart{
		padding:24px 0px;

	}
	.mini-cart-title .count-item{
			color:@white;
		}
		.block-mini-cart .mini-cart-title .number{
			color:@brand-primary;
		}
	.chzn-container{
		max-width:111% !important;
		margin-bottom:0px;

	}
	.chzn-container-single .chzn-single,
	.chzn-container .chzn-single div b{
		padding:30px 0px;
	}
}


.jb-transparent-2{

	.sticky{
		.jb-header-default {
			background:@brand-primary !important;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:5px !important;
					-webkit-transform: scale(0.8);
					-moz-transform: scale(0.8);
					-ms-transform: scale(0.8);
					-o-transform: scale(0.8);
					transform: scale(0.8);
				}
			}

			.navbar-default{
				padding:14px 0px !important;
			}
		}

		.jb-topbar-trans,
		.block-mini-cart,
		.chzn-container{
			padding:10px 0px !important;
		}
		.chzn-container-single .chzn-single,
		.chzn-container .chzn-single div b{
			padding:8px 0px;
		}
	}


	.t3-header{
		border-top:none;
		padding:0px;
	}
	.t3-header-wrap {
		width: 100%;
		position: absolute;
		z-index: @zindex-navbar;
		top: 0;

		.jb-header-default {
			border-bottom:1px solid rgba(255, 255, 255, 0.07);
			background: rgba(0, 0, 0, 0.5);
			position:relative;

			.logo-image{
				.logo-img{
					width:auto;
					height:auto;
					top:16px;
				}
			}

			.header-column{
				.navbar-toggle{
					color:@white;
					border-color:@white;

					&:hover{
						background:@brand-primary;
						border-color:@brand-primary;
					}
				}
			}
			.navbar-default{
				background-color:transparent;
				margin:0px;
				padding:30px 0;

				.navbar-nav{
					li{
						a{
							color:@white;
							padding:6px 13px;
						}
					}
				}
				.mega-dropdown-inner{
					.mega-nav{
						li{
							a{
								color:#777;
							}
						}
					}
				}
			}
		}
		.caret{
			border-top-color: #ffffff !important;
			border-bottom-color: #ffffff !important;
		}
	}

	.jb-topbar-trans,
	.block-mini-cart{
		padding:24px 0px;

	}
	.mini-cart-title .count-item{
			color:@white;
		}
		.block-mini-cart .mini-cart-title .number{
			color:@brand-primary;
		}
	.chzn-container{
		max-width:111% !important;
		margin-bottom:0px;

	}
	.chzn-container-single .chzn-single,
	.chzn-container .chzn-single div b{
		padding:30px 0px;
	}


.shop-footer{
	.jb-copyright{
		margin-top:0px !important;
		background:rgba(255, 255, 255, 0.85);
		padding:20px;

		.copyright {
			margin:5px;
		}
		p{
			margin:0px;
		}
	}
}


}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding-top: 0;
    border-top: none;
    background-color: transparent;
    margin: 0;
}

.header-bg-color{
	 .t3-header-wrap{
		position:relative;
		background:@brand-primary;
	 }
	 .page-header{
		border-top:none;
	 }
}



.banner.banner-text.secondary {
	background-color: #2b262f;
}
.banner.banner-text.secondary .banner-content h3 {
	color: #f2f4f3;
}
.banner.banner-text.secondary .banner-content hr {
	border-color: #ada4b5;
}
.banner.banner-text.secondary .banner-content p {
	color: #ada4b5;
}
.banner.banner-text.secondary .banner-content a {
	color: #fff;
}


.banner.banner-text .banner-content {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	font-family: Georgia;
	padding: 0 25px;
}
.banner.banner-text .banner-content h3 {
	color: #2b262e;
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
	margin: 0 0 5px;
}
.banner.banner-text .banner-content hr {
	width: 90px;
	margin: 15px 0;
	background-image: none;
	height: auto;
	border-top: 1px solid #564a34;
}
.banner.banner-text .banner-content p {
	font-size: 15px;
	color: #564a34;
	line-height: 1.5;
	margin: 0 0 15px;
}
.banner.banner-text .banner-content a {
	font-size: 15px;
	color: #2b262f;
	text-transform: uppercase;
}


.banner.banner-text {
	background-color: @brand-primary;
}
.banner.banner-text:before {
	display: none;
}
.banner.banner-text img {
	max-height: 453px;
	height:453px;
}



.customer-support-section .feature-box h4 {
	color: #000;
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
}
.customer-support-section .feature-box h5 {
	color: #888;
	font-weight: 300;
	font-size: 11px;
	line-height: 1;
	margin-bottom: 15px;
}
.customer-support-section .feature-box .feature-box-info {
	padding-left: 76px;
	font-size: 14px;
	line-height: 1.5;
}
.customer-support-section .feature-box p {
	margin: 0 0 15px;
}
.customer-support-section .feature-box.feature-box-style-3 {
	min-height: 50px;
	margin-bottom: 20px;
}
.customer-support-section .feature-box.feature-box-style-3 .feature-box-icon {
	width: 62px;
	height: 62px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #cecece;
	color: #333;
	background-color: transparent;
	line-height: 58px;
	font-size: 25px;
}
.customer-support-section .feature-box.feature-box-style-3 .feature-box-icon i.fa {
	color: #000;
}

.explore-section h2 {
	font-size: 60px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 15px;
	color:@white;
}
.explore-section h2 strong {
	font-weight: 800;
}
.explore-section p {
	font-weight: 300;
	font-size: 23px;
	line-height: 1;
	margin-bottom: 30px;
	color:@white;
}
.explore-section a {
	font-size: 16px;
	color:@white;
}
.explore-section a:hover, .explore-section a:focus {
	color: #fff;
}


.banner .ban-title {
	display: block;
	position: absolute;
	left: -10px;
	bottom: 20px;
	color: #fff;
	padding: 15px 17px;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	min-width: 174px;
	text-align: left;
	background-color: #3f4658;
	text-transform: uppercase;
}
.banner .ban-title:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 10px;
	height: 10px;
	border: 5px solid transparent;
	border-right-color: #3f4658;
	border-top-color: #3f4658;
}



/*
* Toll Free
*/
.custom-toll-free {
	position: relative;
	padding-left: 35px;
	margin-left: 40px;
	color:@gray-dark;

	&:hover{
	 color:@brand-primary;
	}
}
.custom-toll-free > span {
	display: block;
}
.custom-toll-free > span.toll-free-number {
	font-size: 1.5em;
	letter-spacing: -1px;
}
.custom-toll-free > i {
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 4em;
	line-height: 0.8;
}


.custom-home-intro p span {
	position: relative;
	display: inline-block;
	padding-top: 0;
}
.custom-home-intro p span:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -40px;
	width: 30px;
	border-bottom: 1px solid #FFF;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.custom-home-intro p span:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -44px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #FFF;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}


/* Grid */
.col-half-section {
	width: 100%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	max-width: 570px;
	float: left;
	margin-left: 30px;
	margin-right: 0;
}

.col-half-section.col-half-section-right {
	float: right;
	margin-left: 0;
	margin-right: 30px;
}

.custom-text-align-right{
	text-align:right;
}


/*
* We Call You Back / Contact Us
*/

.jbeasyformmaker-anyform-forms .form-control-custom {
	position: relative;
	margin-bottom: 10px;
}
.jbeasyformmaker-anyform-forms .form-control-custom > i {
	position: absolute;
	top: 10px;
	left: 0;
	color: #FFF;
}

.jbeasyformmaker-anyform-forms .form-control-custom .form-control {
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 10px 10px 30px;
	box-shadow: none;
	color: @white;
	width:100% !important;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control::-webkit-input-placeholder {
	color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control::-moz-placeholder {
	color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom .form-control:-ms-input-placeholder {
	color: #c8d4ea;
}
.jbeasyformmaker-anyform-forms .form-control-custom select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: transparent;
	color: @white;

}
.jbeasyformmaker-anyform-forms .form-control-custom select.form-control option {
	color: #818898;
}
.jbeasyformmaker-anyform-forms .form-control-custom.custom-select-style:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 10px;
	height: 10px;
	border-right: 1px solid #c8d4ea;
	border-bottom: 1px solid #c8d4ea;
	z-index: 0;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}
.jbeasyformmaker-anyform-forms .form-control-custom.custom-select-style select {
	position: relative;
	z-index: 1;
}
.jbeasyformmaker-anyform-forms .contact-page .form-control-custom .form-control {
	height: initial;
}

.custom-btn-padding-1 {
    font-size: 13px;
    padding: 13px 35px !important;
}
.custom-btn-style-1 {
    border-radius: 2px !important;
    font-size: 12px;
    padding: 13px 25px !important;
}
.custom-btn-background-color-1 {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0 !important;
}

.custom-text-color-2 {
    color: #c6d4ee !important;
}
.mb-xlg {
    margin-bottom: 30px !important;
}
.custom-padding-right-1 {
    padding-right: 160px;
}
.custom-feature-box {
    display: block;
}
.custom-opacity-effect-1 {
    transition: opacity 300ms ease 0s;
}
.feature-box {
    clear: both;
}
.custom-feature-box .feature-box-info {
    padding: 0;
}

.custom-feature-box .feature-box-info > label {
    display: block;
    font-size: 0.8em;
    line-height: 1;
    margin: 0;
}

.custom-footer ul{
 padding:0px;
}
.custom-footer ul li {
    list-style: outside none none;
    padding:0px;
}
.custom-text-color-1 {
    color: #818898 !important;
}



/*
* Company
*/
.custom-timeline {
	margin-top: 50px;
}
.custom-timeline .custom-timeline-box {
	position: relative;
	padding-left: 105px;
}
.custom-timeline .custom-timeline-box:before {
	background: none repeat scroll 0 0 #6a80a9;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #6a80a9;
	content: "";
	display: block;
	height: 6px;
	margin-left: -5px;
	position: absolute;
	left: 68px;
	top: 6px;
	width: 6px;
	z-index: 2;
}
.custom-timeline .custom-timeline-box:after {
	content: '';
	display: block;
	position: absolute;
	left: 65px;
	top: 3px;
	height: 100%;
	border-left: 1px solid #d5dee1;
	z-index: 1;
}
.custom-timeline .custom-timeline-box .date {
	position: absolute;
	top: 0;
	left: 0;
}

.custom-contact-item {
	padding: 0 0 30px;
}
.custom-contact-item i {
	font-size: 2em;
	margin-bottom: 20px;
	display: block;
}
.custom-contact-item span {
	display: block;
}
.custom-contact-item span.title {
	font-size: 0.8em;
}
.custom-contact-item span.content {
	font-size: 1.5em;
}

.custom-hover-opacity {
	display: block;
	-webkit-transition: ease opacity 300ms;
	-moz-transition: ease opacity 300ms;
	transition: ease opacity 300ms;
}
.custom-hover-opacity:hover {
	opacity: 0.7;
}


.custom-list-style-3,
.custom-list {
	padding: 0;
}

.custom-list-style-3 li,
.custom-list li {
	list-style: none;
}
.custom-list-style-3 li .title {
	display: inline-block;
	width: 80px;
	font-weight: 600;
}

.custom-right-border {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
